<div class="row">
    <caption><h2 style="text-align:center">Bank Asia Limited</h2></caption>
</div>
<div class="row">
    <caption style="text-align:center"><strong style="text-align:center">Name of Report : Stock position of Books,Forms,Registers,Letter head pads,envelops & security instruments as on {{ "now"|date('d-m-Y') }}</strong></caption>
</div>
<table border="1" cellspacing="0" cellpadding="5" width="100%">
    <thead>
    <tr>
        <th>{{ 'SL'|trans }}</th>
        <th>{{ 'Item Name'|trans }}</th>
        <th>{{ 'Item Code'|trans }}</th>
        <th>{{ 'Stock as on'|trans }}</th>
        <th>{{ 'Unit Price'|trans }}</th>
        <th>{{ 'Total price'|trans }}</th>
    </tr>
    </thead>
    <tbody>

    {% if data is not empty %}
        {% for category in data['categories'] %}
            <tr><td></td><th colspan="5" style="text-align:left">{{ category.categoryName }}</th></tr>
            {% if data['entities'][category['categoryId']] is defined and  data['entities'][category['categoryId']] is not empty %}
                {% for entity in data['entities'][category['categoryId']] %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ entity.itemName }}</td>
                        <td style="text-align:center">{{ entity.itemCode }}</td>
                        <td style="text-align:center">{{ entity.remainingQuantity }}</td>
                        <td style="text-align:center">{{ entity.purchasePrice|number_format(2) }}</td>
                        <td style="text-align:center">{{ (entity.remainingQuantity * entity.purchasePrice)|number_format(2) }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
    </tbody>
</table>