<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Report-Item Wise</title>
    <style>
        table tbody tr td{
            padding: 2px;
        }
    </style>
</head>
<body>
<div class="row">
    {% if caption is defined and caption is not empty %}
        <caption><h3>{{ caption }}</h3></caption>
    {% endif %}
    <caption><strong>Name of Report : Monthly PO wise Report</strong></caption>
    <caption>Report Year: {{ searchForm['year'] }}</caption>
</div>
<table border="1" cellspacing="0" cellpadding="5" width="100%">

    {#  {{ dump(searchForm) }}#}

    <thead>
    <tr>
        <th>{{ 'Requisition Mode'|trans }}</th>
        {% for j in range(1, 12) %}
            <th colspan="2"  align="center">{{ date('2021-' ~ j ~ '-01') |date('M') }}</th>
        {% endfor %}
    </tr>
    <tr>
        <th></th>
        {% for j in range(1, 12) %}
            <th  align="center">QTY</th>
            <th  align="center">Value</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% if entities['items'] is defined and entities['items'] is not empty %}
        {% set key = 0 %}
        {% for row in entities['items'] %}
            <tr>
                <td> {{ row.mode }} </td>
                {% for column in 1..12 %}
                    <th  align="center">
                        {% set key = column~'-'~row.mode %}
                        {% if entities['entities'] is defined and entities['entities'] is not empty and entities['entities'][key] is defined and entities['entities'][key] is not empty %}
                            {{ entities['entities'][key]['quantity'] }}
                        {% endif %}
                    </th>
                    <th  align="center">
                        {% set key = column~'-'~row.mode %}
                        {% if entities['entities'] is defined and entities['entities'] is not empty and entities['entities'][key] is defined and entities['entities'][key] is not empty %}
                            {{ entities['entities'][key]['price'] }}
                        {% endif %}
                    </th>
                {% endfor %}
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>
</body>
</html>