{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Tender Invitation Approval Note'|trans }}</h5>
                    {% if app.user.hasRoles(['ROLE_PROCUREMENT_REQUISITION','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
                        <div class="card-header-right">
                            <div class="btn-group btn-group-sm" >
                                <a href="{{ path('procure_tender_bank_open_item') }}" class="btn btn-sm green-bg  white-font"><i class="fa fa-plus"></i>{{ 'PO Open Item'|trans }}</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'list' %} active {% else %} yellow-bg {% endif %}"  href="{{ path('procure_tender_bank',{'mode':'list'})}}"><i class="fa fa-th-large"></i> All Tender</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'approve' %} active {% else %} yellow-bg {% endif %}"  href="{{ path('procure_tender_bank',{'mode':'approve'})}}"><i class="feather icon-target"></i> Approve</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'in-progress' %} active {% else %} yellow-bg {% endif %}" href="{{ path('procure_tender_bank',{'mode':'in-progress'})}}"><i class="feather icon-aperture"></i> In-progress</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'archive' %} active {% else %} yellow-bg {% endif %}" href="{{ path('procure_tender_bank',{'mode':'archive'})}}"><i class="feather icon-file"></i> Archive</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap">
                                <thead class="thead-gray">
                                <form action="" method="get">
                                    <tr role="row">
                                        <td colspan="4">{{ form_widget(searchForm.invoice) }}</td>
                                        <td><div class="date-group">{{ form_widget(searchForm.startDate) }}</div></td>
                                        <td><div class="date-group">{{ form_widget(searchForm.endDate) }}</div></td>
                                        <td>{{ form_widget(searchForm.filter) }}</td>
                                    </tr>
                                    <input type="hidden" id="mode" name="mode" value="{{ mode }}">
                                    {{ form_widget(searchForm._token) }}
                                </form>
                                <tr>
                                    <th scope="col">Created</th>
                                    <th scope="col">Created By</th>
                                    <th scope="col">Department</th>
                                    <th scope="col">Tender Memo</th>
                                    <th scope="col">Tender CS</th>
                                    <th scope="col">Waiting For</th>
                                    <th scope="col">Status</th>
                                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in  pagination %}
                                    <tr>
                                        <td>{{ entity.created|date('d-m-Y') }}</td>
                                        <td>{% if entity.createdBy is not empty %}{{ entity.createdBy }}{% endif %}</td>
                                        <td>{{ entity.department }}</td>
                                        <td><a class="entity-show" data-action="{{ path('procure_tender_bank_show',{'id':entity.id}) }}" href="javascript:" data-title="TP No: {{ entity.invoice }}" id="postView-{{ entity.id }}"><b>{{ entity.invoice }}</b></a></td>
                                        <td> {% if entity.tenderComparative is defined and entity.tenderComparative is not empty %} <a class='' target="_blank"  href='{{ path('procure_tender_bank_comparative_show',{'id':entity.tenderComparative}) }}'><b>{{ entity.tenderComparativeInvoice }}</b></a>{% endif %}</td>
                                        <td>{% if entity.reportTo is not empty %}{{ entity.reportToName }}{% endif %}</td>
                                        <td>{{ entity.process }}</td>
                                        <td>
                                            <div class="btn-group" >
                                                {% if entity.tenderComparative is empty and entity.waitingProcess == "New" %}
                                                    <a class='btn btn-mini yellow-bg white-font' href='{{ path('procure_tender_bank_preparetion',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-edit'></i> Edit</a>
                                                    <a class='btn  btn-transparent btn-mini red-font remove' data-id='{{ entity.id }}' href='javascript:' data-action='{{ path('procure_tender_bank_delete',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-trash-2'></i></a>
                                                {% endif %}
                                              {#  {% if  entity.departmentId == app.user.profile.department.id and app.user.hasRoles(['ROLE_PROCUREMENT_DEPARTMENT_HEAD','ROLE_DOMAIN'])  and entity.approveTo is empty  %}
                                                    <a class='btn btn-mini purple-bg white-font' data-action='{{ path('procure_tender_bank_process',{'id':entity.id}) }}' href='?mode=approve&process=postViewdd-{{ entity.id }}&check=process#modal' id='postViewdd-{{ entity.id }}' ><i class='feather icon-target'></i> Proces</a>
                                                {% endif %}#}
                                               {# {% if entity.userId == app.user.id and entity.waitingProcess == "In-progress" and entity.tenderCommittee is not empty and "now"|date("Y-m-d") == entity.expectedDate|date('Y-m-d')  %}
                                                    <a class='btn btn-mini purple-bg white-font' data-action='{{ path('procure_tender_bank_committee_process',{'id':entity.id}) }}' href='?mode=in-progress&process=postViewdd-{{ entity.id }}&check=process#modal' id='postViewdd-{{ entity.id }}' ><i class='feather icon-target'></i> Get Meeting</a>
                                                {% endif %}#}
                                                {% if app.user.id == entity.reportTo %}
                                                    <a class='btn btn-mini purple-bg white-font' data-action='{{ path('procure_tender_bank_process',{'id':entity.id}) }}' href='?mode=approve&process=postViewdd-{{ entity.id }}&check=process#modal' id='postViewdd-{{ entity.id }}' ><i class='feather icon-target'></i> Proces</a>
                                                {% endif %}
                                              {#  {% if entity.tenderComparative is empty and entity.process == "Floating" and app.user.hasRoles(['ROLE_DOMAIN','ROLE_PROCUREMENT_TENDER','ROLE_PROCUREMENT_ADMIN']) %}
                                                    <a class='btn btn-mini purple-bg white-font' href='{{ path('procure_tender_floating_memo_bank_generate',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-target'></i> Tender Floating</a>
                                                {% endif %}#}
                                               {% if entity.tenderComparative is empty and entity.waitingProcess == "Approved" and app.user.hasRoles(['ROLE_DOMAIN','ROLE_PROCUREMENT_TENDER','ROLE_PROCUREMENT_LSSD','ROLE_PROCUREMENT_ADMIN']) %}
                                                    <a class='btn btn-mini purple-bg white-font' href='{{ path('procure_tender_quotation_memo_bank',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-target'></i> CS Quotation</a>
                                                {% endif %}
                                                <a class="btn btn-mini blue-bg white-font entity-show" data-action="{{ path('procure_tender_bank_show',{'id':entity.id}) }}" href="javascript:" data-title="TP No: {{ entity.invoice }}" id="postView-{{ entity.id }}"><i class="feather icon-eye"></i> Show</a>
                                                <a class="btn btn-mini orange-bg white-font" target="_blank" href="{{ path('procure_tender_bank_preview',{'id':entity.id,'mode':'preview'}) }}" ><i class="feather icon-eye"></i> Preview</a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="count">
                                Total Records: {{ pagination.getTotalItemCount }}
                            </div>
                        </div>
                        <div class="col-md-9 navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/tender.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}
