
<div class="portlet box blue green border-blue">
    <div class="portlet-body form">
        <div class="modal-header">
            <h5 class="modal-title" id="modalTitleLabel">TP No: {{ entity.invoice }}</h5>
        </div>
        <div class="row form-body">
            <div class="form-inner-no-space">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4"><strong>Invoice No.</strong></div>
                            <div class="col-md-8">{{ entity.invoice }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Created</strong></div>
                            <div class="col-md-8">{{ entity.created|date('d-m-Y') }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Created By</strong></div>
                            <div class="col-md-8">{{ entity.createdBy.name }}</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        {% if entity.tenderComparative is not empty %}
                            <div class="row">
                                <div class="col-md-4"><strong>CS No.</strong></div>
                                <div class="col-md-8">{{ entity.tenderComparative.invoice }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><strong>Created</strong></div>
                                <div class="col-md-8">{{ entity.tenderComparative.created|date('d-m-Y') }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><strong>Created By</strong></div>
                                <div class="col-md-8"> {% if entity.tenderComparative.createdBy is not empty %}{{ entity.tenderComparative.createdBy.name }}{% endif %}</div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><strong>Subject</strong></div>
                    <div class="col-md-10"><p>{{ entity.subject|raw }}</p></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><strong>To Email</strong></div>
                    <div class="col-md-10"><p>{{ entity.email|raw }}</p></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><strong>Body</strong></div>
                    <div class="col-md-10"><p>{{ entity.content|raw }}</p></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><strong>Terms & Condition</strong></div>
                    <div class="col-md-10"><p>{{ entity.terms|raw }}</p></div>
                </div>
                {% if entity.conditionItems is defined and entity.conditionItems is not empty %}
                    {% for keyValue in entity.conditionItems %}
                        <div class="row">
                            <div class="col-md-2">{{ loop.index }}. {{ keyValue.metaKey }}</div>
                            <div class="col-md-10">{{ keyValue.metaValue|raw }}</div>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="card-header grey-bg inner-header">
                    <h5>Tender Items</h5>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover display nowrap">
                            <thead class="thead-green">
                            <tr>
                                <th scope="col">S/N</th>
                                <th scope="col">PR No</th>
                                <th scope="col">Item Name</th>
                                <th scope="col">PR Remain</th>
                                <th scope="col">PO issue</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if entity.tenderItemDetails is not empty %}
                                {% set i = 1  %}
                                {% for item in entity.tenderItemDetails %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ item.requisitionItem.requisition.requisitionNo }}</td>
                                        <td>{% if item.requisitionItem.item is not empty and item.requisitionItem.item %}{{ item.requisitionItem.item.name }}{% endif %}</td>
                                        <td>{{ item.requisitionItem.remainigQuantity }}</td>
                                        <td>{{ item.issueQuantity }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-header grey-bg inner-header">
                    <h5>Requested Vendors</h5>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover display nowrap">
                            <thead class="thead-blue">
                            <tr>
                                <th scope="col">S/N</th>
                                <th scope="col">Vendor Name</th>
                                <th scope="col">Contact Person</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Address</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if entity.tenderVendors is not empty %}
                                {% set i = 1  %}
                                {% for vendor in entity.tenderVendors %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ vendor.name }}</td>
                                        <td>{{ vendor.contactPerson }}</td>
                                        <td>{{ vendor.email }}</td>
                                        <td>{{ vendor.phone }}</td>
                                        <td>{{ vendor.address|raw }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% if (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "user") %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ render(controller(
                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveUers",
                                { 'id': entity.id,'module':entity.module}
                            )) }}
                        </div>
                    </div>
                {% elseif (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "role") %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ render(controller(
                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveRoles",
                                { 'id': entity.id,'module':entity.module}
                            )) }}
                        </div>
                    </div>
                {% endif %}
                {{ form_start(form, {'attr': {'class': 'form-horizontal right','id':'approveForm','action':path('procure_tender_bank_committee_process',{'id':entity.id})}}) }}
                <div class="form-inner-no-space">
                    <div class="row">
                        <div class="col-md-12 form-box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        {{ form_label(form.comment, 'Comment'|trans, {'label_attr': {'class': 'col-md-12 text-left'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            {{ form_widget(form.comment,{'attr':{'rows':3}}) }}
                                            {{ form_errors(form.comment) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"><br/></div>
                            <div class="form-actions inline-submit">
                                <div class="row">
                                    <div class="col-md-6 text-left">
                                        {% if app.user.id == entity.createdBy.id %}
                                        <div class="btn-group" role="group">
                                            <button type="submit" name="reject" id="reject" value="reject" class="btn btn-sm red-bg white-font"><i class="feather icon-x-square"></i>Cancel</button>
                                            <button type="submit" name="approve" id="approve" value="approve" class="btn btn-sm green-bg white-font"><i class="feather icon-check-square"></i>Approve</button>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <div class="btn-group" role="group">
                                            {% if approver == 'valid' %}
                                           <button type="button" name="comment" id="comment" value="comment" class="btn btn-sm blue-bg white-font"><i class="feather icon-save"></i>Comment</button>
                                            {% endif %}
                                            <button type="button" name="meeting-reload" id="meeting-reload" value="approve" class="btn btn-sm yellow-bg white-font"><i class="feather icon-refresh-ccw"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                {{ form_widget(form._token) }}
                {{ form_end(form) }}
                <br/>
            </div>
        </div>
    </div>
</div>
