
<div class="portlet box blue ">
    <div class="portlet-body form">
        <div class="row form-body">
            <div class="form-inner-no-space">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4"><strong>Invoice No.</strong></div>
                            <div class="col-md-8">{{ entity.invoice }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Created</strong></div>
                            <div class="col-md-8">{{ entity.created|date('d-m-Y') }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Created By</strong></div>
                            <div class="col-md-8">{{ entity.createdBy.name }}</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        {% if entity.tenderComparative is not empty %}
                            <div class="row">
                                <div class="col-md-4"><strong>CS No.</strong></div>
                                <div class="col-md-8">{{ entity.tenderComparative.invoice }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><strong>Created</strong></div>
                                <div class="col-md-8">{{ entity.tenderComparative.created|date('d-m-Y') }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><strong>Created By</strong></div>
                                <div class="col-md-8"> {% if entity.tenderComparative.createdBy is not empty %}{{ entity.tenderComparative.createdBy.name }}{% endif %}</div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><strong>Subject</strong></div>
                    <div class="col-md-10"><p>{{ entity.subject|raw }}</p></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><strong>To Email</strong></div>
                    <div class="col-md-10"><p>{{ entity.email|raw }}</p></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><strong>Body</strong></div>
                    <div class="col-md-10"><p>{{ entity.content|raw }}</p></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><strong>Terms & Condition</strong></div>
                    <div class="col-md-10"><p>{{ entity.terms|raw }}</p></div>
                </div>
                {% if entity.conditionItems is defined and entity.conditionItems is not empty %}
                    {% for keyValue in entity.conditionItems %}
                        <div class="row">
                            <div class="col-md-2">{{ loop.index }}. {{ keyValue.metaKey }}</div>
                            <div class="col-md-10">{{ keyValue.metaValue|raw }}</div>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="card-header grey-bg inner-header">
                    <h5>Tender Items</h5>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover display nowrap">
                            <thead class="thead-green">
                            <tr>
                                <th scope="col">S/N</th>
                                <th scope="col">PR No</th>
                                <th scope="col">Item Name</th>
                                <th scope="col">PR Remain</th>
                                <th scope="col">PO issue</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if entity.tenderItemDetails is not empty %}
                                {% set i = 1  %}
                                {% for item in entity.tenderItemDetails %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ item.requisitionItem.requisition.requisitionNo }}</td>
                                        <td>{% if item.requisitionItem.item is not empty and item.requisitionItem.item %}{{ item.requisitionItem.item.name }}{% endif %}</td>
                                        <td>{{ item.requisitionItem.remainigQuantity }}</td>
                                        <td>{{ item.issueQuantity }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% if entity.tenderVendors is not empty %}
                <div class="card-header grey-bg inner-header">
                    <h5>Requested Vendors</h5>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover display nowrap">
                            <thead class="thead-blue">
                            <tr>
                                <th scope="col">S/N</th>
                                <th scope="col">Vendor Name</th>
                                <th scope="col">Contact Person</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Address</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% set i = 1  %}
                                {% for vendor in entity.tenderVendors %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ vendor.name }}</td>
                                        <td>{{ vendor.contactPerson }}</td>
                                        <td>{{ vendor.email }}</td>
                                        <td>{{ vendor.phone }}</td>
                                        <td>{{ vendor.address|raw }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
                {% if (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "user") %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ render(controller(
                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveUers",
                                { 'id': entity.id,'module':entity.module}
                            )) }}
                        </div>
                    </div>
                {% elseif (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "role") %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ render(controller(
                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveRoles",
                                { 'id': entity.id,'module':entity.module}
                            )) }}
                        </div>
                    </div>
                {% endif %}
                <br/>
            </div>
        </div>
    </div>
</div>
<style>
    .grid-designation {
        width: 100%;
        display: grid;
        grid-gap: 0;
    }
    .grid-designation {
        grid-template-columns: repeat(3, calc(100%/3));
    }
    .grid-products {
        width: 100%;
        display: grid;
        grid-gap: 0;
    }
    .grid-products {
        grid-template-columns: repeat(2, calc(100%/2));
    }
</style>
