{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Tender Comparative Statement'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap" >
                                <thead class="thead-gray">
                                <form action="" method="get">
                                    <tr role="row">
                                        <td colspan="4">{{ form_widget(searchForm.invoice) }}</td>
                                        <td><div class="date-group">{{ form_widget(searchForm.startDate) }}</div></td>
                                        <td><div class="date-group">{{ form_widget(searchForm.endDate) }}</div></td>
                                        <td>{{ form_widget(searchForm.filter) }}</td>
                                    </tr>
                                    <input type="hidden" id="mode" name="mode" value="{{ mode }}">
                                    {{ form_widget(searchForm._token) }}
                                </form>
                                <tr>
                                    <th scope="col">Created</th>
                                    <th scope="col">Created By</th>
                                    <th scope="col">CS </th>
                                    <th scope="col">Recommend Department</th>
                                    <th scope="col">Tender</th>
                                    <th scope="col">Purchase Memo</th>
                                    <th scope="col">Assign To</th>
                                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in  pagination %}
                                    <tr>
                                        <td>{{ entity.created|date('d-m-Y') }}</td>
                                        <td>{% if entity.createdBy is not empty %}{{ entity.createdBy }}{% endif %}</td>
                                        <td><a href="javascript:void(0)" class="entity-show" data-action="{{ path('procure_tender_bank_comparative_show',{'id':entity.id}) }}" data-title="CS No: {{ entity.invoice }}" id="postView-{{ entity.id }}"><b>{{ entity.invoice }}</b></a></td>
                                        <td>{{ entity.recomendationDepartmentName }}</td>
                                        <td><a class="entity-show" data-action="{{ path('procure_tender_bank_show',{'id':entity.tender}) }}" href="javascript:" data-title="TP No: {{ entity.invoice }}" id="postView-{{ entity.tender }}"><b>{{ entity.tenderInvoice }}</b></a></td>
                                        <td>
                                            {% if entity.tenderMemoNo %}
                                                <a class="entity-show" data-action="{{ path('procure_purchase_memo_bank_show',{'id':entity.tenderMemo}) }}" href="javascript:" data-title="TPM No: {{ entity.tenderMemoNo }}" id="postView-{{ entity.tenderMemo }}"><b>{{ entity.tenderMemoNo }}</b></a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if entity.recomendationAssignUser is defined and entity.recomendationAssignUser is not empty %}{{ entity.recomendationAssignUser }}{% endif %}
                                        </td>
                                        <td>
                                            <div class="btn-group" >
                                                <a class="btn btn-mini blue-bg white-font entity-show" href="javascript:void(0)" data-action="{{ path('procure_tender_bank_comparative_show',{'id':entity.id}) }}" data-title="Requisition No: {{ entity.invoice }}" id="postView-{{ entity.id }}"><i class="feather icon-eye"></i> Show</a>
                                                <a class="btn btn-mini orange-bg white-font" target="_blank" href="{{ path('procure_tender_bank_comparative_preview',{'id':entity.id,'mode':'preview'}) }}" ><i class="feather icon-eye"></i> Preview</a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% if  entity.approvedBy is empty %}
                                        <tr>
                                            <td></td>
                                            <td colspan="7">
                                                <textarea  data-action="{{ path('procure_cs_bank_recommendent_user_assesment',{'id':entity.id}) }}" data-id="{{ entity.id }}" class="form-control comment" rows="5" name="comment-{{ entity.id }}"  id="comment-{{ entity.id }}" >{{ entity.recomendationContent }}</textarea>
                                            </td>
                                        </tr>
                                    {% elseif(entity.recomendationContent and entity.approvedBy is not empty) %}
                                        <tr>
                                            <td></td>
                                            <td colspan="7">
                                                <div class="comment-box"> {{ entity.recomendationContent|raw }}</div>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="count">
                                Total Records: {{ pagination.getTotalItemCount }}
                            </div>
                        </div>
                        <div class="col-md-9 navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <style>
        textarea.form-control {
            border: 3px solid #37474f !important;
        }
    </style>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/tender.js') }}"></script>

{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}