{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Tender CS'|trans }}: {{ entity.invoice }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_tender_bank_comparative') }}" class="btn btn-sm green-bg  white-font"><i class="fa fa-plus"></i>{{ 'Comparative Statement'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'Tender Comparative Statement'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-inner-no-space">
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-4"><strong>CS No.</strong></div>
                                                    <div class="col-md-8">{{ entity.invoice }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Created</strong></div>
                                                    <div class="col-md-8">{{ entity.created|date('d-m-Y') }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Created By</strong></div>
                                                    <div class="col-md-8">{% if entity.createdBy is not empty %}{{ entity.createdBy.name }}{% endif %}</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                {% if entity.tender is not empty %}
                                                    <div class="row">
                                                        <div class="col-md-4"><strong>TP No.</strong></div>
                                                        <div class="col-md-8">{{ entity.tender.invoice }}</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4"><strong>Created</strong></div>
                                                        <div class="col-md-8">{{ entity.tender.created|date('d-m-Y') }}</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4"><strong>Created By</strong></div>
                                                        <div class="col-md-8"> {% if entity.tender.createdBy is not empty %}{{ entity.tender.createdBy.name }}{% endif %}</div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2"><strong>Subject</strong></div>
                                            <div class="col-md-10"><p>{{ entity.tender ? entity.tender.subject|raw : '' }}</p></div>
                                        </div>
                                        {{ form_start(form, {'attr': {'class': 'form-horizontal main-requisition right','id':'requisitionForm','enctype':'multipart/form-data'}}) }}

                                        <div class="row">
                                            <div class="col-md-12">
                                                {% if tender.tenderItems is defined and tender.tenderItems is not empty %}
                                                    {% set i = 1  %}
                                                    {% for item in tender.tenderItems %}
                                                        <table class="table table-striped table-bordered table-hover display nowrap">
                                                            <thead class="thead-gray">
                                                            <tr>
                                                                <th scope="col">S/N</th>
                                                                <th scope="col">Item</th>
                                                                <th scope="col">UOM</th>
                                                                <th scope="col">Price</th>
                                                                {% if tender.tenderVendors is not empty %}
                                                                    {% for vendor in tender.tenderVendors %}
                                                                        {% if vendor.status == 1 %}
                                                                            <th scope="col" colspan="3">{{ vendor.name }}</th>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <td>{{ loop.index }}</td>
                                                                <td width="10%">{% if item.stock is not empty and item.stock.item %}{{ item.stock.item.name }}{% endif %}</td>
                                                                <td>{% if item.stock is not empty and item.stock.item and item.stock.item.unit %}{{ item.stock.item.unit.name }}{% endif %}</td>
                                                                <td>{% if item.stock is not empty and item.stock.item %}{{ item.stock.price }}{% endif %}</td>
                                                                {% if tender.tenderVendors is not empty %}
                                                                    {% for vendor in tender.tenderVendors %}
                                                                        {% if vendor.status == 1 %}
                                                                            <td>Unit Price</td>
                                                                            <td>Quantity</td>
                                                                            <td>Total</td>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </tr>
                                                            <tr>
                                                                <td colspan="4">{% if item.stock.item is not empty and item.stock.item.category is not empty %}{{ item.stock.item.category.name }}{% endif %}</td>
                                                                {% if tender.tenderVendors is not empty %}
                                                                    {% for vendor in tender.tenderVendors %}
                                                                        {% if vendor.status == 1 %}
                                                                            {% set uniqueID = item.id~'-'~vendor.id %}
                                                                            <td>
                                                                                <input type="text" class="form-control td-input updateCSItem" data-id="{{ comparativeItems[uniqueID]['comparativeId'] }}" id="unitPrice-{{ comparativeItems[uniqueID]['comparativeId'] }}" name="unitPrice-{{ comparativeItems[uniqueID]['comparativeId'] }}" data-action="{{ path('procure_tender_bank_comparative_item_update',{'id':comparativeItems[uniqueID]['comparativeId'] }) }}" placeholder="Enter price" value="{{ comparativeItems[uniqueID]['unitPrice'] }}">
                                                                            </td>
                                                                            <td>
                                                                                <input type="text" class="form-control td-input updateCSItem" data-id="{{ comparativeItems[uniqueID]['comparativeId'] }}" id="quantity-{{ comparativeItems[uniqueID]['comparativeId'] }}" name="quantity-{{ comparativeItems[uniqueID]['comparativeId'] }}" data-action="{{ path('procure_tender_bank_comparative_item_update',{'id':comparativeItems[uniqueID]['comparativeId'] }) }}" placeholder="Enter quantity" value="{{ comparativeItems[uniqueID]['quantity'] }}">
                                                                            </td>
                                                                            <td id="subTotal-{{ comparativeItems[uniqueID]['comparativeId'] }}">{{ comparativeItems[uniqueID]['subTotal'] }}</td>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </tr>
                                                            {% if item.stock.item.category is not empty and item.stock.item.category.categoryMetas is defined and item.stock.item.category.categoryMetas is not empty %}
                                                                {% for meta in item.stock.item.category.categoryMetas %}
                                                                    <tr>
                                                                        <td colspan="4">{{ meta.metaKey }}</td>
                                                                        {% if tender.tenderVendors is not empty %}
                                                                            {% for vendor in tender.tenderVendors %}
                                                                                {% if vendor.status == 1 %}
                                                                                    {% set uniqueID = item.id~'-'~vendor.id~'-'~meta.id %}
                                                                                    <td colspan="3">
                                                                                        {% if meta.inputType == 'select' %}
                                                                                            {% set metaValues = meta.metaValue|split('|') %}
                                                                                            <select class="form-control updateCSItemAttribute" data-id="{{ comparativeItemAttribites[uniqueID]['attributeId'] }}" id="attribute-{{ comparativeItemAttribites[uniqueID]['attributeId'] }}" name="attribute-{{ comparativeItemAttribites[uniqueID]['attributeId'] }}" data-action="{{ path('procure_tender_bank_comparative_attribute_update',{'id':comparativeItemAttribites[uniqueID]['attributeId'] }) }}" name="">
                                                                                                <option>Select Value</option>
                                                                                                {% for val in metaValues %}
                                                                                                <option {% if comparativeItemAttribites[uniqueID]['metaValue'] == val %} selected="selected" {% endif %} value="{{ val }}">{{ val }}</option>
                                                                                            {% endfor %}
                                                                                            </select>
                                                                                        {% else %}
                                                                                            <input type="text" class="form-control updateCSItemAttribute" data-id="{{ comparativeItemAttribites[uniqueID]['attributeId'] }}" id="attribute-{{ comparativeItemAttribites[uniqueID]['attributeId'] }}" name="attribute-{{ comparativeItemAttribites[uniqueID]['attributeId'] }}" data-action="{{ path('procure_tender_bank_comparative_attribute_update',{'id':comparativeItemAttribites[uniqueID]['attributeId'] }) }}" placeholder="{{ meta.metaValue }}" value="{{ comparativeItemAttribites[uniqueID]['metaValue'] }}">
                                                                                        {% endif %}
                                                                                    </td>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                    </tr>
                                                                {% endfor %}
                                                            {% endif %}
                                                            <tr><td colspan=" {{ (tender.tenderVendors|length|default(0)*3+4) }}">
                                                                    {{ item.description|raw }}</td></tr>
                                                            </tbody>
                                                        </table>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="card-header grey-bg inner-header">
                                            <h5>Vendor File Attachments</h5>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-striped table-bordered table-hover display nowrap">
                                                    <thead class="thead-green">
                                                    <tr>
                                                        <th scope="col">Vendor Name</th>
                                                        <th scope="col">Address</th>
                                                        <th scope="col">Phone</th>
                                                        <th scope="col">Email</th>
                                                        <th scope="col">Attachment</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% if tender.tenderVendors is defined and tender.tenderVendors is not empty %}
                                                        {% for vendor in tender.tenderVendors  %}
                                                            {% if vendor.status == 1 %}
                                                                <tr>
                                                                    <td>{{ vendor.name }}</td>
                                                                    <td>{{ vendor.address }}</td>
                                                                    <td>{{ vendor.phone }}</td>
                                                                    <td>{{ vendor.email }}</td>
                                                                    <td>
                                                                        {% if vendor.path is not empty %}
                                                                        <div class="input-group">
                                                                            <a class="btn btn-mini blue-bg white-font" target="_blank" href="{{ path('procure_tender_bank_comparative_vendor_attachment',{'id':vendor.id}) }}">Download</a>
                                                                        </div>
                                                                        {% endif %}
                                                                    </td>
                                                                </tr>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="clearfix"></div>
                                        {% if entity.moduleProcess.attachment == 1 and entity.moduleProcess.status == 1  %}
                                            {{ render(controller(
                                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::attachmentForm",
                                                { 'id': entity.id,'module':entity.module}
                                            )) }}
                                        {% endif %}
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.recomendationDepartment, 'Recomendation Department'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                    <div class="col-md-10">
                                                        {{ form_widget(form.recomendationDepartment) }}
                                                        {{ form_errors(form.recomendationDepartment) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{ form_widget(form.content) }}
                                                {{ form_errors(form.content) }}
                                            </div>
                                        </div>
                                        {{ form_widget(form._token) }}
                                        {{ form_end(form) }}
                                        <div class="clearfix"></div>
                                        {% if entity.moduleProcess.status == 1  %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::processUserForm",
                                                        { 'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="form-actions inline-submit">
                                    <div class="row">
                                        <div class="col-md-6 text-left">
                                            <a href="{{ path('procure_tender_bank_comparative_preview',{'id':entity.id,'mode':'preview'}) }}" target="_blank" id="" class="btn blue-bg white-font form-submit btn"><i class="fa fa-print"></i> Preview</a>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <div class="btn-group" role="group">
                                                <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                                <button type="button" id="submitBtn" name="save" class="btn btn-info form-submit"><i class="fa fa-refresh"></i> Save and Create</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <style>
        .td-input {
            max-width: 70px!important;
            border: 2px solid #f0ad4e!important;
            min-width: 70px!important;
        }
    </style>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/script.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}
