{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Tender Comparative'|trans }}: {{ tender.invoice }}</h5>
                    {% if app.user.hasRoles(['ROLE_PROCUREMENT_LSSD','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
                        <div class="card-header-right">
                            <div class="btn-group btn-group-sm" >
                                <a href="{{ path('procure_tender_bank_comparative') }}" class="btn btn-sm green-bg  white-font"><i class="fa fa-plus"></i>{{ 'Tender Comparative'|trans }}</a>
                                <a href="javascript:" class="btn btn-sm yellow-bg  white-font">All Vendors <input type="checkbox" checked="checked" name="vendorSelect" id="vendorSelect" ></a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">
                                        {{ 'Tender Comparative Statement'|trans }}
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                        <div class="form-inner-no-space">
                                            <div class="clearfix"></div>
                                            {{ form_start(form, {'attr': {'class': 'form-horizontal main-requisition right','id':'requisitionForm','enctype':'multipart/form-data'}}) }}
                                            <div class="clearfix"></div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table table-striped table-bordered table-hover display nowrap">
                                                        <thead class="thead-blue">
                                                        <tr>
                                                            <th scope="col">S/N</th>
                                                            <th scope="col">Vendor Name</th>
                                                            <th scope="col">Address</th>
                                                            <th scope="col">Phone</th>
                                                            <th scope="col">Email</th>
                                                            <th scope="col">Remark</th>
                                                            <th scope="col">Attachment</th>
                                                            <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% if tender.tenderVendors is not empty %}
                                                            {% for vendor in tender.tenderVendors  %}
                                                                <tr>
                                                                    <td>
                                                                        <input type="hidden" name="tenderVendorId[]" value="{{ vendor.id }}">
                                                                        <input type="checkbox" class="vendorSelect" id="vendorCheck" name="vendorCheck[]" {% if vendor.status == 1 %} checked="checked" {% endif %} value="{{ vendor.id }}">
                                                                    </td>
                                                                    <td>{{ vendor.name }}</td>
                                                                    <td>{{ vendor.address }}</td>
                                                                    <td>{{ vendor.phone }}</td>
                                                                    <td>{{ vendor.email }}</td>
                                                                    <td>
                                                                        <input type="text" id="remark-{{ vendor.id }}" name="remark[]" placeholder="Enter remark" class="form-control" value="{{ vendor.remark }}">
                                                                    </td>
                                                                    <td>
                                                                        {% if vendor.path is empty %}
                                                                            <div class="input-group">
                                                                                <div class="custom-file">
                                                                                    <input type="file" name="vendorFiles[]" class="custom-file-input" id="vendorFiles" aria-describedby="vendorFiles">
                                                                                    <label class="custom-file-label" for="vendorFiles">Choose file</label>
                                                                                </div>
                                                                            </div>
                                                                        {% else %}
                                                                            <div class="text-right"><a class="btn btn-mini blue-bg white-font" target="_blank" href="{{ path('procure_tender_bank_comparative_vendor_attachment',{'id':vendor.id}) }}">Download</a></div>
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        <a class='btn  btn-mini red-bg white-font remove' data-id='{{ vendor.id }}' href='javascript:' data-action='{{ path('procure_tender_bank_comparative_vendor_delete',{'id':vendor.id}) }}' id='{{ vendor.id }}' ><i class='feather icon-trash-2'></i> Remove</a>
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                        {% endif %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ form_widget(form.content) }}
                                                    {{ form_errors(form.content) }}
                                                </div>
                                            </div>
                                            {{ form_widget(form._token) }}
                                            {{ form_end(form) }}
                                            <div class="clearfix"></div>
                                        </div>
                                </div>
                                <div class="form-actions inline-submit">
                                    <div class="row">
                                        <div class="col-md-6 text-left">

                                        </div>
                                        <div class="col-md-6 text-right">
                                            <div class="btn-group" role="group">
                                                <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                                <button type="button" id="submitBtn" name="save" class="btn btn-info form-submit"><i class="fa fa-refresh"></i> Send</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/script.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
    $("#vendorSelect").click(function () {
        $('.vendorSelect').not(this).prop('checked', this.checked);
    });
{% endblock %}
