{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Tender Open Items'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap" id="dataTable">
                                <thead class="thead-green">
                                <tr>
                                    <th scope="col">S/N</th>
                                    <th scope="col">Item Name</th>
                                    <th scope="col">PR No</th>
                                    <th scope="col">Created</th>
                                    <th scope="col">Brand</th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Color</th>
                                    <th scope="col">PR QTY</th>
                                    <th scope="col">PR Remain</th>
                                    <th scope="col">PO issue</th>
                                    <th scope="col">Remain</th>
                                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if entities is not empty %}
                                    {% set i = 1  %}
                                    {% for entity in entities %}
                                    {% for item in entity %}
                                        <tr>
                                            {% if loop.index==1 %}
                                            <td rowspan="{{ entity|length }}">{{ i }}</td>
                                            <td rowspan="{{ entity|length }}">{{ item.itemName }}</td>
                                            {% endif %}
                                            <td>{#<a class="btn btn-mini blue-bg white-font entity-show" data-action="{{ path('procure_requisition_garment_show',{'id':entity.requisitionId}) }}" href="javascript:" data-title="Requisition No: {{ entity.requisitionNo }}" id="postView-{{ entity.requisitionId }}"><i class="feather icon-eye"></i> {{ item.requisitionNo }}</a>#} {{ item.requisitionNo }}</td>
                                            <td>{{ item.requisitionDate|date('d-m-Y') }}</td>
                                            <td>{{ item.brandName }}</td>
                                            <td>{{ item.sizeName }}</td>
                                            <td>{{ item.colorName }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.remaining }}</td>
                                            <td>
                                                <input type="hidden" class="td-input form-control" name="prId[]" value="{{ item.id }}" id="prId-{{ item.id }}">
                                                <input type="text" class="td-input form-control" name="issue[]" value="" id="issue-{{ item.id }}">
                                            </td>
                                            <td></td>
                                            <td><a class="btn btn-mini red-bg white-font"><i class="feather icon-x-square"></i> Close</a></td>
                                        </tr>
                                    {% endfor %}
                                        {% set i = i+1 %}
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-actions inline-submit">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <div class="btn-group" role="group">
                                    <button type="submit" id="submitBtn" name="save" class="btn btn-info form-submit">Next <i class="feather  icon-chevrons-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_widget(form._token) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
