<html>
<head>
    <title>TENDER COMPARETIVE STATEMENT</title>
    <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link href="{{ asset('assets/theme/rbs/css/print.css') }}" type="text/css" rel="stylesheet" />
    <script src="{{ asset('assets/plugins/jquery/jquery-3.3.1.min.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/js/kinzi.print.min.js') }}"></script>

</head>
<body class="body">
{% if mode=='preview' %}
    <div class="row  print-bar">
        <div class="col-md-6 text-left"><strong>Preview</strong>: {{ entity.invoice }}</div>
        <div class="col-md-6 text-right" >
            <ul class="list-inline" id="grpChkBox">
                <li><button class='btn btn-print print'  id='{{ entity.id }}' ><i class='fa fa-print' ></i> Print</button></li>
                {#<li><a target="_blank" class='btn btn-download yellow-bg download-pdf' href="{{ path('procure_tender_bank_preview',{'id':entity.id,'mode':'pdf'}) }}"   id='{{ entity.id }}' ><i class='fa fa-download'></i> Download</a></li>#}
            </ul>
        </div>
    </div>
{% endif %}


<div class="print-header-content">
    <img src="{{ asset('assets/images/bank-asia-header.png') }}">
</div>

<div class="card-block" id="print-area">
        <div class="row" style="margin-top: 15px">
            <div class="col text-center" style="text-transform: uppercase"><h3><strong>Comparative Statement</strong></h3></div>
        </div>
        <div class="row ">
            <div class="col div-br-40"></div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p><strong>CS No.</strong> {{ entity.invoice }}</p>
                <p><strong>Created</strong> {{ entity.created|date('d-m-Y') }}</p>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4 text-right">
                {% if entity.tender is not empty %}
                    <p><strong>TP No.</strong> {{ entity.tender.invoice }}</p>
                    <p><strong>Created</strong> {{ entity.tender.created|date('d-m-Y') }}</p>
                {% endif %}
            </div>
        </div>
        <div class="row pt-2 pb-2">
            <div class="col-md-12">
                <strong>Subject: {{ entity.tender.subject|raw }}</strong><br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% if tender.tenderItems is not empty %}
                    {% set i = 1  %}
                    {% for item in tender.tenderItems %}
                        <table class="table ">
                            <thead class="thead-gray">
                            <tr>
                                <th scope="col">S/N</th>
                                <th scope="col">Item</th>
                                <th scope="col">UOM</th>
                                <th scope="col">Price</th>
                                {% if tender.tenderVendors is not empty %}
                                    {% for vendor in tender.tenderVendors %}
                                        {% if vendor.status == 1 %}
                                            <th scope="col" colspan="3">{{ vendor.name }}</th>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td width="10%">{% if item.stock is not empty and item.stock.item %}{{ item.stock.item.name }}{% endif %}</td>
                                <td>{% if item.stock is not empty and item.stock.item and item.stock.item.unit %}{{ item.stock.item.unit.name }}{% endif %}</td>
                                <td>{% if item.stock is not empty and item.stock.item %}{{ item.stock.price }}{% endif %}</td>
                                {% if tender.tenderVendors is not empty %}
                                    {% for vendor in tender.tenderVendors %}
                                        {% if vendor.status == 1 %}
                                            <td>Unit Price</td>
                                            <td>Quantity</td>
                                            <td>Total</td>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </tr>
                            <tr>
                                <td colspan="4">{% if item.stock.item is not empty and item.stock.item.category is not empty %}{{ item.stock.item.category.name }}{% endif %}</td>
                                {% if tender.tenderVendors is not empty %}
                                    {% for vendor in tender.tenderVendors %}
                                        {% if vendor.status == 1 %}
                                            {% set uniqueID = item.id~'-'~vendor.id %}
                                            <td>
                                                {{ comparativeItems[uniqueID]['unitPrice'] }}
                                            </td>
                                            <td>
                                                {{ comparativeItems[uniqueID]['quantity'] }}
                                            </td>
                                            <td id="subTotal-{{ comparativeItems[uniqueID]['comparativeId'] }}">
                                                {{ comparativeItems[uniqueID]['subTotal'] }}
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </tr>
                            {% if item.stock.item.category is not empty and item.stock.item.category.categoryMetas is defined and item.stock.item.category.categoryMetas is not empty %}
                                {% for meta in item.stock.item.category.categoryMetas %}
                                    <tr>
                                        <td colspan="4">{{ meta.metaKey }}</td>
                                        {% if tender.tenderVendors is not empty %}
                                            {% for vendor in tender.tenderVendors %}
                                                {% if vendor.status == 1 %}
                                                    {% set uniqueID = item.id~'-'~vendor.id~'-'~meta.id %}
                                                    <td colspan="3">
                                                        {{ comparativeItemAttribites[uniqueID]['metaValue'] }}
                                                    </td>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        {% if entity.recomendationDepartment %}
            <div class="row">
                <div class="col-md-12">
                    <h4><strong>Recommendation Department: {{ entity.recomendationDepartment.name }}</strong></h4>
                </div>
            </div>
        <div class="row">
            <div class="col-md-4"><strong>Assesment User: {{ entity.recomendationAssignUser.name }}</strong></div>
            <div class="col-md-4"><strong>Approved By: {{ entity.approvedBy.name }}</strong></div>
        </div>
            <div class="row ">
                <div class="col div-br-30"><br/></div>
            </div>
        <div class="row">
            <div class="col-md-12">
                {{ entity.recomendationContent|raw }}
            </div>
        </div>
        {% endif %}
        {% if entity.content %}
            <div class="row">
                <div class="col-md-12">
                    {{ entity.content|raw }}
                </div>
            </div>
        {% endif %}
        {% if entity.conditionItems is defined and entity.conditionItems is not empty %}
            {% for keyValue in entity.conditionItems %}
                {% if keyValue.status == 1 %}
                    <div class="row">
                        <div class="col text-left"><h3>{{ keyValue.metaKey|raw }}</h3></div>
                    </div>
                    <div class="row">
                        <div class="col text-justify">{{ keyValue.metaValue|raw }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <br>
        {% if approvals is not empty %}
            <div class="row">
                <div class="col-md-12">
                    <h4><strong>Prepared by:</strong></h4>
                </div>
            </div>
            <div class="row">
                <div class="grid-comment-signature">
                    <div class="col-md-12 text-left">
                        <div class="signature">
                            {% if entity.createdBy.profile.signaturePath is not empty %}
                                <img class="signature-image" src="{{ asset('uploads/user/'~entity.createdBy.profile.signaturePath) }}">
                                <br/>
                            {% endif%}
                            {{ entity.createdBy.name }}<br/>{% if entity.createdBy.profile.designation %}{{ entity.createdBy.profile.designation.name }}{% endif %}
                        </div>
                    </div>
                    {% for index,list in approvals %}
                        {% if list.close == true  %}
                            <div class="col-md-12 text-center" >
                                <div class="signature">
                                    {% if list.assignTo.profile.signaturePath is not empty %}
                                        <img class="signature-image" src="{{ asset('uploads/user/'~list.assignTo.profile.signaturePath) }}">
                                        <br/>
                                    {% endif%}
                                    {{ list.assignTo.name }}<br/>
                                    {% if list.assignTo.profile.designation %}{{ list.assignTo.profile.designation.name }}{% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>

<div class="print-footer-content">
    <img  src="{{ asset('assets/images/bank-asia/footer.png') }}">
</div>
<script>
    $('.print').click(function(){
        $('#print-area').kinziPrint({
            importCSS: true,
            header: $('.print-header-content').html(),
            footer: $('.print-footer-content').html()
        });
    });
</script>

</body>
</html>


