{% extends 'layout.html.twig' %}

{% block body %}
<div class="pcoded-inner-content">
    <div class="row">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet box green ">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalTitleLabel">Memo/Agenda No: {{ entity.invoice }}</h5>
                            </div>
                            <div class="portlet-body form">
                                <div class="form-inner-no-space">
                                    <div class="clearfix"></div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-4"><strong>Invoice No.</strong></div>
                                                <div class="col-md-8">{{ entity.invoice }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4"><strong>Created</strong></div>
                                                <div class="col-md-8">{{ entity.created|date('d-m-Y') }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4"><strong>Created By</strong></div>
                                                <div class="col-md-8">{% if entity.createdBy is not empty %}{{ entity.createdBy.name }}{% endif %}</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            {% if entity.tender is not empty %}
                                                <div class="row">
                                                    <div class="col-md-4"><strong>TP No.</strong></div>
                                                    <div class="col-md-8">{{ entity.tender.invoice }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Created</strong></div>
                                                    <div class="col-md-8">{{ entity.tender.created|date('d-m-Y') }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Created By</strong></div>
                                                    <div class="col-md-8"> {% if entity.tender.createdBy is not empty %}{{ entity.tender.createdBy.name }}{% endif %}</div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2"><strong>Subject</strong></div>
                                        <div class="col-md-10"><p>{{ entity.tender.subject|raw }}</p></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2"><strong>Body</strong></div>
                                        <div class="col-md-10"><p>{{ entity.tender.content|raw }}</p></div>
                                    </div>
                                    {% if entity.tender.conditionItems is defined and entity.tender.conditionItems is not empty %}
                                        {% for keyValue in entity.tender.conditionItems %}
                                            <div class="row">
                                                <div class="col-md-2">{{ loop.index }}. {{ keyValue.metaKey }}</div>
                                                <div class="col-md-10">{{ keyValue.metaValue|raw }}</div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <div class="card-header grey-bg inner-header">
                                        <h5>Tender Items</h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            {% if tender.tenderItems is not empty %}
                                                {% set i = 1  %}
                                                {% for item in tender.tenderItems %}
                                                    <table class="table table-striped table-bordered table-hover display nowrap">
                                                        <thead class="thead-gray">
                                                        <tr>
                                                            <th scope="col">S/N</th>
                                                            <th scope="col">Item</th>
                                                            <th scope="col">UOM</th>
                                                            <th scope="col">CMP</th>
                                                            {% if tender.tenderVendors is not empty %}
                                                                {% for vendor in tender.tenderVendors %}
                                                                    {% if vendor.status == 1 %}
                                                                        <th scope="col" colspan="3">{{ vendor.name }}</th>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>{{ loop.index }}</td>
                                                            <td>{% if item.stock is not empty and item.stock.item %}{{ item.stock.item.name }}{% endif %}</td>
                                                            <td>{% if item.stock is not empty and item.stock.item and item.stock.item.unit %}{{ item.stock.item.unit.name }}{% endif %}</td>
                                                            <td>{% if item.stock is not empty and item.stock.item %}{{ item.stock.price }}{% endif %}</td>
                                                            {% if tender.tenderVendors is not empty %}
                                                                {% for vendor in tender.tenderVendors %}
                                                                    {% if vendor.status == 1 %}
                                                                        <td>Unit Price</td>
                                                                        <td>Quantity</td>
                                                                        <td>Total</td>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        </tr>
                                                        <tr>
                                                            <td colspan="4">{% if item.stock.item is not empty and item.stock.item and item.stock.item.category is not empty %}{{ item.stock.item.category.name }}{% endif %}</td>
                                                            {% if tender.tenderVendors is not empty %}
                                                                {% for vendor in tender.tenderVendors %}
                                                                    {% if vendor.status == 1 %}
                                                                        {% set uniqueID = item.id~'-'~vendor.id %}
                                                                        <td>{{ comparativeItems[uniqueID]['unitPrice'] }}</td>
                                                                        <td>{{ comparativeItems[uniqueID]['quantity'] }}</td>
                                                                        <td>{{ comparativeItems[uniqueID]['subTotal'] }}</td>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        </tr>
                                                        {% if item.stock.item.category and item.stock.item.category.categoryMetas is defined and item.stock.item.category.categoryMetas is not empty %}
                                                            {% for meta in item.stock.item.category.categoryMetas %}
                                                                <tr>
                                                                    <td colspan="4">{{ meta.metaKey }}</td>
                                                                    {% if tender.tenderVendors is not empty %}
                                                                        {% for vendor in tender.tenderVendors %}
                                                                            {% if vendor.status == 1 %}
                                                                                {% set uniqueID = item.id~'-'~vendor.id~'-'~meta.id %}
                                                                                <td colspan="3">
                                                                                    {{ comparativeItemAttribites[uniqueID]['metaValue'] }}
                                                                                </td>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                </tr>
                                                            {% endfor %}
                                                        {% endif %}
                                                        </tbody>
                                                    </table>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="card-header grey-bg inner-header">
                                        <h5>Vendor File Attachments</h5>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-striped table-bordered table-hover display nowrap">
                                                <thead class="thead-green">
                                                <tr>
                                                    <th scope="col">Vendor Name</th>
                                                    <th scope="col">Address</th>
                                                    <th scope="col">Phone</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">Attachment</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% if tender.tenderVendors is not empty %}
                                                    {% for vendor in tender.tenderVendors  %}
                                                        {% if vendor.status == 1 %}
                                                            <tr>
                                                                <td>{{ vendor.name }}</td>
                                                                <td>{{ vendor.address }}</td>
                                                                <td>{{ vendor.phone }}</td>
                                                                <td>{{ vendor.email }}</td>
                                                                <td>
                                                                    {% if vendor.path is not empty %}
                                                                        <div class="input-group">
                                                                            <a class="btn btn-mini blue-bg white-font" target="_blank" href="{{ path('procure_tender_bank_comparative_vendor_attachment',{'id':vendor.id}) }}">Download</a>
                                                                        </div>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="card-header grey-bg inner-header">
                                        <h5>Justification/Details</h5>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{ entity.content|raw }}
                                        </div>
                                    </div>
                                    {% if entity.recomendationDepartment %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4><strong>Recommendation Department: {{ entity.recomendationDepartment.name }}</strong></h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4"><strong>Assesment User: {{ entity.recomendationAssignUser.name }}</strong></div>
                                            <div class="col-md-4"><strong>Approved By: {{ entity.approvedBy.name }}</strong></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{ entity.recomendationContent|raw }}
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="clearfix"></div>
                                    {% if entity.approveTo is not empty and entity.waitingProcess != "Rejected" %}
                                        <div class="row">
                                            <div class="col-md-2">Re-checked From:<br/> {% if entity.approveTo %}{{ entity.approveTo.name }}{% endif %}</div>
                                            <div class="col-md-10">{{ entity.comment|raw }}</div>
                                        </div>
                                    {% endif %}
                                    <div class="clearfix"></div>
                                    {% if (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "user") %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{ render(controller(
                                                    "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveUers",
                                                    { 'id': entity.id,'module':entity.module}
                                                )) }}
                                            </div>
                                        </div>
                                    {% elseif (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "role") %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{ render(controller(
                                                    "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveRoles",
                                                    { 'id': entity.id,'module':entity.module}
                                                )) }}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {{ form_start(form, {'attr': {'class': 'form-horizontal right','id':'approveForm','action':path('procure_tender_bank_comparative_process',{'id':entity.id})}}) }}
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-12 form-box-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.comment, 'Comment'|trans, {'label_attr': {'class': 'col-md-12 text-left'}}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                {{ form_widget(form.comment,{'attr':{'rows':3}}) }}
                                                                {{ form_errors(form.comment) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 text-right">
                                                        <div class="btn-group" >
                                                            {#<button type="submit" name="reject" value="reject"  class="btn btn-sm btn-warning white-font"><i class="feather icon-x-square"></i>Reject</button>#}
                                                            <button type="submit" name="re-checked" value="re-checked" class="btn btn-sm yellow-bg white-font"><i class="feather icon-arrow-left"></i>Back</button>
                                                            <button type="submit" name="approve" value="approve" class="btn btn-sm blue-bg white-font"><i class="feather icon-check-square"></i>Submit</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    {{ form_widget(form._token) }}
                                    {{ form_end(form) }}
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}




