<div class="portlet box green ">
    <div class="modal-header">
        <h5 class="modal-title" id="modalTitleLabel">CS No: {{ entity.invoice }}</h5>
    </div>
    <div class="portlet-body form">
{#        <div class="portlet-title">
            <div class="caption">{{ 'Tender Comparative Statement'|trans }} </div>

        </div>#}
        <div class="row form-body">
            <div class="form-inner-no-space">
                <div class="row">
                    <div class="col-md-12 text-center"><div style="margin-bottom:10px"><img style="width: 280px" src="{{ asset('assets/images/bank-asia.png') }}"></div>
                        <p class="text-center">Logistics & Support Services Division</p></div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center"><h3><strong>{{ 'Tender Comparative Statement'|trans }}</strong></h3></div>
                </div>
                <div class="portlet-body form">
                    <div class="form-inner-no-space">
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4"><strong>TCS No.</strong></div>
                                    <div class="col-md-8">{{ entity.invoice }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"><strong>Created</strong></div>
                                    <div class="col-md-8">{{ entity.created|date('d-m-Y') }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"><strong>Created By</strong></div>
                                    <div class="col-md-8">{% if entity.createdBy is not empty %}{{ entity.createdBy.name }}{% endif %}</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                {% if entity.tender is not empty %}
                                    <div class="row">
                                        <div class="col-md-4"><strong>TP No.</strong></div>
                                        <div class="col-md-8">{{ entity.tender.invoice }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4"><strong>Created</strong></div>
                                        <div class="col-md-8">{{ entity.tender.created|date('d-m-Y') }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4"><strong>Created By</strong></div>
                                        <div class="col-md-8"> {% if entity.tender.createdBy is not empty %}{{ entity.tender.createdBy.name }}{% endif %}</div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"><strong>Subject</strong></div>
                            <div class="col-md-10"><p>{{ entity.tender.subject|raw }}</p></div>
                        </div>
                        {#<div class="row">
                            <div class="col-md-2"><strong>Body</strong></div>
                            <div class="col-md-10"><p>{{ entity.tender.content|raw }}</p></div>
                        </div>#}
                        <div class="row">
                            <div class="col-md-12">
                                {% if tender.tenderItems is not empty %}
                                    {% set i = 1 %}
                                    <table class="table table-striped table-bordered table-hover display nowrap">
                                        {% for item in tender.tenderItems %}
                                            <thead class="thead-gray">
                                            <tr>
                                                <th scope="col">S/N</th>
                                                <th scope="col">Item</th>
                                                <th scope="col">UOM</th>
                                                <th scope="col">CMP</th>
                                                {% if tender.tenderVendors is not empty %}
                                                    {% for vendor in tender.tenderVendors %}
                                                        {% if vendor.status == 1 %}
                                                            <th scope="col" colspan="3">{{ vendor.name }}</th>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>{{ loop.index }}</td>
                                                <td>{% if item.stock is not empty and item.stock.item %}{{ item.stock.item.name }}{% endif %}</td>
                                                <td>{% if item.stock is not empty and item.stock.item and item.stock.item.unit %}{{ item.stock.item.unit.name }}{% endif %}</td>
                                                <td>{% if item.stock is not empty and item.stock.item %}{{ item.stock.price }}{% endif %}</td>
                                                {% if tender.tenderVendors is not empty %}
                                                    {% for vendor in tender.tenderVendors %}
                                                        {% if vendor.status == 1 %}
                                                            <td class="text-right">Unit Price</td>
                                                            <td class="text-center">Quantity</td>
                                                            <td class="text-right">Total</td>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td colspan="4">{% if item.stock.item is not empty and item.stock.item and item.stock.item.category is not empty %}{{ item.stock.item.category.name }}{% endif %}</td>
                                                {% if tender.tenderVendors is not empty %}
                                                    {% for vendor in tender.tenderVendors %}
                                                        {% if vendor.status == 1 %}
                                                            {% set uniqueID = item.id~'-'~vendor.id %}
                                                            <td class="text-right">
                                                                {{ comparativeItems[uniqueID]['unitPrice'] }}
                                                            </td>
                                                            <td class="text-center">
                                                                {{ comparativeItems[uniqueID]['quantity'] }}
                                                            </td>
                                                            <td class="text-right" id="subTotal-{{ comparativeItems[uniqueID]['comparativeId'] }}">
                                                                {{ comparativeItems[uniqueID]['subTotal'] }}
                                                            </td>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </tr>
                                            {% if item.stock.item.category and item.stock.item.category.categoryMetas is defined and item.stock.item.category.categoryMetas is not empty %}
                                                {% for meta in item.stock.item.category.categoryMetas %}
                                                    <tr>
                                                        <td colspan="4">{{ meta.metaKey }}</td>
                                                        {% if tender.tenderVendors is not empty %}
                                                            {% for vendor in tender.tenderVendors %}
                                                                {% if vendor.status == 1 %}
                                                                    {% set uniqueID = item.id~'-'~vendor.id~'-'~meta.id %}
                                                                    <td colspan="3">
                                                                        {% if comparativeItemAttribites[uniqueID] is defined and comparativeItemAttribites[uniqueID] is not empty %}
                                                                            {{ comparativeItemAttribites[uniqueID]['metaValue'] }}
                                                                        {% endif %}
                                                                    </td>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                            </tbody>
                                        {% endfor %}
                                        <tfoot>
                                        <tr>
                                            <th colspan="4">Grand Total</th>
                                            {% if tender.tenderVendors is not empty %}
                                                {% for vendor in tender.tenderVendors %}
                                                    {% if vendor.status == 1 %}
                                                        <th colspan="3" class="text-right">
                                                            <strong class="quotationSub"
                                                                    id="quotationSubTotal-{{ vendor.id }}">{{ vendor.subTotal|number_format(2) }}</strong>
                                                        </th>
                                                    {% endif %}

                                                {% endfor %}
                                            {% endif %}
                                        </tr>
                                        </tfoot>
                                    </table>
                                {% endif %}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="card-header grey-bg inner-header">
                            <h5>Vendor File Attachments</h5>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-striped table-bordered table-hover display nowrap">
                                    <thead class="thead-green">
                                    <tr>
                                        <th scope="col">Vendor Name</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Phone</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Attachment</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if tender.tenderVendors is not empty %}
                                        {% for vendor in tender.tenderVendors %}
                                            {% if vendor.status == 1 %}
                                                <tr>
                                                    <td>{{ vendor.name }}</td>
                                                    <td>{{ vendor.address }}</td>
                                                    <td>{{ vendor.phone }}</td>
                                                    <td>{{ vendor.email }}</td>
                                                    <td>
                                                        {% if vendor.path is not empty %}
                                                            <div class="input-group">
                                                                <a class="btn btn-mini blue-bg white-font" target="_blank"
                                                                   href="{{ path('procure_tender_bank_comparative_vendor_attachment',{'id':vendor.id}) }}">Download</a>
                                                            </div>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="card-header grey-bg inner-header">
                            <h5>Justification/Details</h5>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-md-12">
                                {{ entity.content|raw }}
                            </div>
                        </div>
                        {% if entity.recomendationDepartment %}
                            <div class="row">
                                <div class="col-md-12">
                                    <h4><strong>Recommendation Department: {{ entity.recomendationDepartment.name }}</strong></h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><strong>Assesment User: {{ entity.recomendationAssignUser.name }}</strong></div>
                                <div class="col-md-4"><strong>Approved By: {{ entity.approvedBy.name }}</strong></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{ entity.recomendationContent|raw }}
                                </div>
                            </div>
                        {% endif %}
                        {% if entity.approveTo is not empty and entity.waitingProcess != "Rejected" %}
                            <div class="row">
                                <div class="col-md-2">Re-checked From:<br/> {% if entity.approveTo %}{{ entity.approveTo.name }}{% endif %}</div>
                                <div class="col-md-10">{{ entity.comment|raw }}</div>
                            </div>
                        {% endif %}
                        <div class="clearfix"></div>
                        {% if (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "user") %}
                            <div class="row">
                                <div class="col-md-12">
                                    {{ render(controller(
                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveUers",
                                        { 'id': entity.id,'module':entity.module}
                                    )) }}
                                </div>
                            </div>
                        {% elseif (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "role") %}
                            <div class="row">
                                <div class="col-md-12">
                                    {{ render(controller(
                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveRoles",
                                        { 'id': entity.id,'module':entity.module}
                                    )) }}
                                </div>
                            </div>
                        {% endif %}
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>













