{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Tender Inviation Approval Note'|trans }}: {{ entity.invoice }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'Tender Inviation Approval Note'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-12 form-box-header"><p>{{ 'Tender Inviation Approval Note'|trans }}</p></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Meeting ID.</strong></div>
                                                    <div class="col-md-8">{{ entity.invoice }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Created</strong></div>
                                                    <div class="col-md-8">{{ entity.created|date('d-m-Y') }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Meeting Date</strong></div>
                                                    <div class="col-md-8">{{ entity.expectedDate|date('d-m-Y') }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Created By</strong></div>
                                                    <div class="col-md-8">{{ entity.createdBy.name }}</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2"><strong>Subject</strong></div>
                                            <div class="col-md-10">{{ entity.subject|raw }}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2"><strong>To Email</strong></div>
                                            <div class="col-md-10">{{ entity.email|raw }}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2"><strong>Body</strong></div>
                                            <div class="col-md-10">{{ entity.content|raw }}</div>
                                        </div>
                                        <div class="card-header grey-bg inner-header">
                                            <h5>Tender Memo Items</h5>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table" id="datatable">
                                                    <thead class="thead-gray">
                                                    <tr>
                                                        <th class="col-md-1">S/N</th>
                                                        <th class="col-md-1">Memo No</th>
                                                        <th class="col-md-1">Created</th>
                                                        <th class="col-md-7">Subject</th>
                                                        <th class="col-md-1">Status</th>
                                                        <th class="col-md-1"><i class="feather icon-settings"></i></th>
                                                    </tr>

                                                    </thead>
                                                    <tbody id="invoiceItem">
                                                    {% for memo in entity.tenders %}
                                                        <tr>
                                                            <td class="col-md-1">{{ loop.index }}.</td>
                                                            <td class="col-md-1">{{ memo.invoice }}</td>
                                                            <td class="col-md-1">{{ memo.created|date('d-m-Y') }}</td>
                                                            <td class="col-md-7">{{ memo.subject|raw }}</td>
                                                            <td class="col-md-1">{{ memo.waitingProcess }}</td>
                                                            <td class="col-md-1">
                                                                <div class="btn-group" >
                                                                {% if memo.waitingProcess == "In-progress" %}
                                                                <a class='btn btn-mini purple-bg white-font' data-action='{{ path('procure_tender_bank_committee_process',{'id':memo.id}) }}' href='?process=postViewdd-{{ memo.id }}&check=process#modal' id='postViewdd-{{ memo.id }}' ><i class='feather icon-target'></i> Proces</a>
                                                                {% endif %}
                                                                <a class="btn btn-mini blue-bg white-font entity-show" data-action="{{ path('procure_tender_bank_show',{'id':memo.id}) }}" href="javascript:" data-title="TP No: {{ memo.invoice }}" id="postView-{{ memo.id }}"><i class="feather icon-eye"></i> Show</a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        {% if (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "user") %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveUers",
                                                        { 'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% elseif (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "role") %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveRoles",
                                                        { 'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% endif %}
                                        <br/>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/tender.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
    $(document).on('change',".condition", function (event) {
        var condition = $(this).val();
        var url = Routing.generate('procure_garments_tender_condition',{'id':'{{ entity.id }}'});
        $.get(url,{'condition':condition}, function( response ) {
            location.reload();
        });
    });
{% endblock %}
