{% for memo in entity.memoUsers %}
    <tr>
        <td>{{ loop.index }}.</td>
        <td>{{ memo.assignTo.name }}</td>
        <td>{{ memo.assignTo.profile.designation.name }}</td>
        <td>{{ memo.position }}</td>
        <td>
            <a class='btn  btn-transparent btn-mini red-font remove' data-id='{{ entity.id }}' href='javascript:' data-action='{{ path('procure_tender_memo_bank_memo_delete',{'id':entity.id,'memo':memo.id}) }}' id='{{ memo.id }}' ><i class='feather icon-trash-2'></i></a>
        </td>
    </tr>
{% endfor %}