{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Tender Purchase Memo Note'|trans }}: {{ entity.invoice }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'Tender Purchase Memo Note'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-12 form-box-header"><p>{{ 'Tender Inviation Approval Note'|trans }}</p></div>
                                        </div>
                                        {{ form_start(form, {'attr': {'class': 'form-horizontal main-requisition right','id':'requisitionForm','enctype':'multipart/form-data'}}) }}
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="col-md-6 text-right">{{ "Tender Purchase Committe Note ID"|trans }}</label>
                                                    <label class="col-md-6 text-left">{{ entity.invoice }}</label>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label class="col-md-4 text-right">{{ "Tender CS ID"|trans }}</label>
                                                    <label class="col-md-8 text-left"><a href="{{ path('procure_tender_bank_comparative_show',{'id':entity.tenderComparative.id}) }}"  data-title="CS No: {{ entity.tenderComparative.invoice }}" id="postView-{{ entity.tenderComparative.id }}"><b>{{ entity.tenderComparative.invoice }}</b></a></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="col-md-6 text-right">{{ "Created"|trans }}</label>
                                                    <label class="col-md-6 text-left">{{ entity.created|date('d-m-Y') }}</label>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label class="col-md-4 text-right">{{ "Created By"|trans }}</label>
                                                    <label class="col-md-8 text-left">{{ entity.createdBy.name }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.subject, 'Subject'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                    <div class="col-md-10">
                                                        <span class="is-required">*</span>
                                                        {{ form_widget(form.subject) }}
                                                        {{ form_errors(form.subject) }}
                                                        {{ form_help(form.subject) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="card-header grey-bg inner-header">
                                            <h5>Tender Information</h5>
                                            <div class="card-header-right">
                                                <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                                                    <button type="button" id="addrow" class="btn btn-sm  blue-bg white-font addmore"><i class="fas fa-plus"></i>Add Row</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body card-body-inner form-box-body">
                                            <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-10 clone-block" id="clone-block">
                                                <div class="clone">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <input type="text" name="metaKey[]" id="metaKey" class="form-control form-control-sm" placeholder="Enter label name" value="">
                                                            <input type="hidden" name="metaId[]" id="metaId" value="">
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="input-group">
                                                                <strong>:&nbsp;&nbsp;&nbsp;</strong>
                                                                <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter description">
                                                                <div class="input-group-append">
                                                                    <div class="btn btn-sm btn-transparent red-font row-remove hidden">
                                                                        <i class="fa fa-remove"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                            <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-10">
                                                <div class="row">
                                                {% if entity.memoItems is not empty %}
                                                    {% for keyValue in entity.memoItems %}
                                                        <div class="col-md-12 clone-remove" id="remove-{{ keyValue.id }}" style="margin-bottom: 5px">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <input type="hidden" name="metaId[]" id="metaId" value="{{ keyValue.id }}">
                                                                    <input type="text" name="metaKey[]" id="metaKey" class="form-control form-control-sm" placeholder="Enter label name" value="{{ keyValue.metaKey }}">
                                                                    <input type="hidden" name="attributeId[]"
                                                                           value="{{ keyValue.id }}">
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <div class="input-group">
                                                                        <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments" value="{{ keyValue.metaValue }}">
                                                                        <div class="input-group-append">
                                                                            <div data-action="{{ path('gmb_category_meta_delete',{'id':keyValue.id}) }}" data-id="{{ keyValue.id }}" class="btn  btn-sm btn-transparent red-font meta-remove">
                                                                                <i class="fas fa-remove"></i>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                                </div>
                                            </div>

                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.content, 'Body'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                    <div class="col-md-10">
                                                        {{ form_widget(form.content) }}
                                                        {{ form_errors(form.content) }}
                                                        {{ form_help(form.content) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.financialDelegation, 'Financial Delegation'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                    <div class="col-md-10">
                                                        {{ form_widget(form.financialDelegation) }}
                                                        {{ form_errors(form.financialDelegation) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="card-header grey-bg inner-header">
                                            <h5>{{ 'The comparative statement (CS) of participating bidders is as under:'|trans }}</h5>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table" id="datatable">
                                                    <thead class="thead-gray">
                                                    <tr>
                                                        <th scope="col">S/N</th>
                                                        <th scope="col">Name of Vendor</th>
                                                        <th scope="col">Quoted price</th>
                                                        <th scope="col">Position</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% set i= 0 %}
                                                    {% if entity.tenderComparative.tender.tenderVendors is not empty %}
                                                        {% for vendor in entity.tenderComparative.tender.tenderVendors %}
                                                            {% if vendor.subTotal > 0 %}
                                                                {% set i = i + 1 %}
                                                                <tr>
                                                                    <td>{{ i }}.</td>
                                                                    <td>{{ vendor.name }}</td>
                                                                    <td>{{ vendor.subTotal|number_format(2) }}</td>
                                                                    <td>{{ vendor.ordinal(i) }} Lowest</td>
                                                                </tr>

                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        {{ form_widget(form.customContentOne) }}
                                                        {{ form_errors(form.customContentOne) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        {{ form_widget(form.customContentTwo) }}
                                                        {{ form_errors(form.customContentTwo) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        {{ form_widget(form.customContentThree) }}
                                                        {{ form_errors(form.customContentThree) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        {#<div class="card-header grey-bg inner-header">
                                            <h5>{{ 'Add Committee Members'|trans }}</h5>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="form-horizontal sub-form right col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <select name="member"  id="member" class="select2">
                                                                    <option value="">--Select Committee Member--</option>
                                                                    {% for member in committeeMembers  %}
                                                                        <option value="{{ member.id }}">{{ member.name }}-{{ member.designation }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                                <input type="hidden" name="process" id="process" value="{{ entity.module }}">
                                                            </div>
                                                            <div class="col-md-4">
                                                                <input type="text" id="position" name="position" autofocus="autofocus" class="form-control" placeholder="Member Position">
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="btn-group btn-group col-md-12">
                                                                    <input type="text" id="ordering" name="ordering"  autofocus="autofocus" class="col-md-6 number form-control" placeholder="Ordering">
                                                                    <button type="button" data-action="{{ path('procure_tender_memo_bank_add_member',{'id':entity.id}) }}" id="addMember" name="addMember" class="btn btn-mini  blue-bg white-font"><i class="feather icon-plus"></i> Add Member</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <table class="table" id="datatable">
                                                            <thead class="thead-blue">
                                                            <tr>
                                                                <th scope="col">S/N</th>
                                                                <th scope="col">Name of Board Member</th>
                                                                <th scope="col">Designation</th>
                                                                <th scope="col">Position</th>
                                                                <th scope="col"><i class="feather icon-settings"></i></th>
                                                            </tr>

                                                            </thead>
                                                            <tbody id="invoiceItem">
                                                                {% for memo in entity.memoUsers %}
                                                                    <tr>
                                                                        <td>{{ loop.index }}.</td>
                                                                        <td>{{ memo.assignTo.name }}</td>
                                                                        <td>{{ memo.assignTo.profile.designation.name }}</td>
                                                                        <td>{{ memo.position }}</td>
                                                                        <td>
                                                                            <a class='btn  btn-transparent btn-mini red-font remove' data-id='{{ entity.id }}' href='javascript:' data-action='{{ path('procure_tender_memo_bank_memo_delete',{'id':entity.id,'memo':memo.id}) }}' id='{{ memo.id }}' ><i class='feather icon-trash-2'></i></a>
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>#}
                                        <div class="clearfix"></div>
                                        <div class="card-header grey-bg inner-header">
                                            <h5>{{ 'The Bidders revised quotation price is as under:'|trans }}</h5>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table" id="datatable">
                                                    <thead class="thead-gray">
                                                    <tr>
                                                        <th scope="col">S/N</th>
                                                        <th scope="col">Name of Vendor</th>
                                                        <th scope="col">Initial price</th>
                                                        <th scope="col">Revised price</th>
                                                        <th scope="col">Position</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% set i= 0 %}
                                                    {% if entity.tenderComparative.tender.tenderVendors is not empty %}
                                                        {% for vendor in entity.tenderComparative.tender.tenderVendors %}
                                                            {% if vendor.subTotal > 0 %}
                                                                {% set i = i + 1 %}
                                                                <tr>
                                                                    <td>{{ i }}.</td>
                                                                    <td>{{ vendor.name }}</td>
                                                                    <td>{{ vendor.subTotal|number_format(2) }}</td>
                                                                    <td>{{ vendor.revisedTotal|number_format(2) }}</td>
                                                                    <td>{{ vendor.ordinal(i) }} Lowest</td>
                                                                </tr>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="card-header grey-bg inner-header">
                                            <h5>{{ 'Comment/Recommendation of Purchase Committee'|trans }}</h5>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        {{ form_widget(form.recommendationt) }}
                                                        {{ form_errors(form.recommendationt) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{ form_widget(form._token) }}
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions inline-submit">
                                <div class="row">
                                    <div class="col-md-6 text-left">
                                        <div class="btn-group" role="group">
                                            <a href="#" id="" class="btn blue-bg white-font form-submit btn"><i class="fa fa-print"></i> Print</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <div class="btn-group" role="group">
                                            <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                            <button type="button" id="submitBtn" name="save" class="btn btn-info form-submit"><i class="fa fa-refresh"></i> Save and Create</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/tender.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}
