{% extends 'layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Tender Purchase Memo Note'|trans }}: {{ entity.invoice }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'Tender Purchase Memo Note'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-12 form-box-header"><p>{{ 'Tender Purchase Memo Note'|trans }}</p></div>
                                        </div>
                                        <div class="card-body card-body-inner form-box-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-4"><strong>Meeting ID.</strong></div>
                                                        <div class="col-md-8"><strong>:</strong>{{ entity.invoice }}</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4"><strong>Created</strong></div>
                                                        <div class="col-md-8"><strong>:</strong>{{ entity.created|date('d-m-Y') }}</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4"><strong>Created By</strong></div>
                                                        <div class="col-md-8"><strong>:</strong>{{ entity.createdBy.name }}</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2"><strong>Subject</strong></div>
                                                <div class="col-md-10"><strong>:</strong>{{ entity.subject|raw }}</div>
                                            </div>
                                            {% if entity.memoItems is not empty %}
                                                {% for keyValue in entity.memoItems %}
                                                    <div class="row">
                                                        <div class="col-md-2">{{ keyValue.metaKey }}</div>
                                                        <div class="col-md-9 text-left"><strong>:</strong>
                                                            {{ keyValue.metaValue }}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                            <div class="row">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-10">{{ entity.content|raw }}</div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                {% if entity.tenderComparative.tender.tenderItems is not empty %}
                                                    {% set i = 1  %}
                                                    {% for item in entity.tenderComparative.tender.tenderItems %}
                                                        <table class="table table-striped table-bordered table-hover display nowrap">
                                                            <thead class="thead-gray">
                                                            <tr>
                                                                <th scope="col">S/N</th>
                                                                <th scope="col">Item</th>
                                                                <th scope="col">UOM</th>
                                                                <th scope="col">Price</th>
                                                                {% if entity.tenderComparative.tender.tenderVendors is not empty %}
                                                                    {% for vendor in entity.tenderComparative.tender.tenderVendors %}
                                                                        {% if vendor.status == 1 %}
                                                                            <th scope="col" colspan="5">{{ vendor.name }}</th>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <th>{{ loop.index }}.</th>
                                                                <th width="10%">{% if item.stock is not empty and item.stock.item %}{{ item.stock.item.name }}{% endif %}</th>
                                                                <td>{% if item.stock is not empty and item.stock.item %}{{ item.stock.item.unit.name }}{% endif %}</td>
                                                                <td>{% if item.stock is not empty and item.stock.item %}{{ item.stock.price }}{% endif %}</td>
                                                                {% if entity.tenderComparative.tender.tenderVendors is not empty %}
                                                                    {% for vendor in entity.tenderComparative.tender.tenderVendors %}
                                                                        {% if vendor.status == 1 %}
                                                                            <td>Unit Price</td>
                                                                            <td>Quantity</td>
                                                                            <td>Total</td>
                                                                            <td>Rev. Price</td>
                                                                            <td>Rev. Total</td>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </tr>
                                                            <tr>
                                                                <td colspan="4">{% if item.stock.item is not empty and item.stock.item.category is not empty %}{{ item.stock.item.category.name }}{% endif %}</td>
                                                                {% if entity.tenderComparative.tender.tenderVendors is not empty %}
                                                                    {% for vendor in entity.tenderComparative.tender.tenderVendors %}
                                                                        {% if vendor.status == 1 %}
                                                                            {% set uniqueID = item.id~'-'~vendor.id %}
                                                                            <td id="subTotal-{{ comparativeItems[uniqueID]['comparativeId'] }}">{{ comparativeItems[uniqueID]['unitPrice'] }}</td>
                                                                            <td id="subTotal-{{ comparativeItems[uniqueID]['comparativeId'] }}">{{ comparativeItems[uniqueID]['quantity'] }}</td>
                                                                            <td id="subTotal-{{ comparativeItems[uniqueID]['comparativeId'] }}">{{ comparativeItems[uniqueID]['subTotal'] }}</td>
                                                                            <td>
                                                                                <input type="text" class="form-control td-input updateReviseCSItem" data-id="{{ comparativeItems[uniqueID]['comparativeId'] }}" id="unitPrice-{{ comparativeItems[uniqueID]['comparativeId'] }}" name="unitPrice-{{ comparativeItems[uniqueID]['comparativeId'] }}" data-action="{{ path('procure_tender_bank_comparative_item_revised_update',{'id':comparativeItems[uniqueID]['comparativeId'] }) }}" placeholder="Rev. price" value="{{ comparativeItems[uniqueID]['revisedUnitPrice'] }}">
                                                                                <input type="hidden" class="form-control td-input updateReviseCSItem" data-id="{{ comparativeItems[uniqueID]['comparativeId'] }}" id="quantity-{{ comparativeItems[uniqueID]['comparativeId'] }}" name="quantity-{{ comparativeItems[uniqueID]['comparativeId'] }}" data-action="{{ path('procure_tender_bank_comparative_item_revised_update',{'id':comparativeItems[uniqueID]['comparativeId'] }) }}" placeholder="Enter quantity" value="{{ comparativeItems[uniqueID]['quantity'] }}">
                                                                            </td>
                                                                            <td id="revisedSubTotal-{{ comparativeItems[uniqueID]['comparativeId'] }}">{{ comparativeItems[uniqueID]['revisedSubTotal'] }}</td>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </tr>
                                                            {% if item.stock.item.category is not empty and item.stock.item.category.categoryMetas is defined and item.stock.item.category.categoryMetas is not empty %}
                                                                {% for meta in item.stock.item.category.categoryMetas %}
                                                                    <tr>
                                                                        <td colspan="4">{{ meta.metaKey }}</td>
                                                                        {% if tender.tenderVendors is not empty %}
                                                                            {% for vendor in tender.tenderVendors %}
                                                                                {% if vendor.status == 1 %}
                                                                                    {% set uniqueID = item.id~'-'~vendor.id~'-'~meta.id %}
                                                                                    <td colspan="3">
                                                                                        <input type="text" class="form-control updateCSItemAttribute" data-id="{{ comparativeItemAttribites[uniqueID]['attributeId'] }}" id="attribute-{{ comparativeItemAttribites[uniqueID]['attributeId'] }}" name="attribute-{{ comparativeItemAttribites[uniqueID]['attributeId'] }}" data-action="{{ path('procure_tender_bank_comparative_item_revised_update',{'id':comparativeItemAttribites[uniqueID]['attributeId'] }) }}" placeholder="{{ meta.metaValue }}" value="{{ comparativeItemAttribites[uniqueID]['metaValue'] }}">
                                                                                    </td>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                    </tr>
                                                                {% endfor %}
                                                            {% endif %}
                                                            </tbody>
                                                        </table>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="card-header grey-bg inner-header">
                                            <h5>{{ 'The comparative statement (CS) of participating bidders is as under:'|trans }}</h5>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table" id="datatable">
                                                    <thead class="thead-gray">
                                                    <tr>
                                                        <th scope="col">S/N</th>
                                                        <th scope="col">Name of Vendor</th>
                                                        <th scope="col">Quoted price</th>
                                                        <th scope="col">Position</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% set i= 0 %}
                                                    {% if entity.tenderComparative.tender.tenderVendors is not empty %}
                                                        {% for vendor in entity.tenderComparative.tender.tenderVendors %}
                                                            {% if vendor.subTotal > 0 %}
                                                                {% set i = i + 1 %}
                                                                <tr>
                                                                    <td>{{ i }}.</td>
                                                                    <td>{{ vendor.name }}</td>
                                                                    <td>{{ vendor.subTotal|number_format(2) }}</td>
                                                                    <td>{{ vendor.ordinal(i) }} Lowest</td>
                                                                </tr>

                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="card-header grey-bg inner-header">
                                            <h5>{{ 'The Bidders revised quotation price is as under:'|trans }}</h5>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table" id="datatable">
                                                    <thead class="thead-gray">
                                                    <tr>
                                                        <th scope="col">S/N</th>
                                                        <th scope="col">Name of Vendor</th>
                                                        <th scope="col">Initial price</th>
                                                        <th scope="col">Revised price</th>
                                                        <th scope="col">Position</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% set i= 0 %}
                                                    {% if entity.tenderComparative.tender.tenderVendors is not empty %}
                                                        {% for vendor in entity.tenderComparative.tender.tenderVendors %}
                                                            {% if vendor.subTotal > 0 %}
                                                                {% set i = i + 1 %}
                                                                <tr>
                                                                    <td>{{ i }}.</td>
                                                                    <td>{{ vendor.name }}</td>
                                                                    <td>{{ vendor.subTotal|number_format(2) }}</td>
                                                                    <td>{{ vendor.revisedTotal|number_format(2) }}</td>
                                                                    <td>{{ vendor.ordinal(i) }} Lowest</td>
                                                                </tr>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-header grey-bg inner-header">
                                <h5>Comments</h5>
                            </div>
                            {{ form_start(form) }}
                            <div class="form-inner-no-space">
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ entity.comment|raw }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-box-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.comment, 'Comment'|trans, {'label_attr': {'class': 'col-md-12 text-left'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        {{ form_widget(form.comment,{'attr':{'rows':3}}) }}
                                                        {{ form_errors(form.comment) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"><br/></div>
                                        <div class="row">
                                            <div class="col-md-12 text-right">
                                                <div class="btn-group" >
                                                    <button type="submit" name="reject" value="reject"  class="btn btn-sm btn-warning white-font"><i class="feather icon-x-square"></i>Reject</button>
                                                    <button type="submit" name="approve" value="approve" class="btn btn-sm blue-bg white-font"><i class="feather icon-check-square"></i>Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            {{ form_widget(form._token) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <style>
        .td-input {
            max-width: 70px!important;
            border: 2px solid #f0ad4e!important;
        }
    </style>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/tender.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}
