
<div class="portlet box green ">
    <div class="modal-header">
        <h5 class="modal-title" id="modalTitleLabel">Memo/Agenda No: {{ entity.invoice }}</h5>
    </div>
    <div class="portlet-body form">
        <div class="row form-body">
            <div class="form-inner-no-space">
                <div class="row">
                    <div class="col-md-12 text-center"><div style="margin-bottom:10px"><img style="width: 280px" src="{{ asset('assets/images/bank-asia.png') }}"></div>
                        <p class="text-center">Logistics & Support Services Division</p></div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center"><h3><strong>Memo and Minutes of the Purchase Committee</strong></h3></div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4"><strong>Meeting ID.</strong></div>
                            <div class="col-md-8"><strong>:</strong>{{ entity.invoice }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Created</strong></div>
                            <div class="col-md-8"><strong>:</strong>{{ entity.created|date('d-m-Y') }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Created By</strong></div>
                            <div class="col-md-8"><strong>:</strong>{{ entity.createdBy.name }}</div>
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><strong>Subject</strong></div>
                    <div class="col-md-10"><strong>:</strong>{{ entity.subject|raw }}</div>
                </div>
                {% if entity.memoItems is not empty %}
                    {% for keyValue in entity.memoItems %}
                        <div class="row">
                            <div class="col-md-2">{{ keyValue.metaKey }}</div>
                            <div class="col-md-9 text-left"><strong>:</strong>
                                {{ keyValue.metaValue }}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">{{ entity.content|raw }}</div>
                </div>
                <div class="clearfix"></div>
                <div class="card-header grey-bg inner-header">
                    <h5>{{ 'The comparative statement (CS) of participating bidders is as under:'|trans }}</h5>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table" id="datatable">
                            <thead class="thead-gray">
                            <tr>
                                <th scope="col">S/N</th>
                                <th scope="col">Name of Vendor</th>
                                <th scope="col">Quoted price</th>
                                <th scope="col">Position</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set i= 0 %}
                            {% if entity.tenderComparative.tender.tenderVendors is not empty %}
                                {% for vendor in entity.tenderComparative.tender.tenderVendors %}
                                    {% if vendor.subTotal > 0 %}
                                        {% set i = i + 1 %}
                                    <tr>
                                        <td>{{ i }}.</td>
                                        <td>{{ vendor.name }}</td>
                                        <td>{{ vendor.subTotal|number_format(2) }}</td>
                                        <td>{{ vendor.ordinal(i) }} Lowest</td>
                                    </tr>

                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12">{{ entity.customContentOne|raw }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12">{{ entity.customContentTwo|raw }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12">{{ entity.customContentThree|raw }}</div>
                </div>
                <div class="clearfix"></div>
                <div class="card-header grey-bg inner-header">
                    <h5>{{ 'The Bidders revised quotation price is as under:'|trans }}</h5>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table" id="datatable">
                            <thead class="thead-gray">
                            <tr>
                                <th scope="col">S/N</th>
                                <th scope="col">Name of Vendor</th>
                                <th scope="col">Initial price</th>
                                <th scope="col">Revised price</th>
                                <th scope="col">Position</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set i= 0 %}
                            {% if entity.tenderComparative.tender.tenderVendors is not empty %}
                                {% for vendor in entity.tenderComparative.tender.tenderVendors %}
                                    {% if vendor.subTotal > 0 %}
                                    {% set i = i + 1 %}
                                    <tr>
                                        <td>{{ i }}.</td>
                                        <td>{{ vendor.name }}</td>
                                        <td>{{ vendor.subTotal|number_format(2) }}</td>
                                        <td>{{ vendor.revisedTotal|number_format(2) }}</td>
                                        <td>{{ vendor.ordinal(i) }} Lowest</td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="card-header grey-bg inner-header">
                    <h5>{{ 'Comment/Recommendation of Purchase Committee'|trans }}</h5>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12">{{ entity.recommendationt }}</div>
                </div>
                <br/>
            </div>
        </div>
    </div>
</div>
<style>
    .grid-designation {
        width: 100%;
        display: grid;
        grid-gap: 0;
    }
    .grid-designation {
        grid-template-columns: repeat(3, calc(100%/3));
    }
    .grid-products {
        width: 100%;
        display: grid;
        grid-gap: 0;
    }
    .grid-products {
        grid-template-columns: repeat(2, calc(100%/2));
    }
</style>
