{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Delivery Goods Receive'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap">
                                <thead>
                                {{ form_start(searchForm) }}
                                <tr role="row">
                                    <td colspan="2">{{ form_widget(searchForm.requisitionNo) }}</td>
                                    <td colspan="1">{{ form_widget(searchForm.requisitionOrderNo) }}</td>
                                    <td colspan="1">{{ form_widget(searchForm.requisitionType) }}</td>
                                    <td colspan="1">{{ form_widget(searchForm.branch) }}</td>
                                    <td colspan="1">{{ form_widget(searchForm.department) }}</td>
                                    <td>{{ form_widget(searchForm.deliveryMethod) }}</td>
                                    <td>{{ form_widget(searchForm.courier) }}</td>
                                    <td><div class="date-group">{{ form_widget(searchForm.startDate) }}</div></td>
                                    <td><div class="date-group">{{ form_widget(searchForm.endDate) }}</div></td>
                                    <td>{{ form_widget(searchForm.filter) }}</td>
                                </tr>
                                {{ form_widget(searchForm._token) }}
                                {{ form_end(searchForm) }}
                                <tr>
                                    {#<th scope="col">#</th>#}
                                    <th scope="col">Created</th>
                                    <th scope="col">Requisition No.</th>
                                    <th scope="col">CRN</th>
                                    <th scope="col">Type of Request</th>
                                    <th scope="col">Branch/Department</th>
                                    <th scope="col">Delivery Mode</th>
                                    <th scope="col">Courier</th>
                                    <th scope="col">Download</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Total Amount</th>
                                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if pagination is not empty %}
                                    {% for entity in pagination %}
                                        <tr>
                                            {#<td>
                                                  {% if app.user.hasRoles(['ROLE_PROCUREMENT_LSSD','ROLE_DOMAIN']) and entity.process not in ['Close','Approved','Closed']   %}
                                                        <span data-toggle="collapse" data-target="#show-{{ entity.id  }}" id="{{ entity.id  }}" ><span>[+]</span></span>
                                                  {% endif %}
                                            </td>#}
                                            <td scope="col">{{ entity.created|date('d-m-Y') }}</td>
                                            {#<th scope="col"><a  data-action='{{ path('procure_requisition_show',{'id':entity.requisitionId}) }}' href='?process=postView-{{ entity.id }}&check=process#modal' id='postView-{{ entity.id }}' >{{ entity.requisitionNo }}</a></th>#}
                                            <th scope="col">{{ entity.requisitionNo }}</th>
                                            {#<th scope="col"><a  data-action='{{ path('procure_requisition_store_show',{'id':entity.requisitionOrderId}) }}' href='?process=postView-{{ entity.id }}&check=process#modal' id='postView-{{ entity.id }}' >{{ entity.orderNo }}</a></th>#}
                                            <th scope="col">{{ entity.orderNo }}</th>
                                            <td scope="col">{{ entity.requisitionType }}</td>
                                            <td scope="col">{% if entity.branch is not empty %}{{ entity.branch }}{% elseif(entity.department is not empty) %}{{ entity.department }}{% endif %}</td>
                                            <td scope="col">{{ entity.deliveryMethod }}</td>
                                            <td scope="col">{{ entity.courierName }}</td>
                                            <td scope="col">
                                                {% if entity.filename is not empty %}
                                                    <a target="_blank" href="{{ asset('uploads/' ~ entity.filename) }}">Download</a>
                                                {% endif %}
                                            </td>
                                            <td scope="col">{{ entity.process }}</td>
                                            <td scope="col">{{ entity.subTotal }}</td>
                                            <th scope="col">
                                                <div class="btn-group" >
                                                {% if  (app.user.profile.branch is not empty and app.user.profile.branch.name  == entity.branch and entity.process not in ['Close','Approved','Closed']) or ( app.user.profile.department is not empty and app.user.profile.department.name  == entity.department and entity.process not in ['Close','Approved','Closed']) %}
                                                    <a class='btn btn-mini blue-bg white-font' data-action='' href='{{ path('procure_requisition_bank_order_delivery_receive',{'id':entity.id}) }}' id='postView-{{ entity.id }}' ><i class='feather icon-aperture'></i> Receive </a>
                                                {% endif %}
                                                    {% if app.user.hasRoles(['ROLE_PROCUREMENT_LSSD','ROLE_DOMAIN']) and entity.process not in ['Close','Approved','Closed']  %}
                                                       <a class='btn btn-mini green-bg white-font'  href='{{ path('procure_requisition_bank_order_process',{'id':entity.id}) }}' id='postView-{{ entity.id }}' ><i class='fa fa-pencil'></i> Edit </a>
                                                   {% endif %}
                                                   {# {% elseif entity.process in ['Close','Approved','Closed']  %}
                                                        <a class='btn btn-mini purple-bg white-font' data-action='' target="_blank" href='{{ path('procure_requisition_bank_order_delivery_print',{'id':entity.id}) }}' id='postView-{{ entity.id }}' ><i class='fa fa-print'></i> Print </a>
                                                    {% endif %}#}
                                                    <a class='btn btn-mini purple-bg white-font' data-action='' target="_blank" href='{{ path('procure_requisition_bank_order_delivery_print',{'id':entity.id}) }}' id='postView-{{ entity.id }}' ><i class='fa fa-print'></i> Print </a>
                                                </div>
                                            </th>
                                        </tr>
                                        {#{% if app.user.hasRoles(['ROLE_PROCUREMENT_LSSD','ROLE_DOMAIN']) and entity.process !='Close'  %}
                                        {% if entity.deliveryMethod == "Courier" %}
                                            <tr id="show-{{ entity.id }}" class="collapse">
                                                <td>Courier Name</td>
                                                <td colspan="2">
                                                    <select class="form-control" name="courier-{{ entity.id }}" id="courier-{{  entity.id }}">
                                                        <option value="">--Select Courier Service</option>
                                                        {% for cou in couriers %}
                                                            <option {% if entity.courierId is defined and entity.courierId == cou.id %} selected="selected" {% endif %} value="{{ cou.id }}">{{ cou.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                                <td>CN No.</td>
                                                <td colspan="2">    <input type="text" id="cnNo-{{ entity.id }}" name="cnNo-{{ entity.id }}" value="" required="required" autofocus="autofocus" class="form-control">
                                                </td>
                                                <td>Comments</td>
                                                <td colspan="3">
                                                    <div class="btn-group">
                                                        <input type="hidden" name="deliveryMethod-{{ entity.id }}" id="deliveryMethod-{{ entity.id }}" value="{{ entity.deliveryMethod }}">
                                                        <input type="text" id="comment-{{ entity.id }}" name="comment-{{ entity.id }}" value="{{ entity.comment }}" required="required" autofocus="autofocus" class="form-control">
                                                        <button type="button" data-action="{{ path('procure_requisition_bank_order_delivery_ajax',{'id':entity.id}) }}" data-id="{{ entity.id }}" class="btn btn-sm green-bg white-font courierDelivery"><i class="fa fa-save"></i>Save</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr id="show-{{ entity.id }}" class="collapse">
                                                <td>Name</td>
                                                <td colspan="2"><input type="text" id="receiverName-{{ entity.id }}" name="receiverName" value="{{ entity.receiverName }}" required="required" autofocus="autofocus" class="form-control">
                                                </td>
                                                <td>Designation</td>
                                                <td colspan="2"><input type="text" id="receiverDesignation-{{ entity.id }}" name="receiverDesignation-{{ entity.id }}" value="{{ entity.receiverDesignation }}" required="required" autofocus="autofocus" class="form-control">
                                                </td>
                                                <td>Dep/Branch</td>
                                                <td colspan="3">
                                                    <div class="btn-group">
                                                        <input type="hidden" name="deliveryMethod-{{ entity.id }}" id="deliveryMethod-{{ entity.id }}" value="{{ entity.deliveryMethod }}">
                                                        <input type="text" id="receiverAddress-{{ entity.id }}" name="receiverAddress-{{ entity.id }}" value="{{ entity.receiverAddress }}" required="required" autofocus="autofocus" class="form-control">
                                                        <button type="button" data-action="{{ path('procure_requisition_bank_order_delivery_ajax',{'id':entity.id}) }}" data-id="{{ entity.id }}" class="btn btn-sm green-bg white-font handDelivery"><i class="fa fa-save"></i>Save</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% endif %}#}
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="count">
                                Total Records: {{ pagination.getTotalItemCount }}
                            </div>
                        </div>
                        <div class="col-md-9 navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/script.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}
