{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Store Requsition Order'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_requisition_bank_store_approval') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Store Approval'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="d-flex flex-column bd-highlight mb-3">
                                <div class="p-2 bd-highlight text-center"><img src="{{ asset('assets/images/bank-asia.png') }}"></div>
                                <div class="p-2 bd-highlight text-center">Corporate Office</div>
                                <div class="p-2 bd-highlight text-center"><h4>Store Credit Note</h4></div>
                                <div class="p-2 bd-highlight text-center">Credite Note No:{{ entity.orderNo }}</div>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="d-flex flex-column bd-highlight mb-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label"><strong>Name of The Branch</strong></label>
                                            <div class="col-md-8">
                                                <label class="control-label">
                                                    {% if entity.requisition.branch is not empty %} {{ entity.requisition.branch.name }}{% endif %}<br/>
                                                    {% if entity.requisition.branch is not empty %} {{ entity.requisition.branch.address }}{% endif %}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label"><strong>Branch Requisition Ref:</strong></label>
                                            <div class="col-md-8">
                                                <label class="control-label">
                                                    {{ entity.requisition.createdBy.profile.employeeId }} - {{ entity.requisition.createdBy.name }}<br/>
                                                    {% if entity.requisition.createdBy.profile.designation is not empty %}{{ entity.requisition.createdBy.profile.designation.name }} {% endif %}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex flex-column bd-highlight mb-3">
                                <div class="p-2 bd-highlight text-right"><strong>Created</strong> {{ entity.requisition.created|date('d-m-Y') }}</div>
                                <div class="p-2 bd-highlight text-right"><strong>Requisition No.</strong> {{ entity.requisition.requisitionNo }}</div>
                            </div>
                        </div>
                    </div>
                    {% if entity.requisitionOrderItems is not empty %}
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                    <thead class="thead-blue">
                                    <tr>
                                        <th scope="col">S/N</th>
                                        <th scope="col">Item Code</th>
                                        <th scope="col">Item Name</th>
                                        <th scope="col">Unit</th>
                                        <th scope="col">Current Stock</th>
                                        <th scope="col">Approval QTY </th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Total</th>
                                    </tr>
                                    </thead>
                                    <tbody id="invoiceItem">
                                    {% set total =0 %}
                                    {% if  entity.requisitionOrderItems is not empty %}
                                        {% for  orderItem in entity.requisitionOrderItems  %}
                                            {% set total = total + orderItem.subTotal %}
                                            <tr id="remove-{{ orderItem.id }}">
                                                <td>{{ loop.index }}</td>
                                                <td>{{ orderItem.requisitionItem.item.itemCode }}</td>
                                                <td>{{ orderItem.requisitionItem.item.name }}</td>
                                                <td>{% if orderItem.requisitionItem.item.unit is not empty %}{{ orderItem.requisitionItem.item.unit.name }}{% endif %}</td>
                                                <td>{{ orderItem.requisitionItem.stock.remainingQuantity - orderItem.quantity }}</td>
                                                <td>{{ orderItem.quantity }}</td>
                                                <td>{{ orderItem.price|number_format(2) }}</td>
                                                <td>{{ orderItem.subTotal|number_format(2) }}</td>
                                            </tr>
                                        {% endfor %}
                                        <tr><td colspan="7" class="text-right"><strong>SubTotal</strong></td><td>{{ total|number_format(2) }}</td></tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% for deliver in entity.orderDeliveries %}
                            {#{{ dump(deliver.deliveryMethod.name) }}#}
                            {% if deliver.requisitionOrderItems is not empty %}
                                <form method="post" class="form-horizontal sub-form"   action="{{ path('procure_requisition_bank_order_delivery_create',{'id':deliver.id}) }}">
                                    <div class="card-header grey-bg inner-header" style="margin-bottom: 20px">
                                        <h5>{{ deliver.deliveryMethod.name }}</h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                                <thead class="thead-gray">
                                                <tr>
                                                    <th scope="col">S/N</th>
                                                    <th scope="col">Item Code</th>
                                                    <th scope="col">Item Name</th>
                                                    <th scope="col">Unit</th>
                                                    <th scope="col">Current Stock</th>
                                                    <th scope="col">Approval QTY </th>
                                                    <th scope="col">Price</th>
                                                    <th scope="col">Total</th>
                                                </tr>
                                                </thead>
                                                <tbody id="invoiceItem">
                                                {% if  deliver.requisitionOrderItems is not empty %}
                                                    {% for  orderItem in deliver.requisitionOrderItems  %}
                                                        <tr id="remove-{{ orderItem.id }}">
                                                            <td>{{ loop.index }}</td>
                                                            <td>{{ orderItem.requisitionItem.item.itemCode }}</td>
                                                            <td>{{ orderItem.requisitionItem.item.name }}</td>
                                                            <td>{% if orderItem.requisitionItem.item.unit is not empty %}{{ orderItem.requisitionItem.item.unit.name }}{% endif %}</td>
                                                            <td>{{ orderItem.requisitionItem.stock.remainingQuantity - orderItem.quantity }}</td>
                                                            <td>{{ orderItem.quantity }}</td>
                                                            <td>{{ orderItem.price|number_format(2) }}</td>
                                                            <td>{{ orderItem.subTotal|number_format(2) }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    <tr><td colspan="7" class="text-right"><strong>SubTotal</strong></td><td>{{ deliver.subTotal|number_format(2) }}</td></tr>
                                                {% endif %}
                                                </tbody>
                                                <tfoot>
                                                <tr><td colspan="">{{ deliver.comment|raw }}</td></tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                    {% if  deliver.deliveryMethod.name == "Hand Delivery" %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label required" for="receiverName">Name</label>
                                                    <div class="col-md-8">
                                                        <input type="text" id="receiverName" name="receiverName" value="{{ deliver.receiverName }}" required="required" autofocus="autofocus" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label required" for="receiverDesignation">Designation</label>
                                                    <div class="col-md-8">
                                                        <input type="text" id="receiverDesignation" name="receiverDesignation" value="{{ deliver.receiverDesignation }}" required="required" autofocus="autofocus" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label required" for="receiverAddress">Dep/Branch</label>
                                                    <div class="col-md-8 row">
                                                        <div class="btn-group col-md-12">
                                                            <input type="text" id="receiverAddress" name="receiverAddress" value="{{ deliver.receiverAddress }}" required="required" autofocus="autofocus" class="form-control">
                                                            <button type="submit"  data-id="{{ deliver.id }}" class="btn btn-sm blue-bg white-font" ><i class="fa fa-save"></i>Submit</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if  deliver.deliveryMethod.name == "Courier" %}
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label required" for="sub_branch_form_name">Courier Name</label>
                                                    <div class="col-md-8">
                                                        <select class="form-control" name="courier" id="courier-{{  deliver.deliveryMethod.id }}">
                                                            <option value="">--Select Courier Service</option>
                                                            {% for cou in couriers %}
                                                                <option {% if deliver.courier is defined and deliver.courier and  deliver.courier.id == cou.id %} selected="selected" {% endif %} value="{{ cou.id }}">{{ cou.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label required" for="">CN No.</label>
                                                    <div class="col-md-8">
                                                        <input type="text" id="cnNo" name="cnNo" value="{{ deliver.cnNo }}" required="required" autofocus="autofocus" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label required" for="sub_branch_form_name">Comments</label>
                                                    <div class="col-md-8">
                                                        <div class="btn-group">
                                                            <input type="text" id="comment" name="comment" value="{{ deliver.comment }}" required="required" autofocus="autofocus" class="form-control">
                                                            <button type="submit" data-action="{{ path('procure_requisition_bank_order_delivery_create',{'id':deliver.id}) }}" data-id="{{ deliver.id }}" class="btn btn-sm blue-bg white-font deliveryForm"><i class="fa fa-save"></i>Submit</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <br/>
                                    <input type="hidden" name="deliverId" id="deliverId" value="{{ deliver.id }}">
                                    <input type="hidden" name="deliveryMethod" id="deliveryMethod" value="{{ deliver.deliveryMethod.slug }}">
                                </form>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <div class="form-actions inline-submit">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="btn-group" role="group">
                                    <a href="{{ path('procure_requisition_bank_store_approval') }}" class="btn btn-info form-submit"><i class="fa fa-close"></i> Close Delivery</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/script.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}
