<table>
    <thead>
    <tr>
        <th colspan="17" align="center">
            {% if caption is defined and caption is not empty %}
                <strong>{{ caption }}</strong>
            {% endif %}
        </th>
    </tr>
    <tr>
        <th colspan="17" align="center">
            <strong>Name of Report : Wearhouse Stock Report</strong>
        </th>
    </tr>
    <tr>
        <th colspan="17" align="center">
            Start Date: {{ searchForm['startDate'] }} to End Date: {{ searchForm['startDate']}}
        </th>
    </tr>
    </thead>
</table>
<table>
    <thead>
    <tr>
        <th rowspan="2">S/N</th>
        <th rowspan="2">{{ 'Item Code'|trans }}</th>
        <th rowspan="2">{{ 'Item Name'|trans }}</th>
        <th rowspan="2">{{ 'Brand'|trans }}</th>
        <th rowspan="2">{{ 'Size'|trans }}</th>
        <th rowspan="2">{{ 'Color'|trans }}</th>
        <th rowspan="2">{{ 'Unit'|trans }}</th>
        <th colspan="2" align="center">{{ 'Openning'|trans }}</th>
        <th colspan="2" align="center">{{ 'Receive'|trans }}</th>
        <th colspan="2" align="center">{{ 'Issue'|trans }}</th>
        <th colspan="2" align="center">{{ 'Closing'|trans }}</th>
        <th rowspan="2">{{ 'Rate'|trans }}</th>

    </tr>
    <tr>
        <th>{{ 'Qty'|trans }}</th>
        <th>{{ 'Value'|trans }}</th>
        <th>{{ 'Qty'|trans }}</th>
        <th>{{ 'Value'|trans }}</th>
        <th>{{ 'Qty'|trans }}</th>
        <th>{{ 'Value'|trans }}</th>
        <th>{{ 'Qty'|trans }}</th>
        <th>{{ 'Value'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% if entities is defined and entities is not empty %}
        {% for row in entities %}
            {% set closingQty = 0 %}
            {% if opening is defined and opening[row.stockId] is defined and opening[row.stockId] is not empty and rangEntities is defined and rangEntities[row.stockId] is defined and rangEntities[row.stockId] is not empty %}
                {% set closingQty = (opening[row.stockId].remainingQuantity + rangEntities[row.stockId].stockIn - rangEntities[row.stockId].stockOut) %}
            {% endif %}
            {% if opening is defined and opening[row.stockId] is defined and opening[row.stockId] is not empty and rangEntities is defined and rangEntities[row.stockId] is not defined %}
                {% set closingQty = (opening[row.stockId].remainingQuantity) %}
            {% endif %}
            {% if opening is not defined and rangEntities is defined and rangEntities[row.stockId] is defined and rangEntities[row.stockId] is not empty %}
                {% set closingQty = (rangEntities[row.stockId].stockIn - rangEntities[row.stockId].stockOut) %}
            {% endif %}
            <tr>
                <td> {{ loop.index }}</td>
                <td> {{ row.itemCode }}</td>
                <td> {{ row.name }} </td>
                <td> {{ row.brandName }} </td>
                <td> {{ row.sizeName }} </td>
                <td> {{ row.colorName }} </td>
                <td> {{ row.unitName }} </td>
                <td align="center"> {% if opening is defined and opening[row.stockId] is defined and opening[row.stockId] is not empty %} {{ opening[row.stockId].remainingQuantity }} {% endif %} </td>
                <td align="right"> {{ row.price }} </td>
                <td> {% if rangEntities is defined and rangEntities[row.stockId] is defined and rangEntities[row.stockId] is not empty %} {{ rangEntities[row.stockId].stockIn }} {% endif %} </td>
                <td> {% if rangEntities is defined and rangEntities[row.stockId] is defined and rangEntities[row.stockId] is not empty %} {{ (rangEntities[row.stockId].stockIn * row.price)|number_format }} {% endif %} </td>
                <td> {% if rangEntities is defined and rangEntities[row.stockId] is defined and rangEntities[row.stockId] is not empty %} {{ (rangEntities[row.stockId].stockOut) }} {% endif %} </td>
                <td> {% if rangEntities is defined and rangEntities[row.stockId] is defined and rangEntities[row.stockId] is not empty %} {{ (rangEntities[row.stockId].stockOut * row.price)|number_format }} {% endif %} </td>
                <td>{{ closingQty }}</td>
                <td>{{ (closingQty*row.price)|number_format }}</td>
                <td>{{ row.price }} </td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>
