<ul class="sub-menu">
    {% if app.user.terminal.businessGroup.slug == "garment" %}
    {% if app.user.hasRoles(['ROLE_PROCUREMENT_REQUISITION','ROLE_DOMAIN'])  %}
        {% if app.user.hasRoles(['ROLE_PROCUREMENT_JOB_REQUISITION','ROLE_DOMAIN']) %}
            <li><a href="javascript:">{{ "Job Approval" }}</a>
                <ul>
                    <li><a href="{{ path('procure_jobrequisition') }}">{{ "Job Approval" }}</a></li>
                    <li><a href="{{ path('procure_jobrequisition_new') }}">{{ "New Job Approval" }}</a></li>
                </ul>
            </li>
        {% endif %}
        {% if app.user.hasRoles(['ROLE_PROCUREMENT_PURCHASE_REQUISITION','ROLE_DOMAIN']) %}
            <li><a href="javascript:">{{ "Purchase Requisition" }}</a>
                <ul>
                    <li><a href="{{ path('procure_requisition_garment') }}">{{ "Requisition" }}</a></li>
                    <li><a href="{{ path('procure_requisition_garment_new') }}">{{ "New Requisition" }}</a></li>
                    <li><a href="{{ path('procure_requisition_garment_kanban') }}">{{ "Kanban" }}</a></li>
                </ul>
            </li>
        {% endif %}
        {% if app.user.hasRoles(['ROLE_PROCUREMENT_FLOOR_REQUISITION','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
            <li><a href="javascript:">{{ "Floor Requisition" }}</a>
                <ul>
                    <li><a href="{{ path('procure_requisition_issue') }}">{{ "Floor Requisition" }}</a></li>
                    <li><a href="{{ path('procure_requisition_issue_new') }}">{{ "New Floor Requisition" }}</a></li>
                </ul>
            </li>
        {% endif %}
        {% if app.user.hasRoles(['ROLE_PROCUREMENT_ORDER_ISSUE','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
            <li><a href="{{ path('procure_requisition_issue_order') }}">{{ "Requsition Issued" }}</a></li>
        {% endif %}
        <li><a href="{{ path('procure_order_issue') }}">{{ "Order Issue" }}</a></li>
    {% endif %}
    {% if app.user.hasRoles(['ROLE_PROCUREMENT_APPROVAL','ROLE_DOMAIN']) %}
    <li><a href="javascript:">{{ "Approval" }}</a>
        <ul>
            <li><a href="{{ path('procure_jobrequisition_approval') }}">{{ "Job Approval" }}</a></li>
            <li><a href="{{ path('procure_requisition_garment_approval') }}">{{ "Purchase Requisition" }}</a></li>
            {% if app.user.hasRoles(['ROLE_PROCUREMENT_FLOOR_REQUISITION','ROLE_DOMAIN'])%}
                <li><a href="{{ path('procure_requisition_issue_approval') }}">{{ "Floor Requisition" }}</a></li>
            {% endif %}
            <li><a href="{{ path('procure_order_issue_approval') }}">{{ "Order Issue" }}</a></li>
        </ul>
    <li>
        {% endif %}
        {% endif %}
        {% if app.user.terminal.businessGroup.slug == "bank" %}
        {% if app.user.hasRoles(['ROLE_PROCUREMENT_REQUISITION','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
    <li><a href="javascript:">{{ "Requisition" }}</a>
        <ul>
            <li><a href="{{ path('procure_requisition') }}">{{ "Requisition" }}</a></li>
            <li><a href="{{ path('procure_requisition_new') }}">{{ "New Requisition" }}</a></li>
        </ul>
    </li>
    {% endif %}
    {% if app.user.hasRoles(['ROLE_PROCUREMENT_CHECKER','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
        <li><a href="{{ path('procure_requisition_approval') }}">{{ "Approval Requisition" }}</a></li>
    {% endif %}
    {% if app.user.hasRoles(['ROLE_PROCUREMENT_APPROVE','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
        <li><a href="javascript:">{{ "Store Requisition" }}</a>
            <ul>
                <li><a href="{{ path('procure_requisition_store_approval') }}">{{ "Store Requisition" }}</a></li>
                <li><a href="{{ path('procure_requisition_order_delivery') }}">{{ "Requisition Delivery" }}</a></li>
            </ul>
        </li>
    {% endif %}
    {% if app.user.hasRoles(['ROLE_PROCUREMENT_REQUISITION','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
        <li><a href="{{ path('procure_requisition_order_delivery') }}">{{ "Requisition Receive" }}</a></li>
    {% endif %}
    {% if app.user.hasRoles(['ROLE_PROCUREMENT_LSSD','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
        <li><a href="{{ path('procure_requisition_order_lssd') }}">{{ "Head of LSSD" }}</a></li>
    {% endif %}
    {% endif %}
    {% if app.user.hasRoles(['ROLE_PROCUREMENT_ADMIN','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
        <li class="">
            <a class="" href="javascript:"><span>{{ "Master Data"|trans }}</span></a>
            <ul class="sub-menu">
                <li><a class="dropdown-item" href="{{ path('procure_particular') }}">Setting</a></li>
            </ul>
        </li>
    {% endif %}
</ul>
{#  <ul class="sub-menu">
        {% if app.user.hasRoles(['ROLE_PROCUREMENT_REQUISITION','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
            <li><a href="javascript:">{{ "Requisition" }}</a>
                <ul>
                    <li><a href="{{ path('procure_requisition') }}">{{ "Requisition" }}</a></li>
                    <li><a href="{{ path('procure_requisition_new') }}">{{ "New Requisition" }}</a></li>
                </ul>
            </li>
        {% endif %}
        {% if app.user.hasRoles(['ROLE_PROCUREMENT_CHECKER','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
        <li><a href="{{ path('procure_requisition_approval') }}">{{ "Approval Requisition" }}</a></li>
        {% endif %}
        {% if app.user.hasRoles(['ROLE_PROCUREMENT_APPROVE','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
            <li><a href="javascript:">{{ "Store Requisition" }}</a>
                <ul>
                    <li><a href="{{ path('procure_requisition_store_approval') }}">{{ "Store Requisition" }}</a></li>
                    <li><a href="{{ path('procure_requisition_order_delivery') }}">{{ "Requisition Delivery" }}</a></li>
                </ul>
            </li>
        {% endif %}
        {% if app.user.hasRoles(['ROLE_PROCUREMENT_REQUISITION','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
            <li><a href="{{ path('procure_requisition_order_delivery') }}">{{ "Requisition Receive" }}</a></li>
        {% endif %}
        {% if app.user.hasRoles(['ROLE_PROCUREMENT_LSSD','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
            <li><a href="{{ path('procure_requisition_order_lssd') }}">{{ "Head of LSSD" }}</a></li>
        {% endif %}
    </ul>
  #}