{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Goods Receive'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_tender_bank_workorder') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Workorder'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap">
                                <thead class="thead-gray">
                                <form action="" method="get">
                                    <tr role="row">
                                        <td colspan="3">{{ form_widget(searchForm.invoice) }}</td>
                                        <td>{{ form_widget(searchForm.enlistedVendor) }}</td>
                                        <td><div class="date-group">{{ form_widget(searchForm.startDate) }}</div></td>
                                        <td><div class="date-group">{{ form_widget(searchForm.endDate) }}</div></td>
                                        <td>{{ form_widget(searchForm.filter) }}</td>
                                    </tr>
                                    {{ form_widget(searchForm._token) }}
                                </form>
                                <tr>
                                    <th scope="col">Created</th>
                                    <th scope="col">GRN</th>
                                    <th scope="col">Created By</th>
                                    <th scope="col">Workorder</th>
                                    <th scope="col">Vender/Supplier</th>
                                    <th scope="col">Receive Date</th>
                                    <th scope="col">Challan No</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Waiting For</th>
                                    <th scope="col">Status</th>
                                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in  pagination %}
                                    <tr>
                                        <td>{{ entity.created|date('d-m-Y') }}</td>
                                        <td>{{ entity.invoice }}</td>
                                        <td>{{ entity.createdBy }}</td>
                                        <td>{{ entity.workorderInvoice }}</td>
                                        <td>{{ entity.tenderVendor }}</td>
                                        <td>{{ entity.receiveDate|date('d-m-Y') }}</td>
                                        <td>{{ entity.challanNo }}</td>
                                        <td>{{ entity.total|number_format(2) }}</td>
                                        <td>{% if entity.reportTo is not empty %}{{ entity.reportToName }}{% endif %}</td>
                                        <td>{{ entity.process }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-mini blue-bg white-font entity-show" data-action="{{ path('procure_tender_bank_receive_show',{'id':entity.id}) }}" href="javascript:" data-title="Goods Receive No: {{ entity.invoice }}" id="postView-{{ entity.id }}"><i class="feather icon-eye"></i> Show</a>
                                                <a class="btn btn-mini orange-bg white-font" target="_blank" href="{{ path('procure_tender_bank_receive_preview',{'id':entity.id})}}" ><i class="feather icon-eye"></i> Preview</a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="count">
                                Total Records: {{ pagination.getTotalItemCount }}
                            </div>
                        </div>
                        <div class="col-md-9 navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/script.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}
