{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Purchase Requisition Information Details'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_tender_bank_branch_receive') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Goods Receive'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block card-block-bottom">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'Purchase Requisition Request'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Invoice No.</strong></div>
                                                    <div class="col-md-8">{{ entity.invoice }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Created</strong></div>
                                                    <div class="col-md-8">{{ entity.created|date('d-m-Y') }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Created By</strong></div>
                                                    <div class="col-md-8">{{ entity.createdBy.name }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Vendor/Supplier</strong></div>
                                                    <div class="col-md-8">{% if entity.workorder.tenderVendor is not empty %}{{ entity.workorder.tenderVendor.name }}{% endif %}</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Payment Mode</strong></div>
                                                    <div class="col-md-8">{% if entity.workorder.paymentMode is not empty %}{{ entity.workorder.paymentMode.name }}{% endif %}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Delivery Mode</strong></div>
                                                    <div class="col-md-8">{% if entity.workorder.deliveryMode is not empty %}{{ entity.workorder.deliveryMode.name }}{% endif %}</div>
                                                </div>
                                                {% if entity.workorder is not empty %}
                                                    <div class="row">
                                                        <div class="col-md-4"><strong>WO No.</strong></div>
                                                        <div class="col-md-8">{{ entity.workorder.invoice }}</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4"><strong>Created</strong></div>
                                                        <div class="col-md-8">{{ entity.workorder.created|date('d-m-Y') }}</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4"><strong>Created By</strong></div>
                                                        <div class="col-md-8"> {% if entity.workorder.createdBy is not empty %}{{ entity.workorder.createdBy.name }}{% endif %}</div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {{ form_start(form, {'attr': {'class': 'form-horizontal main-requisition right','id':'requisitionForm','enctype':'multipart/form-data'}}) }}
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.receiveDate, 'Receive Date'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                            <div class="col-md-6">
                                                                <span class="is-required">*</span>
                                                                {{ form_widget(form.receiveDate) }}
                                                                {{ form_errors(form.receiveDate) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.challanNo, 'Challan No'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                            <div class="col-md-6">
                                                                <span class="is-required"> *</span>
                                                                {{ form_widget(form.challanNo) }}
                                                                {{ form_errors(form.challanNo) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.content, 'Comments'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                    <div class="col-md-10">
                                                        {{ form_widget(form.content) }}
                                                        {{ form_errors(form.content) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-striped table-bordered table-hover display nowrap">
                                                    <thead class="thead-gray">
                                                    <tr>
                                                        <th scope="col">S/N</th>
                                                        <th scope="col">Description</th>
                                                        <th scope="col">UOM</th>
                                                        <th scope="col">WO-Qty</th>
                                                        <th scope="col">Remaining-Qty</th>
                                                        <th scope="col">WO-Price</th>
                                                        <th scope="col">Received Qty</th>
                                                        <th scope="col">Unit Price</th>
                                                        <th scope="col">Total</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="invoice">
                                                    {% if entity.receiveItems is defined and entity.receiveItems is not empty %}
                                                        {% for item in entity.receiveItems %}
                                                            <tr>
                                                                <td>{{ loop.index }}.</td>
                                                                <td>{% if item.tenderWorkorderItem.stock is not empty %}{{ item.tenderWorkorderItem.stock.item.name }}{% endif %}</td>
                                                                <td>{% if item.tenderWorkorderItem.stock is not empty and item.tenderWorkorderItem.stock.item.unit is not empty %}{{ item.tenderWorkorderItem.stock.item.unit.name }}{% endif %}</td>
                                                                <td>{{ item.tenderWorkorderItem.quantity }}</td>
                                                                <td>{{ item.tenderWorkorderItem.remaining }}</td>
                                                                <td>{{ item.tenderWorkorderItem.unitPrice }}</td>
                                                                <td>
                                                                    <input type="hidden" class="" name="item[]" value="{{ item.id }}" id="item-{{ item.id }}">
                                                                    <input type="text" class="td-input form-control number inline-quantity" data-action="{{ path('procure_tender_bank_receive_item_update',{'id':item.id}) }}" name="quantity[]" value="{{ item.quantity }}" data-id="{{ item.id }}" id="quantity-{{ item.id }}">
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="td-input form-control number inline-quantity" data-action="{{ path('procure_tender_bank_receive_item_update',{'id':item.id}) }}" name="price[]" value="{{ item.price }}" data-id="{{ item.id }}" id="price-{{ item.id }}">
                                                                </td>
                                                                <td id="subTotal-{{ item.id }}">{{ item.subTotal }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                    <tfoot>
                                                    <tr><td colspan="7" class="text-right">Grand Total</td><td class="total">{{ entity.total|number_format(2) }}</td></tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        {% if entity.moduleProcess.attachment == 1 and entity.moduleProcess.status == 1  %}
                                            {{ render(controller(
                                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::attachmentForm",
                                                { 'id': entity.id,'module':entity.module}
                                            )) }}
                                        {% endif %}
                                        <div class="clearfix"></div>
                                        {{ form_widget(form._token) }}
                                        {{ form_end(form) }}
                                        <br/>
                                    </div>
                                    <div class="clearfix"></div>
                                    {% if entity.moduleProcess.status == 1  %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{ render(controller(
                                                    "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::processUserForm",
                                                    { 'id': entity.id,'module':entity.module}
                                                )) }}
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            {% if app.user.id == entity.createdBy.id and entity.process == "New"  %}
                            <div class="form-actions inline-submit">
                                <div class="row">
                                    <div class="col-md-6 text-left">
                                        <div class="btn-group" role="group">
                                            <a class="btn purple-bg white-font form-submit btn" target="_blank" href="{{ path('procure_tender_bank_receive_preview',{'id':entity.id,'mode':'preview'}) }}" ><i class="feather icon-eye"></i> Preview</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <div class="btn-group" role="group">
                                            <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                            <button type="button" id="submitBtn" name="save" class="btn btn-info form-submit btn"><i class="fa fa-refresh"></i> Save & Next</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/script.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}
