{% if mode == "print" %}
    <script type="text/javascript">
        window.print();
        setTimeout(function () {
            window.open('', '_self', '');
            window.close();
        }, 2000);
    </script>
{% endif %}
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/print/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/theme/rbs/css/theme.css') }}">
    <style>
        body {
            color: #313131;
            font-family: sans-serif;
            font-size: 13px;
        }
        .table-item thead tr th{
            border:0.1px solid #c1bfbf;
            text-align: left;
            color: #3e444a;
        }
        .table-item tbody tr td{
            border:0.1px solid #c1bfbf;
            text-align: left;
            color: #3e444a;
        }
    </style>
</head>
<body>
    <div style="text-align: center; text-transform: uppercase; margin-bottom: 10px; font-weight: bold">
        <p>Goods Receive Detail</p>
    </div>


    <!-- Header -->
    <div>
        <div style="float: left; width: 30%;">
            <b>Invoice No.</b>
        </div>
        <div style="float: left; width: 25%;">
            {{ entity.invoice }}
        </div>
        <div style="float: left; width: 15%; ">
            <b>Payment Mode</b>
        </div>
        <div style="float: right; width: 25%;">
            {% if entity.workorder.paymentMode is not empty %}{{ entity.workorder.paymentMode.name }}{% endif %}
        </div>


        <div style="float: left; width: 30%; margin-top: 5px">
            <b>Created</b>
        </div>
        <div style="float: left; width: 25%;">
           {{  entity.created|date('d-m-Y') }}
        </div>
        <div style="float: left; width: 15%;">
            <b>Delivery Mode</b>
        </div>
        <div style="float: right; width: 25%;">
            {% if entity.workorder.deliveryMode is not empty %}{{ entity.workorder.deliveryMode.name }}{% endif %}
        </div>


        <div style="float: left; width: 30%; margin-top: 5px">
            <b>Created By</b>
        </div>
        <div style="float: left; width: 25%;">
            {{ entity.createdBy.name }}
        </div>
        <div style="float: left; width: 15%;">
            <b>WO Number</b>
        </div>
        <div style="float: right; width: 25%;">
            {{ entity.workorder.invoice }}
        </div>


        <div style="float: left; width: 30%; margin-top: 5px">
            <b>Vendor/Supplier</b>
        </div>
        <div style="float: left; width: 25%;">
            {% if entity.workorder.tenderVendor is not empty %}{{ entity.workorder.tenderVendor.name }}{% endif %}
        </div>
        <div style="float: left; width: 15%;">
            <b>Created</b>
        </div>
        <div style="float: right; width: 25%;">
            {{ entity.workorder.created|date('d-m-Y')}}
        </div>


        <div style="float: left; width: 30%; margin-top: 5px">
            <b>Vendor/Supplier</b>
        </div>
        <div style="float: left; width: 25%;">
            {% if entity.workorder.tenderVendor is not empty %}{{ entity.workorder.tenderVendor.name }}{% endif %}
        </div>
        <div style="float: left; width: 15%;">
            <b>Created By</b>
        </div>
        <div style="float: right; width: 25%;">
            {% if entity.workorder.createdBy is not empty %}{{ entity.workorder.createdBy.name }}{% endif %}
        </div>


        <div style="float: left; width: 30%; margin-top: 5px">
            <b>Content</b>
        </div>
        <div style="float: left; width: 70%;">
            {{ entity.content|raw }}
        </div>
    </div>
    <!-- Header -->




    <!-- Body -->
        <div  style="margin-top: 30px">
            <div style="margin-bottom: 10px">
                <b>Item</b>
            </div>

            <div>
                <table class="table-item" cellspacing="0" cellpadding="3" width="100%">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">S/N</th>
                            <th scope="col">Description</th>
                            <th scope="col">UOM</th>
                            <th scope="col">WO-Qty</th>
                            <th scope="col">Received Qty</th>
                            <th scope="col">Remaining Qty</th>
                        </tr>
                        </thead>
                        <tbody id="invoice">
                        {% if entity.receiveItems is defined and entity.receiveItems is not empty %}
                            {% for item in entity.receiveItems %}
                                <tr>
                                    <td>{{ loop.index }}.</td>
                                    <td>{% if item.stock is not empty %}{{ item.stock.item.name }}{% endif %}</td>
                                    <td>{% if item.stock is not empty and item.stock.unit is not empty %}{{ item.stock.unit.name }}{% endif %}</td>
                                    <td>{{ item.tenderWorkorderItem.quantity }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td id="remaining-{{ item.id }}">{{ item.tenderWorkorderItem.quantity- item.quantity }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
            </div>
        </div>




    <!-- Body -->
</body>
</html>