
<div class="portlet box blue ">
    <div class="portlet-body form">
        <div class="row form-body">
            <div class="form-inner-no-space">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4"><strong>Invoice No.</strong></div>
                            <div class="col-md-8">{{ entity.invoice }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Created</strong></div>
                            <div class="col-md-8">{{ entity.created|date('d-m-Y') }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Created By</strong></div>
                            <div class="col-md-8">{{ entity.createdBy.name }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Vendor/Supplier</strong></div>
                            <div class="col-md-8">{% if entity.workorder.tenderVendor is not empty %}{{ entity.workorder.tenderVendor.name }}{% endif %}</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4"><strong>Payment Mode</strong></div>
                            <div class="col-md-8">{% if entity.workorder.paymentMode is not empty %}{{ entity.workorder.paymentMode.name }}{% endif %}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Delivery Mode</strong></div>
                            <div class="col-md-8">{% if entity.workorder.deliveryMode is not empty %}{{ entity.workorder.deliveryMode.name }}{% endif %}</div>
                        </div>
                        {% if entity.workorder is not empty %}
                            <div class="row">
                                <div class="col-md-4"><strong>WO No.</strong></div>
                                <div class="col-md-8">{{ entity.workorder.invoice }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><strong>Created</strong></div>
                                <div class="col-md-8">{{ entity.workorder.created|date('d-m-Y') }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><strong>Created By</strong></div>
                                <div class="col-md-8"> {% if entity.workorder.createdBy is not empty %}{{ entity.workorder.createdBy.name }}{% endif %}</div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><strong>Content</strong></div>
                    <div class="col-md-10"><p>{{ entity.content|raw }}</p></div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover display nowrap">
                            <thead class="thead-gray">
                            <tr>
                                <th scope="col">S/N</th>
                                <th scope="col">Description</th>
                                <th scope="col">UOM</th>
                                <th scope="col">WO-Qty</th>
                                <th scope="col">Remaining-Qty</th>
                                <th scope="col">WO-Price</th>
                                <th scope="col">Received Qty</th>
                                <th scope="col">Unit Price</th>
                                <th scope="col">Total</th>
                            </tr>
                            </thead>
                            <tbody id="invoice">
                            {% if entity.receiveItems is defined and entity.receiveItems is not empty %}
                                {% for item in entity.receiveItems %}
                                    <tr>
                                        <td>{{ loop.index }}.</td>
                                        <td>{% if item.tenderWorkorderItem.stock is not empty %}{{ item.tenderWorkorderItem.stock.item.name }}{% endif %}</td>
                                        <td>{% if item.tenderWorkorderItem.stock is not empty and item.tenderWorkorderItem.stock.item.unit is not empty %}{{ item.tenderWorkorderItem.stock.item.unit.name }}{% endif %}</td>
                                        <td>{{ item.tenderWorkorderItem.quantity }}</td>
                                        <td>{{ item.tenderWorkorderItem.remaining }}</td>
                                        <td>{{ item.tenderWorkorderItem.unitPrice }}</td>
                                        <td>{{ item.quantity }}</td>
                                        <td>{{ item.price }}</td>
                                        <td id="subTotal-{{ item.id }}">{{ item.subTotal }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                            <tfoot>
                            <tr><td colspan="8" class="text-right">Grand Total</td><td>{{ entity.total }}</td></tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p><strong>Acceptence Comment by {{ entity.createdBy.name }}</strong></p>
                        {{ entity.acceptence|raw }}
                    </div>
                </div>
                {% if (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "user") %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ render(controller(
                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveUers",
                                { 'id': entity.id,'module':entity.module}
                            )) }}
                        </div>
                    </div>
                {% elseif (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "role") %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ render(controller(
                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveRoles",
                                { 'id': entity.id,'module':entity.module}
                            )) }}
                        </div>
                    </div>
                {% endif %}
                <br/>
            </div>
        </div>
    </div>
</div>

