{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Tender Floating Preparetion'|trans }}: {{ entity.invoice }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'Tender Floating Preparetion'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-12 form-box-header"><p>Tender Floating Preparation</p></div>
                                        </div>
                                        {{ form_start(form, {'attr': {'class': 'form-horizontal main-requisition right','id':'requisitionForm','enctype':'multipart/form-data','data-action':path('procure_tender_floating_memo_bank_ajax_update',{'id':entity.id})}}) }}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.condition, 'Template'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                    <div class="col-md-4">
                                                        {{ form_widget(form.condition) }}
                                                        {{ form_errors(form.condition) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.subject, 'Subject'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                    <div class="col-md-10">
                                                        <span class="is-required">*</span>
                                                        {{ form_widget(form.subject) }}
                                                        {{ form_errors(form.subject) }}
                                                        {{ form_help(form.subject) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.content, 'Body'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                    <div class="col-md-10">
                                                        {{ form_widget(form.content) }}
                                                        {{ form_errors(form.content) }}
                                                        {{ form_help(form.content) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>
                                        {% if entity.moduleProcess.attachment == 1 and entity.moduleProcess.status == 1  %}
                                            {{ render(controller(
                                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::attachmentForm",
                                                { 'id': entity.id,'module':entity.module}
                                            )) }}
                                        {% endif %}
                                        <div class="clearfix"></div>
                                        <div class="card-header grey-bg inner-header">
                                            <h5>Tender Floating Item Details</h5>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-striped table-bordered table-hover display nowrap">
                                                    <thead class="thead-green">
                                                    <tr>
                                                        <th scope="col">S/N</th>
                                                        <th scope="col">PR No</th>
                                                        <th scope="col">Item Name</th>
                                                        <th scope="col">PO issue QTY</th>
                                                        <th scope="col">Estimated Unit price in Taka</th>
                                                        <th scope="col">Estimated Total Amount in Taka</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% set total = 0 %}
                                                    {% if entity.tender.tenderItemDetails is not empty %}
                                                        {% set i = 1  %}
                                                        {% for item in entity.tender.tenderItemDetails %}
                                                            {% set total = total + (item.price * item.issueQuantity) %}
                                                            <tr>
                                                                <td>{{ loop.index }}</td>
                                                                <td>{{ item.requisitionItem.requisition.requisitionNo }}</td>
                                                                <td>{% if item.requisitionItem.item is not empty and item.requisitionItem.item %}{{ item.requisitionItem.item.name }}{% endif %}</td>
                                                                <td>{{ item.issueQuantity }}</td>
                                                                <td>{{ item.price }}</td>
                                                                <td>{{ (item.issueQuantity * item.price)|number_format(2) }}</td>
                                                            </tr>
                                                            {% if(item.tenderBatchItem is not empty and item.tenderBatchItem.comment) %}
                                                                <tr>
                                                                    <td></td>
                                                                    <td colspan="5">{{ item.tenderBatchItem.comment|raw }}</td>
                                                                </tr>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                    <tfoot>
                                                    <tr><td colspan="5" class="text-right"><strong>{{ total|words }}</strong></td><td><strong id="quotationTotal">{{ total|number_format(2) }}</strong></td></tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="col-md-2">&nbsp;</div>
                                                    <div class="col-md-10">
                                                        {{ form_widget(form.showItemList) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="card-header grey-bg inner-header">
                                            <h5>{{ 'Tender Floating Items'|trans }}</h5>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-striped table-bordered table-hover display nowrap">
                                                    <thead class="thead-gray">
                                                    <tr>
                                                        <th scope="col">S/N</th>
                                                        <th scope="col">Item Name</th>
                                                        <th scope="col">PO issue</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% if entity.tender.tenderItems is not empty %}
                                                        {% set i = 1  %}
                                                        {% for item in entity.tender.tenderItems %}
                                                            <tr>
                                                                <td>{{ loop.index }}</td>
                                                                <td>{% if item.stock is not empty and item.stock.item %}{{ item.stock.item.name }}{% endif %}</td>
                                                                <td>{{ item.issueQuantity }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="3">
                                                                    <input type="hidden" id="{{ item.id }}" name="item[]" value="{{ item.id }}">
                                                                    <textarea name="description[{{ item.id }}]" id="description-{{ item.id }}" class="textarea editor" rows="6" ></textarea>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.footerContent, 'Footer Content'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                    <div class="col-md-10">
                                                        {{ form_widget(form.footerContent) }}
                                                        {{ form_errors(form.footerContent) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.vendorType, 'Vendor Type'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                    <div class="col-md-7">
                                                        {{ form_widget(form.vendorType) }}
                                                        {{ form_errors(form.vendorType) }}
                                                    </div>
                                                    <input type="hidden" name="memo" id="memo" data-action="{{ path('procure_tender_floating_memo_bank_select_vendor') }}" value="{{ entity.id }}">
                                                    <div class="col-md-3">All Vendors <input type="checkbox" name="vendorSelect" id="vendorSelect" ></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-10" id="vendor-list">
                                                {% if vendors is not empty %}
                                                    {% for vendor in vendors %}
                                                        <div class="item">
                                                            <div><input class="vendorSelect" {% if seletedVendors[vendor.id] is defined and seletedVendors[vendor.id] == vendor.id %} checked="checked" {% endif%} type="checkbox" name="vendorSelect[]" id="vendorSelect-{{ vendor.id }}" value="{{ vendor.id }}" > {{ vendor.name }} </div>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="card-header grey-bg inner-header">
                                            <h5>Add Additional Vendors</h5>
                                            <div class="card-header-right">
                                                <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                                                    <button type="button" id="addrow" class="btn btn-sm  blue-bg white-font addmore"><i class="fas fa-plus"></i> Add Vendor</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body card-body-inner form-box-body">
                                            <div class="col-md-12 clone-block" id="clone-block">
                                                <div class="clone">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <input type="text" name="name[]" id="name" class="form-control form-control-sm" placeholder="Enter vendor name" value="">
                                                            <input type="hidden" name="metaId[]" id="metaId" value="">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <input type="text" name="contactName[]" id="contactName" class="form-control form-control-sm" placeholder="Enter contact name" value="">
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input type="text" name="address[]" id="address" class="form-control form-control-sm" placeholder="Enter vendor address" value="">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="input-group">
                                                                <input type="text" name="phone[]" id="phone" class="form-control form-control-sm" placeholder="Enter phone">
                                                                <div class="input-group-append">
                                                                    <div class="btn btn-sm btn-transparent red-font row-remove hidden">
                                                                        <i class="fa fa-remove"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% if entity.tender.tenderVendors is not empty %}
                                                {% for keyValue in entity.tender.tenderVendors %}
                                                    <div class="col-md-12 clone-remove" id="remove-{{ keyValue.id }}" style="margin-bottom: 5px">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <input type="text" name="name[]" id="name" class="form-control form-control-sm" placeholder="Enter vendor name" value="{{ keyValue.name }}">
                                                                <input type="hidden" name="metaId[]" id="metaId" value="{{ keyValue.id }}">
                                                            </div>
                                                            <div class="col-md-2">
                                                                <input type="text" name="contactName[]" id="contactName" class="form-control form-control-sm" placeholder="Enter contact name" value="{{ keyValue.contactPerson }}">
                                                            </div>
                                                            <div class="col-md-4">
                                                                <input type="text" name="address[]" id="address" class="form-control form-control-sm" placeholder="Enter vendor address" value="{{ keyValue.address }}">
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="input-group">
                                                                    <input type="text" name="phone[]" id="phone" class="form-control form-control-sm" placeholder="Enter phone" value="{{ keyValue.phone }}">
                                                                    <div class="input-group-append">
                                                                        <div data-action="{{ path('procure_tender_bank_vendor_delete',{'id':keyValue.id}) }}" data-id="{{ keyValue.id }}" class="btn  btn-sm btn-transparent red-font meta-remove">
                                                                            <i class="fas fa-remove"></i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                            <div class="clearfix"></div>
                                            {% if entity.conditionItems is defined  and  entity.conditionItems is not empty %}
                                                <div class="card-header grey-bg inner-header">
                                                    <h5>Addtional Information</h5>
                                                </div>
                                                <div class="clearfix"></div>
                                                {% for keyValue in entity.conditionItems %}
                                                    <div class="col-md-12 clone-remove"  style="margin-bottom: 5px">
                                                        <div class="row">
                                                            <div class="col-md-1">
                                                                <input type="checkbox" name="conditionStatus[{{ keyValue.id }}]" {% if keyValue.status == 1 %} checked {% endif %} value="{{ keyValue.status }}">
                                                                <input type="hidden" name="conditionItem[]"  value="{{ keyValue.id }}">
                                                            </div>
                                                            <div class="col-md-3">
                                                                <input type="text" name="conditionKey[{{ keyValue.id }}]" id="conditionKey-{{ keyValue.id }}" class="form-control form-control-sm" placeholder="Enter label name" value="{{ keyValue.metaKey }}">
                                                            </div>
                                                            <div class="col-md-8">
                                                                <div class="input-group">
                                                                    <textarea name="conditionValue[{{ keyValue.id }}]" id="conditionValue-{{ keyValue.id }}" class="form-control form-control-sm" placeholder="Enter your comments">{{ keyValue.metaValue }}</textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                            <div class="clearfix"></div>
                                            {% if entity.approveTo is not empty and entity.waitingProcess != "Rejected" %}
                                                <div class="row">
                                                    <div class="col-md-2">Re-checked From:<br/> {% if entity.approveTo %}{{ entity.approveTo.name }}{% endif %}</div>
                                                    <div class="col-md-10">{{ entity.comment|raw }}</div>
                                                </div>
                                            {% endif %}
                                            <div class="clearfix"></div>
                                        </div>
                                        {{ form_widget(form._token) }}
                                        {{ form_end(form) }}
                                        <div class="clearfix"></div>
                                         {% if entity.moduleProcess.status == 1  %}
                                             <div class="row">
                                                 <div class="col-md-12">
                                                     {{ render(controller(
                                                         "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::processUserForm",
                                                         { 'id': entity.id,'module':entity.module}
                                                     )) }}
                                                 </div>
                                             </div>
                                         {% endif %}
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions inline-submit">
                                <div class="row">
                                    <div class="col-md-6 text-left">
                                        <div class="btn-group" role="group">
                                            <a target="_blank" href="{{ path('procure_tender_floating_memo_bank_preview',{'id':entity.id})}}" id="" class="btn blue-bg white-font form-submit btn"><i class="fa fa-print"></i> Preview</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <div class="btn-group" role="group">
                                            <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                            <button type="button" id="submitBtn" name="save" class="btn btn-info form-submit"><i class="fa fa-refresh"></i> Save and Create</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <style>
        #vendor-list{
            display: grid;
            grid-template-columns: repeat(3, calc(100%/3));
            background-color: #d6d7d7;
            padding: 10px;
            border: 1px solid #000033;
        }
        .item {
            background-color: #d6d7d7;
            border: 1px solid #fff;
            padding: 20px;
            font-size: 15px;
            text-align: left;
        }
    </style>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/tender.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $("#vendorSelect").click(function () {
        $('.vendorSelect').not(this).prop('checked', this.checked);
    });
    $(document).on('change',".condition", function (event) {
        var condition = $(this).val();
        var url = Routing.generate('procure_bank_tender_memo_condition',{'id':'{{ entity.id }}'});
        $.get(url,{'condition':condition}, function( response ) {
        location.reload();
        });
    });
    jqueryTemporaryLoad();
{% endblock %}
