<html>
<head>
    <title>Memo and Minutes of the Floating Approval</title>
    <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link href="{{ asset('assets/theme/rbs/css/print.css') }}" type="text/css" rel="stylesheet" />
    <script src="{{ asset('assets/plugins/jquery/jquery-3.3.1.min.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/js/kinzi.print.min.js') }}"></script>
</head>
<body class="body">
{% if mode=='preview' %}
    <div class="row  print-bar">
        <div class="col-md-6 text-left"><strong>Preview</strong>: {{ entity.invoice }}</div>
        <div class="col-md-6 text-right" >
            <ul class="list-inline" id="grpChkBox">
                <li><button class='btn btn-print print'  id='{{ entity.id }}' ><i class='fa fa-print' ></i> Print</button></li>
            </ul>
        </div>
    </div>
{% endif %}
<div class="pcoded-inner-content">
    <!-- [ Main Content ] start -->
    <div class="row">
        <div class="card">
            <div class="print-header-content">
                <img src="{{ asset('assets/images/bank-asia-header.png') }}">
            </div>
            <li class="card-block" id="print-area">
                <div class="row">
                    <div class="col text-center" style="text-transform: uppercase"><p><strong>Memo and Minutes of the Floating Approval</strong></p></div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6 text-center py-2"><strong>Office Note: {{ entity.invoice }}</strong></div>
                    <div class="col-md-6 text-center py-2">{{ entity.created|date('F d, Y') }}</div>
                </div>
                <div class="row ">
                    <div class="col div-br-30"></div>
                </div>

                <div class="row">
                    <div class="col text-justify"><strong>Subject:{{ entity.subject|raw }}</strong></div>
                </div>

                <div class="row ">
                    <div class="col div-br-40"></div>
                </div>
                <div class="row">
                    <div class="col" style="text-align: justify">{{ entity.content|raw }}</div>
                </div>
                <div class="row ">
                    <div class="col div-br-30"></div>
                </div>
                {% if entity.showItemList == 1 %}
                <div class="row">
                    <div class="col-md-12">
                        <table class="table ">
                        <thead class="thead-gray">
                        <tr>
                            <th scope="col">S/N</th>
                            <th scope="col">Item Name</th>
                            <th scope="col">PO issue</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if entity.tender.tenderItems is not empty %}
                            {% set i = 1  %}
                            {% for item in entity.tender.tenderItems %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{% if item.stock is not empty and item.stock.item %}{{ item.stock.item.name }}{% endif %}</td>
                                    <td>{{ item.issueQuantity }}</td>
                                </tr>
                                {% if item.description %}
                                <tr><td colspan="3">{{ item.description|raw }}</td></tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col" style="text-align: justify">{{ entity.footerContent|raw }}</div>
                </div>
                <div class="row ">
                    <div class="col div-br-30"></div>
                </div>
                <div class="row ">
                    <div class="col">
                        <strong>Terms & Condition</strong>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-12">
                        <table class="table ">
                            <thead class="thead-green">
                        <tr>
                            <th scope="col">SL</th>
                            <th scope="col">Description</th>
                        </tr>
                        </thead>
                            <tbody>
                        {% if entity.conditionItems is defined and entity.conditionItems is not empty %}
                            {% for keyValue in entity.conditionItems %}
                                {% if keyValue.status == 1 %}
                                <tr>
                                    <th>{{ keyValue.metaKey|raw }}.</th><td>{{ keyValue.metaValue|raw }}</td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        </tbody>
                        </table>
                    </div>
                </div>
                <div class="row ">
                    <div class="col div-br-30"></div>
                </div>
                <div class="row ">
                    <div class="col">
                        <strong>Tender Meeting Notes</strong>
                    </div>
                </div>
                <div class="row ">
                    <div class="col div-br-15"></div>
                </div>
                <div class="row ">
                    <div class="col-md-12">{{ entity.tender.comment|raw }}</div>
                </div>
                <div class="row ">
                    <div class="col div-br-30"></div>
                </div>
                {% if approvals is not empty %}
                    <div class="row">
                        <div class="col">
                            <strong>Prepared by:</strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="grid-comment-signature">
                            <div class="col-md-12 text-left">
                                <div style="padding: 15px; margin-bottom: 15px; text-align: center">
                                    {% if entity.createdBy.profile.signaturePath is not empty %}
                                        <img style="height: 60px" src="{{ asset('uploads/user/'~entity.createdBy.profile.signaturePath) }}">
                                        <br/>
                                    {% endif%}
                                    {{ entity.createdBy.name }}<br/>{% if entity.createdBy.profile.designation %}{{ entity.createdBy.profile.designation.name }}{% endif %}
                                </div>
                            </div>
                            {% for index,list in approvals %}
                                {% if list.close == true  %}
                                    <div class="col-md-12 text-center" >
                                        <div style="padding: 10px">
                                            {% if list.assignTo.profile.signaturePath is not empty %}
                                                <img style="height: 60px" src="{{ asset('uploads/user/'~list.assignTo.profile.signaturePath) }}">
                                                <br/>
                                            {% endif%}
                                            {{ list.assignTo.name }}<br/>
                                            {% if list.assignTo.profile.designation %}{{ list.assignTo.profile.designation.name }}{% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="print-footer-content">
                <img src="{{ asset('assets/images/bank-asia/footer.png') }}">
            </div>
        </div>
    </div>
</div>
<script>
    $('.print').click(function(){
        $('#print-area').kinziPrint({
            importCSS: true,
            header: $('.print-header-content').html(),
            footer: $('.print-footer-content').html()
        });
    });
</script>

</body>
</html>

