{% extends 'layout.html.twig' %}

{% block body %}
<div class="pcoded-inner-content">
    <!-- [ Main Content ] start -->
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h5>{{ 'Floating Request List'|trans }}</h5>
                {#{% if app.user.hasRoles(['ROLE_PROCUREMENT_LSSD','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_tender_memo_bank_new') }}" class="btn btn-sm green-bg  white-font"><i class="fa fa-plus"></i>{{ 'Meeting Invitation'|trans }}</a>
                        </div>
                    </div>
                {% endif %}#}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet box green ">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalTitleLabel">Memo/Agenda No: {{ entity.invoice }}</h5>
                            </div>
                            <div class="portlet-body form">
                                <div class="row form-body">
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-12 text-center"><div style="margin-bottom:10px"><img style="width: 280px" src="{{ asset('assets/images/bank-asia.png') }}"></div>
                                                <p class="text-center">Logistics & Support Services Division</p></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 text-center"><h3><strong>Memo and Minutes of the Floating Approval</strong></h3></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Memo/Agenda ID.</strong></div>
                                                    <div class="col-md-8"><strong>:</strong>{{ entity.invoice }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Created</strong></div>
                                                    <div class="col-md-8"><strong>:</strong>{{ entity.created|date('d-m-Y') }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Created By</strong></div>
                                                    <div class="col-md-8"><strong>:</strong>{{ entity.createdBy.name }}</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2"><strong>Subject</strong></div>
                                            <div class="col-md-10"><strong>:</strong>{{ entity.subject|raw }}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-10">{{ entity.content|raw }}</div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-striped table-bordered table-hover display nowrap">
                                                    <thead class="thead-gray">
                                                    <tr>
                                                        <th scope="col">S/N</th>
                                                        <th scope="col">Item Name</th>
                                                        <th scope="col">PO issue</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% if entity.tender.tenderItems is not empty %}
                                                        {% set i = 1  %}
                                                        {% for item in entity.tender.tenderItems %}
                                                            <tr>
                                                                <td>{{ loop.index }}</td>
                                                                <td>{% if item.stock is not empty and item.stock.item %}{{ item.stock.item.name }}{% endif %}</td>
                                                                <td>{{ item.issueQuantity }}</td>
                                                            </tr>
                                                            <tr><td colspan="3">{{ item.description|raw }}</td></tr>
                                                        {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="card-header grey-bg inner-header">
                                            <h5>List of Vendors/Supplier</h5>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-striped table-bordered table-hover display nowrap">
                                                    <thead class="thead-green">
                                                    <tr>
                                                        <th scope="col">Vendor Name</th>
                                                        <th scope="col">Address</th>
                                                        <th scope="col">Phone</th>
                                                        <th scope="col">Email</th>
                                                        <th scope="col">Attachment</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% if entity.tender.tenderVendors is not empty %}
                                                        {% for vendor in entity.tender.tenderVendors  %}
                                                            <tr>
                                                                <td>{{ vendor.name }}</td>
                                                                <td>{{ vendor.address }}</td>
                                                                <td>{{ vendor.phone }}</td>
                                                                <td>{{ vendor.email }}</td>
                                                                <td>
                                                                    {% if vendor.path is not empty %}
                                                                        <div class="input-group">
                                                                            <a class="btn btn-mini blue-bg white-font" target="_blank" href="{{ path('procure_tender_bank_comparative_vendor_attachment',{'id':vendor.id}) }}">Download</a>
                                                                        </div>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        {% if entity.conditionItems is defined  and  entity.conditionItems is not empty %}
                                            <div class="card-header grey-bg inner-header">
                                                <h5>Addtional Information</h5>
                                            </div>
                                            <div class="clearfix"></div>
                                            {% for keyValue in entity.conditionItems %}
                                                {% if keyValue.status == 1 %}
                                                    <div class="col-md-12 clone-remove"  style="margin-bottom: 5px">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                {{ keyValue.metaKey }}
                                                            </div>
                                                            <div class="col-md-9">
                                                                {{ keyValue.metaValue }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        <div class="clearfix"></div>
                                        {% if entity.approveTo is not empty and entity.waitingProcess != "Rejected" %}
                                            <div class="row">
                                                <div class="col-md-2">Re-checked From:<br/> {% if entity.approveTo %}{{ entity.approveTo.name }}{% endif %}</div>
                                                <div class="col-md-10">{{ entity.comment|raw }}</div>
                                            </div>
                                        {% endif %}
                                        <div class="row">
                                            <div class="col-md-12">{{ entity.recommendationt }}</div>
                                        </div>
                                        <br/>
                                        {% if (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "user") %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveUers",
                                                        { 'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% elseif (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "role") %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveRoles",
                                                        { 'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% endif %}
                                        <br/>
                                        <div class="clearfix"></div>
                                        {{ form_start(form, {'attr': {'class': 'form-horizontal right','id':'approveForm','action':path('procure_tender_floating_memo_bank_process',{'id':entity.id})}}) }}
                                        <div class="form-inner-no-space">
                                            <div class="row">
                                                <div class="col-md-12 form-box-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                {{ form_label(form.comment, 'Comment'|trans, {'label_attr': {'class': 'col-md-12 text-left'}}) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <div class="col-md-12">
                                                                    {{ form_widget(form.comment,{'attr':{'rows':3}}) }}
                                                                    {{ form_errors(form.comment) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"><br/></div>
                                                    <div class="row">
                                                        <div class="col-md-12 text-right">
                                                            <div class="btn-group" >
                                                                {#<button type="submit" name="reject" value="reject" class="btn btn-sm red-bg white-font"><i class="feather icon-x-square"></i>Reject</button>#}
                                                                <button type="submit" name="re-checked" value="re-checked" class="btn btn-sm yellow-bg white-font"><i class="feather icon-arrow-left"></i>Back</button>
                                                                <button type="submit" name="approve" value="approve" class="btn btn-sm blue-bg white-font"><i class="feather icon-check-square"></i>Submit</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        {{ form_widget(form._token) }}
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/tender.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
    $(document).on('click', '#comment', function(e) {
    $.ajax({
    url         : $('form#approveForm').attr( 'action' ),
    type        : $('form#approveForm').attr( 'method' ),
    data        : new FormData($('form#approveForm')[0]),
    processData : false,
    contentType : false,
    success: function(response){
    location.reload();
    }
    });
    });
{% endblock %}






