{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Quotation preparation'|trans }}: {{ entity.invoice }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'Quotation preparation'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-12 form-box-header"><p>Quotation preparation</p></div>
                                        </div>
                                        {{ form_start(form, {'attr': {'class': 'form-horizontal main-requisition right','id':'requisitionForm','enctype':'multipart/form-data'}}) }}
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="col-md-6 text-right">{{ "Repeat Order ID"|trans }}</label>
                                                    <label class="col-md-6 text-left"><a class="entity-show" href="javascript:" data-action="{{ path('procure_tender_bank_show',{'id':entity.tender.id}) }}"  data-title="CS No: {{ entity.tender.invoice }}" id="postView-{{ entity.tender.id }}"><b>{{ entity.tender.invoice }}</b></a></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="col-md-6 text-right">{{ "Created"|trans }}</label>
                                                    <label class="col-md-6 text-left">{{ entity.created|date('d-m-Y') }}</label>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label class="col-md-4 text-right">{{ "Created By"|trans }}</label>
                                                    <label class="col-md-8 text-left">{{ entity.createdBy.name }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.subject, 'Subject'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                    <div class="col-md-10">
                                                        <span class="is-required">*</span>
                                                        {{ form_widget(form.subject) }}
                                                        {{ form_errors(form.subject) }}
                                                        {{ form_help(form.subject) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.email, 'Email'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                    <div class="col-md-10">
                                                        <span class="is-required">*</span>
                                                        {{ form_widget(form.email) }}
                                                        {{ form_errors(form.email) }}
                                                        {{ form_help(form.email) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.content, 'Body'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                    <div class="col-md-10">
                                                        {{ form_widget(form.content) }}
                                                        {{ form_errors(form.content) }}
                                                        {{ form_help(form.content) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>
                                       <div class="card-header grey-bg inner-header">
                                           <h5>{{ 'Repeat Order Items'|trans }}</h5>
                                       </div>
                                       <div class="clearfix"></div>
                                       <div class="row">
                                           <div class="col-md-12">
                                               <table class="table table-striped table-bordered table-hover display nowrap">
                                                   <thead class="thead-gray">
                                                   <tr>
                                                       <th scope="col">S/N</th>
                                                       <th scope="col">Item Name</th>
                                                       <th scope="col">Unit</th>
                                                       <th scope="col">Quantity</th>
                                                       <th scope="col">Estimated price</th>
                                                       <th scope="col">Quotation price</th>
                                                       <th scope="col">Estimated Total</th>
                                                       <th scope="col">Quotation Total</th>
                                                   </tr>
                                                   </thead>
                                                   <tbody>
                                                   {% set estimatedTotal = 0 %}
                                                   {% if entity.tender.tenderItems is not empty %}
                                                       {% set i = 1  %}
                                                       {% for item in entity.tender.tenderItems %}
                                                           {% set estimatedTotal = (estimatedTotal + (item.issueQuantity * item.stock.purchasePrice)) %}
                                                           <tr>
                                                               <td>{{ loop.index }}</td>
                                                               <td width="10%">{% if item.stock is not empty and item.stock.item %}{{ item.stock.item.name }}{% endif %}</td>
                                                               <td>{% if item.stock is not empty and item.stock.item %}{{ item.stock.item.unit.name }}{% endif %}</td>
                                                               <td>{{ item.issueQuantity }}</td>
                                                               <td>{{ item.stock.purchasePrice }}</td>
                                                               <td>
                                                                   <input type="text" class="form-control quotationPrice td-input" required="required" data-id="{{ item.issueQuantity }}" id="{{ item.id }}" name="unitPrice[{{ item.id }}]"  placeholder="Enter price" value="">
                                                               </td>
                                                               <td>{{ (item.issueQuantity * item.stock.purchasePrice)|number_format(2) }}</td>
                                                               <td class="quotationSub" id="quotationSubTotal-{{ item.id }}"></td>
                                                           </tr>
                                                           {% if item.stock.item.category is not empty and item.stock.item.category.categoryMetas is defined and item.stock.item.category.categoryMetas is not empty %}
                                                               {% for meta in item.stock.item.category.categoryMetas %}
                                                                   <tr>
                                                                       <td colspan="3">{{ meta.metaKey }}</td>
                                                                       <td colspan="6">
                                                                           <input type="text" class="col-md-12 form-control">
                                                                       </td>
                                                                   </tr>
                                                               {% endfor %}
                                                           {% endif %}
                                                       {% endfor %}
                                                   {% endif %}
                                                   </tbody>
                                                   <tfoot>
                                                   <tr>
                                                      <td colspan="6" class="text-right"><strong>Grand Total</strong></td>
                                                      <td><strong>{{ estimatedTotal|number_format(2) }}</strong></td>
                                                      <td><strong id="quotationTotal"></strong></td>
                                                   </tr>
                                                   </tfoot>
                                               </table>
                                           </div>
                                       </div>
                                        <div class="clearfix"></div>
                                        {% if entity.moduleProcess.attachment == 1 and entity.moduleProcess.status == 1  %}
                                            {{ render(controller(
                                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::attachmentForm",
                                                { 'id': entity.id,'module':entity.module}
                                            )) }}
                                        {% endif %}
                                        <div class="clearfix"></div>
                                        <div class="clearfix"></div>
                                        <div class="card-header grey-bg inner-header">
                                            <h5>Addition Field Information</h5>
                                            <div class="card-header-right">
                                                <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                                                    <button type="button" id="addrow" class="btn btn-sm  blue-bg white-font addmore"><i class="fas fa-plus"></i>Add Row</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body card-body-inner form-box-body">
                                            <div class="row">
                                                <div class="col-md-12 clone-block" id="clone-block">
                                                    <div class="clone">
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                <input type="text" name="metaKey[]" id="metaKey" class="form-control form-control-sm" placeholder="Enter label name" value="">
                                                                <input type="hidden" name="metaId[]" id="metaId" value="">
                                                            </div>
                                                            <div class="col-md-10">
                                                                <div class="input-group">
                                                                    <strong>:&nbsp;&nbsp;&nbsp;</strong>
                                                                    <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter description">
                                                                    <div class="input-group-append">
                                                                        <div class="btn btn-sm btn-transparent red-font row-remove hidden">
                                                                            <i class="fa fa-remove"></i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        {% if entity.memoItems is not empty %}
                                                            {% for keyValue in entity.memoItems %}
                                                                <div class="col-md-12 clone-remove" id="remove-{{ keyValue.id }}" style="margin-bottom: 5px">
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <input type="hidden" name="metaId[]" id="metaId" value="{{ keyValue.id }}">
                                                                            <input type="text" name="metaKey[]" id="metaKey" class="form-control form-control-sm" placeholder="Enter label name" value="{{ keyValue.metaKey }}">
                                                                            <input type="hidden" name="attributeId[]"
                                                                                   value="{{ keyValue.id }}">
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div class="input-group">
                                                                                <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments" value="{{ keyValue.metaValue }}">
                                                                                <div class="input-group-append">
                                                                                    <div data-action="{{ path('gmb_category_meta_delete',{'id':keyValue.id}) }}" data-id="{{ keyValue.id }}" class="btn  btn-sm btn-transparent red-font meta-remove">
                                                                                        <i class="fas fa-remove"></i>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="clearfix"></div>
                                        {{ form_widget(form._token) }}
                                        {{ form_end(form) }}
                                        <div class="clearfix"></div>
                                        {% if entity.moduleProcess.approveType == 'user' and entity.moduleProcess.status == 1  %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::processUserForm",
                                                        { 'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% elseif (entity.moduleProcess.approveType == 'role' and entity.moduleProcess.status == 1)  %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::processRoleForm",
                                                        {'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions inline-submit">
                                <div class="row">
                                    <div class="col-md-6 text-left">
                                        <div class="btn-group" role="group">
                                            <a href="#" id="" class="btn blue-bg white-font form-submit btn"><i class="fa fa-print"></i> Print</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <div class="btn-group" role="group">
                                            <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                            <button type="button" id="submitBtn" name="save" class="btn btn-info form-submit"><i class="fa fa-refresh"></i> Save and Create</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <style>
        #vendor-list{
            display: grid;
            grid-template-columns: repeat(3, calc(100%/3));
            background-color: #d6d7d7;
            padding: 10px;
            border: 1px solid #000033;
        }
        .item {
            background-color: #d6d7d7;
            border: 1px solid #fff;
            padding: 20px;
            font-size: 15px;
            text-align: left;
        }
    </style>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/tender.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $("#vendorSelect").click(function () {
        $('input:checkbox').not(this).prop('checked', this.checked);
    });
    $(document).on('change',".condition", function (event) {
        var condition = $(this).val();
        var url = Routing.generate('procure_bank_tender_memo_condition',{'id':'{{ entity.id }}'});
        $.get(url,{'condition':condition}, function( response ) {
        location.reload();
        });
    });
    jqueryTemporaryLoad();
{% endblock %}
