
<div class="portlet box green">
    <div class="modal-header">
        <h5 class="modal-title" id="modalTitleLabel">Memo/Agenda No: {{ entity.invoice }}</h5>
    </div>
    <div class="portlet-body form">
        <div class="row form-body">
            <div class="form-inner-no-space">
                <div class="row">
                    <div class="col-md-12 text-center"><div style="margin-bottom:10px"><img style="width: 280px" src="{{ asset('assets/images/bank-asia.png') }}"></div>
                        <p class="text-center">Logistics & Support Services Division</p></div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center"><h3><strong>Memo and Minutes of the Floating Approval</strong></h3></div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4"><strong>Memo/Agenda ID.</strong></div>
                            <div class="col-md-8"><strong>:</strong>{{ entity.invoice }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Created</strong></div>
                            <div class="col-md-8"><strong>:</strong>{{ entity.created|date('d-m-Y') }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Created By</strong></div>
                            <div class="col-md-8"><strong>:</strong>{{ entity.createdBy.name }}</div>
                        </div>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><strong>Subject</strong></div>
                    <div class="col-md-10"><strong>:</strong>{{ entity.subject|raw }}</div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">{{ entity.content|raw }}</div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover display nowrap">
                            <thead class="thead-gray">
                            <tr>
                                <th scope="col">S/N</th>
                                <th scope="col">Item Name</th>
                                <th scope="col">PO issue</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if entity.tender.tenderItems is not empty %}
                                {% set i = 1  %}
                                {% for item in entity.tender.tenderItems %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{% if item.stock is not empty and item.stock.item %}{{ item.stock.item.name }}{% endif %}</td>
                                        <td>{{ item.issueQuantity }}</td>
                                    </tr>
                                    <tr><td colspan="3">{{ item.description|raw }}</td></tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">{{ entity.footerContent|raw }}</div>
                </div>
                <div class="clearfix"></div>
                <div class="card-header grey-bg inner-header">
                    <h5>List of Vendors/Supplier</h5>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover display nowrap">
                            <thead class="thead-green">
                            <tr>
                                <th scope="col">Vendor Name</th>
                                <th scope="col">Address</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Email</th>
                                <th scope="col">Attachment</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if entity.tender.tenderVendors is not empty %}
                                {% for vendor in entity.tender.tenderVendors  %}
                                    <tr>
                                        <td>{{ vendor.name }}</td>
                                        <td>{{ vendor.address }}</td>
                                        <td>{{ vendor.phone }}</td>
                                        <td>{{ vendor.email }}</td>
                                        <td>
                                            {% if vendor.path is not empty %}
                                                <div class="input-group">
                                                    <a class="btn btn-mini blue-bg white-font" target="_blank" href="{{ path('procure_tender_bank_comparative_vendor_attachment',{'id':vendor.id}) }}">Download</a>
                                                </div>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clearfix"></div>
                {% if entity.tender.comment is defined  and  entity.tender.comment is not empty %}
                    <div class="card-header grey-bg inner-header">
                        <h5>Tender Commitee Meeting Notes</h5>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        {{ entity.tender.comment|raw }}
                    </div>
                {% endif %}
                <div class="clearfix"></div>
                <div class="clearfix"></div>
                {% if entity.conditionItems is defined  and  entity.conditionItems is not empty %}
                    <div class="card-header grey-bg inner-header">
                        <h5>Addtional Information</h5>
                    </div>
                    <div class="clearfix"></div>
                    {% for keyValue in entity.conditionItems %}
                        {% if keyValue.status == 1 %}
                        <div class="col-md-12 clone-remove"  style="margin-bottom: 5px">
                            <div class="row">
                                <div class="col-md-3">
                                    {{ keyValue.metaKey }}
                                </div>
                                <div class="col-md-9">
                                    {{ keyValue.metaValue }}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class="clearfix"></div>
                {% if entity.approveTo is not empty and entity.waitingProcess != "Rejected" %}
                    <div class="row">
                        <div class="col-md-2">Re-checked From:<br/> {% if entity.approveTo %}{{ entity.approveTo.name }}{% endif %}</div>
                        <div class="col-md-10">{{ entity.comment|raw }}</div>
                    </div>
                {% endif %}
                <div class="clearfix"></div>
                <br/>
                {% if (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "user") %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ render(controller(
                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveUers",
                                { 'id': entity.id,'module':entity.module}
                            )) }}
                        </div>
                    </div>
                {% elseif (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "role") %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ render(controller(
                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveRoles",
                                { 'id': entity.id,'module':entity.module}
                            )) }}
                        </div>
                    </div>
                {% endif %}
                <br/>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<style>
    .grid-designation {
        width: 100%;
        display: grid;
        grid-gap: 0;
    }
    .grid-designation {
        grid-template-columns: repeat(3, calc(100%/3));
    }
    .grid-products {
        width: 100%;
        display: grid;
        grid-gap: 0;
    }
    .grid-products {
        grid-template-columns: repeat(2, calc(100%/2));
    }
</style>
