{% if vendors is not empty %}
    {% for vendor in vendors %}
        <div class="item">
            <div><input class="vendorSelect" type="checkbox" name="vendorSelect[]" id="vendorSelect-{{ vendor.id }}" value="{{ vendor.id }}" > {{ vendor.name }} </div>
        </div>
    {% endfor %}
{% endif %}
<style>
    #vendor-list{
        display: grid;
        grid-template-columns: repeat(3, calc(100%/3));
        background-color: #d6d7d7;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #000033;
    }
    .item {
        background-color: #d6d7d7;
        border: 1px solid #fff;
        padding: 20px;
        font-size: 15px;
        text-align: left;
    }
</style>
