{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Management Approval Memo Note'|trans }}: {{ entity.invoice }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'Management Approval Memo Note'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-12 form-box-header"><p>{{ 'Tender Inviation Approval Note'|trans }}</p></div>
                                        </div>
                                        {{ form_start(form, {'attr': {'class': 'form-horizontal main-requisition right','id':'requisitionForm','enctype':'multipart/form-data','data-action':path('procure_tender_management_memo_bank_ajax_update',{'id':entity.id})}}) }}
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="col-md-6 text-right">{{ "Tender Purchase Committe Note ID"|trans }}</label>
                                                    <label class="col-md-6 text-left">{{ entity.invoice }}</label>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label class="col-md-4 text-right">{{ "Purchase Memo ID"|trans }}</label>
                                                    <label class="col-md-8 text-left">
                                                        <a class="entity-show" data-action="{{ path('procure_purchase_memo_bank_show',{'id':entity.parent.id}) }}" href="javascript:" data-title="TB No: {{ entity.parent.invoice }}" id="postView-{{ entity.parent.id }}">{{ entity.parent.invoice }}</a>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">&nbsp;</div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label class="col-md-4 text-right">{{ "Tender CS ID"|trans }}</label>
                                                    <label class="col-md-8 text-left">
                                                        <a class="entity-show" href="javascript:void(0)" data-action="{{ path('procure_tender_bank_comparative_show',{'id':entity.parent.tenderComparative.id}) }}" data-title="TP No: {{ entity.parent.tenderComparative.invoice }}" id="postView-{{ entity.parent.tenderComparative.id }}"><b>{{ entity.parent.tenderComparative.invoice }}</b></a>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="col-md-6 text-right">{{ "Created"|trans }}</label>
                                                    <label class="col-md-6 text-left">{{ entity.created|date('d-m-Y') }}</label>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label class="col-md-4 text-right">{{ "Created By"|trans }}</label>
                                                    <label class="col-md-8 text-left">{{ entity.createdBy.name }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.condition, 'Template'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                    <div class="col-md-4">
                                                        <span class="is-required">*</span>
                                                        {{ form_widget(form.condition) }}
                                                        {{ form_errors(form.condition) }}
                                                        {{ form_help(form.condition) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.subject, 'Subject'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                    <div class="col-md-10">
                                                        <span class="is-required">*</span>
                                                        {{ form_widget(form.subject) }}
                                                        {{ form_errors(form.subject) }}
                                                        {{ form_help(form.subject) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.approvedVendor, 'Approved Vendor'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                    <div class="col-md-10">
                                                        <span class="is-required">*</span>
                                                        {{ form_widget(form.approvedVendor) }}
                                                        {{ form_errors(form.approvedVendor) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="card-body card-body-inner form-box-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        {{ form_label(form.content, 'Body'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                        <div class="col-md-10">
                                                            {{ form_widget(form.content) }}
                                                            {{ form_errors(form.content) }}
                                                            {{ form_help(form.content) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="clearfix"></div>
                                            {% if entity.conditionItems is defined  and  entity.conditionItems is not empty %}
                                                {% for keyValue in entity.conditionItems %}
                                                    <div class="col-md-12 clone-remove"  style="margin-bottom: 5px">
                                                        <div class="row">
                                                            <div class="col-md-1">
                                                                <input type="checkbox" name="conditionStatus[{{ keyValue.id }}]" {% if keyValue.status == 1 %} checked {% endif %} value="{{ keyValue.status }}">
                                                                <input type="hidden" name="conditionItem[]"  value="{{ keyValue.id }}">
                                                            </div>
                                                            <div class="col-md-3">
                                                                <input type="text" name="conditionKey[{{ keyValue.id }}]" id="conditionKey-{{ keyValue.id }}" class="form-control form-control-sm" placeholder="Enter label name" value="{{ keyValue.metaKey }}">
                                                            </div>
                                                            <div class="col-md-8">
                                                                <div class="input-group">
                                                                    <textarea name="conditionValue[{{ keyValue.id }}]" id="conditionValue-{{ keyValue.id }}" class="form-control form-control-sm" placeholder="Enter your comments">{{ keyValue.metaValue }}</textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="card-header grey-bg inner-header">
                                            <h5>{{ 'The comparative statement (CS) of participating bidders is as under:'|trans }}</h5>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table" id="datatable">
                                                    <thead class="thead-gray">
                                                    <tr>
                                                        <th scope="col">S/N</th>
                                                        <th scope="col">Name of Vendor</th>
                                                        <th scope="col">Quoted price</th>
                                                        <th scope="col">Position</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% set i= 0 %}
                                                    {% if entity.parent.tenderComparative.tender.tenderVendors is not empty %}
                                                        {% for vendor in entity.parent.tenderComparative.tender.tenderVendors %}
                                                            {% if vendor.subTotal > 0 %}
                                                                {% set i = i + 1 %}
                                                                <tr>
                                                                    <td>{{ i }}.</td>
                                                                    <td>{{ vendor.name }}</td>
                                                                    <td>{{ vendor.subTotal|number_format(2) }}</td>
                                                                    <td>{{ vendor.ordinal(i) }} Lowest</td>
                                                                </tr>

                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        {{ form_widget(form.footerContent) }}
                                                        {{ form_errors(form.footerContent) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>
                                        <div class="clearfix"></div>
                                        <div class="card-header grey-bg inner-header">
                                            <h5>{{ 'The Bidders revised quotation price is as under:'|trans }}</h5>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table" id="datatable">
                                                    <thead class="thead-gray">
                                                    <tr>
                                                        <th scope="col">S/N</th>
                                                        <th scope="col">Name of Vendor</th>
                                                        <th scope="col">Initial price</th>
                                                        <th scope="col">Revised price</th>
                                                        <th scope="col">Position</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% set i= 0 %}
                                                    {% if entity.parent.tenderComparative.tender.tenderVendors is not empty %}
                                                        {% for vendor in entity.parent.tenderComparative.tender.tenderVendors %}
                                                            {% if vendor.subTotal > 0 %}
                                                                {% set i = i + 1 %}
                                                                <tr>
                                                                    <td>{{ i }}.</td>
                                                                    <td>{{ vendor.name }}</td>
                                                                    <td>{{ vendor.subTotal|number_format(2) }}</td>
                                                                    <td>{{ vendor.revisedTotal|number_format(2) }}</td>
                                                                    <td>{{ vendor.ordinal(i) }} Lowest</td>
                                                                </tr>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="card-header grey-bg inner-header">
                                            <h5>{{ 'Comment/Recommendation'|trans }}</h5>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        {{ form_widget(form.recommendationt) }}
                                                        {{ form_errors(form.recommendationt) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{ form_widget(form._token) }}
                                        {{ form_end(form) }}
                                        <div class="clearfix"></div>
                                        {% if entity.moduleProcess.attachment == 1 and entity.moduleProcess.status == 1  %}
                                            {{ render(controller(
                                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::attachmentForm",
                                                { 'id': entity.id,'module':entity.module}
                                            )) }}
                                        {% endif %}
                                        <div class="clearfix"></div>
                                        <div class="clearfix"></div>
                                        {% if entity.moduleProcess.approveType == 'user' and entity.moduleProcess.status == 1  %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::processUserForm",
                                                        { 'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% elseif (entity.moduleProcess.approveType == 'role' and entity.moduleProcess.status == 1)  %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::processRoleForm",
                                                        {'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions inline-submit">
                                <div class="row">
                                    <div class="col-md-6 text-left">
                                        <div class="btn-group" role="group">
                                            <a target="_blank" href="{{ path('procure_tender_management_memo_bank_preview',{'id':entity.id,'mode':'preview'}) }}" id="" class="btn blue-bg white-font form-submit btn"><i class="fa fa-print"></i> Preview</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <div class="btn-group" role="group">
                                            <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                            <button type="button" id="submitBtn" name="save" class="btn btn-info form-submit"><i class="fa fa-refresh"></i> Save and Create</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/tender.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $(document).on('change',".condition", function (event) {
        var condition = $(this).val();
        var url = Routing.generate('procure_bank_tender_memo_condition',{'id':'{{ entity.id }}'});
        $.get(url,{'condition':condition}, function( response ) {
        location.reload();
        });
    });
    jqueryTemporaryLoad();
{% endblock %}
