{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Quotation Management Memo Note'|trans }}: {{ entity.invoice }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'Quotation Management Memo Note'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-12 form-box-header"><p>{{ 'Tender Inviation Approval Note'|trans }}</p></div>
                                        </div>
                                        {{ form_start(form, {'attr': {'class': 'form-horizontal main-requisition right','id':'requisitionForm','enctype':'multipart/form-data','data-action':path('procure_tender_management_memo_bank_ajax_update',{'id':entity.id})}}) }}
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="col-md-6 text-right">{{ "Tender Purchase Committe Note ID"|trans }}</label>
                                                    <label class="col-md-6 text-left">{{ entity.invoice }}</label>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label class="col-md-4 text-right">{{ "Purchase Memo ID"|trans }}</label>
                                                    <label class="col-md-8 text-left">
                                                        <a class="entity-show" data-action="{{ path('procure_purchase_memo_bank_show',{'id':entity.parent.id}) }}" href="javascript:" data-title="TB No: {{ entity.parent.invoice }}" id="postView-{{ entity.parent.id }}">{{ entity.parent.invoice }}</a>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">&nbsp;</div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label class="col-md-4 text-right">{{ "Tender CS ID"|trans }}</label>
                                                    <label class="col-md-8 text-left">
                                                        <a class="entity-show" href="javascript:" data-action="{{ path('procure_tender_bank_comparative_show',{'id':entity.parent.tenderComparative.id}) }}"  data-title="TP No: {{ entity.parent.tenderComparative.invoice }}" id="postView-{{ entity.parent.tenderComparative.id }}"><b>{{ entity.parent.tenderComparative.invoice }}</b></a>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="col-md-6 text-right">{{ "Created"|trans }}</label>
                                                    <label class="col-md-6 text-left">{{ entity.created|date('d-m-Y') }}</label>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label class="col-md-4 text-right">{{ "Created By"|trans }}</label>
                                                    <label class="col-md-8 text-left">{{ entity.createdBy.name }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.condition, 'Tender Template'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                    <div class="col-md-4">
                                                        <span class="is-required">*</span>
                                                        {{ form_widget(form.condition) }}
                                                        {{ form_errors(form.condition) }}
                                                        {{ form_help(form.condition) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.subject, 'Subject'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                    <div class="col-md-10">
                                                        <span class="is-required">*</span>
                                                        {{ form_widget(form.subject) }}
                                                        {{ form_errors(form.subject) }}
                                                        {{ form_help(form.subject) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.approvedVendor, 'Approved Vendor'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                    <div class="col-md-10">
                                                        <span class="is-required">*</span>
                                                        {{ form_widget(form.approvedVendor) }}
                                                        {{ form_errors(form.approvedVendor) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="card-body card-body-inner form-box-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        {{ form_label(form.content, 'Body'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                        <div class="col-md-10">
                                                            {{ form_widget(form.content) }}
                                                            {{ form_errors(form.content) }}
                                                            {{ form_help(form.content) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                {% if tender.tenderItems is not empty %}
                                                    {% set i = 1  %}
                                                    {% set estimatedTotal = 0  %}
                                                    <table class="table table-striped table-bordered table-hover display nowrap">
                                                            {% for item in tender.tenderItems %}
                                                                {% set estimatedTotal = (estimatedTotal + (item.issueQuantity * item.stock.purchasePrice)) %}
                                                                <thead class="thead-gray">
                                                                <tr>
                                                                    <th scope="col">S/N</th>
                                                                    <th scope="col">Item</th>
                                                                    <th scope="col">UOM</th>
                                                                    <th scope="col">Price</th>
                                                                    <th scope="col">Quantity</th>
                                                                    {% if tender.tenderVendors is not empty %}
                                                                        {% for vendor in tender.tenderVendors %}
                                                                            <th scope="col" colspan="3">{{ vendor.name }}</th>
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr>
                                                                    <td>{{ loop.index }}</td>
                                                                    <td width="10%">{% if item.stock is not empty and item.stock.item %}{{ item.stock.item.name }}{% endif %}</td>
                                                                    <td>{% if item.stock is not empty and item.stock.item %}{{ item.stock.item.unit.name }}{% endif %}</td>
                                                                    <td>{% if item.stock is not empty and item.stock.item %}{{ item.stock.purchasePrice }}{% endif %}</td>
                                                                    <td>{{ item.issueQuantity }}</td>
                                                                    {% if tender.tenderVendors is not empty %}
                                                                        {% for vendor in tender.tenderVendors %}
                                                                            <td>Unit Price</td>
                                                                            <td>Quantity</td>
                                                                            <td>Total</td>
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="5">{% if item.stock.item is not empty and item.stock.item.category is not empty %}{{ item.stock.item.category.name }}{% endif %}</td>
                                                                    {% if tender.tenderVendors is not empty %}
                                                                        {% for vendor in tender.tenderVendors %}
                                                                            {% set uniqueID = item.id~'-'~vendor.id %}
                                                                            <td>
                                                                                <input type="text" class="form-control td-input updateCSItem" data-id="{{ comparativeItems[uniqueID]['comparativeId'] }}" id="unitPrice-{{ comparativeItems[uniqueID]['comparativeId'] }}" name="unitPrice-{{ comparativeItems[uniqueID]['comparativeId'] }}" data-action="{{ path('procure_tender_bank_comparative_item_update',{'id':comparativeItems[uniqueID]['comparativeId'] }) }}" data-vendor-id="{{ vendor.id }}" placeholder="Enter price" value="{{ comparativeItems[uniqueID]['unitPrice'] }}">
                                                                            </td>
                                                                            <td>
                                                                                <input type="text" class="form-control td-input updateCSItem" data-id="{{ comparativeItems[uniqueID]['comparativeId'] }}" id="quantity-{{ comparativeItems[uniqueID]['comparativeId'] }}" name="quantity-{{ comparativeItems[uniqueID]['comparativeId'] }}" data-action="{{ path('procure_tender_bank_comparative_item_update',{'id':comparativeItems[uniqueID]['comparativeId'] }) }}" data-vendor-id="{{ vendor.id }}" placeholder="Enter quantity" value="{{ comparativeItems[uniqueID]['quantity'] }}">
                                                                            </td>
                                                                            <th class="vendorTotal-{{ vendor.id }}" id="subTotal-{{ comparativeItems[uniqueID]['comparativeId'] }}">{{ comparativeItems[uniqueID]['subTotal']|number_format(2) }}</th>
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                </tr>
                                                                {% if item.stock.item.category is not empty and item.stock.item.category.categoryMetas is defined and item.stock.item.category.categoryMetas is not empty %}
                                                                    {% for meta in item.stock.item.category.categoryMetas %}
                                                                        <tr>
                                                                            <td colspan="5">{{ meta.metaKey }}</td>
                                                                            {% if tender.tenderVendors is not empty %}
                                                                                {% for vendor in tender.tenderVendors %}
                                                                                    {% set uniqueID = item.id~'-'~vendor.id~'-'~meta.id %}
                                                                                    <td colspan="3">
                                                                                        {% if meta.inputType == 'select' %}
                                                                                            {% set metaValues = meta.metaValue|split('|') %}
                                                                                            <select class="form-control updateCSItemAttribute" data-id="{{ comparativeItemAttribites[uniqueID]['attributeId'] }}" id="attribute-{{ comparativeItemAttribites[uniqueID]['attributeId'] }}" name="attribute-{{ comparativeItemAttribites[uniqueID]['attributeId'] }}" data-action="{{ path('procure_tender_bank_comparative_attribute_update',{'id':comparativeItemAttribites[uniqueID]['attributeId'] }) }}" name="">
                                                                                                <option>Select Value</option>
                                                                                                {% for val in metaValues %}
                                                                                                    <option {% if comparativeItemAttribites[uniqueID]['metaValue'] == val %} selected="selected" {% endif %} value="{{ val }}">{{ val }}</option>
                                                                                                {% endfor %}
                                                                                            </select>
                                                                                        {% else %}
                                                                                            <input type="text" class="form-control updateCSItemAttribute" data-id="{{ comparativeItemAttribites[uniqueID]['attributeId'] }}" id="attribute-{{ comparativeItemAttribites[uniqueID]['attributeId'] }}" name="attribute-{{ comparativeItemAttribites[uniqueID]['attributeId'] }}" data-action="{{ path('procure_tender_bank_comparative_attribute_update',{'id':comparativeItemAttribites[uniqueID]['attributeId'] }) }}" placeholder="{{ meta.metaValue }}" value="{{ comparativeItemAttribites[uniqueID]['metaValue'] }}">
                                                                                        {% endif %}
                                                                                    </td>
                                                                                {% endfor %}
                                                                            {% endif %}
                                                                        </tr>
                                                                    {% endfor %}
                                                                {% endif %}
                                                                </tbody>
                                                            {% endfor %}
                                                            <tfoot>
                                                            <tr><th colspan="4">Grand Total</th>
                                                                <td>{{ estimatedTotal|number_format(2) }}</td>
                                                                {% if tender.tenderVendors is not empty %}
                                                                    {% for vendor in tender.tenderVendors %}
                                                                        <th colspan="3" class="text-right">
                                                                            <strong  class="quotationSub" id="quotationSubTotal-{{ vendor.id }}">{{ vendor.subTotal|number_format(2) }}</strong></th>
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </tr>
                                                            </tfoot>
                                                    </table>

                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-striped table-bordered table-hover display nowrap">
                                                    <thead class="thead-blue">
                                                    <tr>
                                                        <th scope="col">S/N</th>
                                                        <th scope="col">Vendor Name</th>
                                                        <th scope="col">Address</th>
                                                        <th scope="col">Phone</th>
                                                        <th scope="col">Email</th>
                                                        <th scope="col">Remark</th>
                                                        <th scope="col">Attachment</th>
                                                        <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% if tender.tenderVendors is not empty %}
                                                        {% for vendor in tender.tenderVendors  %}
                                                            <tr>
                                                                <td>{{ loop.index }}</td>
                                                                <td>{{ vendor.name }}</td>
                                                                <td>{{ vendor.address }}</td>
                                                                <td>{{ vendor.phone }}</td>
                                                                <td>{{ vendor.email }}</td>
                                                                <td>
                                                                    <input type="hidden" name="tenderVendorId[]" value="{{ vendor.id }}">
                                                                    <input type="hidden" id="vendorCheck" name="vendorCheck[]"  value="{{ vendor.id }}">
                                                                    <input type="text" id="remark-{{ vendor.id }}" name="remark[]" placeholder="Enter remark" class="form-control" value="{{ vendor.remark }}">
                                                                </td>
                                                                <td>
                                                                    {% if vendor.path is empty %}
                                                                        <div class="input-group">
                                                                            <div class="custom-file">
                                                                                <input type="file" name="vendorFiles[]" class="custom-file-input" id="vendorFiles" aria-describedby="vendorFiles">
                                                                                <label class="custom-file-label" for="vendorFiles">Choose file</label>
                                                                            </div>
                                                                        </div>
                                                                    {% else %}
                                                                        <div class="text-right"><a class="btn btn-mini blue-bg white-font" target="_blank" href="{{ path('procure_tender_bank_comparative_vendor_attachment',{'id':vendor.id}) }}">Download</a></div>
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    <a class='btn  btn-mini red-bg white-font remove' data-id='{{ vendor.id }}' href='javascript:' data-action='{{ path('procure_tender_bank_comparative_vendor_delete',{'id':vendor.id}) }}' id='{{ vendor.id }}' ><i class='feather icon-trash-2'></i> Remove</a>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="card-header grey-bg inner-header">
                                            <h5>{{ 'Comment/Recommendation'|trans }}</h5>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        {{ form_widget(form.recommendationt) }}
                                                        {{ form_errors(form.recommendationt) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-header grey-bg inner-header">
                                            <h5>{{ 'Footer Content'|trans }}</h5>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{ form_widget(form.footerContent) }}
                                                {{ form_errors(form.footerContent) }}
                                            </div>
                                        </div>
                                        {{ form_widget(form._token) }}
                                        {{ form_end(form) }}
                                        <div class="clearfix"></div>
                                        {% if entity.moduleProcess.attachment == 1 and entity.moduleProcess.status == 1  %}
                                            {{ render(controller(
                                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::attachmentForm",
                                                { 'id': entity.id,'module':entity.module}
                                            )) }}
                                        {% endif %}
                                        <div class="clearfix"></div>
                                        <div class="clearfix"></div>
                                        {% if entity.moduleProcess.approveType == 'user' and entity.moduleProcess.status == 1  %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::processUserForm",
                                                        { 'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% elseif (entity.moduleProcess.approveType == 'role' and entity.moduleProcess.status == 1)  %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::processRoleForm",
                                                        {'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions inline-submit">
                                <div class="row">
                                    <div class="col-md-6 text-left">
                                        <div class="btn-group" role="group">
                                            <a href="#" id="" class="btn blue-bg white-font form-submit btn"><i class="fa fa-print"></i> Preview</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <div class="btn-group" role="group">
                                            <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                            <button type="button" id="submitBtn" name="save" class="btn btn-info form-submit"><i class="fa fa-refresh"></i> Save and Create</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/tender.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $(document).on('change',".condition", function (event) {
    var condition = $(this).val();
    var url = Routing.generate('procure_bank_tender_memo_condition',{'id':'{{ entity.id }}'});
    $.get(url,{'condition':condition}, function( response ) {
        location.reload();
    });
    });
    jqueryTemporaryLoad();
{% endblock %}
