{% extends 'layout.html.twig' %}

{% block body %}
<div class="pcoded-inner-content">
    <div class="row">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet box green">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalTitleLabel">Memo/Agenda No: {{ entity.invoice }}</h5>
                            </div>
                            <div class="portlet-body form">
                                <div class="row form-body">
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-12 text-center"><div style="margin-bottom:10px"><img style="width: 280px" src="{{ asset('assets/images/bank-asia.png') }}"></div>
                                                <p class="text-center">Logistics & Support Services Division</p></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 text-center"><h3><strong>Memo and Minutes of the Purchase Committee</strong></h3></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Meeting ID.</strong></div>
                                                    <div class="col-md-8"><strong>:</strong>{{ entity.invoice }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Created</strong></div>
                                                    <div class="col-md-8"><strong>:</strong>{{ entity.created|date('d-m-Y') }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Created By</strong></div>
                                                    <div class="col-md-8"><strong>:</strong>{{ entity.createdBy.name }}</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2"><strong>Subject</strong></div>
                                            <div class="col-md-10"><strong>:</strong>{{ entity.subject|raw }}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2"><strong>Tender Budget(BDT)</strong></div>
                                            <div class="col-md-10"><strong>:</strong> <strong>{{ entity.tenderBudget|number_format(2) }}</strong></div>
                                        </div>
                                        {% if entity.memoItems is not empty %}
                                            {% for keyValue in entity.memoItems %}
                                                <div class="row">
                                                    <div class="col-md-2">{{ keyValue.metaKey }}</div>
                                                    <div class="col-md-9 text-left"><strong>:</strong>
                                                        {{ keyValue.metaValue }}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-10">{{ entity.content|raw }}</div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="card-header grey-bg inner-header">
                                            <h5>{{ 'The comparative statement (CS) of participating bidders is as under:'|trans }}</h5>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table" id="datatable">
                                                    <thead class="thead-gray">
                                                    <tr>
                                                        <th scope="col">S/N</th>
                                                        <th scope="col">Name of Vendor</th>
                                                        <th scope="col">Quoted price</th>
                                                        <th scope="col">Position</th>
                                                        <th scope="col">Remark</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% set i= 0 %}
                                                    {% if entity.tenderComparative.tender.tenderVendors is not empty %}
                                                        {% for vendor in entity.tenderComparative.tender.tenderVendors %}
                                                            {% if vendor.subTotal > 0 %}
                                                                {% set i = i + 1 %}
                                                                <tr>
                                                                    <td>{{ i }}.</td>
                                                                    <td>{{ vendor.name }}</td>
                                                                    <td>{{ vendor.subTotal|number_format(2) }}</td>
                                                                    <td>{{ vendor.ordinal(i) }} Lowest</td>
                                                                    <td>{{ vendor.remark }}</td>
                                                                </tr>

                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">{{ entity.customContentOne|raw }}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">{{ entity.customContentTwo|raw }}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">{{ entity.customContentThree|raw }}</div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="card-header grey-bg inner-header">
                                            <h5>{{ 'The Bidders revised quotation price is as under:'|trans }}</h5>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table" id="datatable">
                                                    <thead class="thead-gray">
                                                    <tr>
                                                        <th scope="col">S/N</th>
                                                        <th scope="col">Name of Vendor</th>
                                                        <th scope="col">Initial price</th>
                                                        <th scope="col">Revised price</th>
                                                        <th scope="col">Position</th>
                                                        <th scope="col">Remark</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% set i= 0 %}
                                                    {% if entity.tenderComparative.tender.tenderVendors is not empty %}
                                                        {% for vendor in entity.tenderComparative.tender.tenderVendors %}
                                                            {% if vendor.subTotal > 0 %}
                                                                {% set i = i + 1 %}
                                                                <tr>
                                                                    <td>{{ i }}.</td>
                                                                    <td>{{ vendor.name }}</td>
                                                                    <td>{{ vendor.subTotal|number_format(2) }}</td>
                                                                    <td>{{ vendor.revisedTotal|number_format(2) }}</td>
                                                                    <td>{{ vendor.ordinal(i) }} Lowest</td>
                                                                    <td>{{ vendor.remark }}</td>
                                                                </tr>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="card-header grey-bg inner-header">
                                            <h5>{{ 'Comment/Recommendation of Purchase Committee'|trans }}</h5>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">{{ entity.recommendationt }}</div>
                                        </div>
                                        <br/>
                                        {% if (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "user") %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveUers",
                                                        { 'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% elseif (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "role") %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveRoles",
                                                        { 'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% endif %}
                                        <br/>
                                        <div class="clearfix"></div>
                                        {{ form_start(form, {'attr': {'class': 'form-horizontal right','id':'approveForm','action':path('procure_purchase_memo_bank_committee_process',{'id':entity.id})}}) }}
                                        <div class="form-inner-no-space">
                                            <div class="row">
                                                <div class="col-md-12 form-box-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                {{ form_label(form.comment, 'Comment'|trans, {'label_attr': {'class': 'col-md-12 text-left'}}) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <div class="col-md-12">
                                                                    {{ form_widget(form.comment,{'attr':{'rows':3}}) }}
                                                                    {{ form_errors(form.comment) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"><br/></div>
                                                    <div class="form-actions inline-submit">
                                                        <div class="row">
                                                            <div class="col-md-6 text-left">
                                                                {% if app.user.id == entity.createdBy.id %}
                                                                    <div class="btn-group" role="group">
                                                                        <button type="submit" name="reject" id="reject" value="reject" class="btn btn-sm red-bg white-font"><i class="feather icon-x-square"></i>Cancel</button>
                                                                        <button type="submit" name="approve" id="approve" value="approve" class="btn btn-sm green-bg white-font"><i class="feather icon-check-square"></i>Approve</button>
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                            <div class="col-md-6 text-right">
                                                                <div class="btn-group" role="group">
                                                                    {% if approver == 'valid' %}
                                                                        <button type="button" name="comment" id="comment" value="comment" class="btn btn-sm blue-bg white-font"><i class="feather icon-save"></i>Comment</button>
                                                                    {% endif %}
                                                                    <button type="button" name="meeting-reload" id="meeting-reload" value="approve" class="btn btn-sm yellow-bg white-font"><i class="feather icon-refresh-ccw"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        {{ form_widget(form._token) }}
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/tender.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
    $(document).on('click', '#comment', function(e) {
    $.ajax({
    url         : $('form#approveForm').attr( 'action' ),
    type        : $('form#approveForm').attr( 'method' ),
    data        : new FormData($('form#approveForm')[0]),
    processData : false,
    contentType : false,
    success: function(response){
    location.reload();
    }
    });
    });
{% endblock %}



