<html>
<head>
    <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link href="{{ asset('assets/theme/rbs/css/print.css') }}" type="text/css" rel="stylesheet"/>
    <style>
        body {
            font-size: 90% !important;
        }
        .table td, .table th {
            font-size: 90% !important;
        }
    </style>
</head>
<title>Requisition No: {{ entity.requisitionNo }}</title>
<body class="body">
<div class="print-header-content"><img src="{{ asset('assets/images/bank-asia/header.png') }}"></div>
<div id="print-area">
    <br/>
    <div class="row">
        <div class="col-md-12 text-center">
            <strong>Requisition For - {{ entity.requisitionType.name }}</strong><br/><br/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p><strong>Requisition No: </strong>{{ entity.requisitionNo }}</p>
            <p><strong>Created By: </strong>{{ entity.createdBy.name }}</p>
            {% if entity.branch is not empty %}
                <p><strong>Barnch Name:</strong> {{ entity.branch.name }}</p>
                <p>{{ entity.branch.address }}</p>
            {% else %}
                <p><strong>Department Name:</strong> {{ entity.department.name }}</p>
            {% endif %}
        </div>
        <div class="col-md-6 text-right">
            <p><strong>Created: </strong>{{ entity.created|date('d-m-y') }}</p>
            <p><strong>Priroty: </strong>{{ entity.priority.name }}</p>
            <p><strong>Expected Date: </strong>{% if entity.expectedDate %}{{ entity.expectedDate|date('d-m-Y') }}{% endif %}</p>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12">
            {{ entity.content|raw }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12">
            {{ include('@TerminalbdProcurement/bank/requisition-item/requisitionItemView.html.twig') }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ include('@TerminalbdProcurement/procurement-process/bank-approve-process.html.twig') }}
        </div>
    </div>
</div>
</body>
</html>
