<html>
<head>
    <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link href="{{ asset('assets/theme/rbs/css/print.css') }}" type="text/css" rel="stylesheet"/>
        <style>
            body {
                font-size: 90% !important;
            }
            .table td, .table th {
                font-size: 90% !important;
            }
        </style>
</head>
<title>Requisition No: {{ entity.requisitionNo }}</title>
<body class="body">
<div class="row">
    <div class="col-md-12 text-right print-bar">
        <ul class="list-inline" id="grpChkBox">
            <li>
                <button class='btn btn-print print' id='{{ entity.id }}'><i class='fa fa-print'></i> Print</button>
            </li>
            <li><a target="_blank" href="{{ path('procure_requisition_bank_preview', {id: entity.id,'mode':'pdf'}) }}"
                   class='btn btn-download yellow-bg download-pdf' id='{{ entity.id }}'><i class='fa fa-download'></i>
                    Download</a></li>
        </ul>
    </div>
</div>
<div id="pdf-area">
    <div class="print-header-content"><img src="{{ asset('assets/images/bank-asia/header.png') }}"></div>
    <div id="print-area">
        <br/>
        <div class="row">
            <div class="col-md-12 text-center">
                <strong>Requisition For - {{ entity.requisitionType.name }}</strong><br/><br/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p><strong>Requisition No: </strong>{{ entity.requisitionNo }}</p>
                <p><strong>Created By: </strong>{{ entity.createdBy.name }}</p>
                {% if entity.branch is not empty %}
                <p><strong>Barnch Name:</strong> {{ entity.branch.name }}</p>
                <p>{{ entity.branch.address }}</p>
                {% else %}
                    <p><strong>Department Name:</strong> {{ entity.department.name }}</p>
                {% endif %}
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4 text-left">
                <p><strong>Created: </strong>{{ entity.created|date('d-m-y') }}</p>
                <p><strong>Priroty: </strong>{% if entity.priority is not empty %}{{ entity.priority.name }}{% endif %}</p>
                <p><strong>Expected Date: </strong>{% if entity.expectedDate %}{{ entity.expectedDate|date('d-m-Y') }}{% endif %}</p>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                {{ entity.content|raw }}
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                {{ include('@TerminalbdProcurement/bank/requisition-item/requisitionItemView.html.twig') }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ include('@TerminalbdProcurement/procurement-process/bank-approve-process.html.twig') }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><br/><br/></div>
        </div>
    </div>
    <div class="print-footer-content">
        <div class="row">
            <div class="col-md-12">
                <img width="100%" height="100" src="{{ asset('assets/images/ev/ev-invoice-footer.png') }}">
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('assets/plugins/jquery/jquery-3.3.1.min.js') }}"></script>
<script type="application/javascript"
        src="{{ asset('bundles/terminalbdprocurement/js/kinzi.print.min.js') }}"></script>
<script>
    $('.print').click(function () {
        $('#print-area').kinziPrint({
            importCSS: true,
            header: $('.print-header-content').html(),
            footer: $('.print-footer-content').html()
        });
    });
</script>
</body>
</html>
