{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Create Requisition'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_requisition_bank',{'mode':'approve'})}}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Requisition'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="portlet box green ">
                        <div class="portlet-title">
                            <div class="caption">{{ 'Requisition Approval Details'|trans }} </div>
                        </div>
                        <div class="portlet-body form">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="d-flex flex-column bd-highlight mb-3">
                                        <div class="p-2 bd-highlight"><strong>Created By</strong> {{ entity.createdBy.name }}</div>
                                        <div class="p-2 bd-highlight"><strong>Location</strong> {% if entity.branch is not empty %} {{ entity.branch.name }}{% endif %}</div>
                                        <div class="p-2 bd-highlight"><strong>Department</strong> {% if entity.department is not empty %} {{ entity.department.name }}{% endif %}</div>
                                    </div>
                                </div>
                                <div class="col-md-4">&nbsp;</div>
                                <div class="col-md-4">
                                    <div class="d-flex flex-column bd-highlight mb-3">
                                        <div class="p-2 bd-highlight"><strong>Requisition Type</strong> {{ entity.requisitionType.name }}</div>
                                        <div class="p-2 bd-highlight"><strong>Requisition No.</strong> {{ entity.requisitionNo }}</div>
                                        <div class="p-2 bd-highlight"><strong>Created</strong> {{ entity.created|date('d-m-Y') }}</div>
                                    </div>
                                </div>
                            </div>
                            {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                            {{ include('@TerminalbdProcurement/bank/requisition-item/requisitionItemProcessView.html.twig') }}
                            {% if entity.moduleProcess.status == 1 %}
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ render(controller(
                                            "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveRoles",
                                            { 'id': entity.id,'module':entity.module}
                                        )) }}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-12 form-box-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.comment, 'Comment'|trans, {'label_attr': {'class': 'col-md-12 text-left'}}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                {{ form_widget(form.comment,{'attr':{'rows':6}}) }}
                                                                {{ form_errors(form.comment) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 text-right">
                                                        <div class="btn-group" >
                                                            <button type="submit" name="reject" value="reject"  class="btn btn-sm btn-warning white-font"><i class="feather icon-x-square"></i>Reject</button>
                                                            <button type="submit" name="approve" value="approve" class="btn btn-sm blue-bg white-font"><i class="feather icon-check-square"></i>Approve</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                </div>
                            </div>
                            {{ form_widget(form._token) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <style>
        .grid-products {
            width: 100%;
            display: grid;
            grid-gap: 0;
        }
        .grid-products {
            grid-template-columns: repeat(4, calc(100%/4));
        }
        .grid-products .col-xs-12 .col-md-12{
            margin-bottom: 36px;
        }
    </style>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}



