
<div class="portlet box blue ">
    <div class="portlet-body form">
        <div class="row form-body">
            <div class="form-inner-no-space">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4"><strong>Branch</strong></div>
                            <div class="col-md-6">{% if entity.branch is not empty %} {{ entity.branch.name }}{% endif %}</div>
                        </div>
                         <div class="row">
                            <div class="col-md-4"><strong>Department</strong></div>
                            <div class="col-md-6">{% if entity.department is not empty %} {{ entity.department.name }}{% endif %}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Created By</strong></div>
                            <div class="col-md-6">{{ entity.createdBy.name }}<br/>
                            {% if entity.createdBy.profile.designation is not empty %}
                                {{ entity.createdBy.profile.designation.name }}
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4"><strong>Requisition Type</strong></div>
                            <div class="col-md-6"> {{ entity.requisitionType.name }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Requisition No.</strong></div>
                            <div class="col-md-6">{{ entity.requisitionNo }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Created</strong></div>
                            <div class="col-md-6">{{ entity.created|date('d-m-Y') }}</div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12"><br/></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><strong>Details/Justification</strong></div>
                    <div class="col-md-9">{{ entity.content|raw }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12"><br/></div>
                </div>
                {{ include('@TerminalbdProcurement/bank/requisition-item/requisitionItemView.html.twig') }}
                {% if entity.moduleProcess.status == 1 %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ render(controller(
                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveRoles",
                                { 'id': entity.id,'module':entity.module}
                            )) }}
                        </div>
                    </div>
                {% endif %}
                <br/>
            </div>
        </div>
    </div>
</div>
