{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Requisition Information Details'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_requisition_bank_store_approval') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Store Requisition'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="d-flex flex-column bd-highlight mb-3">
                                <div class="p-2 bd-highlight text-center"><img src="{{ asset('assets/images/bank-asia.png') }}"></div>
                                <div class="p-2 bd-highlight text-center">Corporate Office</div>
                                <div class="p-2 bd-highlight text-center"><h4>Store Credit Note</h4></div>
                                <div class="p-2 bd-highlight text-center">Credite Note No:001212</div>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="d-flex flex-column bd-highlight mb-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label"><strong>Name of The Branch</strong></label>
                                            <div class="col-md-8">
                                                <label class="control-label">
                                                    {% if entity.branch is not empty %} {{ entity.branch.name }}{% endif %}<br/>
                                                    {% if entity.branch is not empty %} {{ entity.branch.address }}{% endif %}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label"><strong>Branch Requisition Ref:</strong></label>
                                            <div class="col-md-8">
                                                <label class="control-label">
                                                    {{ entity.createdBy.profile.employeeId }} - {{ entity.createdBy.name }}<br/>
                                                    {% if entity.createdBy.profile.designation is not empty %}{{ entity.createdBy.profile.designation.name }} {% endif %}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex flex-column bd-highlight mb-3">
                                <div class="p-2 bd-highlight text-right"><strong>Created</strong> {{ entity.created|date('d-m-Y') }}</div>
                                <div class="p-2 bd-highlight text-right"><strong>Requisition No.</strong> {{ entity.requisitionNo }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                <thead>
                                <tr>
                                    <th scope="col">S/N</th>
                                    <th scope="col">Item Code</th>
                                    <th scope="col">Item Name</th>
                                    <th scope="col">Unit</th>
                                    <th scope="col">Stock in Branch</th>
                                    <th scope="col">Ask Req. QTY</th>
                                    <th scope="col">Present Stock</th>
                                    <th scope="col">Approval QTY </th>
                                    <th scope="col">Remin Stock</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Mode of Delivery</th>
                                </tr>
                                </thead>
                                <tbody id="invoiceItem">
                                {% if entity.requisitionItems is not empty %}
                                    {% for item in entity.requisitionItems %}
                                        <tr id="remove-{{ item.id }}">
                                            <td>{{ loop.index }}</td>
                                            <td>{{ item.name }}</td>
                                            <td>{% if item.item.unit is not empty %}{{ item.item.unit.name }}{% endif %}</td>
                                            <td>{{ item.price }}</td>
                                             <td>{{ item.stockIn }}</td>
                                             <td>{{ item.stockIn }}</td>
                                             <td>{{ item.stock.remainingQuantity }}</td>
                                            <td>
                                                <input type="hidden" name="price-{{ item.id }}" id="price-{{ item.id }}" value="{{ item.price }}">
                                                <input type="number" style="width: 100px" data-id="{{ item.id }}" id="quantity-{{ item.id }}" name="quantity-{{ item.id }}" class="form-control form-control-sm input quantity" value="{{ item.quantity }}"></td>
                                            <td id="remainingQuantity-{{ item.stock.id }}">{{ item.stock.remainingQuantity }}</td>
                                            <td>{{ item.price }}</td>
                                            <td>{{ item.subTotal }}</td>
                                            <td>
                                                <select class="form-control form-control-sm" id="deliveryMode[]" id="deliveryMode-{{ item.id }}" >
                                                    {% for mode in deliveryModes %}
                                                        <option value="{{ mode.id }}">{{ mode.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    <tr><td colspan="10" class="text-right"><strong>SubTotal</strong></td><td>{{ entity.subTotal|number_format(2) }}</td></tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-sm-actions">
                        <div class="col-md-12 text-right">
                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown"><button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-print"></i>Print Preview</button>
                            <button type="submit" class="btn btn-sm blue-bg white-font"><i class="fa fa-save"></i>Submit</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/script.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}
