{% extends 'layout.html.twig' %}

{% block body %}
<div class="pcoded-inner-content">
    <!-- [ breadcrumb ] start -->
    <div class="row">
        {% include('flash-message.html.twig')  %}
    </div>
    <div class="row">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet box blue green border-blue">
                            <div class="portlet-body form">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalTitleLabel">TP No: {{ entity.invoice }}</h5>
                                </div>
                                <div class="row form-body">
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Invoice No.</strong></div>
                                                    <div class="col-md-8">{{ entity.invoice }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Created</strong></div>
                                                    <div class="col-md-8">{{ entity.created|date('d-m-Y') }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Created By</strong></div>
                                                    <div class="col-md-8">{{ entity.createdBy.name }}</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                {% if entity.tenderComparative is not empty %}
                                                    <div class="row">
                                                        <div class="col-md-4"><strong>CS No.</strong></div>
                                                        <div class="col-md-8">{{ entity.tenderComparative.invoice }}</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4"><strong>Created</strong></div>
                                                        <div class="col-md-8">{{ entity.tenderComparative.created|date('d-m-Y') }}</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4"><strong>Created By</strong></div>
                                                        <div class="col-md-8"> {% if entity.tenderComparative.createdBy is not empty %}{{ entity.tenderComparative.createdBy.name }}{% endif %}</div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2"><strong>Subject</strong></div>
                                            <div class="col-md-10"><p>{{ entity.subject|raw }}</p></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2"><strong>Body</strong></div>
                                            <div class="col-md-10"><p>{{ entity.content|raw }}</p></div>
                                        </div>
                                        {% if entity.conditionItems is defined and entity.conditionItems is not empty %}
                                            {% for keyValue in entity.conditionItems %}
                                                {% if keyValue.status == 1 %}
                                                    <div class="row">
                                                        <div class="col-md-2">{{ loop.index }}. {{ keyValue.metaKey }}</div>
                                                        <div class="col-md-10">{{ keyValue.metaValue|raw }}</div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        <div class="card-header grey-bg inner-header">
                                            <h5>Tender Items</h5>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-striped table-bordered table-hover display nowrap">
                                                    <thead class="thead-gray">
                                                    <tr>
                                                        <th scope="col">S/N</th>
                                                        <th scope="col">Item Name</th>
                                                        <th scope="col">PO issue</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% if entity.tenderItems is not empty %}
                                                        {% set i = 1  %}
                                                        {% for item in entity.tenderItems %}
                                                            <tr>
                                                                <td>{{ loop.index }}</td>
                                                                <td>{% if item.stock is not empty and item.stock.item %}{{ item.stock.item.name }}{% endif %}</td>
                                                                <td>{{ item.issueQuantity }}</td>
                                                            </tr>
                                                            <tr><td colspan="3">{{ item.description|raw }}</td></tr>
                                                        {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="card-header grey-bg inner-header">
                                            <h5>Requested Vendors</h5>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-striped table-bordered table-hover display nowrap">
                                                    <thead class="thead-blue">
                                                    <tr>
                                                        <th scope="col">S/N</th>
                                                        <th scope="col">Vendor Name</th>
                                                        <th scope="col">Contact Person</th>
                                                        <th scope="col">Email</th>
                                                        <th scope="col">Phone</th>
                                                        <th scope="col">Address</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% if entity.tenderVendors is not empty %}
                                                        {% set i = 1  %}
                                                        {% for vendor in entity.tenderVendors %}
                                                            <tr>
                                                                <td>{{ loop.index }}</td>
                                                                <td>{{ vendor.name }}</td>
                                                                <td>{{ vendor.contactPerson }}</td>
                                                                <td>{{ vendor.email }}</td>
                                                                <td>{{ vendor.phone }}</td>
                                                                <td>{{ vendor.address|raw }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="card-header grey-bg inner-header">
                                            <h5>Meeting Comments</h5>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                {% if entity.meetingComments is defined and entity.meetingComments is not empty %}

                                                    <table class="table table-striped table-bordered table-hover display nowrap">
                                                        <thead class="thead-gray">
                                                        <tr>
                                                            <th scope="col">S/N</th>
                                                            <th scope="col">Metting Id</th>
                                                            <th scope="col">Date</th>
                                                            <th scope="col">Comment User</th>
                                                            <th scope="col">Comment</th>
                                                            <th scope="col">Status</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for meeting in entity.meetingComments %}
                                                            <tr>
                                                                <td>{{ loop.index }}</td>
                                                                <td>{{ meeting.committee.invoice }}</td>
                                                                <td>{{ meeting.updated|date('d-m-Y') }}</td>
                                                                <td>{{ meeting.createdBy.name }}</td>
                                                                <td>{{ meeting.comment|raw }}</td>
                                                                <td>{{ meeting.process }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% if (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "user") %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveUers",
                                                        { 'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% elseif (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "role") %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveRoles",
                                                        { 'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% endif %}
                                        {{ form_start(form, {'attr': {'class': 'form-horizontal right','id':'approveForm','action':path('procure_tender_bank_committee_process',{'id':entity.id})}}) }}
                                        <div class="form-inner-no-space">
                                            <div class="row">
                                                <div class="col-md-12 form-box-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                {{ form_label(form.comment, 'Comment'|trans, {'label_attr': {'class': 'col-md-12 text-left'}}) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <div class="col-md-12">
                                                                    {{ form_widget(form.comment,{'attr':{'rows':3}}) }}
                                                                    {{ form_errors(form.comment) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"><br/></div>
                                                    <div class="form-actions inline-submit">
                                                        <div class="row">
                                                            <div class="col-md-6 text-left">
                                                                {% if app.user.id == entity.createdBy.id %}
                                                                    <div class="btn-group" role="group">
                                                                        <button type="submit" name="reject" id="reject" value="reject" class="btn btn-sm red-bg white-font"><i class="feather icon-x-square"></i>Cancel</button>
                                                                        <button type="submit" name="approve" id="approve" value="approve" class="btn btn-sm green-bg white-font"><i class="feather icon-check-square"></i>Approve</button>
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                            <div class="col-md-6 text-right">
                                                                <div class="btn-group" role="group">
                                                                    {% if approver == 'valid' %}
                                                                        <button type="button" name="comment" id="comment" value="comment" class="btn btn-sm blue-bg white-font"><i class="feather icon-save"></i>Comment</button>
                                                                    {% endif %}
                                                                    <button type="button" name="meeting-reload" id="meeting-reload" value="approve" class="btn btn-sm yellow-bg white-font"><i class="feather icon-refresh-ccw"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        {{ form_widget(form._token) }}
                                        {{ form_end(form) }}
                                        <br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/tender.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
    $(document).on('click', '#comment', function(e) {
    $.ajax({
    url         : $('form#approveForm').attr( 'action' ),
    type        : $('form#approveForm').attr( 'method' ),
    data        : new FormData($('form#approveForm')[0]),
    processData : false,
    contentType : false,
    success: function(response){
    location.reload();
    }
    });
    });
{% endblock %}






