{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Procurement Preparetion'|trans }}: {{ entity.invoice }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'Procurement Preparetion'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-12 form-box-header"><p>Procurement preparation</p></div>
                                        </div>
                                        {{ form_start(form, {'attr': {'class': 'form-horizontal main-requisition right','id':'requisitionForm','enctype':'multipart/form-data','data-action':path('procure_tender_preparetion_bank_ajax_update',{'id':entity.id})}}) }}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.condition, 'Template'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                    <div class="col-md-10">
                                                        {{ form_widget(form.condition) }}
                                                        {{ form_errors(form.condition) }}
                                                        {{ form_help(form.condition) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    {{ form_label(form.processMode, 'Process Mode'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                    <div class="col-md-6">
                                                        <span class="is-required">*</span>
                                                        {{ form_widget(form.processMode) }}
                                                        {{ form_errors(form.processMode) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8" id="workOrder" {% if entity.processMode != "repeat-order" %} style="display: none" {% endif %}>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label required" for="workOrder">Work Order</label>
                                                    <div class="col-md-4">
                                                        <select data-action="{{ path('procure_tender_bank_tender_workorder',{'id':entity.id,'mode':'workorder'}) }}" id="workOrder" name="workOrder" required="required"  class="form-control input select2Workorder select2">
                                                            {% if entity.workOrder is defined and entity.workOrder is not empty %}
                                                            <option value="{{ entity.workOrder.id }}" selected="selected">{{ entity.workOrder.invoice }}</option>
                                                            {% endif %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8" id="directWorkOrder" {% if entity.processMode != "direct" %} style="display: none" {% endif %}>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label required" for="directWorkOrder">Vendor Name</label>
                                                    <div class="col-md-4">
                                                        <select data-action="{{ path('procure_tender_bank_tender_workorder',{'id':entity.id,'mode':'vendor'}) }}" id="directVendor" name="directVendor" required="required"  class="form-control input select2Vendor select2">
                                                            {% if entity.directVendor is defined and entity.directVendor is not empty %}
                                                                <option value="{{ entity.directVendor.id }}" selected="selected">{{ entity.directVendor.companyName }}</option>
                                                            {% endif %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% if entity.workorder is defined and entity.workorder is not empty  and entity.processMode == "repeat-order" %}
                                            <div class="row">
                                                <label class="col-md-2 control-label required" for="workOrder"></label>
                                                <div class="col-md-10">
                                                    <table class="table table-striped table-bordered table-hover display nowrap">
                                                        <thead class="thead-gray">
                                                        <tr>
                                                            <th scope="col" colspan="4">Repeat Order Referrenc Information</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% if entity.workorder.tenderComparative.tender.tenderCommittee %}
                                                            <tr>
                                                                <th scope="col">Tender Committee Memo No</th>
                                                                <th scope="col">{{ entity.workorder.tenderComparative.tender.tenderCommittee.invoice }}</th>
                                                                <th scope="col">{{ entity.workorder.tenderComparative.tender.tenderCommittee.created|date('d-m-y') }}</th>
                                                                <th scope="col"><a href="{{ path('procure_tender_committee_bank_preview',{'id':entity.workorder.tenderComparative.tender.tenderCommittee.id}) }}" target="_blank">Details</a></th>
                                                            </tr>
                                                        {% endif %}
                                                        {% if entity.workorder.managementMemo.parent.tenderCommittee %}
                                                            <tr>
                                                                <th scope="col">Purchase Committee No</th>
                                                                <th scope="col">{{ entity.workorder.managementMemo.parent.tenderCommittee.invoice }}</th>
                                                                <th scope="col">{{ entity.workorder.managementMemo.parent.tenderCommittee.created|date('d-m-y') }}</th>
                                                                <th scope="col"><a href="{{ path('procure_purchase_committee_bank_preview',{'id':entity.workorder.managementMemo.parent.tenderCommittee.id}) }}" target="_blank">Details</a></th>
                                                            </tr>
                                                        {% endif %}
                                                        <tr>
                                                            <th scope="col">Management Memo No</th>
                                                            <th scope="col"> {{ entity.workorder.managementMemo.invoice }}</th>
                                                            <th scope="col">{{ entity.workorder.managementMemo.created|date('d-m-y') }}</th>
                                                            <th scope="col"><a href="{{ path('procure_tender_management_memo_bank_preview',{'id':entity.workorder.managementMemo.id}) }}" target="_blank">Details</a></th>
                                                        </tr>
                                                        <tr>
                                                            <th scope="col">Work Order No</th>
                                                            <th scope="col">{{ entity.workorder.invoice }}</th>
                                                            <th scope="col">{{ entity.workorder.created|date('d-m-y') }}</th>
                                                            <th scope="col"><a href="{{ path('procure_tender_bank_workorder_preview',{'id':entity.workorder.id}) }}" target="_blank">Details</a></th>
                                                        </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.subject, 'Subject'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                    <div class="col-md-10">
                                                        <span class="is-required">*</span>
                                                        {{ form_widget(form.subject) }}
                                                        {{ form_errors(form.subject) }}
                                                        {{ form_help(form.subject) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.content, 'Description'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                    <div class="col-md-10">
                                                        {{ form_widget(form.content) }}
                                                        {{ form_errors(form.content) }}
                                                        {{ form_help(form.content) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="{{ form.vendors.vars.id }}" class="control-label col-md-2"> Vendor Selection</label>
                                                    <div class="col-md-10">
                                                        <div class="input-icon right">
                                                            <div class="controls">
                                                                {{ form_errors(form.vendors) }}
                                                                {{ form_widget(form.vendors, {'attr': {'class': 'form-control multi-select2 span6 m-wrap'}}) }}
                                                                {{ form_help(form.vendors) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div id="quotation" {% if entity.processMode is not empty and entity.processMode != "quotation" %} style="display: none" {% endif %}>

                                        <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-10" id="vendor-list">
                                                {% if vendors is not empty %}
                                                    {% for vendor in vendors %}
                                                        <div class="item">
                                                            <div><input type="checkbox" class="vendorSelect" name="vendorSelect[]" id="vendorSelect-{{ vendor.id }}" value="{{ vendor.id }}" > {{ vendor.name }} </div>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        {% if entity.moduleProcess.attachment == 1 and entity.moduleProcess.status == 1  %}
                                            {{ render(controller(
                                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::attachmentForm",
                                                { 'id': entity.id,'module':entity.module}
                                            )) }}
                                        {% endif %}
                                        <div class="clearfix"></div>
                                        <div class="card-header grey-bg inner-header">
                                            <h5>{{ 'Tender Items'|trans }}</h5>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-striped table-bordered table-hover display nowrap">
                                                    <thead class="thead-gray">
                                                    <tr>
                                                        <th scope="col">S/N</th>
                                                        <th scope="col">PR No</th>
                                                        <th scope="col">Item Name</th>
                                                        <th scope="col">Unit</th>
                                                        <th scope="col">PR QTY</th>
                                                        <th scope="col">PO Issue</th>
                                                        <th scope="col">Cur. PO issue</th>
                                                        <th scope="col">Estimated Unit price in Taka</th>
                                                        <th scope="col">Estimated Total Amount in Taka</th>
                                                        <th scope="col" class="text-center"><i class="feather icon-settings"></i></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% set total = 0 %}
                                                    {% if entity.tenderItems is not empty %}
                                                        {% set i = 1  %}
                                                        {% for item in entity.tenderItemDetails %}
                                                            {% if item.requisitionItem.stock is not empty and workorderItems[item.requisitionItem.stock.id] is defined and workorderItems[item.requisitionItem.stock.id] is not empty %}
                                                                    {% set total = total + (workorderItems[item.requisitionItem.stock.id] * item.issueQuantity) %}
                                                            {% else %}
                                                                   {% set total = total + (item.price * item.issueQuantity) %}
                                                            {% endif %}
                                                            <tr>
                                                                <td>{{ loop.index }}</td>
                                                                <td><a target="_blank" href="{{ path('procure_requisition_bank_preview',{'id':item.requisitionItem.requisition.id}) }}">{{ item.requisitionItem.requisition.requisitionNo }}</a> </td>
                                                                <td>{% if item.requisitionItem.item is not empty and item.requisitionItem.item %}{{ item.requisitionItem.item.name }}{% endif %}</td>
                                                                <td>{% if item.requisitionItem.stock is not empty and item.requisitionItem.stock.item %}{{ item.requisitionItem.stock.item.unit.name }}{% endif %}</td>
                                                                <td>{{ item.requisitionItem.quantity }}</td>
                                                                <td>{% if selectedRows[item.requisitionItem.id] is defined %} {{ selectedRows[item.requisitionItem.id].poQuantity - item.issueQuantity }}{% endif %} </td>
                                                                <td>
                                                                    <input type="hidden" class="td-input form-control" name="itemId[{{ item.id }}]" value="{{ item.id }}" id="itemId-{{ item.id }}">
                                                                    <input type="text" class="td-input form-control quotationItem" data-id="{{ item.id }}" max="{% if selectedRows[item.requisitionItem.id] is defined %} {{ item.requisitionItem.quantity + item.issueQuantity - selectedRows[item.requisitionItem.id].poQuantity  }}{% endif %}" name="quantity[{{ item.id }}]" value="{{ item.issueQuantity }}" id="quantity-{{ item.id }}">
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="td-input form-control quotationItem" data-id="{{ item.id }}" name="price[{{ item.id }}]" value="{% if item.requisitionItem.stock is not empty and workorderItems[item.requisitionItem.stock.id] is defined and workorderItems[item.requisitionItem.stock.id] is not empty %}{{ workorderItems[item.requisitionItem.stock.id] }}{% else %}{{ item.price }}{% endif %}" id="price-{{ item.id }}">
                                                                </td>
                                                                <td class="quotationSub" id="quotationSubTotal-{{ item.id }}">
                                                                    {% if item.requisitionItem.stock is not empty and workorderItems[item.requisitionItem.stock.id] is defined and workorderItems[item.requisitionItem.stock.id] is not empty %}
                                                                        {{ (workorderItems[item.requisitionItem.stock.id] * item.issueQuantity)|number_format(2) }}
                                                                    {% else %}
                                                                        {{ (item.price * item.issueQuantity)|number_format(2) }}
                                                                    {% endif %}

                                                                </td>
                                                                <td><a href="javascript:" data-action="{{ path('procure_tender_bank_item_delete',{'id':item.id}) }}" class="btn  btn-sm btn-transparent red-font remove"><i class="fas fa-remove"></i></a></td>
                                                            </tr>
                                                            {% if(item.tenderBatchItem is not empty and item.tenderBatchItem.comment) %}
                                                                <tr>
                                                                    <td></td>
                                                                    <td colspan="10">{{ item.tenderBatchItem.comment|raw }}</td>
                                                                </tr>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                    <tfoot>
                                                    <tr><td colspan="8" class="text-right"><strong>{{ total|words }}</strong></td><td><strong id="quotationTotal">{{ total|number_format(2) }}</strong></td><td></td></tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        {% if entity.approveTo is not empty %}
                                        <div class="row">
                                            <div class="col-md-2">Re-checked By:<br/> {% if entity.approveTo %}{{ entity.approveTo.name }}{% endif %}</div>
                                            <div class="col-md-10"><p>{{ entity.comment|raw }}</p></div>
                                        </div>
                                        {% endif %}
                                        <div class="clearfix"></div>
                                        {% if entity.conditionItems is defined  and  entity.conditionItems is not empty %}
                                            <div class="card-header grey-bg inner-header">
                                                <h5>{{ 'Template Data'|trans }}</h5>
                                            </div>
                                            <div class="clearfix"></div>
                                            {% for keyValue in entity.conditionItems %}
                                                <div class="col-md-12 clone-remove"  style="margin-bottom: 5px">
                                                    <div class="row">
                                                        <div class="col-md-1">
                                                           <input type="checkbox" name="conditionStatus[{{ keyValue.id }}]" {% if keyValue.status == 1 %} checked {% endif %} value="{{ keyValue.status }}">
                                                           <input type="hidden" name="conditionItem[]"  value="{{ keyValue.id }}">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <input type="text" name="conditionKey[{{ keyValue.id }}]" id="conditionKey-{{ keyValue.id }}" class="form-control form-control-sm" placeholder="Enter label name" value="{{ keyValue.metaKey }}">
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="input-group">
                                                                <textarea name="conditionValue[{{ keyValue.id }}]" id="conditionValue-{{ keyValue.id }}" class="form-control form-control-sm" placeholder="Enter your comments">{{ keyValue.metaValue }}</textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        <div class="clearfix"></div>
                                        {{ form_widget(form._token) }}
                                        {{ form_end(form) }}
                                        <div class="clearfix"></div>
                                        {% if entity.moduleProcess.status == 1 and entity.processMode != 'repeat-order' %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::processUserForm",
                                                        { 'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions inline-submit">
                                <div class="row">
                                    <div class="col-md-6 text-left">
                                        <div class="btn-group" role="group">
                                            <a class="btn btn-sm orange-bg white-font" target="_blank" href="{{ path('procure_tender_bank_preview',{'id':entity.id,'mode':'preview'}) }}" ><i class="feather icon-eye"></i> Preview</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <div class="btn-group" role="group">
                                            <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                            <button type="button" id="submitBtn" name="save" class="btn btn-info form-submit"><i class="fa fa-refresh"></i> Save and Create</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <style>
        #vendor-list{
            display: grid;
            grid-template-columns: repeat(3, calc(100%/3));
            background-color: #d6d7d7;
            padding: 10px;
            border: 1px solid #000033;
        }
        .item {
            background-color: #d6d7d7;
            border: 1px solid #fff;
            padding: 20px;
            font-size: 15px;
            text-align: left;
        }
    </style>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/tender.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $(document).on('change',".condition", function (event) {
        var condition = $(this).val();
        var url = Routing.generate('procure_bank_tender_condition',{'id':'{{ entity.id }}'});
        $.get(url,{'condition':condition}, function( response ) {
            location.reload();
        });
    });
    $(document).on('click',".processMode", function (event) {
        var processMode = $(this).val();
        if(processMode === "repeat-order"){
            $("#workOrder").show();
        }else{
            $("#workOrder").hide();
        }
        if(processMode === "quotation"){
            $("#quotation").show();
        }else{
            $("#quotation").hide();
        }
    });
    $("#vendorSelect").click(function () {
        $('.vendorSelect').not(this).prop('checked', this.checked);
    });
    $('.select2Vendor').select2({
    ajax: {
    url: Routing.generate('procure_tender_bank_select_vendor'),
    dataType: 'json',
    delay: 250,
    type: 'GET',
    data: function (params) {

    return {
    q: params.term, // search term
    };
    },
    processResults: function (data) {
    var arr = []
    $.each(data, function (index, value) {
    arr.push({
    id: index,
    text: value
    })
    })
    return {
    results: arr
    };
    },
    cache: false
    },
    escapeMarkup: function (markup) { return markup; },
    minimumInputLength: 1,
    allowClear: true,
    placeholder: 'Search by Vendor Company'
    });
    jqueryTemporaryLoad();
{% endblock %}
