{% extends 'layout.html.twig' %}

{% block body %}
<div class="pcoded-inner-content">
    <!-- [ breadcrumb ] start -->
    <div class="row">
        {% include('flash-message.html.twig')  %}
    </div>
    <!-- [ breadcrumb ] end -->
    <!-- [ Main Content ] start -->
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h5>{{ 'Tender Invitation Approval Note'|trans }}</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet box blue ">
                            <div class="portlet-body form">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalTitleLabel">Memo/Agenda No: {{ entity.invoice }}</h5>
                                </div>
                                <div class="row form-body">
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Office Note.</strong></div>
                                                    <div class="col-md-8">{{ entity.invoice }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Created</strong></div>
                                                    <div class="col-md-8">{{ entity.created|date('d-m-Y') }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Created By</strong></div>
                                                    <div class="col-md-8">{{ entity.createdBy.name }}</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Tender Process</strong></div>
                                                    <div class="col-md-8">{{ entity.processMode }}</div>
                                                </div>
                                                {% if entity.tenderComparative is not empty %}
                                                    <div class="row">
                                                        <div class="col-md-4"><strong>CS No.</strong></div>
                                                        <div class="col-md-8">{{ entity.tenderComparative.invoice }}</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4"><strong>Created</strong></div>
                                                        <div class="col-md-8">{{ entity.tenderComparative.created|date('d-m-Y') }}</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4"><strong>Created By</strong></div>
                                                        <div class="col-md-8"> {% if entity.tenderComparative.createdBy is not empty %}{{ entity.tenderComparative.createdBy.name }}{% endif %}</div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% if entity.processMode == "repeat-order" and entity.workOrder is not empty %}
                                            {% if entity.workorder is defined and entity.workorder is not empty  and entity.processMode == "repeat-order" %}
                                                <div class="row">
                                                    <label class="col-md-2 control-label required" for="workOrder"></label>
                                                    <div class="col-md-10">
                                                        <table class="table table-striped table-bordered table-hover display nowrap">
                                                            <thead class="thead-gray">
                                                            <tr>
                                                                <th scope="col" colspan="4">Repeat Order Referrenc Information</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% if entity.workorder.tenderComparative.tender.tenderCommittee %}
                                                                <tr>
                                                                    <th scope="col">Tender Committee Memo No</th>
                                                                    <th scope="col">{{ entity.workorder.tenderComparative.tender.tenderCommittee.invoice }}</th>
                                                                    <th scope="col">{{ entity.workorder.tenderComparative.tender.tenderCommittee.created|date('d-m-y') }}</th>
                                                                    <th scope="col"><a href="{{ path('procure_tender_committee_bank_preview',{'id':entity.workorder.tenderComparative.tender.tenderCommittee.id}) }}" target="_blank">Details</a></th>
                                                                </tr>
                                                            {% endif %}
                                                            {% if entity.workorder.managementMemo.parent.tenderCommittee %}
                                                                <tr>
                                                                    <th scope="col">Purchase Committee No</th>
                                                                    <th scope="col">{{ entity.workorder.managementMemo.parent.tenderCommittee.invoice }}</th>
                                                                    <th scope="col">{{ entity.workorder.managementMemo.parent.tenderCommittee.created|date('d-m-y') }}</th>
                                                                    <th scope="col"><a href="{{ path('procure_purchase_committee_bank_preview',{'id':entity.workorder.managementMemo.parent.tenderCommittee.id}) }}" target="_blank">Details</a></th>
                                                                </tr>
                                                            {% endif %}
                                                            <tr>
                                                                <th scope="col">Management Memo No</th>
                                                                <th scope="col"> {{ entity.workorder.managementMemo.invoice }}</th>
                                                                <th scope="col">{{ entity.workorder.managementMemo.created|date('d-m-y') }}</th>
                                                                <th scope="col"><a href="{{ path('procure_tender_management_memo_bank_preview',{'id':entity.workorder.managementMemo.id}) }}" target="_blank">Details</a></th>
                                                            </tr>
                                                            <tr>
                                                                <th scope="col">Work Order No</th>
                                                                <th scope="col">{{ entity.workorder.invoice }}</th>
                                                                <th scope="col">{{ entity.workorder.created|date('d-m-y') }}</th>
                                                                <th scope="col"><a href="{{ path('procure_tender_bank_workorder_preview',{'id':entity.workorder.id}) }}" target="_blank">Details</a></th>
                                                            </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        <div class="row">
                                            <div class="col-md-2"><strong>Subject</strong></div>
                                            <div class="col-md-10"><p>{{ entity.subject|raw }}</p></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2"><strong>&nbsp;</strong></div>
                                            <div class="col-md-10"><p>{{ entity.content|raw }}</p></div>
                                        </div>
                                        <div class="card-header grey-bg inner-header">
                                            <h5>Procurement Items</h5>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-striped table-bordered table-hover display nowrap">
                                                    <thead class="thead-green">
                                                    <tr>
                                                        <th scope="col">S/N</th>
                                                        <th scope="col">PR No</th>
                                                        <th scope="col">Item Name</th>
                                                        <th scope="col">PO issue QTY</th>
                                                        <th scope="col">Estimated Unit price in Taka</th>
                                                        <th scope="col">Estimated Total Amount in Taka</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% set total = 0 %}
                                                    {% if entity.tenderItemDetails is not empty %}
                                                        {% set i = 1  %}
                                                        {% for item in entity.tenderItemDetails %}
                                                            {% set total = total + (item.price * item.issueQuantity) %}
                                                            <tr>
                                                                <td>{{ loop.index }}</td>
                                                                <td><a target="_blank" href="{{ path('procure_requisition_bank_preview',{'id':item.requisitionItem.requisition.id}) }}">{{ item.requisitionItem.requisition.requisitionNo }}</a></td>
                                                                <td>{% if item.requisitionItem.item is not empty and item.requisitionItem.item %}{{ item.requisitionItem.item.name }}{% endif %}</td>
                                                                <td>{{ item.issueQuantity }}</td>
                                                                <td>{{ item.price }}</td>
                                                                <td>{{ (item.issueQuantity * item.price)|number_format(2) }}</td>
                                                            </tr>
                                                            {% if(item.tenderBatchItem is not empty and item.tenderBatchItem.comment) %}
                                                                <tr>
                                                                    <td></td>
                                                                    <td colspan="5">{{ item.tenderBatchItem.comment|raw }}</td>
                                                                </tr>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                    <tfoot>
                                                    <tr><td colspan="5" class="text-right"><strong>{{ total|words }}</strong></td><td><strong id="quotationTotal">{{ total|number_format(2) }}</strong></td></tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">&nbsp;</div>
                                            <div class="col-md-10"><p>{{ entity.footerContent|raw }}</p></div>
                                        </div>
                                        {% if entity.approveTo is not empty %}
                                        <div class="row">
                                            <div class="col-md-2">Re-checked From:<br/> {% if entity.approveTo %}{{ entity.approveTo.name }}{% endif %}</div>
                                            <div class="col-md-10">{{ entity.comment|raw }}</div>
                                        </div>
                                        {% endif %}
                                        {% if entity.tenderVendors is not empty %}
                                            <div class="card-header grey-bg inner-header">
                                                <h5>Requested Vendors</h5>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table table-striped table-bordered table-hover display nowrap">
                                                        <thead class="thead-blue">
                                                        <tr>
                                                            <th scope="col">S/N</th>
                                                            <th scope="col">Vendor Name</th>
                                                            <th scope="col">Contact Person</th>
                                                            <th scope="col">Email</th>
                                                            <th scope="col">Phone</th>
                                                            <th scope="col">Address</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% if entity.tenderVendors is not empty %}
                                                            {% set i = 1  %}
                                                            {% for vendor in entity.tenderVendors %}
                                                                <tr>
                                                                    <td>{{ loop.index }}</td>
                                                                    <td>{{ vendor.name }}</td>
                                                                    <td>{{ vendor.contactPerson }}</td>
                                                                    <td>{{ vendor.email }}</td>
                                                                    <td>{{ vendor.phone }}</td>
                                                                    <td>{{ vendor.address|raw }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                        {% endif %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if entity.conditionItems is defined and entity.conditionItems is not empty %}
                                            {% for keyValue in entity.conditionItems %}
                                                {% if keyValue.status == 1 %}
                                                    <div class="row">
                                                        <div class="col-md-2">{{ loop.index }}. {{ keyValue.metaKey }}</div>
                                                        <div class="col-md-10">{{ keyValue.metaValue|raw }}</div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        {% if entity.approveTo is not empty and entity.waitingProcess != "Rejected" %}
                                            <div class="row">
                                                <div class="col-md-2">Re-checked From:<br/> {% if entity.approveTo %}{{ entity.approveTo.name }}{% endif %}</div>
                                                <div class="col-md-10">{{ entity.comment|raw }}</div>
                                            </div>
                                        {% endif %}
                                        {% if (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "user") %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveUers",
                                                        { 'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% elseif (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "role") %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveRoles",
                                                        { 'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% endif %}
                                        {{ form_start(form, {'attr': {'class': 'form-horizontal right','id':'approveForm','action':path('procure_tender_bank_process',{'id':entity.id})}}) }}
                                        <div class="form-inner-no-space">
                                            <div class="row">
                                                <div class="col-md-12 form-box-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                {{ form_label(form.comment, 'Comment'|trans, {'label_attr': {'class': 'col-md-12 text-left'}}) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <div class="col-md-12">
                                                                    {{ form_widget(form.comment,{'attr':{'rows':3}}) }}
                                                                    {{ form_errors(form.comment) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 text-right">
                                                            <div class="btn-group" >
                                                                {#<button type="submit" name="reject" value="reject" class="btn btn-sm red-bg white-font"><i class="feather icon-x-square"></i>Reject</button>#}
                                                                <button type="submit" name="re-checked" value="re-checked" class="btn btn-sm yellow-bg white-font"><i class="feather icon-arrow-left"></i>Back</button>
                                                                <button type="submit" name="approve" value="approve" class="btn btn-sm blue-bg white-font"><i class="feather icon-check-square"></i>Submit</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        {{ form_widget(form._token) }}
                                        {{ form_end(form) }}
                                        <br/>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>







    <!-- [ Main Content ] end -->
</div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/tender.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}

