{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Process Template'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_condition_new') }}" class="btn btn-sm green-bg  white-font"><i class="fa fa-plus"></i>{{ 'New Terms & Condition'|trans }}</a>
                            <a href="{{ path('procure_condition')}}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Terms & Condition'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'Process Template'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-12 form-box-header">{#<p>All master Setting data setup here</p>#}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 form-box-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.name, 'Name'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                            <div class="col-md-4">
                                                                <span class="is-required">*</span>
                                                                {{ form_widget(form.name) }}
                                                                {{ form_errors(form.name) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.subject, 'Subject'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                            <div class="col-md-10">
                                                                {{ form_widget(form.subject) }}
                                                                {{ form_errors(form.subject) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.ccEmail, 'CC-email'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                            <div class="col-md-10">
                                                                {{ form_widget(form.ccEmail) }}
                                                                {{ form_errors(form.ccEmail) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.body, 'Description'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                            <div class="col-md-10">
                                                                {{ form_widget(form.body) }}
                                                                {{ form_errors(form.body) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.description, 'Conclusion'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                            <div class="col-md-10">
                                                                {{ form_widget(form.description) }}
                                                                {{ form_errors(form.description) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="col-md-2"></label>
                                                            <div class="col-md-6">
                                                                {{ form_widget(form.status) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="clearfix"></div>
                                        <div class="card-header grey-bg inner-header">
                                            <h5>Terms & Condition</h5>
                                            <div class="card-header-right">
                                                <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                                                    <button type="button" id="addrow" class="btn btn-sm  blue-bg white-font addmore"><i class="fas fa-plus"></i>Add Terms & Condition</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body card-body-inner form-box-body">
                                            <div class="col-md-12 clone-block" id="clone-block">
                                                <div class="clone">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <input type="text" name="metaKey[]" id="metaKey" class="form-control form-control-sm" placeholder="Enter label name" value="">
                                                            <input type="hidden" name="metaId[]" id="metaId" value="">
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="input-group">
                                                                <textarea  name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter description"></textarea>
                                                                <div class="input-group-append">
                                                                    <div class="btn btn-sm btn-transparent red-font row-remove hidden">
                                                                        <i class="fa fa-remove"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% if entity.conditionItems is not empty %}
                                                {% for keyValue in entity.conditionItems %}
                                                    <div class="col-md-12 clone-remove" id="remove-{{ keyValue.id }}" style="margin-bottom: 5px">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <input type="hidden" name="metaId[]" id="metaId" value="{{ keyValue.id }}">
                                                                <input type="text" name="metaKey[]" id="metaKey" class="form-control form-control-sm" placeholder="Enter label name" value="{{ keyValue.metaKey }}">
                                                                <input type="hidden" name="attributeId[]" value="{{ keyValue.id }}">
                                                            </div>
                                                            <div class="col-md-8">
                                                                <div class="input-group">
                                                                    <textarea name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments">{{ keyValue.metaValue }}</textarea>
                                                                    <div class="input-group-append">
                                                                        <div data-action="{{ path('procure_condition_meta_delete',{'id':keyValue.id}) }}" data-id="{{ keyValue.id }}" class="btn  btn-sm btn-transparent red-font meta-remove">
                                                                            <i class="fas fa-remove"></i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-sm-actions">
                                            <div class="col-md-12 text-right">
                                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown"><button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                                    {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue',value:'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{ form_widget(form._token) }}
                                    {{ form_end(form) }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/script.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
