<table>
    <thead>
    <tr>
        <th colspan="10" align="center">AGDL</th>
    </tr>
    <tr>
        <th colspan="10" align="center">Address: Nassa Heights 47, Level - 03, Bir Uttam AK Khandakar Rd, Dhaka 1212</th>
    </tr>
    <tr>
        <th></th>
    </tr>
    <tr>
        <th>{{ 'SL'|trans }}</th>
        <th>{{ 'Date'|trans }}</th>
        <th>{{ 'Cpx/Opx'|trans }}</th>
        <th>{{ 'PR No.'|trans }}</th>
        <th>{{ 'Company'|trans }}</th>
        <th>{{ 'Head Name'|trans }}</th>
        <th>{{ 'Item Name'|trans }}</th>
        <th>{{ 'Dep'|trans }}</th>
        <th>{{ 'Sec'|trans }}</th>
        <th>{{ 'Qty'|trans }}</th>
        <th>{{ 'UOM'|trans }}</th>
        <th>{{ 'Price'|trans }}</th>
        <th>{{ 'Amount'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% if entities is not empty %}
        {% for entity in entities %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ entity.created|date('d-m-Y') }}</td>
                <td>{{ entity.requisitionMode }}</td>
                <td>{{ entity.requisitionNo }}</td>
                <td>{{ entity.company }}</td>
                <td>{{ entity.category }}</td>
                <td>{{ entity.itemName }}</td>
                <td>{{ entity.department }}</td>
                <td>{{ entity.section }}</td>
                <td>{{ entity.quantity }}</td>
                <td>{{ entity.uom }}</td>
                <td>{{ entity.price }}</td>
                <td>{{ entity.subTotal }}</td>
            </tr>
        {% endfor %}
    {% endif %}

    </tbody>
</table>