{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Work Order'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'list' %} active {% else %} yellow-bg {% endif %}"  href="{{ path('procure_tender_bank_workorder',{'mode':'list'})}}"><i class="fa fa-th-large"></i> All Work Order</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'approve' %} active {% else %} yellow-bg {% endif %}"  href="{{ path('procure_tender_bank_workorder',{'mode':'approve'})}}"><i class="feather icon-target"></i> Approve</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'in-progress' %} active {% else %} yellow-bg {% endif %}" href="{{ path('procure_tender_bank_workorder',{'mode':'in-progress'})}}"><i class="feather icon-aperture"></i> In-progress</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'archive' %} active {% else %} yellow-bg {% endif %}" href="{{ path('procure_tender_bank_workorder',{'mode':'archive'})}}"><i class="feather icon-file"></i> Archive</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap">
                                <thead class="thead-gray">
                                <form action="" method="get">
                                    <tr role="row">
                                        <td colspan="2">{{ form_widget(searchForm.invoice) }}</td>
                                        <td colspan="2">{{ form_widget(searchForm.vendor) }}</td>
                                        <td><div class="date-group">{{ form_widget(searchForm.startDate) }}</div></td>
                                        <td><div class="date-group">{{ form_widget(searchForm.endDate) }}</div></td>
                                        <td>{{ form_widget(searchForm.filter) }}</td>
                                    </tr>
                                    <input type="hidden" id="mode" name="mode" value="{{ mode }}">
                                    {{ form_widget(searchForm._token) }}
                                </form>
                                <tr>
                                    <th scope="col">Created</th>
                                    <th scope="col">Work order</th>
                                    <th scope="col">Requisition</th>
                                    <th scope="col">CS</th>
                                    <th scope="col">MM</th>
                                    <th scope="col">Vender/Supplier</th>
                                    <th scope="col">Payment Mode</th>
                                    <th scope="col">Delivery Mode</th>
                                    <th scope="col">Workorder Date</th>
                                    <th scope="col">Validate Date</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Waiting For</th>
                                    <th scope="col">Status</th>
                                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in  pagination %}
                                    <tr>
                                        <td>{{ entity.created|date('d-m-Y') }}</td>
                                        <td><a class="entity-show" data-action="{{ path('procure_tender_bank_workorder_show',{'id':entity.id}) }}" href="javascript:" data-title="TP No: {{ entity.invoice }}" id="postView-{{ entity.id }}"><b>{{ entity.invoice }}</b></a></td>
                                        <td>
                                            {% if entity.requisition is not empty %}
                                                <a class="entity-show" data-action="{{ path('procure_requisition_bank_show',{'id':entity.requisition}) }}" href="javascript:" data-title="{{ entity.requisitionNo }}" id="postView-{{ entity.requisition }}"><b>{{ entity.requisitionNo }}</b></a>
                                            {% endif %}
                                        </td>
                                        <td><a class='entity-show' data-action="{{ path('procure_tender_bank_comparative_show',{'id':entity.tenderComparative}) }}" href="javascript:void(0)" id="postView-{{ entity.tenderComparative }}"><b>{{ entity.tenderComparativeInvoice }}</b></a></td>

                                        <td>{% if entity.managementMemo %}<a class='entity-show' data-action="{{ path('procure_tender_management_memo_bank_show',{'id':entity.managementMemo}) }}" href='javascript:void(0)' id="postView-{{ entity.managementMemo }}"><b>{{ entity.managementMemoInvoice }}</b></a>{% endif %}</td>
                                        <td>{% if entity.tenderVendor is not empty %}{{ entity.tenderVendor }}{% endif %}</td>
                                        <td>{% if entity.paymentMode is not empty %}{{ entity.paymentMode }}{% endif %}</td>
                                        <td>{% if entity.deliveryMode is not empty %}{{ entity.deliveryMode }}{% endif %}</td>
                                        <td>{{ entity.workorderDate|date('d-m-Y') }}</td>
                                        <td>{{ entity.validateDate|date('d-m-Y') }}</td>
                                        <td>{{ entity.total|number_format(2) }}</td>
                                        <td>{% if entity.reportTo is not empty %}{{ entity.reportToName }}{% endif %}</td>
                                        <td>{{ entity.process }}</td>
                                        <td>
                                            <div class="btn-group" >
                                                {% if entity.waitingProcess == "New" %}
                                                    <a class='btn btn-mini yellow-bg white-font' href='{{ path('procure_tender_bank_workorder_edit',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-edit'></i> Edit</a>
                                                    <a class='btn  btn-transparent btn-mini red-font remove' data-id='{{ entity.id }}' href='javascript:' data-action='{{ path('procure_tender_bank_workorder_delete',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-trash-2'></i></a>
                                                {% endif %}
                                                {% if app.user.id == entity.reportTo %}
                                                    <a class='btn btn-mini purple-bg white-font' href="{{ path('procure_tender_bank_workorder_process',{'id':entity.id}) }}"><i class='feather icon-target'></i> Process</a>
                                                {% endif %}
                                                <a class="btn btn-mini blue-bg white-font entity-show" href="javascript:" data-action="{{ path('procure_tender_bank_workorder_show',{'id':entity.id}) }}" data-title="Workprder No: {{ entity.invoice }}" id="postView-{{ entity.id }}"><i class="feather icon-eye"></i> Show</a>
                                                {% if entity.waitingProcess == "Approved" and app.user.hasRoles(['ROLE_PROCUREMENT_RECEIVE','ROLE_DOMAIN']) %}
                                                    <a class='btn btn-mini purple-bg white-font' href='{{ path('procure_tender_bank_workorder_receive',{'id':entity.id}) }}'  ><i class='feather icon-target'></i> Receive</a>
                                                {% endif %}
                                                <a target="_blank" class="btn btn-mini orange-bg white-font" href="{{ path('procure_tender_bank_workorder_preview',{'id':entity.id,'mode':'preview'}) }}" ><i class="feather icon-eye"></i> Preview</a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="count">
                                Total Records: {{ pagination.getTotalItemCount }}
                            </div>
                        </div>
                        <div class="col-md-9 navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
