{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Workorder Information Details'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_tender_bank_workorder') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Workorder'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block card-block-bottom">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'Workorder Information'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-12 form-box-header"><p>Workorder create for specific vendor & requisition</p></div>
                                        </div>
                                        {{ form_start(form, {'attr': {'class': 'form-horizontal main-requisition right','id':'requisitionForm','enctype':'multipart/form-data'}}) }}
                                        <div class="form-box-body">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="col-md-6 text-right">{{ "Work Order #"|trans }}</label>
                                                                <div class="col-md-6">{{ entity.invoice }}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="col-md-6 text-right">{{ "Created"|trans }}</label>
                                                                <div class="col-md-6">{{ "now"|date('d-m-Y') }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="col-md-6 text-right">{{ "Tender CS #"|trans }}</label>
                                                                <div class="col-md-6">{{ entity.tenderComparative.invoice }}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="col-md-6 text-right">{{ "Requisition No"|trans }}</label>
                                                                <div class="col-md-6">
                                                                    {% if entity.requisition %}
                                                                           <a class="entity-show" data-action="{{ path('procure_requisition_bank_show',{'id':entity.requisition.id}) }}" href="javascript:" data-title="Requisition No: {{ entity.requisition.requisitionNo }}" id="postView-{{ entity.requisition.id }}">{{ entity.requisition.requisitionNo }}</a>
                                                                   {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        {{ form_label(form.condition, 'Template'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                        <div class="col-md-10">
                                                            {{ form_widget(form.condition) }}
                                                            {{ form_errors(form.condition) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        {{ form_label(form.tenderVendor, 'Vendor/Supplier'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                        <div class="col-md-6">
                                                            <span class="is-required"> *</span>
                                                            {{ form_widget(form.tenderVendor) }}
                                                            {{ form_errors(form.tenderVendor) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-md-6 text-right">Requisitions</label>
                                                        <div class="col-md-6">
                                                            <span class="is-required"> *</span>
                                                            {{ form_widget(form.requisition) }}
                                                            {{ form_errors(form.requisition) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% if entity.tenderVendor is defined and entity.tenderVendor is not empty %}
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <label class="col-md-6 text-right">{{ "Vender #"|trans }}</label>
                                                            <div class="col-md-6">{{ entity.tenderVendor.name }}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="col-md-6 text-right">{{ "Vender Address"|trans }}</label>
                                                    <div class="col-md-6"> {{ entity.tenderVendor.address|raw }}</div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        {{ form_label(form.attendTo, 'Attend To'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                        <div class="col-md-10">
                                                            {{ form_widget(form.attendTo) }}
                                                            {{ form_errors(form.attendTo) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        {{ form_label(form.subject, 'Subject'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                        <div class="col-md-10">
                                                            <span class="is-required">*</span>
                                                            {{ form_widget(form.subject) }}
                                                            {{ form_errors(form.subject) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        {{ form_label(form.content, 'Details/Justification'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                        <div class="col-md-10">
                                                            {{ form_widget(form.content) }}
                                                            {{ form_errors(form.content) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                {{ form_label(form.workorderDate, 'Work order Date'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                                <div class="col-md-6">
                                                                    <span class="is-required"> *</span>
                                                                    {{ form_widget(form.workorderDate) }}
                                                                    {{ form_errors(form.workorderDate) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                {{ form_label(form.paymentMode, 'Payment Mode'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                                <div class="col-md-6">
                                                                    <span class="is-required"> *</span>
                                                                    {{ form_widget(form.paymentMode) }}
                                                                    {{ form_errors(form.paymentMode) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                {{ form_label(form.validateDate, 'Validate Date'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                                <div class="col-md-6">
                                                                    <span class="is-required">*</span>
                                                                    {{ form_widget(form.validateDate) }}
                                                                    {{ form_errors(form.validateDate) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                {{ form_label(form.deliveryMode, 'Delivery Mode'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                                <div class="col-md-6">
                                                                    <span class="is-required"> *</span>
                                                                    {{ form_widget(form.deliveryMode) }}
                                                                    {{ form_errors(form.deliveryMode) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="col-md-6"></label>
                                                                <div class="col-md-6">
                                                                    {{ form_widget(form.partialDelivery) }}
                                                                    {{ form_errors(form.partialDelivery) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="col-md-6"></label>
                                                                <div class="col-md-6">
                                                                    {{ form_widget(form.partialPayment) }}
                                                                    {{ form_errors(form.partialPayment) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table table-striped table-bordered table-hover display nowrap">
                                                        <thead class="thead-gray">
                                                        <tr>
                                                            <th scope="col">S/N</th>
                                                            <th scope="col">Description</th>
                                                            <th scope="col">UOM</th>
                                                            <th scope="col">Qty</th>
                                                            <th scope="col">Unit Price</th>
                                                            <th scope="col">Total Amount(BDT)</th>
                                                           {# <th scope="col">WO-Qty</th>
                                                            <th scope="col">WO-Unit Price</th>
                                                            <th scope="col">WO-Total Amount(BDT)</th>#}
                                                        </tr>
                                                        </thead>

                                                        <tbody id="invoice">
                                                        {% if entity.requisition is defined and entity.requisition is not empty and entity.tenderVendor is not empty %}
                                                            {% for item in requisitionItems %}
                                                                {% if vendorItems[item.stock] is defined and  vendorItems[item.stock] is not empty %}
                                                                <tr>
                                                                    <td>
                                                                        <input type="hidden" name="tenderComparativeItem[{{ item.id }}]" value="{{ vendorItems[item.stock].id }}">
                                                                        <input type="checkbox" checked="checked" id="statusCheck" name="statusCheck[]" value="{{ item.id }}">
                                                                    </td>
                                                                    <td>{{ vendorItems[item.stock].stock.item.name }}</td>
                                                                    <td>{{ vendorItems[item.stock].stock.item.unit.name }}</td>
                                                                    <td>{{ item.quantity }}</td>
                                                                    <td>{% if vendorItems[item.stock] is defined and  vendorItems[item.stock] is not empty %} {{ vendorItems[item.stock].revisedUnitPrice|number_format(2)  }}{% endif %}</td>
                                                                    <td>{% if vendorItems[item.stock] is defined and  vendorItems[item.stock] is not empty %}{{ (vendorItems[item.stock].revisedUnitPrice * item.quantity)|number_format(2)  }}{% endif %}</td>
                                                                  {#  <td>
                                                                        <input type="hidden" id="updateId-{{ vendorItems[item.stock].id }}" name="updateId[]" value="{{ vendorItems[item.stock].id }}">
                                                                        <input type="hidden" class="td-input form-control updateWorkorderItem" name="quantity[]" value="{{ item.quantity }}" id="quantity-{{ vendorItems[item.stock].id }}" data-id="{{ vendorItems[item.stock].id }}" ></td>
                                                                    <td><input type="hidden" class="td-input form-control updateWorkorderItem" name="price[]" value="{% if vendorItems[item.stock].revisedUnitPrice > 0  %}{{ vendorItems[item.stock].revisedUnitPrice }}{% else %}{{ vendorItems[item.stock].unitPrice }}{% endif %}" id="price-{{ vendorItems[item.stock].id }}" data-id="{{ item.id }}" ></td>
                                                                    <td id="woSubTotal-{{ vendorItems[item.stock].id }}">{{ (item.quantity  * vendorItems[item.stock].revisedUnitPrice)|number_format(2) }}</td>
                                                       #}         </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                        </tbody>
                                                        <tfoot>
                                                        <tr>
                                                            <td colspan="5" class="text-right">SubTotal</td><td>{{ entity.subTotal|number_format(2) }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="5" class="text-right">Discount</td>
                                                            <td> {{ form_widget(form.discount) }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="5" class="text-right">VAT/TAX</td>
                                                            <td> {{ form_widget(form.vat) }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="5" class="text-right">Total</td>
                                                            <td> {{ entity.total|number_format(2) }}</td>
                                                        </tr>

                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        {{ form_label(form.content, 'Footer Content'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                        <div class="col-md-10">
                                                            {{ form_widget(form.footerContent) }}
                                                            {{ form_errors(form.footerContent) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="card-header grey-bg inner-header">
                                                <h5>{{ 'Tender Terms & Conditions'|trans }}</h5>
                                            </div>
                                            <div class="clearfix"></div>
                                            {% if entity.conditionItems is defined  and  entity.conditionItems is not empty %}
                                                {% for keyValue in entity.conditionItems %}
                                                    <div class="col-md-12 clone-remove"  style="margin-bottom: 5px">
                                                        <div class="row">
                                                            <div class="col-md-1">
                                                                <input type="checkbox" name="conditionStatus[{{ keyValue.id }}]" {% if keyValue.status == 1 %} checked {% endif %} value="{{ keyValue.status }}">
                                                                <input type="hidden" name="conditionItem[]"  value="{{ keyValue.id }}">
                                                            </div>
                                                            <div class="col-md-3">
                                                                <input type="text" name="conditionKey[{{ keyValue.id }}]" id="conditionKey-{{ keyValue.id }}" class="form-control form-control-sm" placeholder="Enter label name" value="{{ keyValue.metaKey }}">
                                                            </div>
                                                            <div class="col-md-8">
                                                                <div class="input-group">
                                                                    <textarea name="conditionValue[{{ keyValue.id }}]" id="conditionValue-{{ keyValue.id }}" class="form-control form-control-sm" placeholder="Enter your comments">{{ keyValue.metaValue }}</textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                            <div class="clearfix"></div>
                                         </div>
                                        <div class="clearfix"></div>
                                        {% if entity.moduleProcess.attachment == 1 and entity.moduleProcess.status == 1  %}
                                            {{ render(controller(
                                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::attachmentForm",
                                                { 'id': entity.id,'module':entity.module}
                                            )) }}
                                        {% endif %}
                                        <div class="clearfix"></div>
                                        {{ form_widget(form._token) }}
                                        {{ form_end(form) }}
                                        <div class="clearfix"></div>
                                        {% if entity.moduleProcess.status == 1  %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::processUserForm",
                                                        { 'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions inline-submit">
                                <div class="row">
                                    <div class="col-md-6 text-left">
                                        <div class="btn-group" role="group">
                                            <a target="_blank" href="{{ path('procure_tender_bank_workorder_preview',{'id':entity.id,'mode':'preview'}) }}" id="" class="btn blue-bg white-font form-submit btn"><i class="fa fa-print"></i> Preview</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <div class="btn-group" role="group">
                                            <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                            <button type="button" id="submitBtn" name="save" class="btn btn-info form-submit btn"><i class="fa fa-refresh"></i> Save & Next</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/script.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
    $('.vendor').change(function(e){
        var vendor = $(this).val();
        var url = Routing.generate('procure_tender_bank_workorder_vendor',{'id':'{{ entity.id }}'});
        $.get(url,{'vendor':vendor}, function( response ) {
            location.reload();
        });
    });
    $('.requisition').change(function(e){
        var requisition = $(this).val();
        var url = Routing.generate('procure_tender_bank_workorder_requisition',{'id':'{{ entity.id }}'});
        $.get(url,{'requisition':requisition}, function( response ) {
            location.reload();
        });
    });
    $('.condition').change(function(e){
        var condition = $(this).val();
        var url = Routing.generate('procure_tender_bank_workorder_condition',{'id':'{{ entity.id }}'});
        $.get(url,{'condition':condition}, function( response ) {
            location.reload();
        });
    });
{% endblock %}
