<div class="pcoded-inner-content">
    <!-- [ Main Content ] start -->
    <div class="row" style="display: block">
        <div class="card">
            <div class="print-header-content">
                <img src="{{ asset('assets/images/bank-asia-header.png') }}">
                <div class="row">
                    <div class="col text-center"><p>Logistics & Support Services Division<br/>
                            Work Order</p></div>
                </div>
            </div>
            <div class="card-block" id="print-area">
                <div class="row ">
                    <div class="col div-br-40"></div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        Ref No. #{{ entity.invoice }}/{{ entity.workorderDate|date('d-m-Y') }}<br/>
                        To<br/>{{ entity.tenderVendor.name }}<br/>{{ entity.tenderVendor.address|raw }}</div>
                    <div class="col-md-6">
                        <p align="right">
                            1. Bank Asia Tower,<br>
                            32 - 34, Kazi Nazrul Islam Avenue,<br>
                            Karwan Bazar, Dhaka<br>
                            Dhaka-1209<br>
                            Bangladesh<br>
                            &nbsp;</p>
                        <p align="right" >
                            Tel :&nbsp;+88-02- 9515106,&nbsp;<br>
                            Fax :&nbsp;+88-02-7175524<br>
                            Web :&nbsp;www.bankasia-bd.com<br>
                            Contact Center (24/7): 16205,<br>
                            E-mail&nbsp;:&nbsp;contact.center@bankasia-bd.com
                        </p>
                    </div>
                </div>
                <div class="row ">
                    <div class="col div-br-30"></div>
                </div>
                <div class="row">
                    <div class="col text-justify">{{ entity.content|raw }}</div>
                </div>
                <div class="row ">
                    <div class="col div-br-30"></div>
                </div>
                <div class="row ">
                    <div class="col-md-6">
                        <div class="col text-left">Work order Date: {{ entity.workorderDate|date('d-m-Y') }} </div>
                        <div class="col text-left">Validate Date: {{ entity.validateDate|date('d-m-Y') }}</div>
                        <div class="col text-left">Partial Payment: {% if entity.partialPayment == 1  %}Yes{% endif %}</div>
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="col text-left">Payment Mode: {% if entity.paymentMode %} {{ entity.paymentMode.name }}{% endif %} </div>
                        <div class="col text-left">Delivery Mode: {% if entity.deliveryMode %} {{ entity.deliveryMode.name }}{% endif %}</div>
                        <div class="col text-left">Partial Delivery: {% if entity.partialDelivery == 1  %}Yes{% endif %}</div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col div-br-30"></div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <table class="table">
                            <thead class="thead-green">
                            <tr>
                                <th scope="col">S/N</th>
                                <th scope="col">Description</th>
                                <th scope="col">Unit</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Rate</th>
                                <th scope="col">Amount</th>
                            </tr>
                            </thead>
                            <tbody id="invoice">
                            {% if entity.workOrderItems is defined and entity.workOrderItems is not empty %}
                                {% for item in entity.workOrderItems %}
                                    <tr>
                                        <td>{{ loop.index }}.</td>
                                        <td>{{ item.stock.item.name }}</td>
                                        <td>{% if item.stock.item.unit is not empty %}{{ item.stock.item.unit.name }}{% endif %}</td>
                                        <td>{{ item.quantity }}</td>
                                        <td>{{ item.unitPrice }}</td>
                                        <td>{{ (item.quantity * item.unitPrice)|number_format(2) }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="5" class="text-right">Discount</td>
                                <td> {{ entity.discount|number_format(2) }}</td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">VAT/TAX</td>
                                <td> {{ entity.vat|number_format(2) }}</td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">Grand Total</td>
                                <td> {{ entity.total|number_format(2) }}</td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <div class="row ">
                    <div class="col div-br-30"></div>
                </div>
                <div class="row ">
                    <div class="col text-left"><h3>Terms & Condition</h3></div>
                </div>
                <div class="row">
                    <div class="col text-justify">{{ entity.terms|raw }}</div>
                </div>
                {% if entity.conditionItems is defined and entity.conditionItems is not empty %}
                    {% for keyValue in entity.conditionItems %}
                        {% if keyValue.status == 1 %}
                            <div class="row">
                                <div class="col text-left"><h3>{{ keyValue.metaKey|raw }}</h3></div>
                            </div>
                            <div class="row">
                                <div class="col text-justify">{{ keyValue.metaValue|raw }}</div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class="row ">
                    <div class="col div-br-30"></div>
                </div>
                {% if approvals is not empty %}
                    <div class="row">
                        <div class="col-md-12">
                            <h4><strong>Prepared by:</strong></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="grid-comment-signature">
                            <div class="col-md-12 text-left">
                                <div class="signature">
                                    {% if entity.createdBy.profile.signaturePath is not empty %}
                                        <img class="signature-image" src="{{ asset('uploads/user/'~entity.createdBy.profile.signaturePath) }}">
                                        <br/>
                                    {% endif%}
                                    {{ entity.createdBy.name }}<br/>{% if entity.createdBy.profile.designation %}{{ entity.createdBy.profile.designation.name }}{% endif %}
                                </div>
                            </div>
                            {% for index,list in approvals %}
                                {% if list.close == true  %}
                                    <div class="col-md-12 text-center" >
                                        <div class="signature">
                                            {% if list.assignTo.profile.signaturePath is not empty %}
                                                <img class="signature-image" src="{{ asset('uploads/user/'~list.assignTo.profile.signaturePath) }}">
                                                <br/>
                                            {% endif%}
                                            {{ list.assignTo.name }}<br/>
                                            {% if list.assignTo.profile.designation %}{{ list.assignTo.profile.designation.name }}{% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

            </div>
            <div class="print-footer-content"><br/></div>
        </div>
    </div>
</div>