<html>
<head>
    <title>Work Order Preview</title>
    <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link href="{{ asset('assets/theme/rbs/css/print.css') }}" type="text/css" rel="stylesheet" />
    <script src="{{ asset('assets/plugins/jquery/jquery-3.3.1.min.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/js/kinzi.print.min.js') }}"></script>
</head>
<body class="body">
{% if mode=='preview' %}
    <div class="row  print-bar">
        <div class="col-md-6 text-left"><strong>Preview</strong>: {{ entity.invoice }}</div>
        <div class="col-md-6 text-right" >
            <ul class="list-inline" id="grpChkBox">
                <li><button class='btn btn-print print'  id='{{ entity.id }}' ><i class='fa fa-print' ></i> Print</button></li>
                {#<li><a target="_blank" class='btn btn-download yellow-bg download-pdf' href="{{ path('procure_tender_bank_preview',{'id':entity.id,'mode':'pdf'}) }}"   id='{{ entity.id }}' ><i class='fa fa-download'></i> Download</a></li>#}
            </ul>
        </div>
    </div>
{% endif %}
<div class="print-header-content">
    <img src="{{ asset('assets/images/bank-asia-header.png') }}">
</div>
<div class="card-block" id="print-area">
    <div class="row" style="margin-top: 15px">
        <div class="col text-center" style="text-transform: uppercase"><p><strong>Logistics & Support Services Division<br/>
                    Work Order</strong></p></div>
    </div>
    <div class="" id="">
        <div class="row ">
            <div class="col div-br-40"></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                Ref No. #{{ entity.invoice }}/{{ entity.workorderDate|date('d-m-Y') }}<br/><br/><br/>
                {% if entity.tenderVendor is not empty %}
                To<br/>{{ entity.tenderVendor.name }}<br/>{{ entity.tenderVendor.address|raw }}
                {% endif %}
            </div>
            <div class="col-md-6">
                <p align="right" >
                    <strong> DELIVERY TO</strong><br>
                    {% if entity.requisition is not empty and entity.requisition.branch is not empty %}
                        {{ entity.requisition.branch.name }}<br>
                        {{ entity.requisition.branch.address|raw }}<br>
                    {% elseif entity.requisition is not empty %}
                        {{ entity.requisition.department.name }}<br>
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="row ">
            <div class="col div-br-30"></div>
        </div>
        <div class="row">
            <div class="col text-justify">Attend To: {{ entity.attendTo|raw }}</div>
        </div>
        <div class="row ">
            <div class="col div-br-30"></div>
        </div>
        <div class="row">
            <div class="col text-justify">Subject: {{ entity.subject|raw }}</div>
        </div>
        <div class="row ">
            <div class="col div-br-30"></div>
        </div>
        <div class="row">
            <div class="col text-justify">{{ entity.content|raw }}</div>
        </div>
        <div class="row ">
            <div class="col div-br-30"></div>
        </div>
        <div class="row ">
            <div class="col-md-6">
                <div class="col text-left">Work order Date: {{ entity.workorderDate|date('d-m-Y') }} </div>
                <div class="col text-left">Validate Date: {{ entity.validateDate|date('d-m-Y') }}</div>
                <div class="col text-left">Partial Payment: {% if entity.partialPayment == 1  %}Yes{% endif %}</div>
            </div>
            <div class="col-md-6 text-right">
                <div class="col text-left">Payment Mode: {% if entity.paymentMode %} {{ entity.paymentMode.name }}{% endif %} </div>
                <div class="col text-left">Delivery Mode: {% if entity.deliveryMode %} {{ entity.deliveryMode.name }}{% endif %}</div>
                <div class="col text-left">Partial Delivery: {% if entity.partialDelivery == 1  %}Yes{% endif %}</div>
            </div>
        </div>
        <div class="row ">
            <div class="col div-br-30"></div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12">
                <table class="table">
                    <thead class="thead-green">
                    <tr>
                        <th scope="col">S/N</th>
                        <th scope="col">Description</th>
                        <th scope="col">QTY</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Amount</th>
                    </tr>
                    </thead>
                    <tbody id="invoice">
                    {% if entity.workOrderItems is defined and entity.workOrderItems is not empty %}
                        {% for item in entity.workOrderItems %}
                            <tr>
                                <td>{{ loop.index }}.</td>
                                <td><strong>{{ item.stock.item.name }}</strong><br/>{% if item.tenderItem is not empty %}{{ item.tenderItem.description|raw }}{% endif %}</td>
                                <td>{{ item.quantity }} {% if item.stock.item.unit is not empty %}{{ item.stock.item.unit.name }}{% endif %}</td>
                                <td>{{ item.unitPrice }}</td>
                                <td>{{ (item.quantity * item.unitPrice)|number_format(2) }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4" class="text-right">Discount</td>
                        <td> {{ entity.discount|number_format(2) }}</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-right">VAT/TAX</td>
                        <td> {{ entity.vat|number_format(2) }}</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-right">Grand Total</td>
                        <td> {{ entity.total|number_format(2) }}</td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <div class="row ">
            <div class="col div-br-30"></div>
        </div>
        <div class="row">
            <div class="col text-justify">{{ entity.footerContent|raw }}</div>
        </div>
        <div class="row ">
            <div class="col div-br-30"></div>
        </div>
        <div class="row ">
            <div class="col text-left"><h3>Terms & Condition</h3></div>
        </div>
        {% if entity.conditionItems is defined and entity.conditionItems is not empty %}
            {% for keyValue in entity.conditionItems %}
                {% if keyValue.status == 1 %}
                    <div class="row">
                        <div class="col text-left"><h3>{{ keyValue.metaKey|raw }}</h3></div>
                    </div>
                    <div class="row">
                        <div class="col text-justify">{{ keyValue.metaValue|raw }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="row ">
            <div class="col div-br-30"></div>
        </div>
        {% if approvals is not empty %}
            <div class="row">
                <div class="col-md-12">
                    <h4><strong>Prepared by:</strong></h4>
                </div>
            </div>
            <div class="row">
                <div class="grid-comment-signature">
                    <div class="col-md-12 text-left">
                        <div class="signature">
                            {% if entity.createdBy.profile.signaturePath is not empty %}
                                <img class="signature-image" src="{{ asset('uploads/user/'~entity.createdBy.profile.signaturePath) }}">
                                <br/>
                            {% endif%}
                            {{ entity.createdBy.name }}<br/>{% if entity.createdBy.profile.designation %}{{ entity.createdBy.profile.designation.name }}{% endif %}
                        </div>
                    </div>
                    {% for index,list in approvals %}
                        {% if list.close == true  %}
                            <div class="col-md-12 text-center" >
                                <div class="signature">
                                    {% if list.assignTo.profile.signaturePath is not empty %}
                                        <img class="signature-image" src="{{ asset('uploads/user/'~list.assignTo.profile.signaturePath) }}">
                                        <br/>
                                    {% endif%}
                                    {{ list.assignTo.name }}<br/>
                                    {% if list.assignTo.profile.designation %}{{ list.assignTo.profile.designation.name }}{% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

    </div>
</div>
<div class="print-footer-content">
    <img  src="{{ asset('assets/images/bank-asia/footer.png') }}">
</div>
<script>
    $('.print').click(function(){
        $('#print-area').kinziPrint({
            importCSS: true,
            header: $('.print-header-content').html(),
            footer: $('.print-footer-content').html()
        });
    });
</script>
</body>
</html>


