
<div class="portlet box blue ">
    <div class="portlet-body form">
        <div class="row form-body">
            <div class="form-inner-no-space">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4"><strong>Work Order No.</strong></div>
                            <div class="col-md-8">{{ entity.invoice }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Created</strong></div>
                            <div class="col-md-8">{{ entity.created|date('d-m-Y') }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Created By</strong></div>
                            <div class="col-md-8">{{ entity.createdBy.name }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Vendor/Supplier</strong></div>
                            <div class="col-md-8">{% if entity.tenderVendor is not empty %}{{ entity.tenderVendor.name }}{% endif %}</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4"><strong>Payment Mode</strong></div>
                            <div class="col-md-8">{% if entity.paymentMode is not empty %}{{ entity.paymentMode.name }}{% endif %}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Delivery Mode</strong></div>
                            <div class="col-md-8">{% if entity.deliveryMode is not empty %}{{ entity.deliveryMode.name }}{% endif %}</div>
                        </div>
                        {% if entity.tenderComparative is not empty %}
                            <div class="row">
                                <div class="col-md-4"><strong>CS No.</strong></div>
                                <div class="col-md-8">{{ entity.tenderComparative.invoice }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><strong>Created</strong></div>
                                <div class="col-md-8">{{ entity.tenderComparative.created|date('d-m-Y') }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><strong>Created By</strong></div>
                                <div class="col-md-8"> {% if entity.tenderComparative.createdBy is not empty %}{{ entity.tenderComparative.createdBy.name }}{% endif %}</div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><strong>Content</strong></div>
                    <div class="col-md-10">{{ entity.content|raw }}</div>
                </div>
                <div class="card-header grey-bg inner-header">
                    <h5>Tender Items</h5>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover display nowrap">
                            <thead class="thead-green">
                            <tr>
                                <th scope="col">S/N</th>
                                <th scope="col">Description</th>
                                <th scope="col">UOM</th>
                                <th scope="col">WO-Qty</th>
                                <th scope="col">Unit Price</th>
                                <th scope="col">Amount</th>
                            </tr>
                            </thead>
                            <tbody id="invoice">
                            {% if entity.workOrderItems is defined and entity.workOrderItems is not empty %}
                                {% for item in entity.workOrderItems %}
                                    <tr>
                                        <td>{{ loop.index }}.</td>
                                        <td>{{ item.stock.item.name }}</td>
                                        <td>{% if item.stock.item.unit is not empty %}{{ item.stock.item.unit.name }}{% endif %}</td>
                                        <td>{{ item.quantity }}</td>
                                        <td>{{ item.unitPrice }}</td>
                                        <td>{{ (item.quantity * item.unitPrice)|number_format(2) }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="5" class="text-right">Discount</td>
                                <td> {{ entity.discount|number_format(2) }}</td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">VAT/TAX</td>
                                <td> {{ entity.vat|number_format(2) }}</td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">Grand Total</td>
                                <td> {{ entity.total|number_format(2) }}</td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                {% if entity.conditionItems is defined and entity.conditionItems is not empty %}
                    {% for keyValue in entity.conditionItems %}
                        {% if keyValue.status == 1 %}
                        <div class="row">
                            <div class="col-md-2">{{ loop.index }}. {{ keyValue.metaKey }}</div>
                            <div class="col-md-10">{{ keyValue.metaValue|raw }}</div>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if entity.approveTo is not empty and entity.waitingProcess != "Rejected" %}
                    <div class="row">
                        <div class="col-md-2">Re-checked From:<br/> {% if entity.approveTo %}{{ entity.approveTo.name }}{% endif %}</div>
                        <div class="col-md-10">{{ entity.comment|raw }}</div>
                    </div>
                {% endif %}
                {% if (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "user") %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ render(controller(
                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveUers",
                                { 'id': entity.id,'module':entity.module}
                            )) }}
                        </div>
                    </div>
                {% elseif (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "role") %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ render(controller(
                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveRoles",
                                { 'id': entity.id,'module':entity.module}
                            )) }}
                        </div>
                    </div>
                {% endif %}
                <br/>
            </div>
        </div>
    </div>
</div>
<style>
    .grid-designation {
        width: 100%;
        display: grid;
        grid-gap: 0;
    }
    .grid-designation {
        grid-template-columns: repeat(3, calc(100%/3));
    }
    .grid-products {
        width: 100%;
        display: grid;
        grid-gap: 0;
    }
    .grid-products {
        grid-template-columns: repeat(2, calc(100%/2));
    }
</style>
