{# Horizontal Menu #}
{% if app.user.hasRoles(['ROLE_PROCUREMENT_REQUISITION','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
    <li class="nav-item pcoded-hasmenu">
    <a class="" href="javascript:"><span class="pcoded-micon"><i class="feather icon-briefcase"></i></span><span class="pcoded-mtext">{{ "Requisition"|trans }}</span></a>
    {#{% if app.user.hasRoles(['ROLE_PROCUREMENT_REQUISITION','ROLE_DOMAIN']) and app.user.approveGrantedUsers(['ROLE_PROCUREMENT_INITIATOR']) and app.user.checkBundle(['procurement']) %}#}
    <ul class="sub-menu pcoded-submenu">
        {% if app.user.hasRoles(['ROLE_PROCUREMENT_REQUISITION','ROLE_DOMAIN']) and app.user.approveGrantedUsers(['ROLE_PROCUREMENT_MANAGER','ROLE_PROCUREMENT_DEPARTMENT_HEAD']) and app.user.checkBundle(['procurement']) %}
            <li class="pcoded-hasmenu"><a href="javascript:">{{ "Approval" }}</a>
                <ul class="sub-menu pcoded-submenu">
                    <li><a href="{{ path('procure_requisition_bank',{'mode':'approve'}) }}">{{ "Requisition" }}</a></li>
                    <li><a href="{{ path('procure_requisition_bank_store_approval',{'mode':'approve'}) }}">{{ "Store Requisition" }}</a></li>
                    <li><a href="{{ path('procure_tender_bank_receive',{'mode':'approve'}) }}">{{ "Received Order" }}</a></li>
                </ul>
            </li>
        {% endif %}
        {% if app.user.hasRoles(['ROLE_PROCUREMENT_INITIATOR','ROLE_PROCUREMENT_MANAGER','ROLE_DOMAIN'])  and app.user.checkBundle(['procurement']) %}
            <li class="pcoded-hasmenu"><a href="javascript:">{{ "Purchase Requisition"|trans }}</a>
                <ul class="sub-menu pcoded-submenu">
                    <li><a href="{{ path('procure_requisition_bank') }}">{{ "Requisition"|trans }}</a></li>
                    <li><a href="{{ path('procure_requisition_bank_new' ) }}">{{ "New Requisition" }}</a></li>
                </ul>
            </li>
            <li class="pcoded-hasmenu"><a href="javascript:">{{ "Store Requisition"|trans }}</a>
                <ul class="sub-menu pcoded-submenu">
                    <li><a href="{{ path('procure_requisition_bank',{'mode':'list'}) }}">{{ "Store Requisition" }}</a></li>
                    <li><a href="{{ path('procure_requisition_bank_new',{'type':'store-requisition'}) }}">{{ "New Store Requisition"|trans }}</a></li>
                    {% if app.user.hasRoles(['ROLE_PROCUREMENT_REQUISITION','ROLE_PROCUREMENT_STORE','ROLE_DOMAIN']) and app.user.approveGrantedUsers(['ROLE_PROCUREMENT_INITIATOR','ROLE_PROCUREMENT_MANAGER','ROLE_PROCUREMENT_DEPARTMENT_HEAD']) and app.user.checkBundle(['procurement']) %}
                        <li><a href="{{ path('procure_requisition_bank_order_delivery') }}">{{ "Store Requisition Receive" }}</a></li>
                    {% endif %}
                </ul>
            </li>
            <li class="pcoded-hasmenu"><a href="javascript:">{{ "Received & Performance"|trans }}</a>
                <ul class="sub-menu pcoded-submenu">
                    <li><a href="{{ path('procure_tender_bank_branch_workorder',{'mode':'list'}) }}">{{ "Work Order" }}</a></li>
                    <li><a href="{{ path('procure_tender_bank_branch_receive',{'mode':'list'}) }}">{{ "Good Received" }}</a></li>
                    <li><a href="{{ path('procure_tender_bank_branch_receive') }}">{{ "Performance Report"|trans }}</a></li>
                </ul>
            </li>
        {% endif %}
    </ul>
    {#{% endif %}#}
</li>
{% endif %}
{% if app.user.hasRoles(['ROLE_PROCUREMENT_STORE','ROLE_PROCUREMENT_LSSD','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
    <li class="nav-item pcoded-hasmenu">
        <a class="" href="javascript:"><span class="pcoded-micon"><i class="feather icon-briefcase"></i></span><span class="pcoded-mtext">{{ "Centerl Store"|trans }}</span></a>
        <ul class="sub-menu pcoded-submenu">
            {#<li><a href="{{ path('procure_requisition_bank_order',{'mode':'list'}) }}">{{ "Requisition Order" }}</a></li>#}
            <li><a href="{{ path('procure_requisition_bank_store_approval') }}">{{ "Store Approval" }}</a></li>
            <li><a href="{{ path('procure_requisition_bank_order_delivery') }}">{{ "Requisition Delivery" }}</a></li>
            <li><a href="{{ path('procure_delivery_batch_bank') }}">{{ "Delivery Batch" }}</a></li>
            <li><a href="javascript:">{{ "Report" }}</a>
                <ul class="sub-menu pcoded-submenu">
                    <li><a href="{{ path('procure_store_report_monthly') }}">{{ "Store Monthly Statement" }}</a></li>
                    <li><a href="{{ path('procure_store_report_credit_note') }}">{{ "Credit Note" }}</a></li>
                    <li><a href="{{ path('procure_store_report_store_ledger') }}">{{ "Store Ledger" }}</a></li>
                    <li><a href="{{ path('procure_store_report_store_item_ledger') }}">{{ "Store Item Ledger" }}</a></li>
                </ul>
            </li>
        </ul>
    </li>
{% endif %}
{% if app.user.hasRoles(['ROLE_PROCUREMENT_LSSD','ROLE_PROCUREMENT_ASSESSMENT','ROLE_PROCUREMENT_LSSD_HEAD','ROLE_PROCUREMENT_DEPARTMENT_HEAD','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
    <li class="">
        <a class="" href="javascript:"><span>{{ "Procurement"|trans }}</span></a>
        <ul class="sub-menu pcoded-submenu">
            {% if app.user.hasRoles(['ROLE_PROCUREMENT_LSSD_HEAD','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
                <li class="pcoded-hasmenu"><a href="javascript:">{{ "Head of LSSD" }}</a>
                    <ul class="sub-menu pcoded-submenu">
                        <li><a href="{{ path('procure_tenderbatch_bank_open_item') }}">{{ "Assign Requisition" }}</a></li>
                        <li><a href="{{ path('procure_tenderbatch_bank_lssd_acknowledgment') }}">{{ "Requisition Assessment" }}</a></li>
                        <li><a href="{{ path('procure_requisition_bank_order_delivery_lssd') }}">{{ "Order Delivery" }}</a></li>
                    </ul>
                </li>
            {% endif %}
            {% if app.user.hasRoles(['ROLE_PROCUREMENT_LSSD','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
                <li class="pcoded-hasmenu"><a href="javascript:">{{ "Process Department" }}</a>
                <ul class="sub-menu pcoded-submenu">
                        {% if app.user.hasRoles(['ROLE_PROCUREMENT_TENDER','ROLE_DOMAIN','ROLE_PROCUREMENT_LSSD_HEAD','ROLE_PROCUREMENT_DEPARTMENT_HEAD','ROLE_PROCUREMENT_LSSD_OFFICER']) and app.user.checkBundle(['procurement']) %}
                            <li><a href="{{ path('procure_tenderbatch_bank') }}">{{ "Requisition Assessment"|trans }}</a></li>
                        {% endif %}
                        <li class="pcoded-hasmenu"><a href="javascript:">{{ "Direct Order" }}</a>
                            <ul class="sub-menu pcoded-submenu">
                                <li><a href="{{ path('procure_tender_quotation_bank') }}">{{ "Quotation" }}</a></li>
                                <li><a href="{{ path('procure_tender_management_memo_quotation_bank') }}">{{ "Approval Memo" }}</a></li>
                            </ul>
                        </li>
                        <li class="pcoded-hasmenu"><a href="javascript:">{{ "Quotation Method" }}</a>
                            <ul class="sub-menu pcoded-submenu">
                                <li><a href="{{ path('procure_tender_quotation_bank') }}">{{ "Quotation" }}</a></li>
                                <li><a href="{{ path('procure_tender_management_memo_quotation_bank') }}">{{ "Approval Memo" }}</a></li>
                            </ul>
                        </li>

                        {#

                        <li class="pcoded-hasmenu">
                            <a href="javascript:">{{ "Repeat Order Method" }}</a>
                            <ul class="sub-menu pcoded-submenu">
                                <li><a href="{{ path('procure_tender_repeatorder_bank') }}">{{ "Repeat Order" }}</a></li>
                                <li><a href="{{ path('procure_tender_management_memo_repeatorder_bank') }}">{{ "Management Approval Memo" }}</a></li>
                            </ul>
                        </li>
                        <li class="pcoded-hasmenu"><a href="javascript:">{{ "Tender Method" }}</a>
                            <ul class="sub-menu pcoded-submenu">
                                <li><a href="{{ path('procure_tender_bank') }}">{{ "Invitation Approval Note" }}</a></li>
                                <li><a href="{{ path('procure_tender_floating_memo_bank')}}">{{ "Tender Floating" }}</a></li>
                            </ul>
                        </li>
                        <li class="pcoded-hasmenu"><a href="javascript:">{{ "Tender Committee Meeting" }}</a>
                            <ul class="sub-menu pcoded-submenu">
                                <li><a href="{{ path('procure_tender_committee_bank') }}">{{ "Tender Committee Meeting" }}</a></li>
                                <li><a href="{{ path('procure_tender_committee_bank_new') }}">{{ "New Tender Meeting" }}</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path('procure_tender_csvendor_memo_bank')}}">{{ "CS Vendor" }}</a></li>
                        <li><a href="{{ path('procure_tender_bank_comparative')}}">{{ "Comparative Statement" }}</a></li>
                        <li><a href="{{ path('procure_purchase_memo_bank') }}">{{ "Purchase Memo" }}</a></li>
                        <li class="pcoded-hasmenu"><a href="javascript:">{{ "Purchase Committee Meeting" }}</a>
                            <ul class="sub-menu pcoded-submenu">
                                <li><a href="{{ path('procure_purchase_committee_bank') }}">{{ "Purchase Committee" }}</a></li>
                                <li><a href="{{ path('procure_purchase_committee_bank_new') }}">{{ "New Purchase Committee" }}</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path('procure_tender_management_memo_bank') }}">{{ "Management Approval Memo" }}</a></li>
                        <li><a href="{{ path('procure_tender_board_memo_bank') }}">{{ "Board Approval Memo" }}</a></li>
                        #}
                        <li><a href="{{ path('procure_tender_bank_workorder',{'mode':'list'}) }}">{{ "Workorder" }}</a></li>
                        <li><a href="{{ path('procure_tender_bank_receive',{'mode':'list'}) }}">{{ "Goods Receive" }}</a></li>
                        <li><a href="{{ path('procure_tender_bank_performance_report') }}">{{ "Performance Report" }}</a></li>
                    </ul>
                </li>
            {% endif %}
            {#{% if app.user.hasRoles(['ROLE_PROCUREMENT_DEPARTMENT_HEAD','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
                <li class="pcoded-hasmenu"><a href="javascript:">{{ "Head of Department" }}</a>
                    <ul class="sub-menu pcoded-submenu">
                        <li><a href="{{ path('procure_tenderbatch_bank_acknowledgment') }}">{{ "Tender Acknowledgment" }}</a></li>
                        <li><a href="{{ path('procure_tender_bank_comparative_recomendation_department') }}">{{ "CS Acknowledgment" }}</a></li>
                    </ul>
                </li>
            {% endif %}
            {% if app.user.hasRoles(['ROLE_PROCUREMENT_ASSESSMENT','ROLE_PROCUREMENT_DEPARTMENT_HEAD','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
                <li><a href="{{ path('procure_tenderbatch_bank_acknowledgment_comment') }}">{{ "Requisition Assessment" }}</a></li>
                <li><a href="{{ path('procure_tender_bank_comparative_recomendation_department_assessment') }}">{{ "CS Assessment" }}</a></li>
            {% endif %}
            {% if app.user.hasRoles(['ROLE_APPROVER','ROLE_PROCUREMENT_LSSD','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
                <li class="pcoded-hasmenu"><a href="javascript:">{{ "Meeting" }}</a>
                    <ul class="sub-menu pcoded-submenu">
                        <li><a href="{{ path('procure_tender_committee_bank',{'mode':'meeting'}) }}">{{ "Tender Committee Meeting" }}</a></li>
                        <li><a href="{{ path('procure_purchase_committee_bank',{'mode':'meeting'}) }}">{{ "Purchase Committee Meeting" }}</a></li>
                    </ul>
                </li>
            {% endif %}#}
            {% if app.user.hasRoles(['ROLE_PROCUREMENT_LSSD','ROLE_PROCUREMENT_LSSD_HEAD','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
                <li class="pcoded-hasmenu"><a href="javascript:">{{ "Master Data" }}</a>
                    <ul class="sub-menu pcoded-submenu">
                        <li><a href="{{ path('procure_particular') }}">{{ "Setting" }}</a></li>
                        <li><a href="{{ path('procure_condition') }}">{{ "Template" }}</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </li>
{% endif %}
{#{{ dump(app.user.roles) }}#}
{% if app.user.hasRoles(['ROLE_PROCUREMENT_LSSD_HEAD','ROLE_APPROVER','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
<li class="">
    <a class="" href="javascript:"><span>{{ "Approval"|trans }}</span></a>
    <ul class="sub-menu pcoded-submenu">
        {#<li class="pcoded-hasmenu"><a href="javascript:">{{ "Requisition Approval(HOB)"|trans }}</a>
            <ul class="sub-menu pcoded-submenu">
                <li><a href="{{ path('procure_tender_bank',{'mode':'approve'}) }}">{{ "Invitation Approval Note" }}</a></li>
                <li><a href="{{ path('procure_tender_bank_comparative',{'mode':'approve'}) }}">{{ "Invitation Approval Note" }}</a></li>
                <li><a href="{{ path('procure_purchase_memo_bank',{'mode':'approve'})}}">{{ "Purchase Notes" }}</a></li>
                <li><a href="{{ path('procure_tender_committee_bank',{'mode':'approve'})}}">{{ "Tender Committee Meeting" }}</a></li>
                <li><a href="{{ path('procure_purchase_committee_bank',{'mode':'approve'})}}">{{ "Purchase Committee" }}</a></li>
            </ul>
        </li>#}
        <li class="pcoded-hasmenu"><a href="javascript:">{{ "Head Of LSSD"|trans }}</a>
            <ul class="sub-menu pcoded-submenu">
                <li><a href="{{ path('procure_delivery_batch_bank',{'mode':'approve'})}}">{{ "Store Delivery Approval" }}</a></li>
            </ul>
        </li>
        <li><a href="javascript:">{{ "Meeting Approval" }}</a>
            <ul class="sub-menu pcoded-submenu">
                <li><a href="{{ path('procure_tender_committee_bank',{'mode':'approve'})}}">{{ "Tender Meeting" }}</a></li>
                <li><a href="{{ path('procure_purchase_committee_bank',{'mode':'approve'})}}">{{ "Purchase Meeting" }}</a></li>
            </ul>
        </li>
        <li class="pcoded-hasmenu"><a href="javascript:">{{ "Tender Approval" }}</a>
            <ul class="sub-menu pcoded-submenu">
                <li><a href="{{ path('procure_tender_bank',{'mode':'approve'})}}">{{ "Pre-Tender" }}</a></li>
                <li><a href="{{ path('procure_tender_floating_memo_bank',{'mode':'approve'})}}">{{ "Tender Floating" }}</a></li>
                <li><a href="{{ path('procure_tender_bank_comparative',{'mode':'approve'})}}">{{ "Comparative Statement" }}</a></li>
            </ul>
        </li>
        <li class="pcoded-hasmenu"><a href="javascript:">{{ "Purchase Approval" }}</a>
            <ul class="sub-menu pcoded-submenu">
                <li><a href="{{ path('procure_tender_quotation_bank',{'mode':'approve'})}}">{{ "Quotation Method" }}</a></li>
                <li><a href="{{ path('procure_tender_repeatorder_bank',{'mode':'approve'})}}">{{ "Repeat Order Method" }}</a></li>
                <li><a href="{{ path('procure_purchase_memo_bank',{'mode':'approve'})}}">{{ "Purchase Memo" }}</a></li>
            </ul>
        </li>
        <li class="pcoded-hasmenu"><a href="javascript:">{{ "Managemnt Approval" }}</a>
            <ul class="sub-menu pcoded-submenu">
                <li><a href="{{ path('procure_tender_management_memo_quotation_bank',{'mode':'approve'})}}">{{ "Quotation" }}</a></li>
                <li><a href="{{ path('procure_tender_management_memo_repeatorder_bank',{'mode':'approve'})}}">{{ "Repeat Order" }}</a></li>
                <li><a href="{{ path('procure_tender_management_memo_bank',{'mode':'approve'})}}">{{ "Tender" }}</a></li>
            </ul>
        </li>
        <li class="pcoded-hasmenu"><a href="javascript:">{{ "Board Approval" }}</a>
            <ul class="sub-menu pcoded-submenu">
                <li><a href="{{ path('procure_tender_board_memo_bank',{'mode':'approve'})}}">{{ "Quotation" }}</a></li>
                <li><a href="{{ path('procure_tender_board_memo_bank',{'mode':'approve'})}}">{{ "Repeat Order" }}</a></li>
                <li><a href="{{ path('procure_tender_board_memo_bank',{'mode':'approve'})}}">{{ "Tender" }}</a></li>
            </ul>
        </li>
        <li class="pcoded-hasmenu"><a href="javascript:">{{ "Workorder Approval" }}</a>
            <ul class="sub-menu pcoded-submenu">
                <li><a href="{{ path('procure_tender_bank_workorder',{'mode':'approve'}) }}">{{ "Workorder" }}</a></li>
                <li><a href="{{ path('procure_tender_bank_receive',{'mode':'approve'}) }}">{{ "Goods Receive" }}</a></li>
            </ul>
        </li>
    </ul>
</li>
{% endif %}
{# Sidebar Menu #}


