{#
<ul class="sub-menu pcoded-submenu">
    {% if app.user.terminal.businessGroup.slug == "garment" %}
        <li class="pcoded-hasmenu"><a href="javascript:">Requisition Report</a>
            <ul class="sub-menu pcoded-submenu">
                <li><a href="{{ path('item_wise_pr_report') }}">{{ "Item Wise PR"|trans }}</a></li>
                <li><a href="{{ path('company_pr_report') }}">{{ "Company Wise PR"|trans }}</a></li>
                <li><a href="{{ path('department_pr_report') }}">{{ "Department Wise PR"|trans }}</a></li>
                <li><a href="{{ path('category_wise_consumption_report') }}">{{ "Category Wise Consumption"|trans }}</a></li>
                <li><a href="{{ path('department_wise_consumption_report') }}">{{ "Department Wise Consumption"|trans }}</a></li>
                <li><a href="{{ path('report_requsition_aging_approval_status') }}">{{ "Aging Approval Status"|trans }}</a></li>
            </ul>
        </li>
        <li class="pcoded-hasmenu"><a href="javascript:">Consumption Report</a>
            <ul class="sub-menu pcoded-submenu">
                <li><a href="{{ path('report_item_monthly_consumption') }}">{{ "Monthly Item Consumption"|trans }}</a></li>
                <li><a href="{{ path('report_department_monthly_consumption') }}">{{ "Monthly Department Consumption"|trans }}</a></li>
            </ul>
        </li>
        <li class="pcoded-hasmenu"><a href="javascript:">PO Report</a>
            <ul class="sub-menu pcoded-submenu">
                <li><a href="{{ path('report_po_summary') }}">{{ "PO Summary"|trans }}</a></li>
                <li><a href="{{ path('report_po_monthly_summary') }}">{{ "PO Monthly Summary"|trans }}</a></li>
                <li><a href="{{ path('item_wise_po_report') }}">{{ "Item Wise PO"|trans }}</a></li>
                <li><a href="{{ path('vendor_wise_po_report') }}">{{ "Vendor Wise PO"|trans }}</a></li>
            </ul>
        </li>
         <li class="pcoded-hasmenu"><a href="javascript:">Stock Report</a>
            <ul class="sub-menu pcoded-submenu">
                <li class="pcoded-hasmenu"><a href="{{ path('stock_report') }}">{{ "Stock"|trans }}</a></li>
                <li class="pcoded-hasmenu"><a href="{{ path('stock_company_report') }}">{{ "Stock Company"|trans }}</a></li>
                <li class="pcoded-hasmenu"><a href="{{ path('stock_wearhouse_report') }}">{{ "Stock Wear house"|trans }}</a></li>
                <li class="pcoded-hasmenu"><a href="{{ path('stock_category_report') }}">{{ "Stock Category"|trans }}</a></li>
            </ul>
        </li>
        <li class="pcoded-hasmenu"><a href="{{ path('supplier_financial_report') }}">{{ "Supplier Financial"|trans }}</a></li>
        <li class="pcoded-hasmenu"><a href="{{ path('workorder_report') }}">{{ "Work Order"|trans }}</a></li>
        <li class="pcoded-hasmenu"><a href="{{ path('contoso_expenses_report') }}">{{ "Contoso Expense"|trans }}</a></li>
    {% endif %}
</ul>#}
