{% for memo in entity.tenders %}
<tr>
    <td class="col-md-1">{{ loop.index }}.</td>
    <td class="col-md-1">{{ memo.invoice }}</td>
    <td class="col-md-1">{{ memo.created|date('d-m-Y') }}</td>
    <td class="col-md-8">{{ memo.subject|raw }}</td>
    <td class="col-md-1">
        <a class='btn  btn-transparent btn-mini red-font remove' data-id='{{ entity.id }}' href='javascript:' data-action='{{ path('procure_invitation_approval_bank_memo_delete',{'id':entity.id,'memo':memo.id}) }}' id='{{ memo.id }}' ><i class='feather icon-trash-2'></i></a>
    </td>
</tr>
{% endfor %}