{% extends 'layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Requistions waiting for store approve'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'list' %} active {% else %} yellow-bg {% endif %}"  href="{{ path('procure_requisition_bank_order',{'mode':'list'})}}"><i class="fa fa-th-large"></i> Order Requisition</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'approve' %} active {% else %} yellow-bg {% endif %}"  href="{{ path('procure_requisition_bank_order',{'mode':'approve'})}}"><i class="feather icon-target"></i> Approve</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'in-progress' %} active {% else %} yellow-bg {% endif %}" href="{{ path('procure_requisition_bank_order',{'mode':'in-progress'})}}"><i class="feather icon-aperture"></i> In-progress</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'archive' %} active {% else %} yellow-bg {% endif %}" href="{{ path('procure_requisition_bank_order',{'mode':'archive'})}}"><i class="feather icon-file"></i> Archive</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                <thead>
                                <form method="get">
                                <tr role="row">
                                    <td colspan="1">{{ form_widget(searchForm.requisitionNo) }}</td>
                                    <td >{{ form_widget(searchForm.requisitionType) }}</td>
                                    <td>{{ form_widget(searchForm.priority) }}</td>
                                    <td><div class="date-group">{{ form_widget(searchForm.startDate) }}</div></td>
                                    <td><div class="date-group">{{ form_widget(searchForm.endDate) }}</div></td>
                                    <td>{{ form_widget(searchForm.process) }}</td>
                                    <td>{{ form_widget(searchForm.filter) }}</td>
                                </tr>
                                {{ form_widget(searchForm._token) }}
                                </form>
                                {%  set sort = app.request.query.get('sort') %}
                                {%  set direction = app.request.query.get('direction') %}
                                <tr>
                                    <th{% if pagination.isSorted('e.created') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Created', 'e.created') }}<span>{% if( direction == 'desc' and sort == 'e.created') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th{% if pagination.isSorted('e.requisitionNo') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Order No.', 'e.requisitionNo') }}<span>{% if( direction == 'desc' and sort == 'e.requisitionNo') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th{% if pagination.isSorted('u.createdBy') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Created By', 't.name') }}<span>{% if( direction == 'desc' and sort == 't.name') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th{% if pagination.isSorted('t.name') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Type of Request', 't.name') }}<span>{% if( direction == 'desc' and sort == 't.name') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    {% if app.user.profile.branch is not empty %}
                                        <th{% if pagination.isSorted('b.name') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(pagination, 'Location', 'b.name') }}<span>{% if( direction == 'desc' and sort == 'b.name') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                        </th>
                                    {% else %}
                                        <th{% if pagination.isSorted('d.name') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(pagination, 'Location', 'd.name') }}<span>{% if( direction == 'desc' and sort == 'd.name') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                        </th>
                                    {% endif %}
                                    <th{% if pagination.isSorted('p.name') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Priority', 'p.name') }}<span>{% if( direction == 'desc' and sort == 'p.name') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th scope="col">Waiting for</th>
                                    <th{% if pagination.isSorted('e.process') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Status', 'e.process') }}
                                        <span>{% if( direction == 'desc' and sort == 'e.process') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if pagination is not empty %}
                                    {% for entity in pagination %}
                                        <tr>
                                            <td>
                                                {{ entity.created|date('d-m-Y') }}<br/>
                                                {% set difference = date(entity.created).diff(date("now"|date)) %}
                                                {% set leftDays = difference.format('Days %a Hours %H') %}
                                                {{ leftDays }}
                                            </td>
                                            <td scope="col"><a class="entity-show" data-action="{{ path('procure_requisition_bank_order',{'id':entity.id}) }}" href="javascript:" data-title="Order No: {{ entity.orderNo }}" id="postView-{{ entity.id }}">{{ entity.orderNo }}</a></td>
                                            <td scope="col">{{ entity.createdBy }}</td>
                                            <td scope="col">{{ entity.requisitionType }}</td>
                                            <td scope="col">{% if entity.branch is not empty %}{{ entity.branch }}{% elseif(entity.department is not empty) %}{{ entity.department }}{% endif %}</td>
                                            <td scope="col">{{ entity.priority }}</td>
                                            <td scope="col">{% if entity.moduleApproveType == "user" %}{{ entity.reportToName }} {% elseif entity.moduleApproveType == "role" %} {{ entity.roleToName }}{% endif %}</td>
                                            <td scope="col">{{ entity.process }}</td>
                                            <th scope="col text-center">
                                                {% if (entity.moduleApproveType == "user" and  app.user.id == entity.reportToId) or (entity.moduleApproveType == "role" and app.user.isApproveGranted(entity.assignToRole))  %}
                                                    <a class='btn btn-mini purple-bg white-font' data-action='{{ path('procure_requisition_bank_order_process',{'id':entity.id}) }}' href='?mode=approve&process=postViewdd-{{ entity.id }}&check=process#modal' id='postViewdd-{{ entity.id }}' ><i class='feather icon-target'></i> Proces</a>
                                                {% endif %}
                                            </th>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="count">
                                Total Records: {{ pagination.getTotalItemCount }}
                            </div>
                        </div>
                        <div class="col-md-9 navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
