{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Delivery Goods Receive'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                <thead>
                                {{ form_start(searchForm) }}
                                <tr role="row">
                                    <td colspan="2">{{ form_widget(searchForm.requisitionNo) }}</td>
                                    <td colspan="1">{{ form_widget(searchForm.requisitionOrderNo) }}</td>
                                    <td colspan="1">{{ form_widget(searchForm.requisitionType) }}</td>
                                    <td colspan="1">{{ form_widget(searchForm.priority) }}</td>
                                    <td><div class="date-group">{{ form_widget(searchForm.startDate) }}</div></td>
                                    <td><div class="date-group">{{ form_widget(searchForm.endDate) }}</div></td>
                                    <td>{{ form_widget(searchForm.filter) }}</td>
                                </tr>
                                {{ form_widget(searchForm._token) }}
                                {{ form_end(searchForm) }}
                                <tr>
                                    {#<th scope="col">S/N</th>#}
                                    <th scope="col">Created</th>
                                    <th scope="col">Requisition No.</th>
                                    <th scope="col">CRN</th>
                                    <th scope="col">Type of Request</th>
                                    <th scope="col">Branch/Department</th>
                                    <th scope="col">Delivery Mode</th>
                                    <th scope="col">Download</th>
                                    <th scope="col">Status</th>
                                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if pagination is not empty %}
                                    {% for entity in pagination %}
                                        <tr>
                                            {#<td scope="col">{{ loop.index }}</td>#}
                                            <td scope="col">{{ entity.created|date('d-m-Y') }}</td>
                                            {#<th scope="col"><a  data-action='{{ path('procure_requisition_show',{'id':entity.requisitionId}) }}' href='?process=postView-{{ entity.id }}&check=process#modal' id='postView-{{ entity.id }}' >{{ entity.requisitionNo }}</a></th>#}
                                            <th scope="col">{{ entity.requisitionNo }}</th>
                                            {#<th scope="col"><a  data-action='{{ path('procure_requisition_store_show',{'id':entity.requisitionOrderId}) }}' href='?process=postView-{{ entity.id }}&check=process#modal' id='postView-{{ entity.id }}' >{{ entity.orderNo }}</a></th>#}
                                            <th scope="col">{{ entity.orderNo }}</th>
                                            <td scope="col">{{ entity.requisitionType }}</td>
                                            <td scope="col">{% if entity.branch is not empty %}{{ entity.branch }}{% elseif(entity.department is not empty) %}{{ entity.department }}{% endif %}</td>
                                            <td scope="col">{{ entity.deliveryMethod }}</td>
                                            <td scope="col">
                                                {% if entity.filename is not empty %}
                                                    <a target="_blank" href="{{ asset('uploads/' ~ entity.filename) }}">Download</a>
                                                {% endif %}
                                            </td>
                                            <td scope="col">{{ entity.process }}</td>
                                            <th width="150px" scope="col text-center">
                                                {% if entity.process!='Close' %}
                                                <a class='btn btn-mini blue-bg white-font' data-action='' href='{{ path('procure_requisition_order_receive',{'id':entity.id}) }}' id='postView-{{ entity.id }}' ><i class='feather icon-aperture'></i> Receive </a>
                                                {% endif %}
                                                <a class='btn btn-mini purple-bg white-font' data-action='' target="_blank" href='{{ path('procure_requisition_order_print',{'id':entity.id}) }}' id='postView-{{ entity.id }}' ><i class='fa fa-print'></i> Print </a>
                                            </th>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
