{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Requisition Information Details'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_requisition_order') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Store Requisition'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="d-flex flex-column bd-highlight mb-3">
                                <div class="p-2 bd-highlight text-center"><img src="{{ asset('assets/images/bank-asia.png') }}"></div>
                                <div class="p-2 bd-highlight text-center">Corporate Office</div>
                                <div class="p-2 bd-highlight text-center"><h4>Store Credit Note: {{ entity.requisitionOrder.orderNo }}</h4></div>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="d-flex flex-column bd-highlight mb-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label"><strong>Name of The Branch</strong></label>
                                            <div class="col-md-8">
                                                <label class="control-label">
                                                    {% if entity.requisitionOrder.requisition is not empty %} {{ entity.requisitionOrder.requisition.branch.name }}{% endif %}<br/>
                                                    {% if entity.requisitionOrder.requisition is not empty %} {{ entity.requisitionOrder.requisition.branch.address }}{% endif %}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label"><strong>Branch Requisition Ref:</strong></label>
                                            <div class="col-md-8">
                                                <label class="control-label">
                                                    {{ entity.requisitionOrder.requisition.createdBy.profile.employeeId }} - {{ entity.requisitionOrder.requisition.createdBy.name }}<br/>
                                                    {% if entity.requisitionOrder.requisition.createdBy.profile.designation is not empty %}{{ entity.requisitionOrder.requisition.createdBy.profile.designation.name }} {% endif %}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex flex-column bd-highlight mb-3">
                                <div class="p-2 bd-highlight text-right"><strong>Created</strong> {{ entity.created|date('d-m-Y') }}</div>
                                <div class="p-2 bd-highlight text-right"><strong>Requisition No.</strong> {{ entity.requisitionOrder.requisition.requisitionNo }}</div>
                                <div class="p-2 bd-highlight text-right"><strong>Delivery Mode</strong> {{ entity.deliveryMethod.name }}</div>
                               {# <div class="p-2 bd-highlight text-right"><strong>Delivery Challan No.</strong> {{ entity.deliveryNo }}</div>#}
                            </div>
                        </div>
                    </div>
                    {{ form_start(form, {'attr': {'class': '','id':'storeForm','action':path('procure_requisition_order_receive',{'id':entity.id})}}) }}
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                <thead>
                                <tr>
                                    <th scope="col">S/N</th>
                                    <th scope="col">Item Code</th>
                                    <th scope="col">Item Name</th>
                                    <th scope="col">Unit</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Total</th>
                                </tr>
                                </thead>
                                <tbody id="invoiceItem">
                                {% if  entity.requisitionOrderItems is not empty %}
                                    {% for  orderItem in entity.requisitionOrderItems  %}
                                        <tr id="remove-{{ orderItem.id }}">
                                            <td>{{ loop.index }}</td>
                                            <td>{{ orderItem.requisitionItem.item.itemCode }}</td>
                                            <td>{{ orderItem.requisitionItem.item.name }}</td>
                                            <td>{% if orderItem.requisitionItem.item.unit is not empty %}{{ orderItem.requisitionItem.item.unit.name }}{% endif %}</td>
                                            <td>{{ orderItem.quantity }}</td>
                                            <td>{{ orderItem.price }}</td>
                                            <td>{{ orderItem.subTotal }}</td>
                                        </tr>
                                    {% endfor %}
                                    <tr><td colspan="6" class="text-right"><strong>SubTotal</strong></td><td>{{ entity.subTotal|number_format(2) }}</td></tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_label(form.comment, 'Comment'|trans, {'label_attr': {'class': 'col-md-12 text-left'}}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_widget(form.comment) }}
                            {{ form_errors(form.comment) }}
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_label(form.attachFile, 'Attach File'|trans, {'label_attr': {'class': 'col-md-12 text-left'}}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_widget(form.attachFile) }}
                            {{ form_errors(form.attachFile) }}
                        </div>
                    </div>
                    <br/>
                    <div class="form-sm-actions">
                        <div class="col-md-12 text-right">
                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-print"></i>{{ 'Reset'|trans }}</button>
                                <button type="submit" class="btn btn-sm blue-bg white-font"><i class="fa fa-save"></i>{{ 'Submit'|trans }}</button>
                            </div>
                        </div>
                    </div>
                    {{ form_widget(form._token) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}

