
<div class="portlet box blue ">
    <div class="portlet-body form">
        <div class="row form-body">
            <div class="form-inner-no-space">
                <div class="row">
                    <div class="col-md-6">
                        We did a descriptive epidemiological study of all laboratory-confirmed and probable cases of COVID-19 and all patients tested for severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2) in New Zealand from Feb 2 to May 13, 2020, after which time community transmission ceased. We extracted data from the national notifiable diseases database and the national SARS-CoV-2 test results repository. Demographic features and disease outcomes, transmission patterns (source of infection, outbreaks, household transmission), time-to-event intervals, and testing coverage were described over five phases of the response, capturing different levels of non-pharmaceutical interventions. Risk factors for severe outcomes (hospitalisation or death) were examined with multivariable logistic regression and time-to-event intervals were analysed by fitting parametric distributions using maximum likelihood estimation.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
