{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Requisition Information Details'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Store Requisition'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="d-flex flex-column bd-highlight mb-3">
                                <div class="p-2 bd-highlight text-center"><img src="{{ asset('assets/images/bank-asia.png') }}"></div>
                                <div class="p-2 bd-highlight text-center">Corporate Office</div>
                                <div class="p-2 bd-highlight text-center"><h4>Store Credit Note: {{ deliver.deliveryNo }}</h4></div>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="d-flex flex-column bd-highlight mb-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="control-label"><strong>Location:</strong>
                                            {% if entity.branch is not empty %} {{ entity.branch.name }}{% endif %}
                                            {% if entity.branch.address is not empty %} {{ ","~ entity.branch.address }}{% endif %}
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="control-label">
                                            <strong>Requisition Ref:</strong>
                                            {{ entity.createdBy.profile.employeeId }} - {{ entity.createdBy.name }} {% if entity.createdBy.profile.designation is not empty %}{{ "("~entity.createdBy.profile.designation.name~")" }} {% endif %}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex flex-column bd-highlight mb-3">
                                <div class="p-2 bd-highlight text-right"><strong>Created</strong> {{ entity.created|date('d-m-Y') }}</div>
                                <div class="p-2 bd-highlight text-right"><strong>Requisition No.</strong> {{ entity.requisitionNo }}</div>
                            </div>
                        </div>
                    </div>
                    {{ form_start(form, {'attr': {'class': '','id':'requisitionForm','action':path('procure_requisition_bank_order_process',{'id':deliver.id})}}) }}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-3 control-label required">Mode of Delivery</label>
                                <div class="col-md-3">
                                    {{ form_widget(form.deliveryMethod) }}
                                    {{ form_errors(form.deliveryMethod) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                <thead class="thead-blue">
                                <tr>
                                    <th scope="col">S/N</th>
                                    <th scope="col">Item Code</th>
                                    <th scope="col">Item Name</th>
                                    <th scope="col">Unit</th>
                                    <th scope="col">Stock in Branch</th>
                                    <th scope="col">Ask Req. QTY</th>
                                    <th scope="col">Remin Stock</th>
                                    <th scope="col">Approval QTY </th>
                                    <th scope="col">Present Stock</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Total</th>
                                </tr>
                                </thead>
                                <tbody id="invoiceItem">
                                {% set total = 0 %}
                                {% if entity.requisitionItems is not empty %}
                                    {% for item in entity.requisitionItems %}
                                        {% set total = (total + (item.stock.purchaseprice * item.quantity)) %}
                                        <tr id="remove-{{ item.id }}">
                                            <td>{{ loop.index }}</td>
                                            <td>{{ item.item.itemCode }}</td>
                                            <td>{{ item.name }}</td>
                                            <td>{% if item.item.unit is not empty %}{{ item.item.unit.name }}{% endif %}</td>
                                            <td>{{ item.stockIn }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.stock.remainingQuantity }}</td>
                                            <td>
                                                <input type="hidden" name="requisitionItemPrice[]" id="requisitionItemPrice-{{ item.stock.id }}" value="{{ item.price }}">
                                                <input type="hidden" name="requisitionItem[]" id="requisitionItem-{{ item.id }}" value="{{ item.id }}">
                                                <input type="hidden" name="remainingQuantity[]" id="remainingQuantity-{{ item.stock.id }}" value="{{ item.stock.remainingQuantity }}">
                                                <input type="number" data-id="{{ item.stock.id }}" id="quantity-{{ item.stock.id }}" name="quantity[]" class="form-control input number-input storeRequisitionQuantity" value="{{ item.quantity }}">
                                            <td><span id="remainQnt-{{ item.stock.id }}">{{ item.stock.remainingQuantity - item.quantity }}</span></td>
                                            <td>{{ item.stock.purchasePrice }}</td>
                                            <td class="subTotal" id="subTotal-{{ item.stock.id }}">{{ (item.stock.purchaseprice * item.quantity)|number_format(2) }}</td>
                                        </tr>
                                    {% endfor %}
                                    <tr><td colspan="10" class="text-right"><strong>SubTotal</strong></td><td class="grandTotal">{{ total|number_format(2) }}</td></tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% if  deliver.deliveryMethod is defined and deliver.deliveryMethod is not empty and deliver.deliveryMethod.slug == "hand-delivery" %}
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label required" for="receiverName">Name</label>
                                    <div class="col-md-8">
                                        <input type="text" id="receiverName" name="receiverName" value="{{ deliver.receiverName }}" required="required" autofocus="autofocus" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label required" for="receiverDesignation">Designation</label>
                                    <div class="col-md-8">
                                        <input type="text" id="receiverDesignation" name="receiverDesignation" value="{{ deliver.receiverDesignation }}" required="required" autofocus="autofocus" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label required" for="receiverAddress">Dep/Branch</label>
                                    <div class="col-md-8">
                                        <input type="text" id="receiverAddress" name="receiverAddress" value="{{ deliver.receiverAddress }}" required="required" autofocus="autofocus" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if  deliver.deliveryMethod and deliver.deliveryMethod is not empty and deliver.deliveryMethod.slug == "courier" %}
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label required" for="sub_branch_form_name">Courier Name</label>
                                    <div class="col-md-8">
                                        <select class="form-control" name="courier" >
                                            <option value="">--Select Courier Service</option>
                                            {% for cou in couriers %}
                                                <option {% if deliver.courier is defined and deliver.courier is not empty and  deliver.courier.id == cou.id %} selected="selected" {% endif %} value="{{ cou.id }}">{{ cou.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label required" for="">CN No.</label>
                                    <div class="col-md-8">
                                        <input type="text" id="cnNo" name="cnNo" value="{{ deliver.cnNo }}" required="required" autofocus="autofocus" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label required" for="sub_branch_form_name">Comments</label>
                                    <div class="col-md-8">
                                        <input type="text" id="comment" name="comment" value="{{ deliver.comment }}" required="required" autofocus="autofocus" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-12">
                            <label class="col-md-3 control-label required">Remark</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    {{ form_widget(form.comment) }}
                                    {{ form_errors(form.comment) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "user") %}
                        <div class="row">
                            <div class="col-md-12">
                                {{ render(controller(
                                    "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveUers",
                                    { 'id': entity.id,'module':entity.module}
                                )) }}
                            </div>
                        </div>
                    {% elseif (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "role") %}
                        <div class="row">
                            <div class="col-md-12">
                                {{ render(controller(
                                    "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveRoles",
                                    { 'id': entity.id,'module':entity.module}
                                )) }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="form-actions inline-submit">
                        <div class="row">
                            <div class="col-md-6 text-left">&nbsp;</div>
                            <div class="col-md-6 text-right">
                                <div class="btn-group" role="group">
                                    <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                    <button type="button" id="submitBtn" name="save" class="btn btn-info form-submit btn"><i class="fa fa-refresh"></i> Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_widget(form._token) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/script.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $(document).on('change',".delivery-method", function (event) {
        var mode = $(this).val();
        if(mode === ""){
            return false;
        }
        var url = Routing.generate('procure_tender_bank_delivery_method',{'id':'{{ deliver.id }}'});
            $.get(url,{'mode':mode}, function( response ) {
            location.reload();
        });
    });
    jqueryTemporaryLoad();
{% endblock %}
