<table>
    <thead>
    <tr>
        <th colspan="14">Bank Asia Limited</th>
    </tr>
    <tr>
        <th colspan="14">Store ledger for Printing Stationaries forwarded towards your end for onward bebiting the related branches Date: {% if filterBy['startDate'] is defined and filterBy['startDate'] is not empty %} {{ filterBy['startDate'] }} {% endif %} To {% if filterBy['endDate'] is defined and filterBy['endDate'] is not empty %} {{ filterBy['endDate']}} {% endif %}</th>
    </tr>
    </thead>
</table>
<table>
    <thead>
    <tr>
        <th scope="col">Item Name</th>
        <th scope="col">Item Code</th>
        <th scope="col" colspan="3">Opening</th>
        <th scope="col" colspan="3">Receive</th>
        <th scope="col" colspan="3">Issue</th>
        <th scope="col" colspan="3">Closing</th>
    </tr>
    <tr>
        <th scope="col">Item Name</th>
        <th scope="col">Item Code</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Amount</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Amount</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Amount</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Amount</th>

    </tr>
    </thead>
    <tbody>
    {% if entities is not empty  %}
        {% for entity in entities['rows']  %}
            {% set openingQty = 0 %}
            {% set receiveQty = 0 %}
            {% set issueQty = 0 %}
            <tr>
                <td>{{ entity.itemName }}</td>
                <td>{{ entity.itemCode }}</td>
                <td>
                    {% if entities.opening[entity.id] is defined and entities.opening[entity.id] is not empty %}
                        {{ entities.opening[entity.id].quantity }}
                        {% set openingQty = entities.opening[entity.id].quantity %}

                    {% endif %}
                </td>
                <td>{% if entities.opening[entity.id] is defined and entities.opening[entity.id] is not empty %}{{ entities.opening[entity.id].price }}{% endif %}</td>
                <td>
                    {% if entities.opening[entity.id] is defined and entities.opening[entity.id] is not empty %}{{ (entities.opening[entity.id].price * entities.opening[entity.id].quantity) }}{% endif %}</td>
                <td>
                    {% if entities.stockIn[entity.id] is defined and entities.stockIn[entity.id] is not empty %}
                        {{ entities.stockIn[entity.id].quantity }}
                        {% set receiveQty = entities.stockIn[entity.id].quantity %}
                    {% endif %}
                </td>
                <td>{% if entities.stockIn[entity.id] is defined and entities.stockIn[entity.id] is not empty %}{{ entities.stockIn[entity.id].price }}{% endif %}</td>
                <td>{% if entities.stockIn[entity.id] is defined and entities.stockIn[entity.id] is not empty %}{{ (entities.stockIn[entity.id].price * entities.stockIn[entity.id].quantity) }}{% endif %}</td>
                <td>
                    {% if entities.stockOut[entity.id] is defined and entities.stockOut[entity.id] is not empty %}
                        {{ entities.stockOut[entity.id].quantity }}
                        {% set issueQty = entities.stockOut[entity.id].quantity %}

                    {% endif %}
                </td>
                <td>{% if entities.stockOut[entity.id] is defined and entities.stockOut[entity.id] is not empty %}{{ entities.stockOut[entity.id].price }}{% endif %}</td>
                <td>{% if entities.stockOut[entity.id] is defined and entities.stockOut[entity.id] is not empty %}{{ (entities.stockOut[entity.id].price * entities.stockOut[entity.id].quantity) }}{% endif %}</td>
                <td>{{ (openingQty + receiveQty) - issueQty }}</td>
                <td>{{ entity.price }}</td>
                <td>{{ ((openingQty + receiveQty) - issueQty) * entity.price }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>
