<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Report: Store Ledger</title>
    <style>
        table tbody tr td{
            padding: 2px;
        }
    </style>
</head>
<body>
{% if headerImage %}
<div style="padding-bottom: 10px"><img width="100%" src="{{ asset(headerImage) }}"></div>
{% endif %}
<div class="row">
    <caption><h2 style="text-align:center">Bank Asia Limited</h2></caption>
</div>
<div class="row">
    <caption style="text-align:center"><strong style="text-align:center">Store ledger for Printing Stationaries forwarded towards your end for onward bebiting the related branches Date: {% if filterBy['startDate'] is defined and filterBy['startDate'] is not empty %} {{ filterBy['endDate'] }} {% endif %} To {% if filterBy['startDate'] is defined and filterBy['endDate'] is not empty %} {{ filterBy['endDate']}} {% endif %}</strong></caption>
</div>

<table border="1" cellspacing="0" cellpadding="5" width="100%">
    <thead>
    <tr>
        <th scope="col">Item Name</th>
        <th scope="col">Item Code</th>
        <th scope="col" colspan="3">Opening</th>
        <th scope="col" colspan="3">Receive</th>
        <th scope="col" colspan="3">Issue</th>
        <th scope="col" colspan="3">Closing</th>
    </tr>
    <tr>
        <th scope="col">Item Name</th>
        <th scope="col">Item Code</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Amount</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Amount</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Amount</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Amount</th>

    </tr>
    </thead>
    <tbody>
    {% if entities is not empty  %}
        {% for entity in entities['rows']  %}
            {% set openingQty = 0 %}
            {% set receiveQty = 0 %}
            {% set issueQty = 0 %}
            <tr>
                <td>{{ entity.itemName }}</td>
                <td>{{ entity.itemCode }}</td>
                <td>
                    {% if entities.opening[entity.id] is defined and entities.opening[entity.id] is not empty %}
                        {{ entities.opening[entity.id].quantity }}
                        {% set openingQty = entities.opening[entity.id].quantity %}

                    {% endif %}
                </td>
                <td>{% if entities.opening[entity.id] is defined and entities.opening[entity.id] is not empty %}{{ entities.opening[entity.id].price }}{% endif %}</td>
                <td>
                    {% if entities.opening[entity.id] is defined and entities.opening[entity.id] is not empty %}{{ (entities.opening[entity.id].price * entities.opening[entity.id].quantity) }}{% endif %}</td>
                <td>
                    {% if entities.stockIn[entity.id] is defined and entities.stockIn[entity.id] is not empty %}
                        {{ entities.stockIn[entity.id].quantity }}
                        {% set receiveQty = entities.stockIn[entity.id].quantity %}
                    {% endif %}
                </td>
                <td>{% if entities.stockIn[entity.id] is defined and entities.stockIn[entity.id] is not empty %}{{ entities.stockIn[entity.id].price }}{% endif %}</td>
                <td>{% if entities.stockIn[entity.id] is defined and entities.stockIn[entity.id] is not empty %}{{ (entities.stockIn[entity.id].price * entities.stockIn[entity.id].quantity) }}{% endif %}</td>
                <td>
                    {% if entities.stockOut[entity.id] is defined and entities.stockOut[entity.id] is not empty %}
                        {{ entities.stockOut[entity.id].quantity }}
                        {% set issueQty = entities.stockOut[entity.id].quantity %}

                    {% endif %}
                </td>
                <td>{% if entities.stockOut[entity.id] is defined and entities.stockOut[entity.id] is not empty %}{{ entities.stockOut[entity.id].price }}{% endif %}</td>
                <td>{% if entities.stockOut[entity.id] is defined and entities.stockOut[entity.id] is not empty %}{{ (entities.stockOut[entity.id].price * entities.stockOut[entity.id].quantity) }}{% endif %}</td>
                <td>{{ (openingQty + receiveQty) - issueQty }}</td>
                <td>{{ entity.price }}</td>
                <td>{{ ((openingQty + receiveQty) - issueQty) * entity.price }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>
{% if footerImage %}
<div style="padding-top: 10px"><img width="100%" src="{{ asset(footerImage) }}"></div>
{% endif %}
</body>
</html>