<div class="portlet box green ">
    <div class="portlet-title">
        <div class="caption">{{ 'Order Approval Details'|trans }} </div>
    </div>
    <div class="portlet-body form">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex flex-column bd-highlight mb-3">
                    <div class="p-3 bd-highlight"><strong>Order Issue No.</strong> {{ entity.orderNo }}</div>
                    <div class="p-3 bd-highlight"><strong>Created</strong> {{ entity.created|date('d-m-Y') }}</div>
                    <div class="p-3 bd-highlight"><strong>Created By</strong> {{ entity.createdBy.name }}</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex flex-column bd-highlight mb-3">
                    <div class="p-3 bd-highlight"><strong>Requisition Issue No.</strong> {{ entity.requisitionIssue.requisitionNo }}</div>
                    <div class="p-3 bd-highlight"><strong>Company</strong> {% if entity.requisitionIssue.branch is not empty %} {{ entity.requisitionIssue.branch.name }}{% endif %}</div>
                    <div class="p-3 bd-highlight"><strong>Department</strong> {% if entity.requisitionIssue.department is not empty %} {{ entity.requisitionIssue.department.name }}{% endif %}</div>
                    <div class="p-3 bd-highlight"><strong>Buyer Name</strong> {% if entity.requisitionIssue.buyerName is not empty %} {{ entity.requisitionIssue.buyerName }}{% endif %}</div>
                    <div class="p-3 bd-highlight"><strong>Style No</strong> {% if entity.requisitionIssue.styleNo is not empty %} {{ entity.requisitionIssue.styleNo }}{% endif %}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"><strong>Job Details/Justification</strong></div>
            <div class="col-md-10"><p>{{ entity.comment }}</p></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-bordered table-hover display nowrap">
                    <tr>
                        <th scope="col">S/N</th>
                        <th scope="col">Item Name</th>
                        <th scope="col">UOM</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Size</th>
                        <th scope="col">Color</th>
                        <th scope="col">Section</th>
                        <th scope="col">Line</th>
                        <th scope="col">Req.Qnt</th>
                        <th scope="col">Issue Qty</th>
                        <th scope="col">Mechine Type</th>
                        <th scope="col">M/P No</th>

                    </tr>
                    {% if entity.requisitionOrderItems is not empty %}
                        {% for item in entity.requisitionOrderItems %}
                            <tr id="remove-{{ item.id }}">
                                <td>{{ loop.index }}</td>
                                <td>{{ item.requisitionIssueItem.item.name }}</td>
                                <td>{% if item.requisitionIssueItem.item.unit is not empty %}{{ item.requisitionIssueItem.item.unit.name }}{% endif %}</td>
                                <td>{% if item.requisitionIssueItem.brand is not empty %}{{ item.requisitionIssueItem.brand.name }}{% endif %}</td>
                                <td>{% if item.requisitionIssueItem.size is not empty %}{{ item.requisitionIssueItem.size.name }}{% endif %}</td>
                                <td>{% if item.requisitionIssueItem.color is not empty %}{{ item.requisitionIssueItem.color.name }}{% endif %}</td>
                                <td>{% if item.requisitionIssueItem.line is not empty %}{{ item.requisitionIssueItem.line.name }}{% endif %}</td>
                                <td>{% if item.requisitionIssueItem.section is not empty %}{{ item.requisitionIssueItem.section.name }}{% endif %}</td>
                                <td>{{ item.requisitionIssueItem.quantity }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{% if item.requisitionIssueItem.machineType is not empty %}{{ item.requisitionIssueItem.machineType.name }}{% endif %}</td>
                                <td>{{ item.requisitionIssueItem.mpNo }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
        </div>
        <div class="card-header grey-bg inner-header" style="margin-bottom: 15px">
            <h5>Signature</h5>
        </div>
        {% if entity.procurementProcess is not empty %}
            <div class="grid-designation">
                {% for list in entity.procurementProcess %}
                    {% if list.close == true  %}
                    <div class="col-md-12 text-left">
                        <div style="padding: 15px; border: 1px solid #dddddd; margin-bottom: 15px; text-align: center">
                            {% if list.assignTo.profile.signaturePath is not empty %}
                                <img style="height: 60px" src="{{ asset('uploads/user/'~list.assignTo.profile.signaturePath) }}">
                            <br/>
                            {% endif%}
                            {{ list.assignTo.name }}<br/>{% if list.assignTo.profile.designation %}{{ list.assignTo.profile.designation.name }}{% endif %}
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% if entity.procurementProcess is not empty %}
            <div class="card-header grey-bg inner-header" style="margin-bottom: 15px">
                <h5>Comments</h5>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped table-bordered table-hover display nowrap">
                        <tr>
                            <th scope="col" class="text-left">S/N</th>
                            <th scope="col" class="text-left">Comment By</th>
                            <th scope="col" class="text-left">Created</th>
                            <th scope="col" class="text-left">Comment</th>
                            <th scope="col" class="text-left">Status</th>

                        </tr>
                        {% for list in entity.procurementProcess %}
                            <tr>
                                <td scope="col" class="text-left">{{ loop.index }}.</td>
                                <td scope="col" class="text-left">{{ list.assignTo.name }}</td>
                                <td scope="col" class="text-left">{{ list.created|date('d-m-Y H:m') }}</td>
                                <td  class="text-left">{{ list.comment|raw }}</td>
                                <td scope="col" class="text-left">{{ list.process }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}
        {{ form_start(form, {'attr': {'class': 'form-horizontal right','id':'approveForm','action':path('procure_order_issue_process',{'id':entity.id})}}) }}
        <div class="form-inner-no-space">
            <div class="row">
                <div class="col-md-12 form-box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_label(form.comment, 'Comment'|trans, {'label_attr': {'class': 'col-md-12 text-left'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    {{ form_widget(form.comment,{'attr':{'rows':6}}) }}
                                    {{ form_errors(form.comment) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {#<div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_label(form.transferTo, 'Transfer To'|trans, {'label_attr': {'class': 'col-md-3'}}) }}
                                <div class="col-md-9">
                                    {{ form_widget(form.transferTo) }}
                                    {{ form_errors(form.transferTo) }}
                                </div>
                            </div>
                        </div>
                    </div>#}
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <div class="btn-group" >
                                <button type="submit" name="reject" value="reject"  class="btn btn-sm btn-warning white-font"><i class="feather icon-x-square"></i>Reject</button>
                                <button type="submit" name="approve" value="approve" class="btn btn-sm blue-bg white-font"><i class="feather icon-check-square"></i>Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        {{ form_widget(form._token) }}
        {{ form_end(form) }}

    </div>
</div>
<style>
    .grid-designation {
        width: 100%;
        display: grid;
        grid-gap: 0;
    }
    .grid-designation {
        grid-template-columns: repeat(3, calc(100%/3));
    }
    .grid-products {
        width: 100%;
        display: grid;
        grid-gap: 0;
    }
    .grid-products {
        grid-template-columns: repeat(2, calc(100%/2));
    }
</style>
