{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Setting Components'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-8">
                            <table class="table table-striped table-bordered table-hover display nowrap" id="dataTable">
                                <thead class="thead-gray">
                                <tr>
                                    <th scope="col">S/N</th>
                                    <th scope="col">Setting Type</th>
                                    <th scope="col">Setting</th>
                                    <th scope="col">Code</th>
                                    <th scope="col">Status</th>
                                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for list in entities %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ list.particularType.name }}</td>
                                        <td>{{ list.name }}</td>
                                        <td>{{ list.code }}</td>
                                        <td>
                                            <input class="status" data-action="{{ path('procure_particular_status',{'id':list.id}) }}" type="checkbox" {% if list.status == 1 %} checked {% endif %} data-toggle="toggle" data-size="xs" data-style="slow" data-offstyle="warning" data-onstyle="info" data-on="Enabled" data-off="Disabled">
                                        </td>
                                        <td>
                                            <a class="btn btn-mini yellow-bg white-font" href="{{ path('procure_particular_edit',{'id':list.id}) }}" id="1"><i class="feather icon-edit"></i> Edit</a>
                                            <a class="btn  btn-transparent btn-mini red-font remove" data-id="1" href="javascript:" data-action="{{ path('procure_particular_delete',{'id':list.id}) }}" id="1"><i class="feather icon-trash-2"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'ADD NEW Setting'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-12 form-box-header"><p>All master Setting data setup here</p></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 form-box-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.particularType, 'Setting Type'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.particularType) }}
                                                                {{ form_errors(form.particularType) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.name, 'Name'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.name) }}
                                                                {{ form_errors(form.name) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.name, 'Slug'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.slug) }}
                                                                {{ form_errors(form.slug) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.code, 'Code'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.code) }}
                                                                {{ form_errors(form.code) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.description, 'Description'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.description) }}
                                                                {{ form_errors(form.description) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="col-md-4"></label>
                                                            <div class="col-md-6">
                                                                {{ form_widget(form.status) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-sm-actions">
                                            <div class="col-md-12 text-center">
                                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown"><button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                                    {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue',value:'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{ form_widget(form._token) }}
                                    {{ form_end(form) }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
