
{% if entity.requisitionType.slug == 'purchase-requisition' %}
    <div class="row">
        {{ form_start(itemForm, {'attr': {'class': 'form-horizontal sub-form right col-md-12','id':'itemForm','action':path('procure_requisition_bank_save_item',{'id':entity.id,'module':entity.module})}}) }}
        <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        {{ form_widget(itemForm.item) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_widget(itemForm.description) }}
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <div class="custom-file">
                                {{ form_widget(itemForm.file) }}
                                <label class="custom-file-label" for="requisition_item_form_file">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="btn-group btn-group-mini">
                            {{ form_widget(itemForm.quantity) }}
                            <button type="submit" data-action="" id="addItem" name="addItem" class="btn btn-sm  blue-bg white-font"><i class="feather icon-plus"></i> Add Item</button>
                        </div>
                    </div>
                </div>
        </div>
        {{ form_widget(itemForm._token) }}
        {{ form_end(itemForm) }}
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                <thead class="thead-gray">
                <tr>
                    <th scope="col">S/N</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">File</th>
                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                </tr>
                </thead>
                <tbody id="invoiceItem">
                {% if entity.requisitionItems is not empty %}
                    {% for item in entity.requisitionItems %}
                        <tr id="remove-{{ item.id }}">
                            <td>{{ loop.index }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.description }}</td>
                            <td>{% if item.item.unit is not empty %}{{ item.item.unit.name }}{% endif %}</td>
                            <td>
                                <input type="hidden" name="price-{{ item.id }}" id="price-{{ item.id }}" value="{{ item.price }}">
                                <input type="number"  data-id="{{ item.id }}" min="1" id="quantity-{{ item.id }}" data-action="{{ path('procure_requisition_bank_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="quantity-{{ item.id }}" class="form-control form-control-sm number-input quantity" value="{{ item.quantity }}">
                            </td>
                            <td>{% if item.path is not empty %}
                                    <a target="_blank" href="{{ asset(item.imagePath) }}" class="btn btn-mini blue-bg white-font"  ><i class="feather icon-download"></i> </a>
                                {% endif %}
                            </td>
                            <td><a href="javascript:" class="btn btn-mini btn-danger  itemRemove" data-action="{{ path('procure_requisition_bank_item_delete',{'entity':entity.id,'module':entity.module, 'id':item.id}) }}" ><i class="feather icon-trash-2"></i> </a></td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{#    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                <thead class="thead-gray">
                <tr>
                    <th scope="col">S/N</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Last QTY</th>
                    <th scope="col">Last Date</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Stock in</th>
                    <th scope="col">Price</th>
                    <th scope="col">SubTotal</th>
                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                </tr>
                </thead>
                <tbody id="invoiceItem">
                {% if entity.requisitionItems is not empty %}
                    {% for item in entity.requisitionItems %}
                        <tr id="remove-{{ item.id }}">
                            <td>{{ loop.index }}</td>
                            <td>{{ item.name }}</td>
                            <td>{% if item.item.unit is not empty %}{{ item.item.unit.name }}{% endif %}</td>

                            <td>{% if item.lastRequisitionItem is not empty %}{{ item.lastRequisitionItem.quantity }}{% endif %}</td>
                            <td>{% if item.lastRequisitionItem is not empty %}{{ item.lastRequisitionItem.created|date('d-m-y') }}{% endif %}</td>
                            <td>
                                <input type="hidden" name="price-{{ item.id }}" id="price-{{ item.id }}" value="{{ item.price }}">
                                <input type="number"  data-id="{{ item.id }}" id="quantity-{{ item.id }}" name="quantity-{{ item.id }}" class="form-control form-control-sm input number-input quantity" value="{{ item.quantity }}">
                            </td>
                            <td>
                                <input type="number" data-id="{{ item.id }}" id="stockIn-{{ item.id }}" name="stockIn-{{ item.id }}" class="form-control form-control-sm input number-input quantity" value="{{ item.stockIn }}">
                            </td>
                            <td>{{ item.price }}</td>
                            <td><span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span></td>
                            <td><a href="javascript:" class="btn btn-mini btn-danger  itemRemove" data-action="{{ path('procure_requisition_item_delete',{'entity':entity.id,'module':entity.module, 'id':item.id}) }}" ><i class="feather icon-trash-2"></i> </a></td>
                        </tr>
                    {% endfor %}
                    <tr><td colspan="8" class="text-right"><strong>SubTotal</strong></td><td>{{ entity.subTotal|number_format(2) }}</td><td></td></tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                <thead class="thead-gray">
                <tr>
                    <th scope="col">S/N</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Prev Pur Price</th>
                    <th scope="col">Prev Pur Date</th>
                    <th scope="col">Present Book Value</th>
                    <th scope="col">Service Date</th>
                    <th scope="col">Repair Cost</th>
                    <th scope="col">Warranty</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">File</th>
                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                </tr>
                </thead>
                <tbody id="invoiceItem">
                {% if entity.requisitionItems is not empty %}
                    {% for item in entity.requisitionItems %}
                        <tr id="remove-{{ item.id }}">
                            <td>{{ loop.index }}</td>
                            <td><strong>{{ item.name }}</strong><br/>{{ item.description }}</td>
                            <td>{% if item.item.unit is not empty %}{{ item.item.unit.name }}{% endif %}</td>
                            <td>{% if item.previousPurchasePrice is not empty %}{{ item.previousPurchasePrice }}{% endif %}</td>
                            <td>{% if item.previousPurchaseDate is not empty %}{{ item.previousPurchaseDate|date('d-m-y') }}{% endif %}</td>
                            <td>{% if item.lastServiceDate is not empty %}{{ item.lastServiceDate|date('d-m-y') }}{% endif %}</td>
                            <td>{{ item.repairCost }}</td>
                            <td>{% if item.lastServiceDate is not empty %}{{ item.lastServiceDate|date('d-m-y') }}{% endif %}</td>
                            <td>{{ item.warranty }}</td>
                            <td>
                                <input type="hidden" name="price-{{ item.id }}" id="price-{{ item.id }}" value="{{ item.price }}">
                                <input type="number"  data-id="{{ item.id }}" id="quantity-{{ item.id }}" name="quantity-{{ item.id }}" class="form-control form-control-sm input number-input quantity" value="{{ item.quantity }}">
                            </td>
                            <td>{% if item.path is not empty %}
                                    <a target="_blank" href="{{ asset(item.imagePath) }}" class="btn btn-mini blue-bg white-font"  ><i class="feather icon-download"></i> </a>
                                {% endif %}
                            </td>
                            <td><a href="javascript:" class="btn btn-mini btn-danger  itemRemove" data-action="{{ path('procure_requisition_item_delete',{'entity':entity.id,'module':entity.module, 'id':item.id}) }}" ><i class="feather icon-trash-2"></i> </a></td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>#}
{% endif %}
{% if entity.requisitionType.slug == 'store-requisition' %}
    <div class="row">
        {{ form_start(itemForm, {'attr': {'class': 'form-horizontal sub-form right col-md-12','id':'itemForm','action':path('procure_requisition_bank_save_item',{'id':entity.id,'module':entity.module})}}) }}
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-5">
                    {{ form_widget(itemForm.item) }}
                </div>
                <div class="col-md-4">
                    {{ form_widget(itemForm.description) }}
                </div>
                <div class="col-md-1">
                    {{ form_widget(itemForm.quantity) }}
                </div>
                <div class="col-md-1">
                    {{ form_widget(itemForm.stockIn) }}
                </div>
                <div class="col-md-1">
                    <div class="btn-group col-md-12">
                        <button type="submit" data-action="" id="addItem" name="addItem" class="btn btn-sm  blue-bg white-font"><i class="feather icon-plus"></i> Add Item</button>
                    </div>
                </div>
            </div>
        </div>
        {{ form_widget(itemForm._token) }}
        {{ form_end(itemForm) }}
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                <thead class="thead-gray">
                <tr>
                    <th scope="col">S/N</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Last QTY</th>
                    <th scope="col">Last Date</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Present Stock</th>
                    <th scope="col">Price</th>
                    <th scope="col">SubTotal</th>
                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                </tr>
                </thead>
                <tbody id="invoiceItem">
                {% if entity.requisitionItems is not empty %}
                    {% for item in entity.requisitionItems %}
                        <tr id="remove-{{ item.id }}">
                            <td>{{ loop.index }}</td>
                            <td>{{ item.name }}</td>
                            <td>{% if item.item.unit is not empty %}{{ item.item.unit.name }}{% endif %}</td>

                            <td>{% if item.lastRequisitionItem is not empty %}{{ item.lastRequisitionItem.quantity }}{% endif %}</td>
                            <td>{% if item.lastRequisitionItem is not empty %}{{ item.lastRequisitionItem.created|date('d-m-y') }}{% endif %}</td>
                            <td>
                                <input type="hidden" name="price-{{ item.id }}" id="price-{{ item.id }}" value="{{ item.price }}">
                                <input type="number"  data-id="{{ item.id }}" min="1" id="quantity-{{ item.id }}" data-action="{{ path('procure_requisition_bank_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="quantity-{{ item.id }}" class="form-control form-control-sm number-input quantity" value="{{ item.quantity }}">
                            </td>
                            <td>{{ item.stockIn }}</td>
                            <td>{{ item.price }}</td>
                            <td><span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span></td>
                            <td><a href="javascript:" class="btn btn-mini btn-danger  itemRemove" data-action="{{ path('procure_requisition_item_delete',{'entity':entity.id,'module':entity.module, 'id':item.id}) }}" ><i class="feather icon-trash-2"></i> </a></td>
                        </tr>
                    {% endfor %}
                    <tr><td colspan="8" class="text-right"><strong>SubTotal</strong></td><td>{{ entity.subTotal|number_format(2) }}</td><td></td></tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}
{% if entity.requisitionType.slug in ['replacement-requisition','repair-requisition'] %}
    <div class="row">
        {{ form_start(itemForm, {'attr': {'class': 'form-horizontal sub-form right col-md-12','id':'itemForm','action':path('procure_requisition_bank_save_item',{'id':entity.id,'module':entity.module})}}) }}
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    {{ form_widget(itemForm.item) }}
                </div>
                <div class="col-md-4">
                    {{ form_widget(itemForm.description) }}
                </div>
                <div class="col-md-4">
                    <div class="btn-group btn-group-mini">
                        {{ form_widget(itemForm.previousPurchasePrice) }}
                        {{ form_widget(itemForm.previousPurchaseDate) }}
                        {{ form_widget(itemForm.presentBookValue) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12"><br/></div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    {{ form_widget(itemForm.lastServiceDate) }}
                </div>
                <div class="col-md-2">
                    {{ form_widget(itemForm.repairCost) }}
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="custom-file">
                            {{ form_widget(itemForm.file) }}
                            <label class="custom-file-label" for="requisition_item_form_file">Choose file</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    {{ form_widget(itemForm.warranty) }}
                </div>
                <div class="col-md-2">
                    <div class="btn-group btn-group-mini">
                        {{ form_widget(itemForm.quantity) }}
                        <button type="submit" data-action="" id="addItem" name="addItem" class="btn btn-sm  blue-bg white-font"><i class="feather icon-plus"></i> Add Item</button>
                    </div>
                </div>
            </div>
        </div>
        {{ form_widget(itemForm._token) }}
        {{ form_end(itemForm) }}
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                <thead class="thead-gray">
                <tr>
                    <th scope="col">S/N</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Prev Pur Price</th>
                    <th scope="col">Prev Pur Date</th>
                    <th scope="col">Present Book Value</th>
                    <th scope="col">Service Date</th>
                    <th scope="col">Repair Cost</th>
                    <th scope="col">Warranty</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">File</th>
                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                </tr>
                </thead>
                <tbody id="invoiceItem">
                {% if entity.requisitionItems is not empty %}
                    {% for item in entity.requisitionItems %}
                        <tr id="remove-{{ item.id }}">
                            <td>{{ loop.index }}</td>
                            <td><strong>{{ item.name }}</strong><br/>{{ item.description }}</td>
                            <td>{% if item.item.unit is not empty %}{{ item.item.unit.name }}{% endif %}</td>
                            <td>{% if item.previousPurchasePrice is not empty %}{{ item.previousPurchasePrice }}{% endif %}</td>
                            <td>{% if item.previousPurchaseDate is not empty %}{{ item.previousPurchaseDate|date('d-m-y') }}{% endif %}</td>
                           <td>{{ item.presentBookValue }}</td>
                            <td>{% if item.lastServiceDate is not empty %}{{ item.lastServiceDate|date('d-m-y') }}{% endif %}</td>
                            <td>{{ item.repairCost }}</td>
                            <td>{{ item.warranty }}</td>
                            <td>
                                <input type="hidden" name="price-{{ item.id }}" id="price-{{ item.id }}" value="{{ item.price }}">
                                <input type="number"  data-id="{{ item.id }}" min="1" id="quantity-{{ item.id }}" data-action="{{ path('procure_requisition_bank_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="quantity-{{ item.id }}" class="form-control form-control-sm number-input quantity" value="{{ item.quantity }}">
                            </td>
                            <td>{% if item.path is not empty %}
                                    <a target="_blank" href="{{ asset(item.imagePath) }}" class="btn btn-mini blue-bg white-font"  ><i class="feather icon-download"></i> </a>
                                {% endif %}
                            </td>
                            <td><a href="javascript:" class="btn btn-mini btn-danger  itemRemove" data-action="{{ path('procure_requisition_item_delete',{'entity':entity.id,'module':entity.module, 'id':item.id}) }}" ><i class="feather icon-trash-2"></i> </a></td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}