{% if entity.requisitionType.slug == 'purchase-requisition' %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                <thead class="thead-gray">
                <tr>
                    <th scope="col">S/N</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Ask Req. Qty</th>
                    <th scope="col">Approval Qty</th>
                    <th scope="col">File</th>
                </tr>
                </thead>
                <tbody id="invoiceItem">
                {% if entity.requisitionItems is not empty %}
                    {% for item in entity.requisitionItems %}
                        <tr id="remove-{{ item.id }}">
                            <td>{{ loop.index }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.description }}</td>
                            <td>{% if item.item.unit is not empty %}{{ item.item.unit.name }}{% endif %}</td>
                            <td>{{ item.actualQuantity }}</td>
                            {% if mode in ['view','print','preview','pdf']  %}
                            <td>{{ item.quantity }}</td>
                            {% else %}
                            <td>
                                <input type="hidden" name="purchaseItem[]" id="purchaseItem-{{ item.id }}" value="{{ item.id }}">
                                <input type="number" data-id="{{ item.id }}" id="quantity-{{ item.id }}" name="quantity[{{ item.id }}]" class="form-control input number-input" value="{{ item.quantity }}">
                                <input type="hidden" data-id="{{ item.id }}" id="requisitionItemPrice-{{ item.id }}" class="unit-price" value="{{ item.price }}">
                            </td>
                            {% endif %}
                            <td>{% if item.path is not empty %}
                                    <a target="_blank" href="{{ asset(item.imagePath) }}" class="btn btn-mini blue-bg white-font"  ><i class="feather icon-download"></i> </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}
{% if entity.requisitionType.slug == 'store-requisition' %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                <thead class="thead-gray">
                <tr>
                    <th scope="col">S/N</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Last QTY</th>
                    <th scope="col">Last Date</th>
                    <th scope="col">Ask Req. Qty</th>
                    <th scope="col">Approval Qty</th>
                    <th scope="col">Stock in</th>
                    <th scope="col">Price</th>
                    <th scope="col">SubTotal</th>
                </tr>
                </thead>
                <tbody id="invoiceItem">
                {% if entity.requisitionItems is not empty %}
                    {% for item in entity.requisitionItems %}
                        <tr id="remove-{{ item.id }}">
                            <td>{{ loop.index }}</td>
                            <td>{{ item.name }}</td>
                            <td>{% if item.item.unit is not empty %}{{ item.item.unit.name }}{% endif %}</td>

                            <td>{% if item.lastRequisitionItem is not empty %}{{ item.lastRequisitionItem.quantity }}{% endif %}</td>
                            <td>{% if item.lastRequisitionItem is not empty %}{{ item.lastRequisitionItem.created|date('d-m-y') }}{% endif %}</td>
                            <td>{{ item.actualQuantity }}</td>
                            {% if mode in ['view','print','preview','pdf']  %}
                                <td>{{ item.quantity }}</td>
                            {% else %}
                                <td>
                                    <input type="hidden" name="purchaseItem[]" id="purchaseItem-{{ item.id }}" value="{{ item.id }}">
                                    <input type="number" data-id="{{ item.id }}" id="quantity-{{ item.id }}" name="quantity[{{ item.id }}]" class="form-control input number-input" value="{{ item.quantity }}">
                                    <input type="hidden" data-id="{{ item.id }}" id="requisitionItemPrice-{{ item.id }}" class="unit-price" value="{{ item.price }}">
                                </td>
                            {% endif %}
                            <td>{{ item.stockIn }}</td>
                            <td>{{ item.price }}</td>
                            <td><span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span></td>
                        </tr>
                    {% endfor %}
                    <tr><td colspan="9" class="text-right"><strong>SubTotal</strong></td><td>{{ entity.subTotal|number_format(2) }}</td></tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}
{% if entity.requisitionType.slug in ['replacement-requisition','repair-requisition'] %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                <thead class="thead-gray">
                <tr>
                    <th scope="col">S/N</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Prev Pur Price</th>
                    <th scope="col">Prev Pur Date</th>
                    <th scope="col">Present Book Value</th>
                    <th scope="col">Service Date</th>
                    <th scope="col">Repair Cost</th>
                    <th scope="col">Warranty</th>
                    <th scope="col">Ask Req. Qty</th>
                    <th scope="col">Approval Qty</th>
                    <th scope="col">File</th>
                </tr>
                </thead>
                <tbody id="invoiceItem">
                {% if entity.requisitionItems is not empty %}
                    {% for item in entity.requisitionItems %}
                        <tr id="remove-{{ item.id }}">
                            <td>{{ loop.index }}</td>
                            <td><strong>{{ item.name }}</strong><br/>{{ item.description }}</td>
                            <td>{% if item.item.unit is not empty %}{{ item.item.unit.name }}{% endif %}</td>
                            <td>{% if item.previousPurchasePrice is not empty %}{{ item.previousPurchasePrice }}{% endif %}</td>
                            <td>{% if item.previousPurchaseDate is not empty %}{{ item.previousPurchaseDate|date('d-m-y') }}{% endif %}</td>
                            <td>{{ item.presentBookValue }}</td>
                            <td>{% if item.lastServiceDate is not empty %}{{ item.lastServiceDate|date('d-m-y') }}{% endif %}</td>
                            <td>{{ item.repairCost }}</td>
                            <td>{{ item.warranty }}</td>
                            <td>{{ item.actualQuantity }}</td>
                            {% if mode in ['view','print','preview','pdf']  %}
                                <td>{{ item.quantity }}</td>
                            {% else %}
                                <td>
                                    <input type="hidden" name="purchaseItem[]" id="purchaseItem-{{ item.id }}" value="{{ item.id }}">
                                    <input type="number" data-id="{{ item.id }}" id="quantity-{{ item.id }}" name="quantity[{{ item.id }}]" class="form-control input number-input" value="{{ item.quantity }}">
                                    <input type="hidden" data-id="{{ item.id }}" id="requisitionItemPrice-{{ item.id }}" class="unit-price" value="{{ item.price }}">
                                </td>
                            {% endif %}
                            <td>{% if item.path is not empty %}
                                    <a target="_blank" href="{{ asset(item.imagePath) }}" class="btn btn-mini blue-bg white-font"><i class="fa fa-download"></i> </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}