{% if entity.requisitionType.slug == 'purchase-requisition' %}
    {% if entity.requisitionItems is not empty %}
        {% for item in entity.requisitionItems %}
            <tr id="remove-{{ item.id }}">
                <td>{{ loop.index }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>{% if item.item.unit is not empty %}{{ item.item.unit.name }}{% endif %}</td>
                <td>
                    <input type="hidden" name="price-{{ item.id }}" id="price-{{ item.id }}" value="{{ item.price }}">
                    <input type="number"  data-id="{{ item.id }}" min="1" id="quantity-{{ item.id }}" data-action="{{ path('procure_requisition_bank_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="quantity-{{ item.id }}" class="form-control form-control-sm number-input quantity" value="{{ item.quantity }}">

                </td>
                <td>{% if item.path is not empty %}
                        <a target="_blank" href="{{ asset(item.imagePath) }}" class="btn btn-mini blue-bg white-font"  ><i class="feather icon-download"></i> </a>
                    {% endif %}
                </td>
                <td><a href="javascript:" class="btn btn-mini btn-danger  itemRemove" data-action="{{ path('procure_requisition_item_delete',{'entity':entity.id,'module':entity.module, 'id':item.id}) }}" ><i class="feather icon-trash-2"></i> </a></td>
            </tr>
        {% endfor %}
    {% endif %}
{% endif %}
{% if entity.requisitionType.slug == 'store-requisition' %}
    {% if entity.requisitionItems is not empty %}
        {% for item in entity.requisitionItems %}
            <tr id="remove-{{ item.id }}">
                <td>{{ loop.index }}</td>
                <td>{{ item.name }}</td>
                <td>{% if item.item.unit is not empty %}{{ item.item.unit.name }}{% endif %}</td>

                <td>{% if item.lastRequisitionItem is not empty %}{{ item.lastRequisitionItem.quantity }}{% endif %}</td>
                <td>{% if item.lastRequisitionItem is not empty %}{{ item.lastRequisitionItem.created|date('d-m-y') }}{% endif %}</td>
                <td>
                    <input type="hidden" name="price-{{ item.id }}" id="price-{{ item.id }}" value="{{ item.price }}">
                    <input type="number"  data-id="{{ item.id }}" min="1" id="quantity-{{ item.id }}" data-action="{{ path('procure_requisition_bank_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="quantity-{{ item.id }}" class="form-control form-control-sm number-input quantity" value="{{ item.quantity }}">
                </td>
                <td>{{ item.stockIn }}</td>
                <td>{{ item.price }}</td>
                <td><span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span></td>
                <td><a href="javascript:" class="btn btn-mini btn-danger  itemRemove" data-action="{{ path('procure_requisition_item_delete',{'entity':entity.id,'module':entity.module, 'id':item.id}) }}" ><i class="feather icon-trash-2"></i> </a></td>
            </tr>
        {% endfor %}
        <tr><td colspan="8" class="text-right"><strong>SubTotal</strong></td><td>{{ entity.subTotal|number_format(2) }}</td><td></td></tr>
    {% endif %}
{% endif %}
{% if entity.requisitionType.slug in ['replacement-requisition','repair-requisition'] %}
    {% if entity.requisitionItems is not empty %}
        {% for item in entity.requisitionItems %}
            <tr id="remove-{{ item.id }}">
                <td>{{ loop.index }}</td>
                <td><strong>{{ item.name }}</strong><br/>{{ item.description }}</td>
                <td>{% if item.item.unit is not empty %}{{ item.item.unit.name }}{% endif %}</td>
                <td>{% if item.previousPurchasePrice is not empty %}{{ item.previousPurchasePrice }}{% endif %}</td>
                <td>{% if item.previousPurchaseDate is not empty %}{{ item.previousPurchaseDate|date('d-m-y') }}{% endif %}</td>
                <td>{{ item.presentBookValue }}</td>
                <td>{% if item.lastServiceDate is not empty %}{{ item.lastServiceDate|date('d-m-y') }}{% endif %}</td>
                <td>{{ item.repairCost }}</td>
                <td>{{ item.warranty }}</td>
                <td>
                    <input type="hidden" name="price-{{ item.id }}" id="price-{{ item.id }}" value="{{ item.price }}">
                    <input type="number"  data-id="{{ item.id }}" min="1" id="quantity-{{ item.id }}" data-action="{{ path('procure_requisition_bank_item_update',{'entity':entity.id,'id':item.id,'module':entity.module}) }}" name="quantity-{{ item.id }}" class="form-control form-control-sm number-input quantity" value="{{ item.quantity }}">
                </td>
                <td>{% if item.path is not empty %}
                        <a target="_blank" href="{{ asset(item.imagePath) }}" class="btn btn-mini blue-bg white-font"  ><i class="feather icon-download"></i> </a>
                    {% endif %}
                </td>
                <td><a href="javascript:" class="btn btn-mini btn-danger  itemRemove" data-action="{{ path('procure_requisition_item_delete',{'entity':entity.id,'module':entity.module, 'id':item.id}) }}" ><i class="feather icon-trash-2"></i> </a></td>
            </tr>
        {% endfor %}
    {% endif %}
{% endif %}

