{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Acknowledgment Comment Items'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'in-progress' %} active {% else %} yellow-bg {% endif %}"  href="{{ path('procure_tenderbatch_bank_acknowledgment_comment',{'mode':'in-progress'})}}"><i class="feather icon-aperture"></i> In-progress</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'close' %} active {% else %} yellow-bg {% endif %}" href="{{ path('procure_tenderbatch_bank_acknowledgment_comment',{'mode':'close'})}}"><i class="feather icon-file"></i> Closed</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap">
                                <thead class="thead-green">
                                <form action="" method="get">
                                    <tr role="row">
                                        <td colspan="2" >{{ form_widget(searchForm.requisitionNo) }}</td>
                                        <td>{{ form_widget(searchForm.department) }}</td>
                                        <td>{{ form_widget(searchForm.branch) }}</td>
                                        <td colspan="2"><div class="date-group">{{ form_widget(searchForm.startDate) }}</div></td>
                                        <td><div class="date-group">{{ form_widget(searchForm.endDate) }}</div></td>
                                        <td>{{ form_widget(searchForm.filter) }}</td>
                                    </tr>
                                    {{ form_widget(searchForm._token) }}
                                </form>
                                <tr>
                                    <th scope="col">S/N</th>
                                    <th scope="col">Item Name</th>
                                    <th scope="col">PR No</th>
                                    <th scope="col">Created</th>
                                    <th scope="col">Branch/Department</th>
                                    <th scope="col">PR QTY</th>
                                    <th scope="col">Assign To</th>
                                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if pagination is not empty %}
                                    {% set i = 1  %}
                                    {% for entity in pagination %}
                                        {% for item in entity %}
                                            <tr>
                                                {% if loop.index==1 %}
                                                    <td rowspan="{{ entity|length }}">{{ i }}</td>
                                                    <td rowspan="{{ entity|length }}">{{ item.itemName }}</td>
                                                {% endif %}
                                                <th><a class="entity-show" data-action="{{ path('procure_requisition_bank_show',{'id':item.requisitionId}) }}" href="javascript:" data-title="Requisition No: {{ item.requisitionNo }}" id="postView-{{ item.requisitionId }}">{{ item.requisitionNo }}</a></th>
                                                <td>{{ item.requisitionDate|date('d-m-Y') }}</td>
                                                <td>{% if item.branch is empty %}{{ item.department }}{% else %}{{ item.branch }}{% endif %}</td>
                                                <td>{{ item.quantity }}</td>
                                                <td>{{ item.assignTo }}</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td colspan="7">{{ item.content|raw }}</td>
                                            </tr>
                                            {% if  item.approvedBy is empty %}
                                                <tr>
                                                    <td></td>
                                                    <td colspan="7">
                                                        <textarea  data-action="{{ path('procure_tender_bank_tenderbatch_item_comment_update',{'id':item.batchItemId}) }}" data-id="{{ item.batchItemId }}" class="form-control comment" rows="6" name="comment-{{ item.batchItemId }}"  id="comment-{{ item.batchItemId }}" >{{ item.comment }}</textarea>
                                                    </td>
                                                </tr>
                                            {% elseif(item.comment) %}
                                                <tr>z
                                                    <td></td>
                                                    <td colspan="7">{{ item.comment|raw }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        {% set i = i+1 %}
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="count">
                                Total Records: {{ pagination.getTotalItemCount }}
                            </div>
                        </div>
                        <div class="col-md-9 navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <style>
        textarea.form-control {
            border: 3px solid #37474f !important;
        }
    </style>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/tender.js') }}"></script>

{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}
