{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Tender Preparetion'|trans }}</h5>
                    {% if app.user.hasRoles(['ROLE_PROCUREMENT_REQUISITION','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
                        <div class="card-header-right">
                            <div class="btn-group btn-group-sm" >
                                <a href="{{ path('procure_tenderbatch_bank_open_item') }}" class="btn btn-sm green-bg  white-font"><i class="fa fa-plus"></i>{{ 'PO Open Item'|trans }}</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'list' %} active {% else %} yellow-bg {% endif %}"  href="{{ path('procure_tenderbatch_bank',{'mode':'list'})}}"><i class="fa fa-th-large"></i> All Tender</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'approve' %} active {% else %} yellow-bg {% endif %}"  href="{{ path('procure_tenderbatch_bank',{'mode':'approve'})}}"><i class="feather icon-target"></i> Approve</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'in-progress' %} active {% else %} yellow-bg {% endif %}" href="{{ path('procure_tenderbatch_bank',{'mode':'in-progress'})}}"><i class="feather icon-aperture"></i> In-progress</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'archive' %} active {% else %} yellow-bg {% endif %}" href="{{ path('procure_tenderbatch_bank',{'mode':'archive'})}}"><i class="feather icon-file"></i> Archive</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap">
                                <thead class="thead-gray">
                                <form action="" method="get">
                                    <tr role="row">
                                        <td colspan="4">{{ form_widget(searchForm.invoice) }}</td>
                                        <td><div class="date-group">{{ form_widget(searchForm.startDate) }}</div></td>
                                        <td><div class="date-group">{{ form_widget(searchForm.endDate) }}</div></td>
                                        <td>{{ form_widget(searchForm.filter) }}</td>
                                    </tr>
                                    <input type="hidden" id="mode" name="mode" value="{{ mode }}">
                                    {{ form_widget(searchForm._token) }}
                                </form>
                                <tr>
                                    <th scope="col">Created</th>
                                    <th scope="col">Batch No </th>
                                    <th scope="col">Assign To</th>
                                    <th scope="col">Department</th>
                                    <th scope="col">Status</th>
                                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in  pagination %}
                                    <tr>
                                        <td>{{ entity.created|date('d-m-Y') }}</td>
                                        <td><b>{{ entity.invoice }}</b></td>
                                        <td><a  data-type="select" class="editable" id="hour-{{ entity.id }}" data-name="hour" href="#" data-source="{{ path('procure_tenderbatch_bank_assignto') }}"  data-url="{{ path('procure_tenderbatch_bank_inline_update',{'id':entity.id}) }}" data-pk="{{ entity.id }}" data-value="{% if entity.assignTo is defined and entity.assignTo is not empty %}{{ entity.hour }}{% endif %}" data-original-title="Select Assign User">{% if entity.assignTo is defined and entity.assignTo is not empty %}{{ entity.assignTo }}{% endif %} Select Assign User</a></td>
                                        <td>{{ entity.department }}</td>
                                        <td>{{ entity.process }}</td>
                                        <td>
                                            <div class="btn-group" >
                                                {% if entity.waitingProcess == "New" %}
                                                    <a class='btn btn-mini yellow-bg white-font' href='{{ path('procure_tenderbatch_bank_preparetion',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-edit'></i> Edit</a>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="count">
                                Total Records: {{ pagination.getTotalItemCount }}
                            </div>
                        </div>
                        <div class="col-md-9 navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $('.editable').editable();
{% endblock %}
