{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'LSSD Acknowledgment Items'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'in-progress' %} active {% else %} yellow-bg {% endif %}"  href="{{ path('procure_tenderbatch_bank_acknowledgment',{'mode':'in-progress'})}}"><i class="feather icon-aperture"></i> In-progress</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'close' %} active {% else %} yellow-bg {% endif %}" href="{{ path('procure_tenderbatch_bank_acknowledgment',{'mode':'close'})}}"><i class="feather icon-file"></i> Closed</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap">
                                <thead class="thead-green">
                                <form action="" method="get">
                                    <tr role="row">
                                        <td colspan="2" >{{ form_widget(searchForm.requisitionNo) }}</td>
                                        <td>{{ form_widget(searchForm.department) }}</td>
                                        <td>{{ form_widget(searchForm.branch) }}</td>
                                        <td><div class="date-group">{{ form_widget(searchForm.startDate) }}</div></td>
                                        <td ><div class="date-group">{{ form_widget(searchForm.endDate) }}</div></td>
                                        <td>{{ form_widget(searchForm.filter) }}</td>
                                    </tr>
                                    {{ form_widget(searchForm._token) }}
                                </form>
                                <tr>
                                    <th scope="col">S/N</th>
                                    <th scope="col">Item Name</th>
                                    <th scope="col">PR No</th>
                                    <th scope="col">Created</th>
                                    <th scope="col">Branch/Department</th>
                                    <th scope="col">PR QTY</th>
                                    <th scope="col">Report To</th>
                                    <th scope="col">Assessment Department</th>
                                    <th scope="col">Approved By</th>
                                    <th scope="col">Assign To</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if pagination is not empty %}
                                    {% set i = 1  %}
                                    {% for entity in pagination %}
                                        {% for item in entity %}
                                            <tr>
                                                <th>{{ i }}.</th>
                                                <td>{{ item.itemName }}</td>
                                                <th><a class="entity-show" data-action="{{ path('procure_requisition_bank_show',{'id':item.requisitionId}) }}" href="javascript:" data-title="Requisition No: {{ item.requisitionNo }}" id="postView-{{ item.requisitionId }}">{{ item.requisitionNo }}</a></th>
                                                <td>{{ item.requisitionDate|date('d-m-Y') }}</td>
                                                <td>{% if item.branch is empty %}{{ item.department }}{% else %}{{ item.branch }}{% endif %}</td>
                                                <td>{{ item.quantity }}</td>
                                                <td>{{ item.assignTo }}</td>
                                                <td>{{ item.assessmentDepartment }}</td>
                                                <td>
                                                    {{ item.approvedBy }}
                                                </td>
                                                <td>
                                                    <a  data-type="select" class="editable" id="assignTo-{{ item.batchItemId }}" data-name="assignTo" href="#" data-source="{{ path('procure_tenderbatch_bank_assignto') }}"  data-url="{{ path('procure_tenderbatch_bank_inline_assign_update',{'id':item.batch}) }}" data-pk="{{ item.batch }}" data-value="{% if item.requisitionAssignTo is not empty %}{{ item.requisitionAssignToId }}{% endif %}" data-original-title="Select Assign User">{% if item.requisitionAssignTo is defined and item.requisitionAssignTo is not empty %}{{ item.requisitionAssignTo }}{% endif %}</a>
                                                </td>
                                            </tr>
                                            {% if(item.comment) %}
                                                <tr>
                                                    <td colspan="10"> <div class="comment-box"> {{ item.comment|raw }}</div></td>
                                                </tr>
                                            {% endif %}
                                            {% set i = i+1 %}
                                        {% endfor %}

                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="count">
                                Total Records: {{ pagination.getTotalItemCount }}
                            </div>
                        </div>
                        <div class="col-md-9 navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/tender.js') }}"></script>

{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $('.editable').editable();
    jqueryTemporaryLoad();
{% endblock %}
