<html>
<head>
    <title>Tender</title>
    <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/print/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/theme/rbs/css/theme.css') }}">
    <style>
        body {
            color: #313131;
            font-family: sans-serif;
            font-size: 13px;
        }
        .table-item thead tr th{
            border:0.1px solid #c1bfbf;
            text-align: left;
            color: #3e444a;
        }
        .table-item tbody tr td{
            border:0.1px solid #c1bfbf;
            text-align: left;
            color: #3e444a;
        }
    </style>
</head>
<body>
    <div style="text-align: center; text-transform: uppercase; margin-bottom: 10px; font-weight: bold">
        <p>Tender Detail</p>
    </div>

    <!-- Header -->
    <div>
        <div style="float: left; width: 30%;">
            <b>TP No.</b>
        </div>
        <div style="float: left; width: 25%;">
            {{ entity.invoice  }}
        </div>
        <div style="float: left; width: 15%; text-align: right">
            <b>Created</b>
        </div>
        <div style="float: right; width: 25%;">
            {{ entity.created|date('d-m-Y')}}
        </div>


        <div style="float: left; width: 30%; margin-top: 5px">
            <b>To email</b>
        </div>
        <div style="float: left; width: 25%;">
            {{ entity.email|raw }}
        </div>
        <div style="float: left; width: 15%; text-align: right;">
            <b>Created By</b>
        </div>
        <div style="float: right; width: 25%;">
            {{ entity.createdBy.name }}
        </div>

        {% if entity.tenderComparative is not empty %}
            <div style="float: left; width: 30%; margin-top: 5px">
                <b>CS No.</b>
            </div>
            <div style="float: left; width: 70%;">
                {{ entity.subject|raw }}
            </div>
            <div style="float: left; width: 30%; margin-top: 5px">
                <b>CS Created</b>
            </div>
            <div style="float: left; width: 70%;">
                {{ entity.tenderComparative.created|date('d-m-Y')}}
            </div>
            <div style="float: left; width: 30%; margin-top: 5px">
                <b>CS Created By</b>
            </div>
            <div style="float: left; width: 70%;">
                {% if entity.tenderComparative.createdBy is not empty %}{{ entity.tenderComparative.createdBy.name }}{% endif %}
            </div>
        {% endif %}

        <div style="float: left; width: 30%; margin-top: 5px">
            <b>Subject</b>
        </div>
        <div style="float: left; width: 70%;">
            {{ entity.subject|raw }}
        </div>

        <div style="float: left; width: 30%; margin-top: 5px">
            <b>Body</b>
        </div>
        <div style="float: left; width: 70%; text-align: justify;">
            {{ entity.content|raw }}
        </div>

        <div style="float: left; width: 30%; margin-top: 5px">
            <b>Terms & Condition</b>
        </div>
        <div style="float: left; width: 70%; text-align: justify">
            {{ entity.terms|raw }}
        </div>
    </div>
    <!-- Header -->



    <!-- Body -->
    {% if entity.tenderItems is not empty %}
        <div  style="margin-top: 30px">
            <div style="margin-bottom: 10px">
                <b>Tender Item</b>
            </div>
            <div>
                <table class="table-item" cellspacing="0" cellpadding="3" width="100%">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">S/N</th>
                        <th scope="col">PR No</th>
                        <th scope="col">Item Name</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Size</th>
                        <th scope="col">Color</th>
                        <th scope="col">PR Remain</th>
                        <th scope="col">PO issue</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if entity.tenderItems is not empty %}
                        {% set i = 1  %}
                        {% for item in entity.tenderItems %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ item.requisitionItem.requisition.requisitionNo }}</td>
                                <td>{% if item.requisitionItem.item is not empty and item.requisitionItem.item %}{{ item.requisitionItem.item.name }}{% endif %}</td>
                                <td>{% if item.requisitionItem.stockBook is not empty and item.requisitionItem.stockBook.brand %}{{ item.requisitionItem.stockBook.brand.name }}{% endif %}</td>
                                <td>{% if item.requisitionItem.stockBook is not empty and item.requisitionItem.stockBook.brand %}{{ item.requisitionItem.stockBook.brand.name }}{% endif %}</td>
                                <td>{% if item.requisitionItem.stockBook is not empty and item.requisitionItem.stockBook.brand %}{{ item.requisitionItem.stockBook.brand.name }}{% endif %}</td>
                                <td>{{ item.requisitionItem.remainigQuantity }}</td>
                                <td>{{ item.issueQuantity }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table></div>
        </div>
    {% endif %}
    {% if approvals is not empty %}
        <div  style="margin-top: 30px">
            <div style="margin-bottom: 10px">
                <b>Comments</b>
            </div>
            <div>
                <table class="table-item" cellspacing="0" cellpadding="3" width="100%">
                    <thead>
                    <tr>
                        <th class="text-left">S/N</th>
                        <th class="text-left">Comment By</th>
                        <th class="text-left">Created</th>
                        <th class="text-left">Comment</th>
                        <th class="text-left">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for list in approvals %}
                        <tr>
                            <td>{{ loop.index }}.</td>
                            <td>{{ list.assignTo.name }}</td>
                            <td>{{ list.created|date('d-m-Y H:m') }}</td>
                            <td>{{ list.comment|raw }}</td>
                            <td>{{ list.process }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div style="margin-top: 30px">
            {% for index,list in approvals %}
                {% if list.close == true  %}
                    {% if  index == 0 %}
                        <div style="margin-bottom: 10px">
                            <b>Signatures</b>
                        </div>
                    {% endif %}
                    <div style="float: left; width: 30%; padding: 5px;">
                        <div style="border: 1px solid #dddddd; padding: 10px">
                            {% if list.assignTo.profile.signaturePath is not empty %}
                                <img style="height: 60px" src="{{ asset('uploads/user/'~list.assignTo.profile.signaturePath) }}">
                                <br/>
                            {% endif%}
                            {{ list.assignTo.name }}<br/>
                            {% if list.assignTo.profile.designation %}{{ list.assignTo.profile.designation.name }}{% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    <!-- Body -->
</body>
</html>