{% if mode == "print" %}
    <script type="text/javascript">
        window.print();
        setTimeout(function () {
            window.open('', '_self', '');
            window.close();
        }, 2000);
    </script>
{% endif %}
<html>
<head>
    <title>Job Approval</title>
    <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/print/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/theme/rbs/css/theme.css') }}">
</head>
<body style="color: #0a0a0a">
{% if mode=='preview' %}
    <div class="container">
        <div class="row" style="background-color: #c0c2ce; font-size: 16px; padding: 5px">
            <div class="col-md-6"><strong>Preview</strong></div>
            <div class="col-md-6 text-right">
                <a class="" style="color: red; padding-right: 10px" target="_blank" href="{{ path('procure_tender_bank_preview',{'id':entity.id,'mode':'print'}) }}" ><i class="fa fa-print"></i></a>
                <a class="" style="color: blue" target="_blank" href="{{ path('procure_tender_bank_preview',{'id':entity.id,'mode':'pdf'}) }}" ><i class="fa fa-download"></i></a>
            </div>
        </div>
    </div>
{% endif %}
<div class="container mt-2 mb-5" style="border: {{ mode=='preview' ? '1px dotted gray': ''}}">
    <div class="row">
        <div class="col-md-12 text-center mb-3" style="text-transform: uppercase"><strong>Tender Detail</strong></div>
    </div>
    <div class="row">
        <div class="col-md-3"><strong>TP No.</strong></div>
        <div class="col-md-4">{{ entity.invoice }}</div>
        <div class="col-md-2 text-right"><strong>Created</strong></div>
        <div class="col-md-3 text-left">{{ entity.created|date('d-m-Y') }}</div>
    </div>
    <div class="row mt-1">
        <div class="col-md-3"><strong>To email</strong></div>
        <div class="col-md-4">{{ entity.email|raw }}</div>
        <div class="col-md-2 text-right"><strong>Created By</strong></div>
        <div class="col-md-3 text-left">{{  entity.createdBy.name  }}</div>
    </div>

    {% if entity.tenderComparative is not empty %}
        <div class="row mt-1">
            <div class="col-md-3"><strong>CS No.</strong></div>
            <div class="col-md-9">{{ entity.subject|raw }}</div>
        </div>
        <div class="row mt-1">
            <div class="col-md-3"><strong>CS Created</strong></div>
            <div class="col-md-9">{{ entity.tenderComparative.created|date('d-m-Y') }}</div>
        </div>
        <div class="row mt-1">
            <div class="col-md-3"><strong>CS Created By</strong></div>
            <div class="col-md-9">{% if entity.tenderComparative.createdBy is not empty %}{{ entity.tenderComparative.createdBy.name }}{% endif %}</div>
        </div>
    {% endif %}

    <div class="row mt-1">
        <div class="col-md-3"><strong>Subject</strong></div>
        <div class="col-md-9">{{ entity.subject|raw }}</div>
    </div>
    <div class="row mt-1">
        <div class="col-md-3"><strong>Body</strong></div>
        <div class="col-md-9" style="text-align: justify">{{ entity.content|raw }}</div>
    </div>
    <div class="row mt-1">
        <div class="col-md-3"><strong>Terms & Condition</strong></div>
        <div class="col-md-9" style="text-align: justify">{{ entity.terms|raw }}</div>
    </div>

    {% if entity.conditionItems is defined and entity.conditionItems is not empty %}
        {% for keyValue in entity.conditionItems %}
            <div class="row">
                <div class="col-md-1 offset-3">{{ loop.index }}. {{ keyValue.metaKey }}</div>
                <div class="col-md-8">{{ keyValue.metaValue|raw }}</div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="row mt-3">
        <div class="col-md-12 mb-2"><strong>Tender Items</strong></div>
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">S/N</th>
                    <th scope="col">PR No</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Size</th>
                    <th scope="col">Color</th>
                    <th scope="col">PR Remain</th>
                    <th scope="col">PO issue</th>
                </tr>
                </thead>
                <tbody>
                {% if entity.tenderItems is not empty %}
                    {% set i = 1  %}
                    {% for item in entity.tenderItems %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ item.requisitionItem.requisition.requisitionNo }}</td>
                            <td>{% if item.requisitionItem.item is not empty and item.requisitionItem.item %}{{ item.requisitionItem.item.name }}{% endif %}</td>
                            <td>{% if item.requisitionItem.stockBook is not empty and item.requisitionItem.stockBook.brand %}{{ item.requisitionItem.stockBook.brand.name }}{% endif %}</td>
                            <td>{% if item.requisitionItem.stockBook is not empty and item.requisitionItem.stockBook.brand %}{{ item.requisitionItem.stockBook.brand.name }}{% endif %}</td>
                            <td>{% if item.requisitionItem.stockBook is not empty and item.requisitionItem.stockBook.brand %}{{ item.requisitionItem.stockBook.brand.name }}{% endif %}</td>
                            <td>{{ item.requisitionItem.remainigQuantity }}</td>
                            <td>{{ item.issueQuantity }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    {% if approvals is not empty %}
        <div  style="margin-top: 30px">
            <div style="margin-bottom: 10px">
                <b>Comments</b>
            </div>
            <div>
                <table class="table-item" cellspacing="0" cellpadding="3" width="100%">
                    <thead>
                    <tr>
                        <th class="text-left">S/N</th>
                        <th class="text-left">Comment By</th>
                        <th class="text-left">Created</th>
                        <th class="text-left">Comment</th>
                        <th class="text-left">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for list in approvals %}
                        <tr>
                            <td>{{ loop.index }}.</td>
                            <td>{{ list.assignTo.name }}</td>
                            <td>{{ list.created|date('d-m-Y H:m') }}</td>
                            <td>{{ list.comment|raw }}</td>
                            <td>{{ list.process }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div style="margin-top: 30px">
            {% for index,list in approvals %}
                {% if list.close == true  %}
                    {% if  index == 0 %}
                        <div style="margin-bottom: 10px">
                            <b>Signatures</b>
                        </div>
                    {% endif %}
                    <div style="float: left; width: 30%; padding: 5px;">
                        <div style="border: 1px solid #dddddd; padding: 10px">
                            {% if list.assignTo.profile.signaturePath is not empty %}
                                <img style="height: 60px" src="{{ asset('uploads/user/'~list.assignTo.profile.signaturePath) }}">
                                <br/>
                            {% endif%}
                            {{ list.assignTo.name }}<br/>
                            {% if list.assignTo.profile.designation %}{{ list.assignTo.profile.designation.name }}{% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</div>
</body>
</html>

