{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Tender Open Items'|trans }}</h5>
                    {% if app.user.hasRoles(['ROLE_PROCUREMENT_REQUISITION','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) %}
                        <div class="card-header-right">
                            <div class="btn-group btn-group-sm" >
                                <a href="{{ path('procure_tender_bank_open_item') }}" class="btn btn-sm green-bg  white-font"><i class="fa fa-plus"></i>{{ 'PO Open Item'|trans }}</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap">
                                <thead class="thead-green">
                                <tr>
                                    <th scope="col">S/N</th>
                                    <th scope="col">Item Name</th>
                                    <th scope="col">PR No</th>
                                    <th scope="col">Created</th>
                                    <th scope="col">Branch/Department</th>
                                    <th scope="col">PR QTY</th>
                                    <th scope="col">PR ISSUE</th>
                                    <th scope="col">PR Remain</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Unit Price</th>
                                    <th scope="col">Estimated Amount</th>
                                    <th scope="col">Remain</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set estimatedTotal = 0 %}
                                {% if entities is not empty %}
                                    {% set i = 1  %}
                                    {% for entity in entities %}
                                    {% for item in entity %}
                                        {% set estimatedTotal = (estimatedTotal + (item.quantity * item.price)) %}
                                        <tr>
                                            {% if loop.index==1 %}
                                            <td rowspan="{{ entity|length }}">{{ i }}</td>
                                            <td rowspan="{{ entity|length }}">{{ item.itemName }}</td>
                                            {% endif %}
                                            <td><a class="entity-show" data-action="{{ path('procure_requisition_bank_show',{'id':item.requisitionId}) }}" href="javascript:" data-title="Requisition No: {{ item.requisitionNo }}" id="postView-{{ item.requisitionId }}">{{ item.requisitionNo }}</a></td>

                                            <td>{{ item.requisitionDate|date('d-m-Y') }}</td>
                                            <td>{% if item.branch is empty %}{{ item.department }}{% else %}{{ item.branch }}{% endif %}</td>
                                            <td>{{ item.remaining }}</td>
                                            <td>{% if selectedRows[item.id] is defined %} {{ selectedRows[item.id].poQuantity }}{% endif %} </td>
                                            <td>{% if selectedRows[item.id] is defined %} {{  item.remaining - selectedRows[item.id].poQuantity|default(0) }}{% else %}{{ item.remaining }}{% endif %}</td>
                                            <td>
                                                <input type="hidden" class="td-input form-control" name="batchItemId[]" value="{{ item.batchItemId }}" id="batchItemId-{{ item.batchItemId }}">
                                                <input type="hidden" class="td-input form-control" name="prId[]" value="{{ item.id }}" id="prId-{{ item.id }}">
                                                <input type="hidden" class="td-input form-control" name="quantity[]"  value="{% if selectedRows[item.id] is defined %} {{  item.remaining - selectedRows[item.id].poQuantity|default(0) }}{% else %}{{ item.remaining }}{% endif %}" id="quantity-{{ item.id }}">
                                                <input type="text" class="td-input form-control number remainItem maxCheck quotationQuantity" min="1" max="{% if selectedRows[item.id] is defined %} {{  item.quantity - selectedRows[item.id].poQuantity|default(0) }}{% else %}{{ item.remaining }}{% endif %}" data-id="{{ item.id }}"  name="issue[]" value="" id="issue-{{ item.id }}">
                                            </td>
                                            <td><input type="text" class="td-input form-control number quotationPrice"   name="price[{{ item.id }}]" data-id="{{ item.id }}" value="{{ item.price }}" id="price-{{ item.id }}"></td>
                                            <td class="quotationSub" id="quotationSubTotal-{{ item.id }}">{{ (item.price * item.quantity)|number_format(2) }}</td>
                                            <td id="remaining-{{ item.id }}"></td>
                                        </tr>
                                    {% endfor %}
                                        {% set i = i+1 %}
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="10" class="text-right"><strong>Grand Total</strong></td>
                                    <td><strong id="quotationTotal">{{ estimatedTotal|number_format(2) }}</strong></td>
                                    <td></td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="form-actions inline-submit">
                        <div class="row">
                            <div class="col-md-8"></div>
                            <div class="col-md-4 text-right">
                                <div class="btn-group" role="group">
                                    <button type="submit" id="submitBtn" name="save" class="btn btn-info form-submit">Next <i class="feather  icon-chevrons-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_widget(form._token) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/tender.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/jquery.cookie.min.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}
