{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Selected Open Items'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'in-progress' %} active {% else %} yellow-bg {% endif %}"  href="{{ path('procure_tenderbatch_bank',{'mode':'in-progress'})}}"><i class="feather icon-aperture"></i> In-progress</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'close' %} active {% else %} yellow-bg {% endif %}" href="{{ path('procure_tenderbatch_bank',{'mode':'close'})}}"><i class="feather icon-file"></i> Closed</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap">
                                <thead class="thead-green">
                                <form action="" method="get">
                                    <tr role="row">
                                        <td colspan="2" >{{ form_widget(searchForm.requisitionNo) }}</td>
                                        <td>{{ form_widget(searchForm.department) }}</td>
                                        <td>{{ form_widget(searchForm.branch) }}</td>
                                        <td colspan="2"><div class="date-group">{{ form_widget(searchForm.startDate) }}</div></td>
                                        <td colspan="2"><div class="date-group">{{ form_widget(searchForm.endDate) }}</div></td>
                                        <td>{{ form_widget(searchForm.filter) }}</td>
                                    </tr>
                                    {{ form_widget(searchForm._token) }}
                                </form>
                                <tr>
                                    <th scope="col">S/N</th>
                                    <th scope="col">Item Name</th>
                                    <th scope="col">PR No</th>
                                    <th scope="col">Created</th>
                                    <th scope="col">Branch/Department</th>
                                    <th scope="col">PR QTY</th>
                                    <th scope="col">PO Qty</th>
                                    <th scope="col">PO Remain</th>
{#                                    <th scope="col">Issue Qty</th>
                                    <th scope="col">Issue Remain</th>#}
                                    <th scope="col">PO issue</th>
                                    <th scope="col">Comment</th>
                                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if pagination is not empty %}
                                    {% set i = 1  %}
                                    {% for entity in pagination %}
                                        {% for item in entity %}
                                            <tr>
                                                {% if loop.index==1 %}
                                                    <td rowspan="{{ entity|length }}">{{ i }}</td>
                                                    <td rowspan="{{ entity|length }}">{{ item.itemName }}</td>
                                                {% endif %}
                                                <th><a class="entity-show" data-action="{{ path('procure_requisition_bank_show',{'id':item.requisitionId}) }}" href="javascript:" data-title="Requisition No: {{ item.requisitionNo }}" id="postView-{{ item.requisitionId }}">{{ item.requisitionNo }}</a></th>
                                                <td>{{ item.requisitionDate|date('d-m-Y') }}</td>
                                                <td>{% if item.branch is empty %}{{ item.department }}{% else %}{{ item.branch }}{% endif %}</td>
                                                <td>{{ item.quantity }}</td>
                                                <td>{% if selectedRows[item.id] is defined %} {{  selectedRows[item.id].poQuantity }}{% endif %}</td>
                                                <td>{% if selectedRows[item.id] is defined %} {{  item.quantity - selectedRows[item.id].poQuantity|default(0) }}{% else %}{{ item.quantity }}{% endif %}</td>
                                              {#  <td>{{ item.issueQuantity }}</td>
                                                <td>{{ item.remaining }}</td>#}
                                                <td>
                                                    {%  if item.isClose != 1 %}
                                                    <input id="action-{{ item.id }}" {% if item.id in selected %} checked="checked" {% endif %} data-id="{{ item.id }}" type="checkbox" name="item[]" value="{{ item.id }}" class="check tooltips itemId" data-trigger="hover" data-original-title="Select PO Item"  >
                                                    {% endif %}
                                                </td>
                                                <td>{{ item.content }}</td>
                                                <td>
                                                    {% if selectedRows[item.id] is not defined %}
                                                    <a class='btn btn-mini red-bg white-font  remove' data-id='{{ item.batchItemId }}' href='javascript:' data-action='{{ path('procure_tenderbatch_bank_item_delete',{'id':item.batchItemId}) }}' id='{{ item.batchItemId }}' ><i class='feather icon-trash-2'></i> Remove</a>
                                                    {% elseif(item.isClose != 1 ) %}
                                                    <a class='btn btn-mini yellow-bg white-font  approveProcess' data-id='{{ item.batchItemId }}' href='javascript:' data-action='{{ path('procure_tenderbatch_bank_batchitem_close',{'id':item.batchItemId}) }}' id='{{ item.batchItemId }}' ><i class="feather icon-x-square"></i> Close</a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        {% set i = i+1 %}
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="count">
                                Total Records: {{ pagination.getTotalItemCount }}
                            </div>
                        </div>
                        <div class="col-md-9 navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                    <div class="form-actions inline-submit">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <div class="btn-group" role="group">
                                    <a href="{{ path('procure_tender_bank_tenderbatch_poitem_selected') }}" type="submit" id="submitBtn" name="save" class="btn btn-info form-submit">Next <i class="feather  icon-chevrons-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/script.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/jquery.cookie.min.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    var items = $.cookie('itemIds') ? $.cookie('itemIds').split(',') : [];
    $('body').on('click', 'input.itemId', function(el) {
    console.log(items);
    var val = $(this).val();
    if($(this).prop('checked')) {
    items.push(val);
    }else{
    var index = items.indexOf(val);
    if (index > -1) {
    items.splice(index, 1);
    }
    }
    $.cookie('itemIds', items, {path: '/'});
    });
    jqueryTemporaryLoad();
{% endblock %}
