<html>
<head>
    <title>MANAGEMENT APPROVAL NOTE</title>
    <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link href="{{ asset('assets/theme/rbs/css/print.css') }}" type="text/css" rel="stylesheet" />
    <script src="{{ asset('assets/plugins/jquery/jquery-3.3.1.min.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/js/kinzi.print.min.js') }}"></script>
</head>
<body class="body">
{% if mode=='preview' %}
    <div class="row  print-bar">
        <div class="col-md-6 text-left"><strong>Preview</strong>: {{ entity.invoice }}</div>
        <div class="col-md-6 text-right" >
            <ul class="list-inline" id="grpChkBox">
                <li><button class='btn btn-print print'  id='{{ entity.id }}' ><i class='fa fa-print' ></i> Print</button></li>
            </ul>
        </div>
    </div>
{% endif %}
<div class="pcoded-inner-content">
    <!-- [ Main Content ] start -->
    <div class="row">
        <div class="card">
            <div class="print-header-content">
                <img src="{{ asset('assets/images/bank-asia-header.png') }}">
            </div>
            <div class="card-block" id="print-area">
                <div class="row">
                    <div class="col text-center" style="text-transform: uppercase"><p><strong>Board Approval Note</strong></p></div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6 text-center py-2"><strong>Office Note: {{ entity.invoice }}</strong></div>
                    <div class="col-md-6 text-center py-2">{{ entity.created|date('F d, Y') }}</div>
                </div>
                <div class="row ">
                    <div class="col div-br-40"></div>
                </div>
                <div class="row">
                    <div class="col text-justify"><strong>Subject:{{ entity.subject|raw }}</strong></div>
                </div>
                <div class="col-md-2"><strong></strong></div>
                <div class="card-header grey-bg inner-header">
                    <h5>{{ 'Selected vendor'|trans }}</h5>
                </div>
                {% for vendor in entity.parent.approvedVendor %}
                    <div class="row">
                        <table class="table" id="datatable">
                            <tr>
                                <th scope="col">{{ loop.index }}</th>
                                <td scope="col">  {{ vendor.name }}<br/>
                                    {{ vendor.address|raw }}</td>
                                <th scope="col">Po Amount(BDT)</th>
                                <th scope="col">{{ vendor.subTotal|number_format(2) }}</th>
                                <th scope="col">Po Revised Amount(BDT)</th>
                                <td scope="col">{{ vendor.revisedTotal|number_format(2) }}</td>
                            </tr>
                        </table>
                    </div>
                {% endfor %}
                <div class="row ">
                    <div class="col div-br-40"></div>
                </div>
                <div class="row">
                    <div class="col" style="text-align: justify">{{ entity.content|raw }}</div>
                </div>
                <div class="row ">
                    <div class="col div-br-30"></div>
                </div>
                <div class="card-header grey-bg inner-header">
                    <h5>{{ 'The comparative statement (CS) of participating bidders is as under:'|trans }}</h5>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table" id="datatable">
                            <thead class="thead-gray">
                            <tr>
                                <th scope="col">S/N</th>
                                <th scope="col">Name of Vendor</th>
                                <th scope="col">Quoted price</th>
                                <th scope="col">Position</th>
                                <th scope="col">Remark</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set i= 0 %}
                            {% if entity.parent.parent.tenderComparative.tender.tenderVendors is not empty %}
                                {% for vendor in entity.parent.parent.tenderComparative.tender.tenderVendors %}
                                    {% if vendor.subTotal > 0 %}
                                        {% set i = i + 1 %}
                                        <tr>
                                            <td>{{ i }}.</td>
                                            <td>{{ vendor.name }}</td>
                                            <td>{{ vendor.subTotal|number_format(2) }}</td>
                                            <td>{{ vendor.ordinal(i) }} Lowest</td>
                                            <td>{{ vendor.remark }}</td>
                                        </tr>

                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row ">
                    <div class="col div-br-30"></div>
                </div>
                <div class="row">
                    <div class="col" style="text-align: justify">{{ entity.footerContent|raw }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12">{{ entity.customContentOne|raw }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12">{{ entity.customContentTwo|raw }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12">{{ entity.customContentThree|raw }}</div>
                </div>
                <div class="card-header grey-bg inner-header">
                    <h5>{{ 'The Bidders revised quotation price is as under:'|trans }}</h5>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table" id="datatable">
                            <thead class="thead-gray">
                            <tr>
                                <th scope="col">S/N</th>
                                <th scope="col">Name of Vendor</th>
                                <th scope="col">Initial price</th>
                                <th scope="col">Revised price</th>
                                <th scope="col">Position</th>
                                <th scope="col">Remark</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set i= 0 %}
                            {% if entity.parent.parent.tenderComparative.tender.tenderVendors is not empty %}
                                {% for vendor in entity.parent.parent.tenderComparative.tender.tenderVendors %}
                                    {% if vendor.subTotal > 0 %}
                                        {% set i = i + 1 %}
                                        <tr>
                                            <td>{{ i }}.</td>
                                            <td>{{ vendor.name }}</td>
                                            <td>{{ vendor.subTotal|number_format(2) }}</td>
                                            <td>{{ vendor.revisedTotal|number_format(2) }}</td>
                                            <td>{{ vendor.ordinal(i) }} Lowest</td>
                                            <td>{{ vendor.remark }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="card-header grey-bg inner-header">
                    <h5>{{ 'Comment/Recommendation of Purchase Committee'|trans }}</h5>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12">{{ entity.recommendationt }}</div>
                </div>
                {% if entity.conditionItems is defined and entity.conditionItems is not empty %}
                    {% for keyValue in entity.conditionItems %}
                        {% if keyValue.status == 1 %}
                            <div class="row">
                                <div class="col text-left"><h3>{{ keyValue.metaKey|raw }}</h3></div>
                            </div>
                            <div class="row">
                                <div class="col text-justify">{{ keyValue.metaValue|raw }}</div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class="row">
                    <div class="col-md-12"><br/><br/></div>
                </div>

                <div class="row">
                    <div class="col">
                        <strong>Prepared by:</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="grid-comment-signature">
                        <div class="col-md-12 text-left">
                            <div style="padding: 15px; margin-bottom: 15px; text-align: center">
                                {% if entity.createdBy.profile.signaturePath is not empty %}
                                    <img style="height: 60px" src="{{ asset('uploads/user/'~entity.createdBy.profile.signaturePath) }}">
                                    <br/>
                                {% endif%}
                                {{ entity.createdBy.name }}<br/>{% if entity.createdBy.profile.designation %}{{ entity.createdBy.profile.designation.name }}{% endif %}
                            </div>
                        </div>
                        {% if approvals is not empty %}
                            {% for index,list in approvals %}
                                {% if list.close == true  %}
                                    <div class="col-md-12 text-center" >
                                        <div style="padding: 10px">
                                            {% if list.assignTo.profile.signaturePath is not empty %}
                                                <img style="height: 60px" src="{{ asset('uploads/user/'~list.assignTo.profile.signaturePath) }}">
                                                <br/>
                                            {% endif%}
                                            {{ list.assignTo.name }}<br/>
                                            {% if list.assignTo.profile.designation %}{{ list.assignTo.profile.designation.name }}{% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="print-footer-content">
                <img src="{{ asset('assets/images/bank-asia/footer.png') }}">
            </div>
        </div>
    </div>
</div>
<script>
    $('.print').click(function(){
        $('#print-area').kinziPrint({
            importCSS: true,
            header: $('.print-header-content').html(),
            footer: $('.print-footer-content').html()
        });
    });
</script>
</body>
</html>