<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Report-Item Wise</title>
    <style>
        table tbody tr td{
            padding: 2px;
        }
    </style>
</head>
<body>
<div style="text-align: center">
    <h1>AGDL</h1>
    <p>29 gausul azam avenue, Uttara Sector-14, Dhaka-1230</p>
</div>
<table border="1" cellspacing="0" cellpadding="0" width="100%">
    <thead>
    <tr>
        <th>{{ 'SL'|trans }}</th>
        <th>{{ 'PR No.'|trans }}</th>
        <th>{{ 'PR Date'|trans }}</th>
        <th>{{ 'Item Name'|trans }}</th>
        <th>{{ 'Main Category'|trans }}</th>
        <th>{{ 'Sub Category'|trans }}</th>
        <th>{{ 'PR Type'|trans }}</th>
        <th>{{ 'Company'|trans }}</th>
        <th>{{ 'Department.'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% if entities is not empty %}
        {% for entity in entities %}
            <tr>
                <td align="center">{{ loop.index }}</td>
                <td>0000</td>
                <td>{{ entity.lastPurchaseDate|default('now'|date('d-m-Y')) }}</td>
                <td>{{ entity.itemName|default('') }}</td>
                <td>{{ entity.itemCategoryName|default('') }}</td>
                <td>Sub Category</td>
                <td>{{ entity.requisitionTypeName|default('') }}</td>
                <td>Company</td>
                <td>Department</td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>
</body>
</html>