<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Report: Credit Notes</title>
    <style>
        table tbody tr td{
            padding: 2px;
        }
    </style>
</head>
<body>
{% if headerImage %}
<div style="padding-bottom: 10px"><img width="100%" src="{{ asset(headerImage) }}"></div>
{% endif %}
<div class="row">
    <caption><h2 style="text-align:center">Bank Asia Limited</h2></caption>
</div>
<div class="row">
    <caption style="text-align:center"><strong style="text-align:center">Credit notes for Printing Stationaries forwarded towards your end for onward bebiting the related branches Date: {% if filterBy['startDate'] is defined and filterBy['endDate'] is not empty %} {{ filterBy['startDate'] }} {% endif %} To {% if filterBy['startDate'] is defined and filterBy['endDate'] is not empty %} {{ filterBy['endDate']}} {% endif %}</strong></caption>
</div>

<table border="1" cellspacing="0" cellpadding="5" width="100%">
    <thead>
    <tr>
        <th scope="col">Created</th>
        <th scope="col">Branch Name</th>
        <th scope="col"></th>
        <th scope="col">Amount</th>
        <th scope="col">Total Amount</th>
    </tr>
    </thead>
    <tbody>
    {% if entities is not empty  %}
        {% for date in entities['dates']  %}
            <tr>
                <td>{{ date['createdDate'] }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% set rang = date['createdDate'] %}
            {% for row in entities['data'][rang] %}
                <tr>
                    <td scope="col"></td>
                    <td scope="col">{% if row.branch %}{{ row.branch }}{% else %}{{ row.department }}{% endif %}</td>
                    <td scope="col"></td>
                    <td scope="col" style="text-align:right">{{ row.subTotal|number_format(2) }}</td>
                    <td scope="col"></td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td style="text-align:right">Total</td>
                <td style="text-align:right"><strong>{{ date['subTotal']|number_format(2) }}</strong></td>
                <td style="text-align:right"><strong>{{ date['subTotal']|number_format(2) }}</strong></td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>
{% if footerImage %}
<div style="padding-top: 10px"><img width="100%" src="{{ asset(footerImage) }}"></div>
{% endif %}
</body>
</html>