{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Delivery Batch'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_delivery_batch_bank') }}" class="btn btn-sm green-bg  white-font"><i class="fa fa-th"></i>{{ 'Delivery Batch'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'Delivery Batch'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-12 form-box-header">{#<p>All master Setting data setup here</p>#}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 form-box-body">
                                                <div class="row">
                                                    <div class="col-md-2">Start Date</div>
                                                    <div class="col-md-4">{{ entity.startDate|date('d-m-Y') }}</div>
                                                    <div class="col-md-2">End Date</div>
                                                    <div class="col-md-4">{{ entity.endDate|date('d-m-Y') }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2">Total Amount</div>
                                                    <div class="col-md-4">{{ entity.subTotal }}</div>
                                                    <div class="col-md-2">Process</div>
                                                    <div class="col-md-4">{{ entity.process }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ entity.content|raw }}
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-striped table-bordered table-hover display nowrap" id="dataTable">
                                                    <thead class="thead-gray">
                                                    <tr>
                                                        <th scope="col">S/N</th>
                                                        <th scope="col">Created</th>
                                                        <th scope="col">Branch/Department</th>
                                                        <th scope="col">Total Amount</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% if pagination is not empty  %}
                                                        {% for date in pagination['dates']  %}
                                                            <tr><th></th><th colspan="2">{{ date['date'] }}</th><th></th></tr>
                                                            {% set rang = date['date'] %}
                                                            {% for row in pagination['data'][rang] %}
                                                                <tr>
                                                                    <td>{{ loop.index }}.</td>
                                                                    <td></td>
                                                                    <td>{% if row.branch %}{{ row.branch }} {% else %} {{ row.department }}{% endif %}</td>
                                                                    <td>{{ row.subTotal|number_format(2) }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                            <tr><th></th><th></th><th class="text-right">Total</th><th>{{ date['subTotal']|number_format(2) }}</th></tr>
                                                        {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                    <tfoot>
                                                    <tr><th colspan="3" class="text-right">Grand Total</th><th>{{ entity.subTotal|number_format(2) }}</th></tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                        {% if entity.process in ["New","Complete","Rejected"]  %}
                                        <div class="clearfix"></div>
                                        {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                                        <div class="row">
                                            <div class="col-md-12 form-box-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            {{ form_label(form.startDate, 'Start Date'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-4">
                                                                <span class="is-required">*</span>
                                                                {{ form_widget(form.startDate) }}
                                                                {{ form_errors(form.startDate) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            {{ form_label(form.endDate, 'End Date'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                            <div class="col-md-4">
                                                                {{ form_widget(form.endDate) }}
                                                                {{ form_errors(form.endDate) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.content, 'Description'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                            <div class="col-md-10">
                                                                {{ form_widget(form.content) }}
                                                                {{ form_errors(form.content) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.comment, 'Comment'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                            <div class="col-md-10">
                                                                {{ form_widget(form.comment) }}
                                                                {{ form_errors(form.comment) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                            <div class="form-sm-actions">
                                                <div class="col-md-12 text-right">
                                                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown"><button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                                        {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue',value:'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                                                    </div>
                                                </div>
                                            </div>
                                        {{ form_widget(form._token) }}
                                        {{ form_end(form) }}
                                        {% endif %}

                                        <div class="card-header grey-bg inner-header">
                                            <h5>Signatures</h5>
                                        </div>
                                        <div class="grid-designation">
                                            <div class="col-md-12 text-left">
                                                <div style="padding: 15px; border: 1px solid #dddddd; margin-bottom: 15px; text-align: center">
                                                    {% if entity.createdBy.profile.signaturePath is not empty %}
                                                        <img style="height: 60px" src="{{ asset('uploads/user/'~entity.createdBy.profile.signaturePath) }}">
                                                        <br/>
                                                    {% endif%}
                                                    {{ entity.createdBy.name }}<br/>{% if entity.createdBy.profile.designation %}{{ entity.createdBy.profile.designation.name }}{% endif %}
                                                </div>
                                            </div>
                                            {% if entity.approvedBy is not empty %}
                                            <div class="col-md-12 text-left">
                                                <div style="padding: 15px; border: 1px solid #dddddd; margin-bottom: 15px; text-align: center">
                                                    {% if entity.approvedBy.signaturePath is not empty %}
                                                        <img style="height: 60px" src="{{ asset('uploads/user/'~entity.approvedBy.profile.signaturePath) }}">
                                                        <br/>
                                                    {% endif%}
                                                    {{ entity.approvedBy.name }}<br/>{% if entity.approvedBy.profile.designation %}{{ entity.approvedBy.profile.designation.name }}{% endif %}
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/script.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
