{% extends 'layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Delivery Batch'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_delivery_batch_bank_new') }}" class="btn btn-sm green-bg  white-font"><i class="fa fa-plus"></i>{{ 'New Batch'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap" id="dataTable">
                                <thead class="thead-gray">
                                <tr>
                                    <th scope="col">S/N</th>
                                    <th scope="col">Batch No</th>
                                    <th scope="col">Created</th>
                                    <th scope="col">Start Date</th>
                                    <th scope="col">End date</th>
                                    <th scope="col">Total Amount</th>
                                    <th scope="col">Process</th>
                                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if pagination is not empty  %}
                                    {% for entity in pagination  %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ entity.invoice}}</td>
                                            <td>{{ entity.created|date('d-m-Y') }}</td>
                                            <td>{{ entity.startDate|date('d-m-Y') }}</td>
                                            <td>{{ entity.endDate|date('d-m-Y') }}</td>
                                            <td>{{ entity.subTotal }}</td>
                                            <td>{{ entity.process }}</td>
                                            <td scope="col text-center">
                                                <div class="btn-group" >
                                                    {% if app.user.hasRoles(['ROLE_PROCUREMENT_LSSD','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) and entity.process in ["New","Complete","Rejected"]  %}
                                                    <a class='btn btn-mini purple-bg white-font' href='{{ path('procure_delivery_batch_bank_generate',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-refresh'></i> Generate</a>
                                                    {% endif %}
                                                    {% if app.user.hasRoles(['ROLE_PROCUREMENT_LSSD_HEAD','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) and entity.process == "Complete" %}
                                                    <a class='btn btn-mini blue-bg white-font' href='{{ path('procure_delivery_batch_bank_process',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-eye'></i> Process</a>
                                                    {% endif %}
                                                    {% if app.user.hasRoles(['ROLE_PROCUREMENT_LSSD','ROLE_DOMAIN']) and app.user.checkBundle(['procurement']) and entity.process in ["New","Complete","Rejected"] %}
                                                    <a class='btn  btn-transparent btn-mini red-font remove' data-id='{{ entity.id }}' href='javascript:' data-action='{{ path('procure_delivery_batch_bank_delete',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-trash-2'></i></a>
                                                    {% endif %}
                                                    {% if entity.process not in ["New","Complete","Rejected"]  %}
                                                    <a class='btn btn-mini green-bg white-font' href='{{ path('procure_delivery_batch_bank_show',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-eye'></i> Show</a>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
