{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Store Batch Process'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'Store Batch Process'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-12 form-box-header">{#<p>All master Setting data setup here</p>#}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 form-box-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            {{ form_label(form.startDate, 'Start Date'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-4">
                                                                <span class="is-required">*</span>
                                                                {{ form_widget(form.startDate) }}
                                                                {{ form_errors(form.startDate) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            {{ form_label(form.endDate, 'End Date'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                            <div class="col-md-4">
                                                                {{ form_widget(form.endDate) }}
                                                                {{ form_errors(form.endDate) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.content, 'Description'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                            <div class="col-md-10">
                                                                {{ form_widget(form.content) }}
                                                                {{ form_errors(form.content) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-sm-actions">
                                            <div class="col-md-12 text-right">
                                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown"><button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                                    {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue',value:'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{ form_widget(form._token) }}
                                    {{ form_end(form) }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/script.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
