{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Delivery Batch'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_delivery_batch_bank') }}" class="btn btn-sm green-bg  white-font"><i class="fa fa-th"></i>{{ 'Delivery Batch'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'Delivery Batch'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-12 form-box-header">{#<p>All master Setting data setup here</p>#}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 form-box-body">
                                                <div class="row">
                                                    <div class="col-md-2">Batch No</div>
                                                    <div class="col-md-4">{{ entity.invoice }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2">Start Date</div>
                                                    <div class="col-md-4">{{ entity.startDate|date('d-m-Y') }}</div>
                                                    <div class="col-md-2">End Date</div>
                                                    <div class="col-md-4">{{ entity.endDate|date('d-m-Y') }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2">Total Amount</div>
                                                    <div class="col-md-4">{{ entity.subTotal }}</div>
                                                    <div class="col-md-2">Process</div>
                                                    <div class="col-md-4">{{ entity.process }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ entity.content|raw }}
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table table-striped table-bordered table-hover display nowrap" id="dataTable">
                                                    <thead class="thead-gray">
                                                    <tr>
                                                        <th scope="col">S/N</th>
                                                        <th scope="col">Created</th>
                                                        <th scope="col">Branch/Department</th>
                                                        <th scope="col">Total Amount</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% if pagination is not empty  %}
                                                        {% for date in pagination['dates']  %}
                                                            <tr><th></th><th colspan="2">{{ date['date'] }}</th><th></th></tr>
                                                            {% set rang = date['date'] %}
                                                            {% for row in pagination['data'][rang] %}
                                                                <tr>
                                                                    <td>{{ loop.index }}.</td>
                                                                    <td></td>
                                                                    <td> <a href="{{ path('procure_requisition_bank_order_delivery_print',{'id':row.id}) }}" target="_blank" >{% if row.branch %}{{ row.branch }} {% else %} {{ row.department }}{% endif %}</a></td>
                                                                    <td>{{ row.subTotal|number_format(2) }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                            <tr><th></th><th></th><th class="text-right">Total</th><th>{{ date['subTotal']|number_format(2) }}</th></tr>
                                                        {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                    <tfoot>
                                                    <tr><th colspan="3" class="text-right">Grand Total</th><th>{{ entity.subTotal|number_format(2) }}</th></tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                                                <div class="row">
                                                    <div class="col-md-12 form-box-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    {{ form_label(form.comment, 'Comment'|trans, {'label_attr': {'class': 'col-md-12 text-left'}}) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <div class="col-md-12">
                                                                        {{ form_widget(form.comment,{'attr':{'rows':3}}) }}
                                                                        {{ form_errors(form.comment) }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12 text-right">
                                                                <div class="btn-group" >
                                                                    <button type="submit" name="reject" value="reject"  class="btn btn-sm btn-warning white-font"><i class="feather icon-x-square"></i>Reject</button>
                                                                    <button type="submit" name="approve" value="approve" class="btn btn-sm blue-bg white-font"><i class="feather icon-check-square"></i>Approve</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {{ form_widget(form._token) }}
                                                {{ form_end(form) }}
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/script.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
