<div id="courier">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-md-4 control-label required" for="sub_branch_form_name">Courier Name</label>
                <div class="col-md-8">
                    <select class="form-control" required="required" name="courier" id="courierService">
                        <option value="">--Select Courier Service</option>
                        {% for courier in couriers %}
                            <option value="{{ courier.id }}">{{ courier.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-md-4 control-label required" for="sub_branch_form_name">CN No.</label>
                <div class="col-md-8">
                    <input type="text" id="cnNo" name="cnNo" required="required" placeholder="Courier no" autofocus="autofocus" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-md-4 control-label required" for="sub_branch_form_name">Notes</label>
                <div class="col-md-8">
                    <input type="text" id="comments[]" name="comments" required="required" autofocus="autofocus" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>