<div id="hand-delivery">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-md-4 control-label required" for="receiverName">Name</label>
                <div class="col-md-8">
                    <input type="text" id="receiverName" name="receiverName" required="required" autofocus="autofocus" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-md-4 control-label required" for="receiverDesignation">Designation</label>
                <div class="col-md-8">
                    <input type="text" id="receiverDesignation" name="receiverDesignation" required="required" autofocus="autofocus" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-md-4 control-label required" for="receiverAddress">Dep/Branch</label>
                <div class="col-md-8">
                    <input type="text" id="receiverAddress" name="receiverAddress" required="required" autofocus="autofocus" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>