<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Report-Consumption</title>
    <style>
        table tbody tr td{
            padding: 2px;
        }
    </style>
</head>
<body>

<table border="1" cellspacing="0" cellpadding="0" width="100%">
    <thead>
    <tr>
        <th>{{ 'SL'|trans }}</th>
        <th>{{ 'Item Name'|trans }}</th>
        <th>{{ 'Type'|trans }}</th>
        <th>{{ 'Ex Type'|trans }}</th>
        <th>{{ 'Quantity'|trans }}</th>
        <th>{{ 'UoM'|trans }}</th>
        <th>{{ 'Value(BDT)'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for row in 1..10 %}
        <tr>
            <td>{{ loop.index }}</td>
            <td> Item Name </td>
            <td> Type </td>
            <td> Ex Type </td>
            <td> Quantity </td>
            <td> UoM </td>
            <td> Value </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>