<table>
    <thead>
    <tr>
        <th>{{ 'SL'|trans }}</th>
        <th>{{ 'Item Name'|trans }}</th>
        <th>{{ 'Type'|trans }}</th>
        <th>{{ 'Ex Type'|trans }}</th>
        <th>{{ 'Quantity'|trans }}</th>
        <th>{{ 'UoM'|trans }}</th>
        <th>{{ 'Value(BDT)'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for row in 1..10 %}
        <tr>
            <td>{{ loop.index }}</td>
            <td> Item Name </td>
            <td> Type </td>
            <td> Ex Type </td>
            <td> Quantity </td>
            <td> UoM </td>
            <td> Value </td>
        </tr>
    {% endfor %}
    </tbody>
</table>