
<div class="portlet box blue ">
    <div class="portlet-body form">
        <div class="row form-body">
            <div class="form-inner-no-space">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4"><strong>Meeting ID.</strong></div>
                            <div class="col-md-8">{{ entity.invoice }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Created</strong></div>
                            <div class="col-md-8">{{ entity.created|date('d-m-Y') }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Meeting Date</strong></div>
                            <div class="col-md-8">{{ entity.expectedDate|date('d-m-Y') }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><strong>Created By</strong></div>
                            <div class="col-md-8">{{ entity.createdBy.name }}</div>
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><strong>Subject</strong></div>
                    <div class="col-md-10"><p>{{ entity.subject|raw }}</p></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><strong>To Email</strong></div>
                    <div class="col-md-10"><p>{{ entity.email|raw }}</p></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><strong>Body</strong></div>
                    <div class="col-md-10"><p>{{ entity.content|raw }}</p></div>
                </div>
                <div class="card-header grey-bg inner-header">
                    <h5>Tender Memo Items</h5>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table" id="datatable">
                            <thead class="thead-gray">
                            <tr>
                                <th class="col-md-1">S/N</th>
                                <th class="col-md-1">Memo No</th>
                                <th class="col-md-1">Created</th>
                                <th class="col-md-8">Subject</th>
                                <th class="col-md-1">Status</th>
                            </tr>

                            </thead>
                            <tbody id="invoiceItem">
                            {% for memo in entity.tenders %}
                                <tr>
                                    <td class="col-md-1">{{ loop.index }}.</td>
                                    <td class="col-md-1">{{ memo.invoice }}</td>
                                    <td class="col-md-1">{{ memo.created|date('d-m-Y') }}</td>
                                    <td class="col-md-8">{{ memo.subject|raw }}</td>
                                    <td class="col-md-1">{{ memo.waitingProcess }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% if (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "user") %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ render(controller(
                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveUers",
                                { 'id': entity.id,'module':entity.module}
                            )) }}
                        </div>
                    </div>
                {% elseif (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "role") %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ render(controller(
                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveRoles",
                                { 'id': entity.id,'module':entity.module}
                            )) }}
                        </div>
                    </div>
                {% endif %}
                <br/>
            </div>
        </div>
    </div>
</div>
<style>
    .grid-designation {
        width: 100%;
        display: grid;
        grid-gap: 0;
    }
    .grid-designation {
        grid-template-columns: repeat(3, calc(100%/3));
    }
    .grid-products {
        width: 100%;
        display: grid;
        grid-gap: 0;
    }
    .grid-products {
        grid-template-columns: repeat(2, calc(100%/2));
    }
</style>
