{% if attchments is not empty %}
    <div class="card-header grey-bg inner-header">
        <h5>Attachment File</h5>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered" id="datatable">
                <thead class="thead-green">
                <tr>
                    <th scope="col">S/N</th>
                    <th scope="col">Created</th>
                    <th scope="col">Description</th>
                    <th scope="col">Attachment</th>
                </tr>
                </thead>
                <tbody>
                {% for keyValue in attchments %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ keyValue.updated|date('d-m-Y') }}</td>
                        <td>{{ keyValue.name }}</td>
                        <td>
                            <a class="btn btn-mini blue-bg white-font" target="_blank" href="{{ path('procure_process_download_attachment',{'id':keyValue.id}) }}">Download</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}
{% if approvals is not empty %}
<div class="card-header grey-bg inner-header">
    <h5>Signatures</h5>
</div>
<div class="grid-designation">
    <div class="col-md-12 text-left">
        <div style="padding: 15px; border: 1px solid #dddddd; margin-bottom: 15px; text-align: center">
            {% if entity.createdBy.profile.signaturePath is not empty %}
                <img style="height: 60px" src="{{ asset('uploads/user/'~entity.createdBy.profile.signaturePath) }}">
                <br/>
            {% endif%}
            {{ entity.createdBy.name }}<br/>{% if entity.createdBy.profile.designation %}{{ entity.createdBy.profile.designation.name }}{% endif %}
        </div>
    </div>
    {% for list in approvals %}
        {% if list.close == true  %}
            <div class="col-md-12 text-left">
                <div style="padding: 15px; border: 1px solid #dddddd; margin-bottom: 15px; text-align: center">
                    {% if list.assignTo.profile.signaturePath is not empty %}
                        <img style="height: 60px" src="{{ asset('uploads/user/'~list.assignTo.profile.signaturePath) }}">
                        <br/>
                    {% endif%}
                    {{ list.assignTo.name }}<br/>{% if list.assignTo.profile.designation %}{{ list.assignTo.profile.designation.name }}{% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endif %}
{% if approvals is not empty %}
    <div class="card-header grey-bg inner-header">
        <h5>Comments</h5>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover display nowrap">
                <thead class="thead-blue">
                <tr>
                    <th scope="col" class="text-left">S/N</th>
                    <th scope="col" class="text-left">Comment By</th>
                    <th scope="col" class="text-left">Created</th>
                    <th scope="col" class="text-left">Comment</th>
                    <th scope="col" class="text-left">Status</th>
                </tr>
                </thead>
                <tbody id="approval-comments">
                {% for list in approvals %}
                    <tr>
                        <td scope="col" class="text-left">{{ loop.index }}.</td>
                        <td scope="col" class="text-left">{{ list.assignTo.name }}</td>
                        <td scope="col" class="text-left">{% if list.comment  %}{{ list.updated|date('d-m-Y h:m A') }}{% endif %}</td>
                        <td  class="text-left">{{ list.comment|raw }}</td>
                        <td scope="col" class="text-left">{{ list.process }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}