{% if approvals is not empty %}
    <br/>
    <div class="row">
        <div class="col">
            <strong>Comments by:</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover display nowrap">
                <thead class="thead-blue">
                <tr>
                    <th scope="col" class="text-left">S/N</th>
                    <th scope="col" class="text-left">Comment By</th>
                    <th scope="col" class="text-left">Created</th>
                    <th scope="col" class="text-left">Comment</th>
                    <th scope="col" class="text-left">Status</th>
                </tr>
                </thead>
                <tbody id="approval-comments">
                {% for list in approvals %}
                    {% if list.close == true  %}
                    <tr>
                        <td scope="col" class="text-left">{{ loop.index }}.</td>
                        <td scope="col" class="text-left">{% if list.assignTo %}{{ list.assignTo.name }}{% endif %}</td>
                        <td scope="col" class="text-left">{{ list.created|date('d-m-Y H:m') }}</td>
                        <td  class="text-left">{{ list.comment|raw }}</td>
                        <td scope="col" class="text-left">{{ list.process }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}
<br/>
{% if approvals is not empty %}
    <div class="row">
        <div class="col">
            <strong>Prepared by:</strong>
        </div>
    </div>
    <div class="row">
        <div class="grid-designation">
            <div class="col-md-12 text-left">
                <div style="padding: 15px; margin-bottom: 15px; text-align: center">
                    {% if entity.createdBy.profile.signaturePath is not empty %}
                        <img style="height: 60px" src="{{ asset('uploads/user/'~entity.createdBy.profile.signaturePath) }}">
                        <br/>
                    {% endif%}
                    {{ entity.createdBy.name }}<br/>{% if entity.createdBy.profile.designation %}{{ entity.createdBy.profile.designation.name }}{% endif %}
                </div>
            </div>
            {% for index,list in approvals %}

                {% if list.close == true  %}
                    <div class="col-md-12 text-center">
                        <div style="padding: 10px">
                            {% if list.assignTo.profile.signaturePath is not empty %}
                                <img style="height: 60px" src="{{ asset('uploads/user/'~list.assignTo.profile.signaturePath) }}">
                                <br/>
                            {% endif%}
                            {{ list.assignTo.name }}<br/>
                            {% if list.assignTo.profile.designation %}{{ list.assignTo.profile.designation.name }}{% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}
