<div class="card-header grey-bg inner-header">
    <h5>File Attachments</h5>
    <div class="card-header-right">
        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
            <button type="button" id="" class="btn btn-sm  blue-bg white-font addFile"><i class="feather icon-plus"></i>Add More Attachment</button>
        </div>
    </div>
</div>
<div class="">
    <div class="col-md-12 clone-block" id="clone-attachment">
        <div class="clone">
            <div class="row">
                <label class="col-md-2 text-right" for="">File Label</label>
                <div class="col-md-4">
                    <input type="text" name="labelName[]" id="labelName" class="form-control form-control-sm" placeholder="Enter file description" value="">
                    <input type="hidden" name="metaId[]" id="metaId" value="">
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" name="files[]" class="custom-file-input" id="file" aria-describedby="file">
                            <label class="custom-file-label" for="file">Choose file</label>
                        </div>
                        <div class="input-group-append">
                            <div class="btn btn-sm btn-transparent red-font row-remove hidden">
                                <i class="fa fa-remove"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<table class="table table-striped table-bordered" id="datatable">
    <thead class="thead-green">
    <tr>
        <th scope="col">S/N</th>
        <th scope="col">Created</th>
        <th scope="col">Description</th>
        <th scope="col">Attachment</th>
    </tr>
    </thead>
    <tbody>
    {% for keyValue in attchments %}
        <tr>
            <td>{{ loop.index }}.</td>
            <td>{{ keyValue.created|date('d-m-Y') }}</td>
            <td>{{ keyValue.name }}</td>
            <td>
                <div class="btn-group" >
                    <a class="btn btn-mini blue-bg white-font" target="_blank" href="{{ path('procure_process_download_attachment',{'id':keyValue.id}) }}"><i class='feather icon-download'></i> Download</a>
                    <a  class="btn btn-mini red-bg white-font remove"  data-action="{{ path('procure_process_attachment_delete',{'id':keyValue.id}) }}" data-id="{{ keyValue.id }}"><i class='feather icon-trash-2'></i> Remove</a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
