{% extends 'layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Requisition Information Details'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                           <a href="{{ path('procure_requisition_bank') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Store Requisition'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="d-flex flex-column bd-highlight mb-3">
                               <div class="p-2 bd-highlight"><strong>Created By</strong> {{ entity.createdBy.name }}</div>
                                <div class="p-2 bd-highlight"><strong>Branch</strong> {% if entity.branch is not empty %} {{ entity.branch.name }}{% endif %}</div>
                                <div class="p-2 bd-highlight"><strong>Department</strong> {% if entity.department is not empty %} {{ entity.department.name }}{% endif %}</div>
                            </div>
                        </div>
                        <div class="col-md-4">&nbsp;</div>
                        <div class="col-md-4">
                            <div class="d-flex flex-column bd-highlight mb-3">
                                <div class="p-2 bd-highlight"><strong>Requisition Type</strong> {{ entity.requisitionType.name }}</div>
                                <div class="p-2 bd-highlight"><strong>Requisition No.</strong> {{ entity.requisitionNo }}</div>
                                <div class="p-2 bd-highlight"><strong>Created</strong> {{ entity.created|date('d-m-Y') }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                    {{ render(controller(
                                        "Terminalbd\\ProcurementBundle\\Controller\\Bank\\RequisitionBankItemController::itemCreate",
                                        { 'id': entity.id,'module':entity.module}
                                    )) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'Add New Requisition'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    {{ form_start(form, {'attr': {'class': 'form-horizontal main-requisition right','id':'requisitionForm','enctype':'multipart/form-data','action':path('procure_requisition_bank_store_edit',{'id':entity.id})}}) }}
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-12 form-box-header"><p>All requisition particular item add here</p></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 form-box-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.priority, 'Priority'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                <span class="is-required">*</span>
                                                                {{ form_widget(form.priority) }}
                                                                {{ form_errors(form.priority) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.expectedDate, 'Expected Date'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.expectedDate) }}
                                                                {{ form_errors(form.expectedDate) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.content, 'Justification Note'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.content) }}
                                                                {{ form_errors(form.content) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.attachFile, 'Process'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.attachFile) }}
                                                                {{ form_errors(form.attachFile) }}
                                                                {% if entity.filename is not empty %}
                                                                <p class="help"><a target="_blank" href="{{ asset('uploads/' ~ entity.filename) }}">Download</a></p>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="col-md-4"></label>
                                                            <div class="col-md-6">
                                                                {{ form_widget(form.status) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>

                                    </div>
                                    {{ form_widget(form._token) }}
                                    {{ form_end(form) }}
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    {% if entity.moduleProcess.attachment == 1 and entity.moduleProcess.status == 1  %}
                        {{ render(controller(
                            "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::attachmentForm",
                            { 'id': entity.id,'module':entity.module}
                        )) }}
                    {% endif %}
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    {% if entity.moduleProcess.approveType == 'user' and entity.moduleProcess.status == 1  %}
                        <div class="row">
                            <div class="col-md-12">
                                {{ render(controller(
                                    "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::processUserForm",
                                    { 'id': entity.id,'module':entity.module}
                                )) }}
                            </div>
                        </div>
                    {% elseif (entity.moduleProcess.approveType == 'role' and entity.moduleProcess.status == 1)  %}
                        <div class="row">
                            <div class="col-md-12">
                                {{ render(controller(
                                    "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::processRoleForm",
                                    { 'id': entity.id,'module':entity.module}
                                )) }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="clearfix"></div>
                    {% if app.user.id == entity.createdBy.id and  entity.waitingProcess in ['New'] %}
                        <div class="form-actions inline-submit">
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <div class="btn-group" role="group">
                                        <a class="btn purple-bg white-font form-submit btn" target="_blank" href="{{ path('procure_requisition_garment_preview',{'id':entity.id,'mode':'preview'}) }}" ><i class="feather icon-eye"></i> Preview</a>
                                        <a class="btn blue-bg white-font form-submit btn" target="_blank" href="{{ path('procure_requisition_garment_preview',{'id':entity.id,'mode':'print'}) }}" ><i class="fa fa-print"></i> Print</a>
                                        <a class="btn yellow-bg white-font form-submit btn" target="_blank" href="{{ path('procure_requisition_garment_preview',{'id':entity.id,'mode':'print'}) }}" ><i class="fa fa-download"></i> PDF</a>
                                    </div>
                                </div>
                                <div class="col-md-6 text-right">
                                    <div class="btn-group" role="group">
                                        <button type="button" id="submitBtn" name="save" class="btn btn-info form-submit"><i class="fa fa-refresh"></i> Save and Create</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/script.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}
