{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Requisitions'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_requisition_bank_new') }}" class="btn btn-sm green-bg  white-font"><i class="fa fa-plus"></i>{{ 'New Requisition'|trans }}</a>
                            <a href="{{ path('procure_requisition_bank') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Requisition'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'list' %} active {% else %} yellow-bg {% endif %}"  href="{{ path('procure_requisition_bank',{'mode':'list'})}}"><i class="fa fa-th-large"></i> Purchase Requisition</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'approve' %} active {% else %} yellow-bg {% endif %}"  href="{{ path('procure_requisition_bank',{'mode':'approve'})}}"><i class="feather icon-target"></i> Approve</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'in-progress' %} active {% else %} yellow-bg {% endif %}" href="{{ path('procure_requisition_bank',{'mode':'in-progress'})}}"><i class="feather icon-aperture"></i> In-progress</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if mode == 'archive' %} active {% else %} yellow-bg {% endif %}" href="{{ path('procure_requisition_bank',{'mode':'archive'})}}"><i class="feather icon-file"></i> Archive</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                <thead>
                               <form method="get">
                                <tr role="row">
                                    <td colspan="2">{{ form_widget(searchForm.requisitionNo) }}</td>
                                    <td >{{ form_widget(searchForm.requisitionType) }}</td>
                                    <td>{{ form_widget(searchForm.priority) }}</td>
                                    <td><div class="date-group">{{ form_widget(searchForm.startDate) }}</div></td>
                                    <td><div class="date-group">{{ form_widget(searchForm.endDate) }}</div></td>
                                    <td>{{ form_widget(searchForm.process) }}</td>
                                    <td>{{ form_widget(searchForm.filter) }}</td>
                                </tr>
                                   {{ form_widget(searchForm._token) }}
                               </form>
                                {%  set sort = app.request.query.get('sort') %}
                                {%  set direction = app.request.query.get('direction') %}
                               <tr>
                                   <th{% if pagination.isSorted('e.created') %} class="sorted"{% endif %}>
                                       {{ knp_pagination_sortable(pagination, 'Created', 'e.created') }}<span>{% if( direction == 'desc' and sort == 'e.created') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                   </th>
                                   <th{% if pagination.isSorted('e.requisitionNo') %} class="sorted"{% endif %}>
                                       {{ knp_pagination_sortable(pagination, 'Requisition No.', 'e.requisitionNo') }}<span>{% if( direction == 'desc' and sort == 'e.requisitionNo') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                   </th>
                                   <th{% if pagination.isSorted('t.name') %} class="sorted"{% endif %}>
                                       {{ knp_pagination_sortable(pagination, 'Type of Request', 't.name') }}<span>{% if( direction == 'desc' and sort == 't.name') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                   </th>
                                   <th{% if pagination.isSorted('d.name') %} class="sorted"{% endif %}>
                                       {{ knp_pagination_sortable(pagination, 'Location', 'd.name') }}<span>{% if( direction == 'desc' and sort == 'd.name') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                   </th>
                                   <th{% if pagination.isSorted('p.name') %} class="sorted"{% endif %}>
                                       {{ knp_pagination_sortable(pagination, 'Priority', 'p.name') }}<span>{% if( direction == 'desc' and sort == 'p.name') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                   </th>
                                   <th scope="col">Waiting for</th>
                                   <th{% if pagination.isSorted('e.process') %} class="sorted"{% endif %}>
                                       {{ knp_pagination_sortable(pagination, 'Status', 'e.process') }}
                                       <span>{% if( direction == 'desc' and sort == 'e.process') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                   </th>
                                   <th scope="col text-center"><i class="feather icon-settings"></i></th>
                               </tr>
                                </thead>
                                <tbody>
                                {% if pagination is not empty %}
                                    {% for entity in pagination %}
                                        <tr>
                                            <td>
                                                {{ entity.created|date('d-m-Y') }}<br/>
                                                {% set difference = date(entity.created).diff(date("now"|date)) %}
                                                {% set leftDays = difference.format('Days %a Hours %H') %}
                                                {{ leftDays }}
                                            </td>
                                            <td scope="col"><a class="entity-show" data-action="{{ path('procure_requisition_bank_show',{'id':entity.id}) }}" href="javascript:" data-title="Requisition No: {{ entity.requisitionNo }}" id="postView-{{ entity.id }}">{{ entity.requisitionNo }}</a></td>
                                            <td scope="col">{{ entity.requisitionType }}</td>
                                            <td scope="col">{% if entity.branch is not empty %}{{ entity.branch }}{% else %}{{ entity.department }}{% endif %}</td>
                                            <td scope="col">{{ entity.priority }}</td>
                                            <td scope="col">{% if entity.moduleApproveType == "user" %}{{ entity.reportToName }} {% elseif entity.moduleApproveType == "role" %} {{ entity.roleToName }}{% endif %}</td>
                                            <td scope="col">{{ entity.process }}</td>
                                            <td scope="col text-center">
                                                <div class="btn-group" >
                                                    {% if entity.waitingProcess == "New" %}
                                                        <a class='btn btn-mini yellow-bg white-font' href='{{ path('procure_requisition_bank_edit',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-edit'></i> Edit</a>
                                                        <a class='btn  btn-transparent btn-mini red-font remove' data-id='{{ entity.id }}' href='javascript:' data-action='{{ path('procure_requisition_bank_delete',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-trash-2'></i></a>
                                                    {% endif %}
                                                    {% if (entity.moduleApproveType == "user" and  app.user.id == entity.reportToId) or (entity.moduleApproveType == "role" and app.user.isApproveGranted(entity.assignToRole))  %}
                                                        <a class='btn btn-mini purple-bg white-font' data-action='{{ path('procure_requisition_bank_process',{'id':entity.id}) }}' href='?mode=approve&process=postViewdd-{{ entity.id }}&check=process#modal' id='postViewdd-{{ entity.id }}' ><i class='feather icon-target'></i> Proces</a>
                                                    {% endif %}
                                                    <a class="btn btn-mini blue-bg white-font entity-show" data-action="{{ path('procure_requisition_bank_show',{'id':entity.id}) }}" href="javascript:" data-title="Requisition No: {{ entity.requisitionNo }}" id="postView-{{ entity.id }}"><i class="feather icon-eye"></i> Show</a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="count">
                                Total Records: {{ pagination.getTotalItemCount }}
                            </div>
                        </div>
                        <div class="col-md-9 navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
