<div class="portlet box green ">
    <div class="portlet-title">
        <div class="caption">{{ 'Requisition Approval Details'|trans }} </div>
    </div>
    <div class="portlet-body form">
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex flex-column bd-highlight mb-3">
                    <div class="p-2 bd-highlight"><strong>Created By</strong> {{ entity.createdBy.name }}</div>
                    <div class="p-2 bd-highlight"><strong>Location</strong> {% if entity.branch is not empty %} {{ entity.branch.name }}{% endif %}</div>
                    <div class="p-2 bd-highlight"><strong>Department</strong> {% if entity.department is not empty %} {{ entity.department.name }}{% endif %}</div>
                </div>
            </div>
            <div class="col-md-4">&nbsp;</div>
            <div class="col-md-4">
                <div class="d-flex flex-column bd-highlight mb-3">
                    <div class="p-2 bd-highlight"><strong>Requisition Type</strong> {{ entity.requisitionType.name }}</div>
                    <div class="p-2 bd-highlight"><strong>Requisition No.</strong> {{ entity.requisitionNo }}</div>
                    <div class="p-2 bd-highlight"><strong>Created</strong> {{ entity.created|date('d-m-Y') }}</div>
                </div>
            </div>
        </div>
        {{ form_start(form, {'attr': {'class': 'form-horizontal right','id':'approveForm','action':path('procure_requisition_bank_process',{'id':entity.id})}}) }}
        <div class="row">
                <div class="col-md-12">
                    <div class="row">
                    <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                        <thead>
                        <tr>
                            <th scope="col">S/N</th>
                            <th scope="col">Item Code</th>
                            <th scope="col">Item Name</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Stock in Branch</th>
                            <th scope="col">Ask Req. Qty</th>
                            <th scope="col">Approval Qty</th>
                            <th scope="col">Price</th>
                            <th scope="col">SubTotal</th>
                        </tr>
                        </thead>
                        <tbody id="invoiceItem">
                        {% if entity.requisitionItems is not empty %}
                            {% for item in entity.requisitionItems %}
                                <tr id="remove-{{ item.id }}">
                                    <td>{{ loop.index }}</td>
                                    <td>{{ item.item.itemCode }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{% if item.item.unit is not empty %}{{ item.item.unit.name }}{% endif %}</td>
                                    <td>{{ item.stockIn }}</td>
                                    <td>{{ item.actualQuantity }}</td>
                                    <td>
                                        <input type="hidden" name="purchaseItem[]" id="purchaseItem-{{ item.id }}" value="{{ item.id }}">
                                        <input type="number" data-id="{{ item.id }}" id="quantity-{{ item.id }}" name="quantity[]" class="form-control input number-input storeRequisitionQuantity" value="{{ item.quantity }}">
                                        <input type="hidden" data-id="{{ item.id }}" id="requisitionItemPrice-{{ item.id }}" class="unit-price" value="{{ item.price }}">
                                    </td>
                                    <td>{{ item.price }}</td>
                                    <td id="subTotal-{{ item.id }}" class="subTotal">{{ item.subTotal }}</td>
                                </tr>
                            {% endfor %}
                            <tr><td colspan="8" class="text-right"><strong>SubTotal</strong></td><td class="grandTotal">{{ entity.subTotal|number_format(2) }}</td></tr>
                        {% endif %}

                        </tbody>
                    </table>
                    </div>
                    {% if entity.moduleProcess.status == 1 %}
                        <div class="row">
                            <div class="col-md-12">
                                {{ render(controller(
                                    "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveRoles",
                                    { 'id': entity.id,'module':entity.module}
                                )) }}
                            </div>
                        </div>
                    {% endif %}
                </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-inner-no-space">
                    <div class="row">
                        <div class="col-md-12 form-box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        {{ form_label(form.comment, 'Comment'|trans, {'label_attr': {'class': 'col-md-12 text-left'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            {{ form_widget(form.comment,{'attr':{'rows':6}}) }}
                                            {{ form_errors(form.comment) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {#<div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        {{ form_label(form.transferTo, 'Transfer To'|trans, {'label_attr': {'class': 'col-md-3'}}) }}
                                        <div class="col-md-9">
                                            {{ form_widget(form.transferTo) }}
                                            {{ form_errors(form.transferTo) }}
                                        </div>
                                    </div>
                                </div>
                            </div>#}
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <div class="btn-group" >
                                        <button type="submit" name="reject" value="reject"  class="btn btn-sm btn-warning white-font"><i class="feather icon-x-square"></i>Reject</button>
                                        <button type="submit" name="approve" value="approve" class="btn btn-sm blue-bg white-font"><i class="feather icon-check-square"></i>Approve</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
        {{ form_widget(form._token) }}
        {{ form_end(form) }}
    </div>
</div>

