{% extends 'layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Tender Purchase Committee Note'|trans }}: {{ entity.invoice }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'Tender Purchase Committee Note'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-12 form-box-header"><p>{{ 'Tender Purchase Committee Note'|trans }}</p></div>
                                        </div>
                                        {{ form_start(form, {'attr': {'class': 'form-horizontal main-requisition right','id':'requisitionForm','enctype':'multipart/form-data','data-action':path('procure_purchase_committee_bank_ajax_update',{'id':entity.id})}}) }}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.condition, 'Tender Template'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                    <div class="col-md-4">
                                                        <span class="is-required">*</span>
                                                        {{ form_widget(form.condition) }}
                                                        {{ form_errors(form.condition) }}
                                                        {{ form_help(form.condition) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.parent, 'Parent Meeting'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                    <div class="col-md-10">
                                                        {{ form_widget(form.parent) }}
                                                        {{ form_errors(form.parent) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.mettingModaretor, 'Metting Modaretor'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                    <div class="col-md-10">
                                                        <span class="is-required">*</span>
                                                        {{ form_widget(form.mettingModaretor) }}
                                                        {{ form_errors(form.mettingModaretor) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.subject, 'Subject'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                    <div class="col-md-10">
                                                        <span class="is-required">*</span>
                                                        {{ form_widget(form.subject) }}
                                                        {{ form_errors(form.subject) }}
                                                        {{ form_help(form.subject) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    {{ form_label(form.expectedDate, 'Meeting Date'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                    <div class="col-md-6">
                                                        <span class="is-required">*</span>
                                                        {{ form_widget(form.expectedDate) }}
                                                        {{ form_errors(form.expectedDate) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    {{ form_label(form.expectedTime, 'Meeting Time'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-6">
                                                        <span class="is-required">*</span>
                                                        {{ form_widget(form.expectedTime) }}
                                                        {{ form_errors(form.expectedTime) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.email, 'Email-cc'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                    <div class="col-md-10">
                                                        {{ form_widget(form.email) }}
                                                        {{ form_errors(form.email) }}
                                                        {{ form_help(form.email) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.content, 'Body'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                                    <div class="col-md-10">
                                                        {{ form_widget(form.content) }}
                                                        {{ form_errors(form.content) }}
                                                        {{ form_help(form.content) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        {% if entity.conditionItems is defined  and  entity.conditionItems is not empty %}
                                            {% for keyValue in entity.conditionItems %}
                                                <div class="col-md-12 clone-remove"  style="margin-bottom: 5px">
                                                    <div class="row">
                                                        <div class="col-md-1">
                                                            <input type="checkbox" name="conditionStatus[{{ keyValue.id }}]" {% if keyValue.status == 1 %} checked {% endif %} value="{{ keyValue.status }}">
                                                            <input type="hidden" name="conditionItem[]"  value="{{ keyValue.id }}">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <input type="text" name="conditionKey[{{ keyValue.id }}]" id="conditionKey-{{ keyValue.id }}" class="form-control form-control-sm" placeholder="Enter label name" value="{{ keyValue.metaKey }}">
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="input-group">
                                                                <textarea name="conditionValue[{{ keyValue.id }}]" id="conditionValue-{{ keyValue.id }}" class="form-control form-control-sm" placeholder="Enter your comments">{{ keyValue.metaValue }}</textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        <div class="clearfix"></div>
                                        <div class="clearfix"></div>
                                        {{ form_widget(form._token) }}
                                        {{ form_end(form) }}
                                        <div class="clearfix"></div>
                                        <div class="clearfix"></div>
                                        <div class="card-header grey-bg inner-header">
                                            <h5>{{ 'Tender Memo'|trans }}</h5>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <form name="memoForm" method="post" class="form-horizontal sub-form right col-md-12" id="memoForm" action="{{ path('procure_purchase_committee_bank_add_memo',{'id':entity.id}) }}">
                                                        <div class="row">
                                                            <div class="col-md-10">
                                                                <select name="memo" required id="memo" class="select2 memoItem">
                                                                    <option value="">--Select Tender Memo no--</option>
                                                                    {% for tender in tenders  %}
                                                                        <option value="{{ tender.id }}">{{ tender.created|date('d-m-Y') }} - {{ tender.invoice }} : {{ tender.subject|raw }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                                <input type="hidden" name="process" id="process" value="{{ entity.module }}">
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="btn-group btn-group col-md-12">
                                                                    <button type="submit" data-action="" id="addMemo" name="addMemo" class="btn btn-sm  green-bg white-font"><i class="feather icon-plus"></i> Add Memo</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <table class="table" id="datatable">
                                                            <thead class="thead-gray">
                                                            <tr>
                                                                <th class="col-md-1">S/N</th>
                                                                <th class="col-md-1">Memo No</th>
                                                                <th class="col-md-1">Created</th>
                                                                <th class="col-md-8">Subject</th>
                                                                <th class="col-md-1"><i class="feather icon-settings"></i></th>
                                                            </tr>

                                                            </thead>
                                                            <tbody id="invoiceItem">
                                                            {% for memo in entity.memos %}
                                                                <tr>
                                                                    <td class="col-md-1">{{ loop.index }}.</td>
                                                                    <td class="col-md-1">{{ memo.invoice }}</td>
                                                                    <td class="col-md-1">{{ memo.created|date('d-m-Y') }}</td>
                                                                    <td class="col-md-8">{{ memo.subject|raw }}</td>
                                                                    <td class="col-md-1">
                                                                        <a class='btn  btn-transparent btn-mini red-font remove' data-id='{{ entity.id }}' href='javascript:' data-action='{{ path('procure_invitation_approval_bank_memo_delete',{'id':entity.id,'memo':memo.id}) }}' id='{{ memo.id }}' ><i class='feather icon-trash-2'></i></a>
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        {% if entity.moduleProcess.attachment == 1 and entity.moduleProcess.status == 1  %}
                                            {{ render(controller(
                                                "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::attachmentForm",
                                                { 'id': entity.id,'module':entity.module}
                                            )) }}
                                        {% endif %}
                                        <div class="clearfix"></div>
                                        <div class="clearfix"></div>
                                        {% if entity.moduleProcess.approveType == 'user' and entity.moduleProcess.status == 1  %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::processUserForm",
                                                        { 'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions inline-submit">
                                <div class="row">
                                    <div class="col-md-6 text-left">
                                        <div class="btn-group" role="group">
                                            <a target="_blank" href="{{ path('procure_purchase_committee_bank_preview',{'id':entity.id})}}" id="" class="btn blue-bg white-font form-submit btn"><i class="fa fa-print"></i> Preview</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <div class="btn-group" role="group">
                                            <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                            <button type="button" id="submitBtn" name="save" class="btn btn-info form-submit"><i class="fa fa-refresh"></i> Save and Create</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/tender.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $(document).on('change',".condition", function (event) {
        var condition = $(this).val();
        var url = Routing.generate('procure_bank_tender_committee_condition',{'id':'{{ entity.id }}'});
        $.get(url,{'condition':condition}, function( response ) {
        location.reload();
        });
    });
    jqueryTemporaryLoad();
{% endblock %}
