<html>
<head>
    <title>Memo and Minutes of the Purchase Committee Meeting</title>
    <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link href="{{ asset('assets/theme/rbs/css/print.css') }}" type="text/css" rel="stylesheet" />
    <script src="{{ asset('assets/plugins/jquery/jquery-3.3.1.min.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/js/kinzi.print.min.js') }}"></script>

</head>
<body class="body">
{% if mode=='preview' %}
    <div class="row  print-bar">
        <div class="col-md-6 text-left"><strong>Preview</strong>: {{ entity.invoice }}</div>
        <div class="col-md-6 text-right" >
            <ul class="list-inline" id="grpChkBox">
                <li><button class='btn btn-print print'  id='{{ entity.id }}' ><i class='fa fa-print' ></i> Print</button></li>
                {#<li><a target="_blank" class='btn btn-download yellow-bg download-pdf' href="{{ path('procure_tender_bank_preview',{'id':entity.id,'mode':'pdf'}) }}"   id='{{ entity.id }}' ><i class='fa fa-download'></i> Download</a></li>#}
            </ul>
        </div>
    </div>
{% endif %}
<div class="pcoded-inner-content">
    <!-- [ Main Content ] start -->
    <div class="row">
        <div class="card">
            <div class="print-header-content">
                <img src="{{ asset('assets/images/bank-asia-header.png') }}">
            </div>
            <div class="card-block" id="print-area">
                <div class="row">
                    <div class="col text-center" style="text-transform: uppercase"><p><strong>Memo and Minutes of the Tender Committee Meeting</strong></p></div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6 text-center py-2"><strong>Office Note: {{ entity.invoice }}</strong></div>
                    <div class="col-md-6 text-center py-2">{{ entity.created|date('F d, Y') }}</div>
                </div>
                <div class="row ">
                    <div class="col div-br-40"></div>
                </div>
                <div class="row">
                    <div class="col text-justify"><strong>Meeting Date & Time: {{ entity.expectedDate|date('d-m-Y') }} {{ entity.expectedTime|date('h:m') }}</strong></div>
                </div>
                <div class="row">
                    <div class="col text-justify"><strong>Subject: {{ entity.subject|raw }}</strong></div>
                </div>
                <div class="row ">
                    <div class="col div-br-40"></div>
                </div>
                <div class="row">
                    <div class="col" style="text-align: justify">{{ entity.content|raw }}</div>
                </div>
                <div class="row ">
                    <div class="col div-br-30"></div>
                </div>
                <div class="row ">
                    <div class="col">
                        <strong>Tender Memo Items</strong>
                    </div>
                </div>
                <div class="row ">
                    <div class="col div-br-15"></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table" >
                            <thead class="thead-gray">
                            <tr>
                                <th >S/N</th>
                                <th >Memo No</th>
                                <th >Created</th>
                                <th>Subject</th>
                            </tr>

                            </thead>
                            <tbody id="invoiceItem">
                            {% for memo in entity.memos %}
                                <tr>
                                    <td >{{ loop.index }}.</td>
                                    <td >{{ memo.invoice }}</td>
                                    <td >{{ memo.created|date('d-m-Y') }}</td>
                                    <td >{{ memo.subject|raw }}</td>
                                </tr>
                                {% if memo.comments is defined and memo.comments is not empty %}
                                <tr>
                                    <td colspan="5">
                                            <table class="table">
                                                <thead class="thead-gray">
                                                    <tr>
                                                        <th scope="col">S/N</th>
                                                        <th scope="col">Date</th>
                                                        <th scope="col">Comment User</th>
                                                        <th scope="col">Comment</th>
                                                        <th scope="col">Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% for meeting in memo.comments %}
                                                    <tr>
                                                        <td>{{ loop.index }}</td>
                                                        <td>{{ meeting.updated|date('d-m-T') }}</td>
                                                        <td>{% if meeting.createdBy is not empty %}{{ meeting.createdBy.name }}{% endif %}</td>
                                                        <td>{{ meeting.comment|raw }}</td>
                                                        <td>{{ meeting.process }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row ">
                    <div class="col div-br-30"></div>
                </div>
                <div class="row ">
                    <div class="col">
                        <strong>Meeting Notes</strong>
                    </div>
                </div>
                <div class="row ">
                    <div class="col div-br-15"></div>
                </div>
                <div class="row ">
                    <div class="col-md-12">{{ entity.meetingNotes|raw }}</div>
                </div>
                <div class="row ">
                    <div class="col div-br-30"></div>
                </div>
                {% if entity.conditionItems is defined and entity.conditionItems is not empty %}
                    {% for keyValue in entity.conditionItems %}
                        {% if keyValue.status == 1 %}
                        <div class="row">
                            <div class="col text-left"><h3>{{ keyValue.metaKey|raw }}</h3></div>
                        </div>
                        <div class="row">
                            <div class="col text-justify">{{ keyValue.metaValue|raw }}</div>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class="row">
                    <div class="col-md-12"><br/><br/></div>
                </div>
                {% if approvals is not empty %}
                    <div class="row">
                        <div class="col">
                            <strong>Prepared by:</strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="grid-comment-signature">
                            <div class="col-md-12 text-left">
                                <div style="padding: 15px; margin-bottom: 15px; text-align: center">
                                    {% if entity.createdBy.profile.signaturePath is not empty %}
                                        <img style="height: 60px" src="{{ asset('uploads/user/'~entity.createdBy.profile.signaturePath) }}">
                                        <br/>
                                    {% endif%}
                                    {{ entity.createdBy.name }}<br/>{% if entity.createdBy.profile.designation %}{{ entity.createdBy.profile.designation.name }}{% endif %}
                                </div>
                            </div>
                            {% for index,list in approvals %}
                                {% if list.close == true  %}
                                    <div class="col-md-12 text-center" >
                                        <div style="padding: 10px">
                                            {% if list.assignTo.profile.signaturePath is not empty %}
                                                <img style="height: 60px" src="{{ asset('uploads/user/'~list.assignTo.profile.signaturePath) }}">
                                                <br/>
                                            {% endif%}
                                            {{ list.assignTo.name }}<br/>
                                            {% if list.assignTo.profile.designation %}{{ list.assignTo.profile.designation.name }}{% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="print-footer-content">
                <img src="{{ asset('assets/images/bank-asia/footer.png') }}">
            </div>
        </div>
    </div>
</div>
<script>
    $('.print').click(function(){
        $('#print-area').kinziPrint({
            importCSS: true,
            header: $('.print-header-content').html(),
            footer: $('.print-footer-content').html()
        });
    });
</script>

</body>
</html>

