<html>
<head>
    <title>TENDER INVITATION APPROVAL NOTE</title>
    <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link href="{{ asset('assets/theme/rbs/css/print.css') }}" type="text/css" rel="stylesheet" />
</head>
<body class="body">
{% if mode=='preview' %}
    <div class="row  print-bar">
        <div class="col-md-6 text-left"><strong>Preview</strong>: {{ entity.invoice }}</div>
        <div class="col-md-6 text-right" >
            <ul class="list-inline" id="grpChkBox">
                <li><button class='btn btn-print print'  id='{{ entity.id }}' ><i class='fa fa-print' ></i> Print</button></li>
                {#<li><a target="_blank" class='btn btn-download yellow-bg download-pdf' href="{{ path('procure_tender_bank_preview',{'id':entity.id,'mode':'pdf'}) }}"   id='{{ entity.id }}' ><i class='fa fa-download'></i> Download</a></li>#}
            </ul>
        </div>
    </div>
{% endif %}
<div class="pcoded-inner-content">
    <!-- [ Main Content ] start -->
    <div class="row">
        <div class="card">
            <div class="print-header-content">
                <img src="{{ asset('assets/images/bank-asia-header.png') }}">
            </div>
            <div class="card-block" id="print-area">
                <div class="row">
                    <div class="col text-center" style="text-transform: uppercase"><p><strong>Tender Invitation Approval Note</strong></p></div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6 text-center py-2"><strong>Office Note: {{ entity.invoice }}</strong></div>
                    <div class="col-md-6 text-center py-2">{{ entity.created|date('F d, Y') }}</div>
                </div>
                <div class="row ">
                    <div class="col div-br-40"></div>
                </div>
                <div class="row">
                    <div class="col text-justify"><strong>Subject: {{ entity.subject|raw }}</strong></div>
                </div>
                <div class="row ">
                    <div class="col div-br-40"></div>
                </div>
                <div class="row">
                    <div class="col" style="text-align: justify">{{ entity.content|raw }}</div>
                </div>
                <div class="row ">
                    <div class="col div-br-30"></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover display nowrap">
                            <thead class="thead-gray">
                            <tr>
                                <th scope="col">S/N</th>
                                <th scope="col">PR No</th>
                                <th scope="col">Item Name</th>
                                <th scope="col" class="text-center">PO issue</th>
                                <th scope="col" class="text-center">Estimated Unit price in Taka</th>
                                <th scope="col" class="text-right">Estimated Total Amount in Taka</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set total = 0 %}
                            {% if entity.tenderItems is not empty %}
                                {% set i = 1  %}
                                {% for item in entity.tenderItemDetails %}
                                    {% set total = total + (item.price * item.issueQuantity) %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ item.requisitionItem.requisition.requisitionNo }}</td>
                                        <td>{% if item.requisitionItem.item is not empty and item.requisitionItem.item %}{{ item.requisitionItem.item.name }}{% endif %}</td>
                                        <td scope="col" class="text-center">{{ item.issueQuantity }}</td>
                                        <td scope="col" class="text-center">{{ item.price }}</td>
                                        <td scope="col" class="text-right">{{ item.price * item.issueQuantity }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                            <tfoot>
                            <tr><td colspan="5" class="text-right"><strong>{{ total|words }}</strong></td><td class="text-right"><strong>{{ total|number_format(2) }}</strong></td></tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="row ">
                    <div class="col div-br-30"></div>
                </div>
                <div class="row ">
                    <div class="col text-center"><h3>Terms & Condition</h3></div>
                </div>
                <div class="row">
                    <div class="col text-justify">{{ entity.terms|raw }}</div>
                </div>
                {% if entity.conditionItems is defined and entity.conditionItems is not empty %}
                    {% for keyValue in entity.conditionItems %}
                        <div class="row">
                            <div class="col text-center"><h3>{{ keyValue.metaKey|raw }}</h3></div>
                        </div>
                        <div class="row">
                            <div class="col text-justify">{{ keyValue.metaValue|raw }}</div>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="row">
                    <div class="col-md-12"><br/><br/></div>
                </div>
                {% if approvals is not empty %}
                    <div class="row">
                        <div class="col">
                            <strong>Prepared by:</strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="grid-designation">
                            <div class="col-md-12 text-left">
                                <div style="padding: 15px; margin-bottom: 15px; text-align: center">
                                    {% if entity.createdBy.profile.signaturePath is not empty %}
                                        <img style="height: 60px" src="{{ asset('uploads/user/'~entity.createdBy.profile.signaturePath) }}">
                                        <br/>
                                    {% endif%}
                                    {{ entity.createdBy.name }}<br/>{% if entity.createdBy.profile.designation %}{{ entity.createdBy.profile.designation.name }}{% endif %}
                                </div>
                            </div>
                            {% for index,list in approvals %}

                                {% if list.close == true  %}
                                    <div class="col-md-12 text-center">
                                        <div style="padding: 10px">
                                            {% if list.assignTo.profile.signaturePath is not empty %}
                                                <img style="height: 60px" src="{{ asset('uploads/user/'~list.assignTo.profile.signaturePath) }}">
                                                <br/>
                                            {% endif%}
                                            {{ list.assignTo.name }}<br/>
                                            {% if list.assignTo.profile.designation %}{{ list.assignTo.profile.designation.name }}{% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
{#            <div class="print-footer-content"><img src="{{ asset('assets/images/bank-asia.png') }}"></div>#}
        </div>
    </div>
</div>
<script src="{{ asset('assets/plugins/jquery/jquery-3.3.1.min.js') }}"></script>
<script type="application/javascript" src="{{ asset('bundles/terminalbdsecuritybilling/js/kinzi.print.min.js') }}"></script>
<script>
    $('.print').click(function(){
        $('#print-area').kinziPrint({
            importCSS: true,
            header: $('.print-header-content').html(),
            // footer: $('.print-footer-content').html()
        });
    });
</script>

</body>
</html>

