<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Report-Contoso Expense</title>
    <style>
        table tbody tr td{
            padding: 2px;
        }
    </style>
</head>
<body>

<table border="1" cellspacing="0" cellpadding="5" width="100%">
    <thead>
    <tr>
        <th>{{ 'Category'|trans }}</th>
        {% for year in 2008..2013 %}
            <th>{{ year }}</th>
        {% endfor %}
        <th>{{ 'Total'|trans }}</th>

    </tr>
    </thead>
    <tbody>
    {% for row in 1..10 %}
        <tr>
            <td> Category </td>
            {% set total = 0 %}
            {% for year in 2008..2013 %}
                <td>$ {{ row }}</td>
                {% set total = total + row %}
            {% endfor %}
            <td>$ {{ total }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>