<table>
    <thead>
    <tr>
        <th colspan="4" align="center">
            {% if caption is defined and caption is not empty %}
                <strong>{{ caption }}</strong>
            {% endif %}
        </th>
    </tr>
    <tr>
        <th colspan="4" align="center">
            <strong>Name of Report : PO Summary Report</strong>
        </th>
    </tr>
    <tr>
        <th colspan="4" align="center">
            Start Date: {{ searchForm['startDate'] }} to End Date: {{ searchForm['startDate']}}
        </th>
    </tr>
    </thead>
</table>
<table>
    <thead>
    <tr>
        <th>{{ 'SL'|trans }}</th>
        <th>{{ 'Requisition Type'|trans }}</th>
        <th>{{ 'No of P/O'|trans }}</th>
        <th align="right">{{ 'PO Value'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% if entities is not empty %}
        {% set total = 0 %}
        {% set totalQty = 0 %}
        {% for entity in entities %}
            {% set total = total + entity.price %}
            {% set totalQty = totalQty + entity.quantity %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ entity.mode }}</td>
                <td align="center">{{ entity.quantity }}</td>
                <td align="right">{{ entity.price|number_format(2) }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
    <tfoot>
    <tr><th colspan="2" align="right">Grand Total</th><th>{{ totalQty }}</th><th align="right">{{ total|number_format(2) }}</th></tr>
    </tfoot>
</table>