<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Report-PO Summary</title>
    <style>
        table tbody tr td{
            padding: 2px;
        }
    </style>
</head>
<body>
{#<div class="print-footer-content"><div class="row"><div class="col-md-12"><img width="100%" src="{{ asset(headerImage) }}"></div></div></div>#}
<div class="row">
    {% if caption is defined and caption is not empty %}
        <caption><h3>{{ caption }}</h3></caption>
    {% endif %}
    <caption><strong>Name of Report : PO Summary Report</strong></caption>
    <caption>Start Date: {{ searchForm['startDate'] }} to End Date: {{ searchForm['startDate']}} </caption>
</div>
<table border="1" cellspacing="0" cellpadding="0" width="100%">
    <thead>
    <tr>
        <th>{{ 'SL'|trans }}</th>
        <th>{{ 'Requisition Type'|trans }}</th>
        <th>{{ 'No of P/O'|trans }}</th>
        <th align="right">{{ 'PO Value'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% if entities is not empty %}
        {% set total = 0 %}
        {% set totalQty = 0 %}
        {% for entity in entities %}
            {% set total = total + entity.price %}
            {% set totalQty = totalQty + entity.quantity %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ entity.mode }}</td>
                <td align="center">{{ entity.quantity }}</td>
                <td align="right">{{ entity.price|number_format(2) }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
    <tfoot>
    <tr><th colspan="2" align="right">Grand Total</th><th>{{ totalQty }}</th><th align="right">{{ total|number_format(2) }}</th></tr>
    </tfoot>
</table>
</body>
</html>