{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Tender Committe Details'|trans }}: {{ entity.invoice }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_tender_committee_bank',{'mode':'meeting'})}}" class="btn btn-sm green-bg  white-font"><i class="fa fa-list"></i>{{ 'Tender Meeting'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'Tender Committe Details'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-12 form-box-header"><p>{{ 'Tender Inviation Approval Note'|trans }}</p></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Meeting ID.</strong></div>
                                                    <div class="col-md-8">{{ entity.invoice }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Created</strong></div>
                                                    <div class="col-md-8">{{ entity.created|date('d-m-Y') }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Meeting Date</strong></div>
                                                    <div class="col-md-8">{{ entity.expectedDate|date('d-m-Y') }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Created By</strong></div>
                                                    <div class="col-md-8">{{ entity.createdBy.name }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Meeting Modaretor</strong></div>
                                                    <div class="col-md-8">{% if entity.mettingModaretor %}{{ entity.mettingModaretor.name }}{% endif %}</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2"><strong>Parent Meeting</strong></div>
                                            <div class="col-md-10">
                                                {% if entity.parent is not empty %}
                                                    <a class="entity-show" data-action="{{ path('procure_tender_committee_bank_show',{'id':entity.parent.id}) }}" href="javascript:" data-title="Office Note No: {{ entity.parent.invoice }}" id="postView-{{ entity.parent.id }}"><b>{{ entity.parent.invoice }}</b></a>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2"><strong>Subject</strong></div>
                                            <div class="col-md-10">{{ entity.subject|raw }}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2"><strong>To Email</strong></div>
                                            <div class="col-md-10">{{ entity.email|raw }}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2"><strong>Body</strong></div>
                                            <div class="col-md-10">{{ entity.content|raw }}</div>
                                        </div>
                                        <div class="card-header grey-bg inner-header">
                                            <h5>Tender Memo Items</h5>
                                        </div>
                                        <form name="meeting" id="meeting" action="">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table" id="datatable">
                                                    <thead class="thead-gray">
                                                    <tr>
                                                        <th scope="col">S/N</th>
                                                        <th scope="col">Memo No</th>
                                                        <th scope="col">Created</th>
                                                        <th scope="col">Subject</th>
                                                        <th scope="col">Status</th>
                                                        <th scope="col"><i class="feather icon-settings"></i></th>
                                                    </tr>

                                                    </thead>
                                                    <tbody id="invoiceItem">
                                                    {% for memo in entity.tenders %}
                                                        <tr>
                                                            <td scope="col">{{ loop.index }}.</td>
                                                            <td scope="col">{{ memo.invoice }}</td>
                                                            <td scope="col">{{ memo.created|date('d-m-Y') }}</td>
                                                            <td scope="col">{{ memo.subject|raw }}</td>
                                                            <td scope="col">{{ memo.waitingProcess }}</td>
                                                            <td scope="col">
                                                                <div class="btn-group" >
                                                                    {% if memo.waitingProcess == "In-progress" %}
                                                                    <a class='btn btn-mini purple-bg white-font' data-action='{{ path('procure_tender_bank_committee_process',{'id':memo.id}) }}' href='?process=postViewdd-{{ memo.id }}&check=process#modal' id='postViewdd-{{ memo.id }}' ><i class='feather icon-target'></i> Proces</a>
                                                                    {% endif %}
                                                                    <a class="btn btn-mini blue-bg white-font entity-show" data-action="{{ path('procure_tender_bank_show',{'id':memo.id}) }}" href="javascript:" data-title="TP No: {{ memo.invoice }}" id="postView-{{ memo.id }}"><i class="feather icon-eye"></i> Show</a>
                                                                    {% if app.user.hasRoles(['ROLE_PROCUREMENT_LSSD','ROLE_DOMAIN']) and entity.mettingModaretor.id == app.user.id %}
                                                                    <button type="button" class="btn btn-mini green-bg white-font meeting-comment" data-action="{{ path('procure_tender_committee_meeting_comment',{'id':memo.id}) }}" href="javascript:" id="{{ memo.id }}"><i class="feather icon-save"></i> Comment Save</button>
                                                                    {% endif %}
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        {% if app.user.hasRoles(['ROLE_PROCUREMENT_LSSD','ROLE_DOMAIN']) and entity.mettingModaretor.id == app.user.id %}
                                                            <tr>
                                                            <th colspan="3">Tender Status</th>
                                                            <td colspan="3">
                                                                <select class="form-control col-md-3" name="process-{{ memo.id }}" id="process-{{ memo.id }}">
                                                                    {% set status = ['Done','Pendeing','Rejected'] %}
                                                                    <option value="">Memo Status</option>
                                                                    {% for status in status %}
                                                                        <option value="{{ status }}" {% if comments[memo.id] is defined and comments[memo.id] is not empty and comments[memo.id].process == status  %} selected="selected" {% endif %}>{{ status }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </td>
                                                            </tr>
                                                            <tr>
                                                            <th colspan="3">Comment</th>
                                                            <td colspan="3">
                                                                <textarea class="textarea editor" rows="10" name="comment[{{ memo.id }}]" id="comment-{{ memo.id }}">{% if comments[memo.id] is defined and comments[memo.id] is not empty  %}{{ comments[memo.id].comment  }}{% endif %}</textarea>
                                                                <input type="hidden" name="tender[{{ memo.id }}]" id="tender-{{ memo.id }}" value="{{ memo.id }}">
                                                                <input type="hidden" name="meeting[{{ memo.id }}]" id="meeting-{{ memo.id }}" value="{{ entity.id }}">
                                                            </td>
                                                        </tr>
                                                        {% else %}
                                                            <tr>
                                                                <th colspan="3">Tender Status</th>
                                                                <td colspan="3">
                                                            {% if comments[memo.id] is defined and comments[memo.id] is not empty and comments[memo.id].process  %}{{ comments[memo.id].process }}{% endif %}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th colspan="3">Comment</th>
                                                                <td colspan="3">
                                                                    {% if comments[memo.id] is defined and comments[memo.id] is not empty  %}{{ comments[memo.id].comment  }}{% endif %}
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        </form>
                                        <div class="clearfix"></div>
                                        {% if app.user.hasRoles(['ROLE_PROCUREMENT_LSSD','ROLE_DOMAIN']) and entity.mettingModaretor.id == app.user.id %}
                                            <div class="clearfix"></div>
                                            <form method="get" id="meeting" name="meeting">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="card-header grey-bg inner-header">
                                                            <h5>Meeting Notes</h5>
                                                        </div>
                                                        <textarea  class="textarea editor" rows="10" name="notes" id="notes">{{ entity.meetingNotes }}</textarea>
                                                    </div>
                                                </div>
                                                <br/>
                                                <div class="row">
                                                    <div class="col-md-12 text-right">
                                                        <div class="btn-group" >
                                                            <button data-action="{{ path('procure_tender_committee_meeting_notes',{'id':entity.id}) }}" type="button" name="meetingNotes" id="meetingNotes" value="approve" class="btn btn-sm purple-bg white-font"><i class="feather icon-check-square"></i>Meeting Notes</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="clearfix"></div>
                                        {% else %}
                                            <div class="clearfix"></div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="card-header grey-bg inner-header">
                                                        <h5>Meeting Notes</h5>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    {{ entity.meetingNotes|raw }}
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        {% endif %}
                                        {% if (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "user") %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveUers",
                                                        { 'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% elseif (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "role") %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveRoles",
                                                        { 'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% endif %}
                                        <br/>
                                        <div class="clearfix"></div>
                                        {{ form_start(form, {'attr': {'class': 'form-horizontal right','id':'approveForm','action':path('procure_tender_committee_bank_meeting',{'id':entity.id})}}) }}
                                        <div class="form-inner-no-space">
                                            <div class="row">
                                                <div class="col-md-12 form-box-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                {{ form_label(form.comment, 'Comment'|trans, {'label_attr': {'class': 'col-md-12 text-left'}}) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <div class="col-md-12">
                                                                    {{ form_widget(form.comment,{'attr':{'rows':3}}) }}
                                                                    {{ form_errors(form.comment) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 text-left">
                                                            <div class="btn-group" role="group">
                                                                <a target="_blank" href="{{ path('procure_tender_committee_bank_preview',{'id':entity.id})}}" id="" class="btn blue-bg white-font form-submit btn"><i class="fa fa-print"></i> Preview</a>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 text-right">
                                                            <div class="btn-group" >
                                                                <button type="submit" name="reject" value="reject"  class="btn btn-sm btn-warning white-font"><i class="feather icon-x-square"></i>Reject</button>
                                                                <button type="submit" name="approve" value="approve" class="btn btn-sm blue-bg white-font"><i class="feather icon-check-square"></i>Submit</button>
                                                                <a href="{{ path('procure_tender_committee_bank',{'mode':'meeting'})}}" class="btn btn-sm red-bg white-font"><i class="feather icon-log-out"></i>Meeting Exit</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        {{ form_widget(form._token) }}
                                        {{ form_end(form) }}
                                        <div class="clearfix"></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/tender.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
    $(document).on('click', '#comment', function(e) {
        $.ajax({
        url         : $('form#approveForm').attr( 'action' ),
        type        : $('form#approveForm').attr( 'method' ),
        data        : new FormData($('form#approveForm')[0]),
        processData : false,
        contentType : false,
        success: function(response){
        location.reload();
        }
        });
    });
{% endblock %}
