{% extends 'layout.html.twig' %}
{% block body %}
<div class="pcoded-inner-content">
    <div class="row">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet box green">
                            <div class="portlet-body form">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalTitleLabel">Memo/Agenda No: {{ entity.invoice }}</h5>
                                </div>
                                <div class="row form-body">
                                    <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Meeting ID.</strong></div>
                                                    <div class="col-md-8">{{ entity.invoice }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Created</strong></div>
                                                    <div class="col-md-8">{{ entity.created|date('d-m-Y') }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Meeting Date</strong></div>
                                                    <div class="col-md-8">{{ entity.expectedDate|date('d-m-Y') }} {{ entity.expectedTime }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Created By</strong></div>
                                                    <div class="col-md-8">{{ entity.createdBy.name }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><strong>Meeting Modaretor</strong></div>
                                                    <div class="col-md-8">{% if entity.mettingModaretor %}{{ entity.mettingModaretor.name }}{% endif %}</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2"><strong>Subject</strong></div>
                                            <div class="col-md-10"><p>{{ entity.subject|raw }}</p></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2"><strong>To Email</strong></div>
                                            <div class="col-md-10"><p>{{ entity.email|raw }}</p></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2"><strong>Body</strong></div>
                                            <div class="col-md-10"><p>{{ entity.content|raw }}</p></div>
                                        </div>
                                        <div class="card-header grey-bg inner-header">
                                            <h5>Tender Memo Items</h5>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table" id="datatable">
                                                    <thead class="thead-gray">
                                                    <tr>
                                                        <th class="col-md-1">S/N</th>
                                                        <th class="col-md-1">Memo No</th>
                                                        <th class="col-md-1">Created</th>
                                                        <th class="col-md-8">Subject</th>
                                                        <th class="col-md-1"><i class="feather icon-settings"></i></th>
                                                    </tr>

                                                    </thead>
                                                    <tbody id="invoiceItem">
                                                    {% for memo in entity.tenders %}
                                                        <tr>
                                                            <td class="col-md-1">{{ loop.index }}.</td>
                                                            <td class="col-md-1">{{ memo.invoice }}</td>
                                                            <td class="col-md-1">{{ memo.created|date('d-m-Y') }}</td>
                                                            <td class="col-md-8">{{ memo.subject|raw }}</td>
                                                            <td class="col-md-1">
                                                                <a class='btn  btn-transparent btn-mini red-font remove' data-id='{{ entity.id }}' href='javascript:' data-action='{{ path('procure_invitation_approval_bank_memo_delete',{'id':entity.id,'memo':memo.id}) }}' id='{{ memo.id }}' ><i class='feather icon-trash-2'></i></a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        {% if (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "user") %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveUers",
                                                        { 'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% elseif (entity.moduleProcess.status == 1 and entity.moduleProcess.approveType == "role") %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ render(controller(
                                                        "Terminalbd\\ProcurementBundle\\Controller\\ProcurementProcessController::approveRoles",
                                                        { 'id': entity.id,'module':entity.module}
                                                    )) }}
                                                </div>
                                            </div>
                                        {% endif %}
                                        {{ form_start(form, {'attr': {'class': 'form-horizontal right','id':'approveForm','action':path('procure_tender_committee_bank_process',{'id':entity.id})}}) }}
                                        <div class="form-inner-no-space">
                                            <div class="row">
                                                <div class="col-md-12 form-box-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                {{ form_label(form.comment, 'Comment'|trans, {'label_attr': {'class': 'col-md-12 text-left'}}) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <div class="col-md-12">
                                                                    {{ form_widget(form.comment,{'attr':{'rows':3}}) }}
                                                                    {{ form_errors(form.comment) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 text-right">
                                                            <div class="btn-group" >
                                                                {#<button type="submit" name="reject" value="reject"  class="btn btn-sm btn-warning white-font"><i class="feather icon-x-square"></i>Reject</button>#}
                                                                <button type="submit" name="re-checked" value="re-checked" class="btn btn-sm yellow-bg white-font"><i class="feather icon-arrow-left"></i>Back</button>
                                                                <button type="submit" name="approve" value="approve" class="btn btn-sm blue-bg white-font"><i class="feather icon-check-square"></i>Submit</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        {{ form_widget(form._token) }}
                                        {{ form_end(form) }}
                                        <br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/tender.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
    $(document).on('click', '#comment', function(e) {
    $.ajax({
    url         : $('form#approveForm').attr( 'action' ),
    type        : $('form#approveForm').attr( 'method' ),
    data        : new FormData($('form#approveForm')[0]),
    processData : false,
    contentType : false,
    success: function(response){
    location.reload();
    }
    });
    });
{% endblock %}

